@import "../../scss/common/_variables.scss";
main {
    background-color: #f3f3f5;
}

.colored-green {
    color: $green;
}

.colored-blue {
    color: $blue;
}

.my-row {
    height: 650px;

    .introduce {
        display: none;

        @include on("lg") {
            display: inline;
        }
    }

    .form-login {
        width: 90%;
        margin: 0 auto;

        @include on("lg") {
            width: 41.67%;
            padding-left: 60px;
        }

        @include on("xxl") {
            padding-left: 80px;
        }
    }

    h1 {
        font-size: 70px;
        font-weight: bold;
    }

    h5 {
        font-size: 35px;

        span {
            font-size: 35px;
        }
    }
}

.my-content-wrapper {
    border-radius: 10px;
    width: 100%;
    min-height: 0px;
    background-color: #fff;
    background-image: url("/img/login-img.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 60px 40px;

    @include on("lg") {
        min-height: 500px;
    }
}

.footer {
    position: relative;
    padding-top: 30px;
    border-top: 1px solid rgba(51, 51, 51, 0.5);
    ;
}

.btn-back-top {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0px;
    transform: translate(-100%, -50%);

    .btn-back-top-icon {
        text-align: center;
        width: 25px;
        height: 25px;
        line-height: 25px;
        border-radius: 50%;
        font-size: 16px;
        color: $white;
        background: $green;

        @include on("sm") {
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 24px;
        }

        @include on("lg") {
            width: 60px;
            height: 60px;
            line-height: 60px;
            font-size: 44px;
        }

        @include on("xl") {
            width: 70px;
            height: 70px;
            line-height: 70px;
            font-size: 64px;
        }
    }
}
//Nav login
.my-navbar__brand {
    flex-direction: column;

    @include on('sm') {
        flex-direction: row;
        align-items: center;
    }

    @include on('md') {
        margin-left: 20px;
    }

    @include on('xl') {
        margin: 0;
    }

    &-item {
        height: 50%;
        display: block;
    }

    .brand__ueh {
        height: 29px;

        @include on('sm') {
            height: 50px;
            margin-right: 15px;
        }
    }

    .brand__govirlunteer {
        height: 16px;

        @include on('lg') {
            height: 20px;
        }
    }
}

//Footer
.footer__logo {
    padding: 0;

    .footer__logo-govirlunteer {
        width: 100%;
    }

    .footer__logo-ueh-hsv {
        display: flex;
        align-items: center;
        margin: 10px 0;

        @include on("lg") {
            margin: 15px 0;
        }

        @include on("xl") {
            margin: 20px 0;
        }
    }

    .footer__logo-ueh {
        width: 26%;
    }

    .footer__logo-hsv {
        width: 16%;
        margin-left: 10px;

        @include on ('sm') {
            margin-left: 20px;
        }
    }

    p {
        font-size: 8px;
        font-weight: 400;

        @include on("sm") {
            font-size: 12px;
        }

        @include on("xl") {
            font-size: 15px;
        }
    }
}

.footer__contact {
    padding: 0;
    padding-top: 10px;

    h6 {
        margin-bottom: 20px;
        font-size: 8px;
        font-weight: 300;
        color: $grey-text;

        @include on("sm") {
            font-size: 12px;
        }

        @include on("xl") {
            font-size: 16px;
        }

        @include on("xxl") {
            font-size: 18px;
        }

        a {
            color: $grey-text;
            text-decoration: none;
        }
    }

    .contact__name {
        font-weight: 700;
    }

    .contact__contribute {
        font-weight: 400;
    }
}

.footer__right {
    padding: 0;
    padding-top: 10px;
    text-align: right;

    h6 {
        margin-bottom: 20px;
        font-size: 7px;
        font-weight: 400;
        color: $grey-text;

        @include on("sm") {
            margin-bottom: 25px;
            font-size: 12px;
        }

        @include on("xl") {
            margin-bottom: 33px;
            font-size: 16px;
        }

        @include on("xxl") {
            margin-bottom: 35px;
            font-size: 18px;
        }

        a {
            color: $grey-text;
            text-decoration: none;
        }
    }
}