@import '../../Resources/scss/common/_variables';

.my-editProfile {
    ::deep .form-control:focus {
        border: 1px solid $blue;
        box-shadow: none;
    }

    .editProfile__title {
        font-size: 36px;
        font-weight: 600;
        color: $blue;
        text-align: center;

        span {
            color: $green;
        }
    }

    .editProfile__logo {
        overflow: hidden;

        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    ::deep .valid.modified:not([type=checkbox]) {
        border: 1px solid $blue;
        outline: none;
    }

    .form-item {
        margin-bottom: 40px;
    }

    .form-text {
        font-size: 16px;
        font-weight: 500;
        color: $border-color-bold;
        margin: auto 0;
    }

    ::deep .form-control {
        padding: 10px;
        font-size: 16px;
        font-weight: 300;
        color: $grey-text;
        border: 1px solid #D8D8D8;
        border-radius: 5px;
    }

    .form-field-item {
        text-align: center;

        &:hover > i {
            font-size: 50px;
        }

        &:hover > span {
            transform: translateY(-5px);
        }

        i {
            display: block;
            background-color: $blue;
            border-radius: 50%;
            color: white;
            margin: 5px auto;
            transition: all 0.3s linear;
            width: 73px;
            height: 73px;
            line-height: 73px;
            font-size: 35px;

            @include on("xxl") {
                width: 83px;
                height: 83px;
                line-height: 83px;
                font-size: 40px;
            }
        }

        span {
            color: $green;
            font-weight: 500;
            display: inline-block;
            transition: all 0.3s linear;
            font-size: 18px;
            margin-top: 20px;

            @include on("xxl") {
                font-size: 20px;
            }
        }

        .icon-add {
            background: #C4C4C4;
            opacity: 50%;
            color: $white;
            font-size: 70px;

            &:hover {
                background: #C4C4C4;
                opacity: 100%;
                font-size: 80px;
            }
        }

        &.item-add {
            width: 30%;
        }
    }

    .owl-carousel {
        z-index: 0;
    }

    .editProfile__carousel {
        width: 60%;

        .item {
            margin: 0 auto;
        }



        ::deep .owl-nav {
            display: block;

            .owl-prev {
                display: none;
            }

            .owl-next {
                position: absolute;
                top: -15%;
                right: -20%;

                span {
                    font-size: 80px;
                    color: $blue;
                    transition: all 0.3s linear;

                    &:hover {
                        color: $blue-hv;
                    }
                }

                &:hover {
                    background: none;
                }
            }
        }

        ::deep .owl-dots {
            display: none;
        }
    }

    .countWord {
        color: $border-color-bold;
        position: absolute;
        top: 135px;
        right: 15px;
    }

    .from__btn {
        margin: 60px 0;

        .btn {
            padding: 12px 35px;
            font-size: 16px;
            font-weight: 600;
        }

        .from__btn-cancel {
            background: $white;
            color: $blue;

            &:hover {
                border: 1px solid $blue;
            }
        }

        .from__btn-submit {
            background: $blue;
            color: $white;

            &:hover {
                background: $blue-hv;
            }
        }
    }
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #C4C4C4;
        border-radius: 10px;
        height: 50px;
    }
}
