@layout AdminLayout

@attribute [Route(Routes.AdminVolunteerManagement)]
@attribute [Authorize(Roles = "Admin")]

<div class="row mt-4">
    <div class="col-lg-10 mx-auto p-0">
        <FilterUser />
        <VMS.Pages.SearchOrganizer.SearchResult IsUserResult="true" IsUserForAdmin="true"/>
    </div>
</div>

@code {

}
