/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.pagination {
  margin: 30px 0; }
  .pagination li {
    display: inline-block;
    list-style: none;
    margin: 0 14px;
    font-size: 18px; }
  .pagination .btn-prev span, .pagination .btn-next span {
    background-color: #18A0FB;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 30px;
    transition: all 0.3s linear;
    cursor: pointer; }
  .pagination .btn-prev span:hover, .pagination .btn-next span:hover {
    background: #0B588c; }
  .pagination .numb {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    transition: all 0.3s linear;
    cursor: pointer; }
  .pagination .numb.active, .pagination .numb:hover {
    background: #18A0FB;
    color: #FFFFFF; }

.margin-x-short {
  margin: 0 8px !important; }
