@import '../../Resources/scss/common/_variables';

.pagination {
    margin: 30px 0;

    li {
        display: inline-block;
        list-style: none;
        margin: 0 14px;
        font-size: 18px;
    }

    .btn-prev span, .btn-next span {
        background-color: $blue;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        text-align: center;
        color: white;
        font-weight: 700;
        font-size: 30px;
        transition: all 0.3s linear;
        cursor: pointer;
    }

    .btn-prev span:hover, .btn-next span:hover {
        background: $blue-hv;
    }

    .numb {
        padding:0 5px;
        min-width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        text-align: center;
        transition: all 0.3s linear;
        cursor: pointer;
    }

    .numb.active, .numb:hover {
        background: $blue;
        color: $white;
    }
}

.margin-x-short {
    margin: 0 8px !important;
}