/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.modal-backdrop {
  background-color: rgba(196, 196, 196, 0.38); }

.my-custom-popup {
  background-color: #fff;
  border-radius: 10px;
  z-index: 999; }
  .my-custom-popup h3 {
    font-size: 48px;
    color: #64D72F; }
  .my-custom-popup .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: #E5E5E5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer; }
  .my-custom-popup .content {
    font-size: 18px;
    font-weight: 500;
    padding: 40px 45px 20px; }
    @media (min-width: 1200px) {
      .my-custom-popup .content {
        font-size: 24px;
        padding: 40px 75px 20px; } }
    .my-custom-popup .content span:first-of-type {
      color: #64D72F;
      display: block; }
    .my-custom-popup .content span:last-of-type {
      color: #18A0FB;
      display: block; }
    .my-custom-popup .content a {
      background-color: #18A0FB;
      padding: 0px 20px;
      font-size: 18px;
      font-weight: 600;
      color: #FFFFFF;
      padding: 5px 15px;
      border-radius: 5px; }
      @media (min-width: 1200px) {
        .my-custom-popup .content a {
          font-size: 20px; } }
      .my-custom-popup .content a:hover {
        background-color: #0B588C;
        color: #FFFFFF; }
