/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background-color: rgba(196, 196, 196, 0.38);
  overflow-x: hidden; }
  .overlay .lds-roller {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 80%; }
  .overlay .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px; }
  .overlay .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #18A0FB;
    margin: -4px 0 0 -4px; }
  .overlay .lds-roller div:nth-child(1) {
    animation-delay: -0.036s; }
  .overlay .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px; }
  .overlay .lds-roller div:nth-child(2) {
    animation-delay: -0.072s; }
  .overlay .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px; }
  .overlay .lds-roller div:nth-child(3) {
    animation-delay: -0.108s; }
  .overlay .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px; }
  .overlay .lds-roller div:nth-child(4) {
    animation-delay: -0.144s; }
  .overlay .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px; }
  .overlay .lds-roller div:nth-child(5) {
    animation-delay: -0.18s; }
  .overlay .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px; }
  .overlay .lds-roller div:nth-child(6) {
    animation-delay: -0.216s; }
  .overlay .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px; }
  .overlay .lds-roller div:nth-child(7) {
    animation-delay: -0.252s; }
  .overlay .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px; }
  .overlay .lds-roller div:nth-child(8) {
    animation-delay: -0.288s; }
  .overlay .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px; }

@keyframes lds-roller {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
