@import '../../Resources/scss/common/_variables';

.typeahead {
    position: relative;
    width: 100%;
    border: 1px solid #bfbfbf;
    border-radius: 5px;

    &.valid {
        &.modified {
            outline: none !important;
        }
    }

    &:focus-within {
        box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);
    }
}

.typeahead__controls {
    position: relative;
    cursor: text;
    display: flex;
}

.typeahead__input {
    flex: 1;
    max-width: 100%;
    border: none;
    border-radius: 5px;

    &:focus {
        outline: none;
    }
}

.typeahead__input-multi {
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.typeahead__input-hidden {
    display: none;
}

.typeahead__input-mask-wrapper {
    display: flex;
    width: 100%;
}

.typeahead__input-multiselect-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.typeahead__input-mask {
    display: flex;
    align-items: center;
    flex: 1;
    border-radius: 5px 0 0 5px;
    padding: .5rem;

    &:focus {
        outline: none;
    }
}

.typeahead__clear {
    width: 40px;
    display: flex;
    padding: .5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #dbdbdb;

    &:hover {
        color: #333333;
    }
}

.typeahead__down-arrow {
    path {
        fill: #dbdbdb;
    }
}

.typeahead__input-icon {
    align-items: center;
    justify-content: center;
    width: 40px;
    display: flex;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    background: none;

    &:focus {
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);
    }

    .typeahead__down-arrow {
        path {
            fill: #333333;
        }
    }
}

.typeahead__multi-value {
    background-color: #dbdbdb;
    display: flex;
    align-items: center;
    min-width: 0px;
    box-sizing: border-box;
    border-radius: 2px;
    margin: .4rem 0 .4rem .4rem;
}

.typeahead__multi-value-label {
    color: rgb(51, 51, 51);
    font-size: 85%;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    border-radius: 2px;
    overflow: hidden;
    padding: 0 3px;
}

.typeahead__multi-value-clear {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: transparent;
    border: 0;
    outline: none;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: rgb(212, 212, 212);
        color: rgb(222, 53, 11);
    }
}

.typeahead__results {
    color: $blue;
    font-weight: 500;
    position: absolute;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border: 1px solid #dbdbdb;
    border-radius: .3rem;
    min-height: 2rem;
    max-height: 30rem;
    overflow-y: auto;
    z-index: 10;
    width: 100%;
    background: #fff;
}

.typeahead__result,
.typeahead__notfound,
.typeahead__results-help-template,
.typeahead__results-header,
.typeahead__results-footer {
    padding: .5rem;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.typeahead__selected-item {
    background-color: rgba(24, 160, 251, 0.1);
    color: $green;
}

.typeahead__selected-item-highlighted {
    background-color: #d3e2f2;
}

.typeahead__active-item,
.typeahead__result:hover,
.typeahead__result:focus {
    background-color: rgba(24, 160, 251, 0.1);
    color: $green;
    cursor: pointer;
}

.typeahead__loader {
    width: 24px;
    height: 24px;
    background-color: #333;
    border-radius: 100%;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }

    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1.0);
        opacity: 0;
    }
}
