/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.my-uploadImg {
  border: 1px solid #b4b4b4;
  border-radius: 5px;
  padding: 10px 15px; }

i {
  font-size: 16px;
  font-weight: 600;
  margin: 0 5% 0 0; }
  @media (min-width: 768px) {
    i {
      font-size: 30px; } }
  @media (min-width: 1200px) {
    i {
      font-size: 36px; } }

span {
  overflow-wrap: anywhere;
  font-size: 10px; }
  @media (min-width: 768px) {
    span {
      font-size: 13px; } }
  @media (min-width: 992px) {
    span {
      font-size: 14px; } }
  @media (min-width: 1200px) {
    span {
      font-size: 16px; } }

.preview-img {
  height: 150px; }

.close-btn {
  background: #c4c4c4;
  border-radius: 50%;
  color: #717171;
  cursor: pointer;
  font-size: 1rem;
  padding: 5px;
  right: -10px;
  top: 0px; }

.image-hidden-container {
  border-style: dashed; }

::deep .uploadImg__input {
  border: none;
  color: transparent;
  cursor: pointer;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  ::deep .uploadImg__input::-webkit-file-upload-button {
    display: none; }
