@import '../../Resources/scss/common/_variables';

.my-uploadImg {
    border: 1px solid $border-color-normal;
    padding: 10px 15px;
}

i {
    font-size: 36px;
    font-weight: 600;
    margin: 0 5% 0 0;
}

span {
    overflow-wrap: anywhere;
}

.preview-img {
    height: 100%;
    position: absolute;
    right: 0;
}

::deep {
    .uploadImg__input {
        border: none;
        color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        padding: 15px 15px;
        padding-left: 25%;

        &::-webkit-file-upload-button {
            display: none;
        }
    }
}
