@import '../../Resources/scss/common/_variables.scss';

.pagination-container {
    justify-content: center;
}

.activity-row {
    position: relative;
    margin-bottom: 15px;

    @include on('sm') {
        margin-bottom: 30px;
    }
}

.activity-container {
    flex: 1;
    padding-left: 30px;
    display: flex;
    height: 100px;
    border: 1px solid #B4B4B4;
    border-radius: 10px;

    @include on ('sm') {
        height: 117px;
    }

    @include on('md') {
        padding: 0 10px 0 60px;
    }

    @include on('lg') {
        padding: 0px 60px;
    }
}

.activity-space {
    flex-basis: 50px;

    @include on('sm') {
        flex-basis: 60px;
    }
}

.activity {
    &__img {
        position: absolute;
        width: 101px;
        left: 0;
        bottom: 0;

        @include on ('sm') {
            width: 117px;
        }

        img {
            width: 100%;
            aspect-ratio: 1;
            border-radius: 100%;
        }
    }

    &__content {
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        flex: 1;
        padding: 10px 30px;
        padding-right: 0;

        @include on('md') {
            padding: 10px 15px;
        }

        &__title {
            font-size: 14px;
            color: $blue;
            line-height: 17px;

            @include on ('sm') {
                font-size: 20px;
                font-weight: 600;
                line-height: unset;
            }

            p {
                margin-bottom: 6px;

                @include on('xl') {
                    margin-bottom: 14px;
                }
            }
        }

        &__icon {
            justify-content: space-between;

            .stars-rating {
                ::deep .member-star {
                    margin-left: 0%;

                    &_button {
                        background-color: transparent;
                    }

                    &_tooltip {
                        display: none;
                    }
                }
            }

            .org-pic {
                align-items: center;

                &__icon {
                    align-items: center;

                    span {
                        color: $green;
                        font-size: 18px;

                        @include on('sm') {
                            font-size: 24px;
                        }
                    }
                }

                &__name {
                    color: #515151;
                    font-weight: 500;
                    font-size: 10px;
                    margin-left: 5px;

                    @include on ('sm') {
                        font-weight: 600;
                        font-size: 16px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    &__icon {
        padding: 0 3px;
        justify-content: center;
        flex-direction: column;
        align-content: space-around;

        @include on ('sm') {
            flex-basis: 50px;
        }

        button {
            border: none;
            background-color: transparent;

            span {
                font-size: 18px;

                @include on('sm') {
                    font-size: 30px;
                }
            }
        }

        &__report {
            span {
                color: $red;
            }

            span:hover {
                color: $red-warning;
            }
        }

        &__comment {
            span {
                margin-top: 10px;
                color: $blue;
            }

            span:hover {
                color: $blue-hv;
            }
        }
    }
}
