/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.pagination-container {
  justify-content: center; }

.activity-row {
  position: relative;
  margin-bottom: 30px; }

.activity-container {
  flex: 1;
  padding: 0px 60px;
  display: flex;
  height: 117px;
  border: 1px solid #B4B4B4;
  border-radius: 10px; }

.activity-space {
  flex-basis: 60px; }

.activity__img {
  position: absolute;
  width: 117px;
  left: 0; }
  .activity__img img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 100%; }

.activity__content {
  flex: 1;
  padding: 10px 20px; }
  .activity__content__title {
    font-size: 20px;
    font-weight: 600;
    color: #18A0FB; }
  .activity__content__icon {
    justify-content: space-between; }
    .activity__content__icon .stars-rating ::deep .member-star {
      margin-left: 0%; }
      .activity__content__icon .stars-rating ::deep .member-star_button {
        background-color: transparent; }
      .activity__content__icon .stars-rating ::deep .member-star_tooltip {
        display: none; }
    .activity__content__icon .org-pic {
      align-items: center; }
      .activity__content__icon .org-pic__icon {
        align-items: center; }
        .activity__content__icon .org-pic__icon span {
          color: #64D72F;
          font-size: 24px; }
      .activity__content__icon .org-pic__name {
        color: #515151;
        font-weight: 600;
        font-size: 16px;
        margin-left: 10px; }

.activity__icon {
  flex-basis: 50px;
  justify-content: center;
  flex-direction: column;
  align-content: space-around; }
  .activity__icon button {
    border: none;
    background-color: transparent; }
    .activity__icon button span {
      font-size: 30px; }
  .activity__icon__report span {
    color: #F14747; }
  .activity__icon__report span:hover {
    color: #E10B0B; }
  .activity__icon__comment span {
    margin-top: 10px;
    color: #18A0FB; }
  .activity__icon__comment span:hover {
    color: #0B588c; }
