/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.pagination-container {
  justify-content: center; }

.activity-row {
  position: relative;
  margin-bottom: 15px; }
  @media (min-width: 576px) {
    .activity-row {
      margin-bottom: 30px; } }

.activity-container {
  flex: 1;
  padding-left: 30px;
  display: flex;
  height: 100px;
  border: 1px solid #B4B4B4;
  border-radius: 10px; }
  @media (min-width: 576px) {
    .activity-container {
      height: 117px; } }
  @media (min-width: 768px) {
    .activity-container {
      padding: 0 10px 0 60px; } }
  @media (min-width: 992px) {
    .activity-container {
      padding: 0px 60px; } }

.activity-space {
  flex-basis: 50px; }
  @media (min-width: 576px) {
    .activity-space {
      flex-basis: 60px; } }

.activity__img {
  position: absolute;
  width: 101px;
  left: 0;
  bottom: 0; }
  @media (min-width: 576px) {
    .activity__img {
      width: 117px; } }
  .activity__img img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 100%; }

.activity__content {
  flex: 1;
  padding: 10px 30px;
  padding-right: 0; }
  @media (min-width: 768px) {
    .activity__content {
      padding: 10px 15px; } }
  .activity__content__title {
    font-size: 14px;
    color: #18A0FB;
    line-height: 17px; }
    @media (min-width: 576px) {
      .activity__content__title {
        font-size: 20px;
        font-weight: 600;
        line-height: unset; } }
    .activity__content__title p {
      margin-bottom: 6px; }
      @media (min-width: 1200px) {
        .activity__content__title p {
          margin-bottom: 14px; } }
  .activity__content__icon {
    justify-content: space-between; }
    .activity__content__icon .stars-rating ::deep .member-star {
      margin-left: 0%; }
      .activity__content__icon .stars-rating ::deep .member-star_button {
        background-color: transparent; }
      .activity__content__icon .stars-rating ::deep .member-star_tooltip {
        display: none; }
    .activity__content__icon .org-pic {
      align-items: center; }
      .activity__content__icon .org-pic__icon {
        align-items: center; }
        .activity__content__icon .org-pic__icon span {
          color: #64D72F;
          font-size: 18px; }
          @media (min-width: 576px) {
            .activity__content__icon .org-pic__icon span {
              font-size: 24px; } }
      .activity__content__icon .org-pic__name {
        color: #515151;
        font-weight: 500;
        font-size: 10px;
        margin-left: 5px; }
        @media (min-width: 576px) {
          .activity__content__icon .org-pic__name {
            font-weight: 600;
            font-size: 16px;
            margin-left: 10px; } }

.activity__icon {
  padding: 0 3px;
  justify-content: center;
  flex-direction: column;
  align-content: space-around; }
  @media (min-width: 576px) {
    .activity__icon {
      flex-basis: 50px; } }
  .activity__icon button {
    border: none;
    background-color: transparent; }
    .activity__icon button span {
      font-size: 18px; }
      @media (min-width: 576px) {
        .activity__icon button span {
          font-size: 30px; } }
  .activity__icon__report span {
    color: #F14747; }
  .activity__icon__report span:hover {
    color: #E10B0B; }
  .activity__icon__comment span {
    margin-top: 10px;
    color: #18A0FB; }
  .activity__icon__comment span:hover {
    color: #0B588c; }
