@import "../../Resources/scss/common/_variables.scss";
.filter-container {
    padding: 39px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 60px;
}
.act-title {
    font-size: 24px;
    color: #18A0FB;
}
.act-filter {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 25px;

    &__select {
        & + & {
            margin-left: 40px;
        }

        border: 1px solid #B4B4B4;
        width: 200px;
        height: 40px;
        border-radius: 5px;
        padding: 10px 20px;

        option:first-child {
            margin-top: 50px
        }

        option:last-child {
            margin-bottom: 50px
        }

        option {
            margin-top: 50px;
            color: #707070;
            font-size: 16px;
            text-align: center;
        }

        option:hover {
            background-color: transparent;
            color: $blue;
        }
    }

    &__radio {
        width: 40%;
        justify-content: center;

        &-1 {
            width: 50%;
        }

        &-2 {
            width: 30%;
        }

        .radio-1 {
            position: relative;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            background-color: $white;
            border: 2px solid $blue;
            appearance: none;
            cursor: pointer;

            &::before {
                position: absolute;
                content: "";
                width: 9px;
                height: 9px;
                border-radius: 50%;
                background-color: $blue;
                top: 51.5%;
                left: 51%;
                transform: translate(-50%, -50%);
                display: none;
            }

            &:checked::before {
                display: block;
            }

            &:checked {
                border-color: $blue;
            }
        }

        .radio-2 {
            position: relative;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            background-color: $white;
            border: 2px solid $blue;
            appearance: none;
            cursor: pointer;

            &::before {
                position: absolute;
                content: "";
                width: 9px;
                height: 9px;
                border-radius: 50%;
                background-color: $blue;
                top: 51.5%;
                left: 51%;
                transform: translate(-50%, -50%);
                display: none;
            }

            &:checked::before {
                display: block;
            }

            &:checked {
                border-color: $blue;
            }
        }

        .label-1 {
            margin-left: 5%;
            font-size: 16px;
            color: #707070;
            cursor: pointer;
        }

        .label-2 {
            margin-left: 5%;
            font-size: 16px;
            color: #707070;
            cursor: pointer;
        }
    }

    &__btn {
        padding: 5px 10px;
        background-color: $green;
        border: none;
        color: white;
        border-radius: 5px;

        &.--del {
            color: #B4B4B4;
            background-color: transparent;
        }
    }
}
