/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.filter-container {
  padding: 39px;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 60px; }

.act-title {
  font-size: 24px;
  color: #18A0FB; }

.act-filter {
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 25px; }
  .act-filter__select {
    border: 1px solid #B4B4B4;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    padding: 10px 20px; }
    .act-filter__select + .act-filter__select {
      margin-left: 40px; }
    .act-filter__select option:first-child {
      margin-top: 50px; }
    .act-filter__select option:last-child {
      margin-bottom: 50px; }
    .act-filter__select option {
      margin-top: 50px;
      color: #707070;
      font-size: 16px;
      text-align: center; }
    .act-filter__select option:hover {
      background-color: transparent;
      color: #18A0FB; }
  .act-filter__radio {
    width: 40%;
    justify-content: center; }
    .act-filter__radio-1 {
      width: 50%; }
    .act-filter__radio-2 {
      width: 30%; }
    .act-filter__radio .radio-1 {
      position: relative;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background-color: #FFFFFF;
      border: 2px solid #18A0FB;
      appearance: none;
      cursor: pointer; }
      .act-filter__radio .radio-1::before {
        position: absolute;
        content: "";
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: #18A0FB;
        top: 51.5%;
        left: 51%;
        transform: translate(-50%, -50%);
        display: none; }
      .act-filter__radio .radio-1:checked::before {
        display: block; }
      .act-filter__radio .radio-1:checked {
        border-color: #18A0FB; }
    .act-filter__radio .radio-2 {
      position: relative;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background-color: #FFFFFF;
      border: 2px solid #18A0FB;
      appearance: none;
      cursor: pointer; }
      .act-filter__radio .radio-2::before {
        position: absolute;
        content: "";
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: #18A0FB;
        top: 51.5%;
        left: 51%;
        transform: translate(-50%, -50%);
        display: none; }
      .act-filter__radio .radio-2:checked::before {
        display: block; }
      .act-filter__radio .radio-2:checked {
        border-color: #18A0FB; }
    .act-filter__radio .label-1 {
      margin-left: 5%;
      font-size: 16px;
      color: #707070;
      cursor: pointer; }
    .act-filter__radio .label-2 {
      margin-left: 5%;
      font-size: 16px;
      color: #707070;
      cursor: pointer; }
  .act-filter__btn {
    padding: 5px 10px;
    background-color: #64D72F;
    border: none;
    color: white;
    border-radius: 5px; }
    .act-filter__btn.--del {
      color: #B4B4B4;
      background-color: transparent; }
