<div class="filter-container">
    <div class="act-title">
        Lọc hoạt động
    </div>
    <form class="act-filter d-flex" action="" method="get">
        <div>
            <select class="act-filter__select">
                <option selected>Học kỳ</option>
                <option>Học kỳ đầu</option>
                <option>Học kỳ giữa</option>
                <option>Học kỳ cuối</option>
            </select>
            <select class="act-filter__select">
                <option selected>Học kỳ</option>
                <option>Học kỳ đầu</option>
                <option>Học kỳ giữa</option>
                <option>Học kỳ cuối</option>
            </select>
        </div>
        <div class="act-filter__radio d-flex">
            <div class="act-filter__radio-1 d-flex align-items-center">
                <input class="radio-1" type="radio" id="rate" name="fav_language" value="rate">
                <label class="label-1" for="rate">Chưa đánh giá</label><br>
            </div>
            <div class="act-filter__radio-2 d-flex align-items-center">
                <input class="radio-2" type="radio" id="rated" name="fav_language" value="rated">
                <label class="label-2" for="rated">Đã đánh giá</label><br>
            </div>
        </div>
        <div>
            <button class="act-filter__btn">Lọc</button>
            <button class="act-filter__btn --del">Xóa lọc</button>
        </div>
    </form>
</div>
@code {

}
