@import "../../Resources/scss/common/_variables.scss";

.filter-container {
    margin-bottom: 30px;

    @include on('sm') {
        margin-top: 10px;
        margin-bottom: 60px;
    }
}

.act-title {
    font-size: 16px;
    color: $blue;

    @include on ('sm') {
        font-size: 24px;
    }
}

.act-filter {
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    @include on('sm') {
        margin-top: 25px;
    }

    .select-filter {
        display: flex;
        justify-content: space-between;
        /*width: 45%;*/
        margin-bottom: 10px;

        @include on('xl') {
            margin-bottom: 0;
        }

        .select-container {
            position: relative;
            width: 46%;
        }
    }

    &__radio {
        flex-wrap: wrap;
    }

    &__select {
        border: 1px solid $grey-icon;
        width: 100%;
        height: 30px;
        background: $white;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;

        @include on('sm') {
            height: 37px;
            font-size: 16px;
        }

        &-default {
            font-weight: 400;
            color: $grey-icon;
            margin-left: 5%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1; /* number of lines to show */
            -webkit-box-orient: vertical;
        }

        #act-filter__select-icon {
            pointer-events: none;
            font-size: 16px;
            margin-right: 5px;

            @include on ('sm') {
                font-size: 24px;
            }
        }
    }

    &__list-1 {
        position: absolute;
        background-color: $white;
        border-radius: 10px;
        height: 105px;
        left: 0;
        right: 0;
        flex-direction: column;
        box-shadow: 0px 4px 10px rgba(11, 50, 60, 0.2);
        padding: 10% 0%;
        z-index: 1;

        @include on('sm') {
            height: 157px;
        }

        &::-webkit-scrollbar {
            width: 3px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $grey-icon;
            border-radius: 20px;
        }
    }

    &__list-2 {
        position: absolute;
        background-color: $white;
        border-radius: 10px;
        height: 105px;
        left: 0;
        right: 0;
        flex-direction: column;
        box-shadow: 0px 4px 10px rgba(11, 50, 60, 0.2);
        padding: 10% 0%;
        z-index: 1;
        overflow-y: scroll;

        @include on('sm') {
            height: 157px;
        }

        &::-webkit-scrollbar {
            width: 3px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $grey-icon;
            border-radius: 20px;
        }
    }

    &__list {

        &-item {
            text-align: center;
            font-size: 12px;
            font-weight: 500;
            color: $blue;
            background-color: $white;
            padding: 4%;
            cursor: pointer;

            @include on('sm') {
                font-size: 16px;
            }
        }

        &-item:hover {
            color: $green;
            background-color: rgba(24, 160, 251, 0.1);
        }
    }

    &__btn-container {
        /*width: 16%;*/
        display: flex;
        justify-content: center;
        margin-top: 20px;
        padding: 0;

        @include on('xl') {
            margin-top: 0;
            justify-content: start;
        }

        @include on('xxl') {
            padding: 0 12px;
        }
    }
}

.filter-btn {
    display: flex;
    align-items: center;
    padding: 0px 30px;
    width: fit-content;
    font-size: 14px;
    border-radius: 8px;
    font-weight: 400 !important;
    @include green-btn;
    height: 26px;

    &:hover {
        background-color: #306C14;
        opacity: 78%;
    }

    @include on('md') {
        font-size: 16px;
        height: 32px;
    }

    @include on('xl') {
        height: 40px;
    }
}

.clear-filter-btn {
    font-weight: 400 !important;
    @include green-btn;
    font-size: 14px;
    width: fit-content;
    color: $grey-icon;
    background-color: #fff;
    width: 70px;
    height: 26px;

    @include on('md') {
        font-size: 16px;
        height: 32px;
    }

    @include on('xl') {
        font-size: 16px;
        height: 40px;
    }



    &:hover {
        text-decoration: underline;
    }
}

/* pretty radio */
label{
    cursor:pointer;
}
label > input[type="radio"] {
    display: none;
}

label > input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 1rem;
    height: 1rem;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: $blue;
}

label > input[type="radio"]:checked + *::before {
    background: radial-gradient($blue 0%, $blue 40%, transparent 50%, transparent);
}
/* basic layout */
fieldset {
    margin: 20px;
    max-width: 400px;
}

label > input[type="radio"] + * {
    display: inline-block;
    color: #707070;
}