@attribute [Route(Routes.ActivityLogPage)]

<div class="container-lg px-0 layout">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-11">
                <div class="org-title">
                    Lịch sử <span>hoạt động</span>
                </div>
            </div>
            <div class="col-11">
                <VMS.Pages.ActivitySearchPage.SearchBox />
            </div>
            <div class="col-11">
                <VMS.Pages.ActivityLogPage.Filter />
            </div>
            <div class="activities col-11">
                <VMS.Pages.ActivityLogPage.ActivityCard />
            </div>
        </div>
    </div>
</div>
@code {

}
