@attribute [Route(Routes.ActivityLogPage)]
@using VMS.Application.ViewModels;

<div class="container-lg px-0 layout">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-11">
                <div class="org-title">
                    Lịch sử <span>hoạt động</span>
                </div>
            </div>
            <div class="col-11">
                <VMS.Pages.ActivitySearchPage.SearchBox SearchValueChanged="SearchValueChanged"/>
            </div>
            <div class="col-11">
                <VMS.Pages.ActivityLogPage.Filter IsRatedChanged="IsRatedChanged" FilterChanged="FilterChanged"/>
            </div>
            <div class="activities col-11">
                <VMS.Pages.ActivityLogPage.ActivityCard StarRating=@starRating SearchValue=@searchValue IsRated=@isRated filter="@filter"/>
            </div>
        </div>
    </div>
</div>
@code {
    private bool? isRated;
    private string searchValue;
    private int starRating;
    private FilterRecruitmentViewModel filter = new();

    private void IsRatedChanged(bool? value)
    {
        isRated = value;
        searchValue = string.Empty;
    }

    private void SearchValueChanged(string value)
    {
        searchValue = value;
        isRated = null;
    }

    private void FilterChanged(FilterRecruitmentViewModel filter)
    {
        this.filter = filter;
        searchValue = null;
        isRated = null;
    }
}
