@import "../../Resources/scss/common/_variables.scss";
.org-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    color: $green;
    text-align: center;

    @include on('sm') {
        font-size: 36px;
        margin-top: 60px;
        margin-bottom: 50px;
    }

    span {
        color: $blue;
    }
}

