
<div class="pop-up">
    <div class="center-screen">
        <div class="pop-up-container border-10 @(isConfirmUndo ? "d-block" : "d-none")">
            <div @onclick="CloseModal" class="close-btn">
                <span class="material-icons">
                    close
                </span>
            </div>
            <div class="content">
                <h3>Bạn có chắc chắn muốn</h3>
                <h3><span class="delete-text">chọn lại tình nguyện viên</span> này không?</h3>
            </div>
            <div class="pop-up-btn">
                <div @onclick="CloseModal" class="deny">Hủy</div>
                <div @onclick="UndoSuccess" class="accept">Xác nhận</div>
            </div>
        </div>

        <div class="pop-up-container border-10 @(isConfirmUndo ? "d-none" : "d-block")">
            <div @onclick="CloseModal" class="close-btn-s">
                <span class="material-icons">
                    close
                </span>
            </div>
            <div class="pop-up-content">
                <h3 class="delete-act">Hoàn tác thành công!</h3>
            </div>
        </div>
    </div>
</div>

@code {

    [CascadingParameter]
    public BlazoredModalInstance Modal { get; set; }

    bool isConfirmUndo = true;
    bool isUndoSuccess;

    private async Task CloseModal()
    {
        await Modal.CloseAsync();
    }

    void UndoSuccess()
    {
        isConfirmUndo = !isConfirmUndo;
    }
}
