
<div class="title">
    <div class="main-title">
        <div>Danh sách <span>tình nguyện viên</span></div>
    </div>
    <div class="sub-title">
        <div class="sub-title--content">Tuyển tình nguyện viên tham gia công tác phòng chống dịch Covid19</div>
    </div>
</div>

@code {

}