/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
@keyframes dropDown {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: auto;
  }
}
@keyframes pop-up {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.card-btn {
  background-color: #64D72F;
  color: white;
  border-radius: 5px;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
.card-btn:hover {
  background-color: #306C14;
}

.card-list {
  position: absolute;
  transform: translate(-35%, 1%);
  width: 135%;
  padding: 10px 15px;
  background-color: white;
  color: #18A0FB;
  box-shadow: 0px 4px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
}

.org-card {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 20px 18px;
  height: 283px;
  margin-bottom: 15px;
  background-color: #F3F3F5;
  border-radius: 10px;
}

.org-card__img {
  aspect-ratio: 1.420212766;
  display: flex;
  align-items: center;
}
.org-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.org-card__info {
  flex: 3;
  padding-left: 40px;
}
.org-card__info__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 5px;
}
.org-card__info__title a {
  color: #18A0FB;
  text-decoration: none;
}
.org-card__info__title a:hover {
  color: #0B588c;
}
.org-card__info__rate {
  display: inline-block;
  color: yellow;
  margin-bottom: 5px;
}
::deep .org-card__info__desc {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #515151;
  margin-bottom: 10px;
}
::deep .org-card__info__desc p {
  margin-bottom: 0;
}
.org-card__info__date {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #515151;
  margin-bottom: 10px;
}
.org-card__info__joiner {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #515151;
  color: #515151;
}
.org-card__info__joiner__icon {
  color: #64D72F;
  display: inline-block;
}
.org-card__info__joiner__icon span {
  transform: translateY(25%);
  font-size: 24px;
}
.org-card__info__joiner__sum {
  display: inline-block;
}
.org-card__info .icon-tooltip {
  display: none;
  color: #000;
  min-width: max-content;
  position: absolute;
  transform: translate(-80%, -95%);
  padding: 2px 10px;
  font-size: 12px;
  background-color: #FFFFFF;
  border-radius: 10px;
  border-bottom-right-radius: 3px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.0025);
}
.org-card__info .my-icon {
  cursor: default;
}
.org-card__info .my-icon:hover + .icon-tooltip {
  display: block;
}
.org-card__info .record-icon {
  color: #64D72F;
}
.org-card__info .record-text {
  color: #515151;
  font-weight: 500;
}
.org-card__info .material-icons-outlined {
  font-size: 20px;
}
.org-card__info span {
  font-size: 14px;
  font-weight: 400;
  color: #0B588C;
}
.org-card__footer {
  bottom: -8px;
}
.org-card__footer__btn {
  width: fit-content;
}

.org-card .act-menu {
  top: 20px;
  right: 7px;
  width: fit-content;
}
.org-card .rate-menu {
  top: 34px;
  right: -95px;
  width: max-content;
}
.org-card ul {
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.org-card ul li, .org-card ul a {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  display: block;
}
.org-card ul li:hover, .org-card ul a:hover {
  background: rgba(24, 160, 251, 0.1);
}
.org-card ul .edit {
  color: #515151;
  cursor: pointer;
}
.org-card ul .delete {
  color: #F14747;
  cursor: pointer;
}
.org-card ul .close {
  color: #64D72F;
  cursor: pointer;
}
.org-card .org-card__member {
  margin-right: 50px;
}
@media (min-width: 1400px) {
  .org-card .org-card__member {
    margin-right: 62px;
  }
}
.org-card .org-card__member .material-icons {
  color: #64D72F;
}
.org-card .material-icons {
  color: #515151;
  font-size: 24px;
  right: 10px;
  top: 2px;
}
.org-card .material-icons:hover {
  cursor: pointer;
}
.org-card__btn-list {
  width: 157px;
}
.org-card__cbb-rate {
  width: 120px;
  background-color: #18A0FB;
}
.org-card__cbb-rate a {
  text-decoration: none;
  color: #FFFFFF;
}
.org-card__cbb-rate:hover {
  background-color: #0B588C;
}
.org-card__cbb-rate__list {
  z-index: 10;
  font-size: 12px;
  line-height: 28px;
  display: none;
  animation: dropDown 0.2s ease backwards;
}
.org-card__cbb-rate__list li {
  list-style: none;
  padding: 0 10px;
}
.org-card__cbb-rate__list li:hover {
  background: rgba(24, 160, 251, 0.1);
}
.org-card__noti {
  padding: 5px 15px;
  font-weight: 400;
  font-size: 14px;
  color: #E10B0B;
  text-indent: 5px;
  bottom: 5px;
  right: 0;
}
.org-card__member {
  width: fit-content;
}
.org-card__member__text {
  font-weight: 400;
  font-size: 16px;
}
.org-card__member__icon {
  font-size: 24px;
  color: #64D72F;
}

.close-icon {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-20%, 20%);
  color: #515151;
  cursor: pointer;
  user-select: none;
}
.close-icon span {
  font-size: 16px;
  background: rgba(196, 196, 196, 0.5);
  padding: 5px;
  border-radius: 100%;
}

.popup-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.01);
}

.notify {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -50%);
  padding: 0 50px;
  min-width: 267px;
  min-height: 67px;
  background-color: white;
  box-shadow: 0px 4px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.notify .content {
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
.notify.--del .content {
  color: #64D72F;
}
.notify.--close .content {
  color: #18A0FB;
}

.confirm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -50%);
  padding: 20px 50px;
  width: 380px;
  min-height: 67px;
  background-color: white;
  box-shadow: 0px 4px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.confirm .content {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 20px;
  color: #64D72F;
}
.confirm .content.--del span {
  color: red;
}
.confirm .content.--close span {
  color: #18A0FB;
}
.confirm .btn-yes, .confirm .btn-cancel {
  position: relative;
  display: inline-block;
}
.confirm .btn-cancel {
  background-color: transparent;
  color: #18A0FB;
  float: right;
  margin-right: 10px;
}
.confirm .btn-yes {
  float: right;
}

/*------Pager-------*/
.pagination-org {
  display: flex;
  justify-content: flex-end;
}

/*------Text Result-------*/
.text-result {
  font-size: 24px;
  color: #18A0FB;
}
.text-result span {
  color: #64D72F;
}

.lmtext-2, .lmtext-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.lmtext-2 {
  -webkit-line-clamp: 2;
}

.lmtext-3 {
  -webkit-line-clamp: 3;
}
