<div class="container">
    <div class="list-name">
        <div class="list-name_1">Yêu cầu <span class="list-name_2">chỉnh sửa</span></div>
    </div>
    <div class="list-divider"></div>
    <div class="list-card">
        @for (int i = 0; i <= 2; i++)
        {
            <div class="card_edit-request" rows="5">
                <a class="card-title" href="@Routes.EditRequestPage">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</a>
            </div>
        }
    </div>
</div>


@code {

}
