/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 30px; }

.list-name {
  display: flex; }
  .list-name .list-name_1 {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #18A0FB; }
  .list-name .list-name_2 {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #64D72F; }

.list-divider {
  border: 0.5px solid #B4B4B4;
  margin-bottom: 8%; }

.card_edit-request {
  border: 1px solid #B4B4B4;
  border-radius: 5px;
  padding: 7% 3% 6% 7%;
  margin-bottom: 7%; }
  .card_edit-request .card-title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #18A0FB; }
  .card_edit-request .card-title:hover {
    color: #0B588C; }
