/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.org-title {
  margin-top: 12px;
  margin-bottom: 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #64D72F; }
  @media (min-width: 576px) {
    .org-title {
      font-size: 24px; } }
  @media (min-width: 768px) {
    .org-title {
      font-size: 30px; } }
  @media (min-width: 992px) {
    .org-title {
      margin-top: 20px;
      margin-bottom: 50px;
      font-size: 36px; } }
  @media (min-width: 1200px) {
    .org-title {
      font-size: 42px; } }
  @media (min-width: 1400px) {
    .org-title {
      font-size: 48px; } }
  .org-title span {
    color: #18A0FB; }

.search-box {
  width: 100%; }
  @media (min-width: 992px) {
    .search-box {
      width: 50%; } }

.content {
  display: flex;
  flex-direction: column-reverse; }
  @media (min-width: 992px) {
    .content {
      flex-direction: row; } }
  .content .activities {
    width: 100%; }
    @media (min-width: 992px) {
      .content .activities {
        width: 75%; } }
  .content .filter-1 {
    width: 100%; }
    @media (min-width: 992px) {
      .content .filter-1 {
        width: 8.33%; } }
  .content .filter-2 {
    width: 100%; }
    @media (min-width: 992px) {
      .content .filter-2 {
        width: 16.67%; } }
