@attribute [Route(Routes.OrganizerSearch)]
<div class="container-lg">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <SearchAndFilter HaveSearchBox="true" IsLongDistanceFilter="true"/>
            <SearchResult HaveLevel="true"/>
        </div>
    </div>
</div>   
@code {

}
