@import "../../Resources/scss/common/_variables.scss";
.bg-grey {
    background-color: #f3f3f3;
}

h3 {
    font-weight: 600;
    font-size: 18px;
    color: $blue;
    margin: 20px 0;

    @include on('sm') {
        font-size: 24px;
    }

    @include on('lg') {
        font-size: 36px;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    @include on('xl') {
        font-size: 48px;
    }

    span {
        color: $green;
    }
}

p {
    font-size: 12px;
    color: $blue;

    @include on('sm') {
        font-size: 16px;
    }

    @include on('lg') {
        font-size: 24px;
    }

    @include on('xl') {
        font-size: 30px;
    }
}

.filter-bar_left {
    width: 65% !important;

    @include on('xl') {
        width: 40% !important;
    }
}

.filter-item {
    font-size: 10px;
    width: 50%;

    @include on('xl') {
        font-size: 18px;
    }

    &__icon {
        font-size: 18px;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        pointer-events: none;

        @include on('xl') {
            font-size: 24px;
        }
    }
}

.popup-btn_1 {
    border-radius: 8px;
    height: 29px;
    width: 100%;
    border: 1px solid $border-color-bold;
    cursor: pointer;
    color: #b4b4b4;
    padding-left: 8px;
    padding-right: 30px;
    outline: none;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;

    @include on('xl') {
        height: 40px;
    }

    &::placeholder {
        color: #b4b4b4;
    }
}

.popup-btn_2 {
    display: flex !important;
    align-items: center;
    border-radius: 8px;
    height: 29px;
    width: 100%;
    border: 1px solid $border-color-bold;
    cursor: pointer;
    color: #b4b4b4;
    padding-left: 8px;
    padding-right: 30px;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;

    @include on('lg') {
        display: block !important;
    }

    @include on('xl') {
        height: 40px;
    }

    &::placeholder {
        color: #b4b4b4;
    }
}

.my-dropdown {
    padding: 5px 6px;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 40%;
    background-color: #fff;
    z-index: 10;
    display: none;
    width: 100%;

    @include on('xl') {
        padding: 15px 18px;
        top: 100%;
    }

    ul {
        font-size: 9px;
        font-weight: 500;
        overflow-y: scroll;
        list-style: none;
        padding: 0;
        height: 100%;
        margin: 0;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $grey-icon;
            border-radius: 20px;
        }

        li {
            color: $blue;
            line-height: 24px;
            margin-bottom: 0;
            cursor: pointer;

            @include on('xl') {
                margin-bottom: 12px;
            }

            &:hover {
                color: $green;
                background-color: rgba(24, 160, 251, 0.1);
            }
        }
    }
}

.popup-btn:focus ~ .my-dropdown {
    display: block;
}

.filter-btn {
    @include green-btn;
    font-weight: 400;
    font-size: 12px;
    height: 26px;
    padding: 0 10px;

    @include on('sm') {
        font-size: 16px;
        height: 32px;
        padding: 0 12px;
    }

    @include on('md') {
        font-size: 18px;
        height: 36px;
        padding: 0 16px;
    }

    @include on('lg') {
        font-size: 20px;
        font-weight: 600;
        height: 40px;
        padding: 0 20px;
    }

    &:hover {
        background-color: #306C14;
        opacity: 78%;
    }
}

.clear-filter-btn {
    @include green-btn;
    font-weight: 400;
    font-size: 12px;
    width: fit-content;
    color: #000000;
    background-color: #fff;

    @include on('sm') {
        font-size: 16px;
    }

    @include on('md') {
        font-size: 18px;
    }

    @include on('lg') {
        font-size: 20px;
        font-weight: 600;
        color: $grey-icon;
    }

    &:hover {
        text-decoration: underline;
    }
}