@import '../../../Resources/scss/common/_variables';

.managementTool__title {
    font-weight: 400;
    font-size: 18px;
    color: $blue;

    span {
        color: $green;
    }
}

.managementTool__down {
    color: $green;
    cursor: pointer;

    &:hover {
        color: $green-bold;
    }

    .icon-down {
        font-size: 24px;
    }

    span {
        font-weight: 600;
        font-size: 18px;
    }
}

.managementTool__chosseAll {
    font-weight: 600;
    font-size: 14px;
    color: #B4B4B4;

    .check-box {
        border-radius: 5px;
        width: 15px;
        height: 15px;
        margin-right: 5px;
        vertical-align: top;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: 1px solid $grey-icon;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-print-color-adjust: exact;
        position: relative;
        cursor: pointer;

        &::before {
            content: "";
            width: 9px;
            height: 5px;
            border-left: 2px solid #18A0FB;
            border-bottom: 2px solid #18A0FB;
            position: absolute;
            top: 40%;
            left: 52%;
            transform: translate(-50%, -50%) rotate( -45deg );
            display: none;
        }

        &:checked::before {
            display: block;
        }
    }

    label {
        cursor: pointer;
    }
}

.btn-delete {
    background: $red;
    width: 42px;
    height: 25px;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    color: $white;

    &:hover {
        background: $red-warning
    }

    &:focus {
        box-shadow: none
    }
}



.my-acc {
    border: 1px solid $grey-close-bg;
    border-radius: 7px;
    overflow-x: scroll;

    &::-webkit-scrollbar {
        width: 3px;
        height: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: #707070;
        border-radius: 10px;
    }
}

.acc__table {
    table-layout: fixed;

    .acc__tilte, .acc__content {
        padding: 5px 15px;
    }

    .acc__tilte {
        font-weight: 500;
        font-size: 16px;
        color: #515151;
        padding-bottom: 15px;
    }

    .acc__content {
        vertical-align: top;
        font-weight: 300;
        font-size: 16px;
        color: black;
    }

    .acc__tilte--checkbox, .acc__content--checkbox {
        min-width: 10px;

        .check-box {
            border-radius: 5px;
            width: 15px;
            height: 15px;
            margin-right: 5px;
            vertical-align: top;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            border: 1px solid $grey-icon;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            -webkit-print-color-adjust: exact;
            position: relative;
            cursor: pointer;

            &::before {
                content: "";
                width: 9px;
                height: 5px;
                border-left: 2px solid #18A0FB;
                border-bottom: 2px solid #18A0FB;
                position: absolute;
                top: 40%;
                left: 52%;
                transform: translate(-50%, -50%) rotate( -45deg );
                display: none;
            }

            &:checked::before {
                display: block;
            }
        }
    }

    .acc__tilte--date, .acc__content--date {
        min-width: 120px
    }

    .acc__tilte--course, .acc__content--course {
        min-width: 50px;
        text-align:center;
    }

    .acc__tilte--idStudent, .acc__content--idStudent {
        min-width: 150px
    }

    .acc__tilte--name, .acc__content--name {
        min-width: 250px;
    }

    .acc__tilte--email,, .acc__content--email {
        min-width: 180px;
        padding-right: 30px;
    }

    .acc__menu {
        position: absolute;
        top: 2px;
        right: 0px;

        .icon-menu {
            cursor: pointer;
            color: #707070;
            font-size: 20px;

            &::after {
                display: none;
            }
        }

        .dropdown-menu {
            background: #FFFFFF;
            border-radius: 5px;
            width: 170px;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0,.25);
            z-index: 1;
            transform: translate(-102%, 0) !important;
            padding: 15px 12px;

            li {
                padding: 0 3px;
                cursor: pointer;
            }

            li:hover {
                background: rgba(24, 160, 251, 0.1);
            }

            &-edit {
                color: $green;
            }

            &-delete {
                color: $red;
            }
        }
    }
}
