@import '../../../Resources/scss/common/_variables';

.my-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(196, 196, 196, 0.38);
    z-index: 120;

    .modal__content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal__create, .modal__success {
        background-color: $white;
        position: relative;
        box-shadow: 0px 4px 100px rgba(0, 0, 0,.25);
        border-radius: 10px;
    }

    .modal__create {
        width: 525px;
        height: 370px;
        padding: 30px 45px;

        h3 {
            font-weight: 500;
            font-size: 24px;
            color: $green;
            margin-bottom: 20px;

            span {
                color: $blue;
            }
        }

        .modal__step {
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 12px;
        }

        .btn-down {
            background: $blue;
            font-weight: 600;
            font-size: 16px;
            color: $white;
            margin-bottom: 10px;

            &:hover {
                background: $blue-bold;
            }
        }

        .icon-down {
            font-size: 24px;
        }
    }

    .modal__success {
        width: 400px;
        height: 150px;
        padding: 30px 30px;

        h3 {
            font-weight: 500;
            font-size: 20px;
            color: $green;

            span {
                color: $blue;
            }
        }

        .btn-cancel {
            font-weight: 600;
            font-size: 16px;
            color: $blue;
            background-color: transparent;

            &:hover {
                color: $blue-bold;
                background-color: transparent;
            }
        }

        .btn-watchList {
            font-weight: 600;
            font-size: 16px;
            color: $white;
            background-color: $blue;

            &:hover {
                color: $white;
                background-color: $blue-bold;
            }
        }
    }

    .modal__create .icon-close {
        width: 33px;
        height: 33px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10px;
        right: 12px;
        cursor: pointer;
        background: rgba(196, 196, 196, .5);

        .material-icons {
            font-size: 20px;
            color: $grey-close-btn;
        }
    }

    .modal__success .icon-close {
        width: 22px;
        height: 22px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        background: rgba(196, 196, 196, .5);

        .material-icons {
            font-size: 16px;
            color: $grey-close-btn;
            line-height: 0;
        }
    }

    .from__btn {
        font-weight: 600;
        font-size: 16px;
        margin-top: 15px;

        .btn-cancel {
            background-color: transparent;
            color: $green;

            &:hover {
                background-color: transparent;
                color: $green-bold;
            }
        }

        .btn-create {
            width: 140px;
            height: 35px;
            padding: 0;
            background-color: $green;
            color: $white;

            &:hover {
                background-color: $green-bold;
                color: $white;
            }
        }
    }

    ::deep .my-uploadImg {
        padding: 0;

        span {
            font-weight: 300;
            font-size: 16px;
            color: #515151;
        }
    }
}
