/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.my-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(196, 196, 196, 0.38);
  z-index: 120; }
  .my-modal .modal__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .my-modal .modal__create, .my-modal .modal__success {
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.25);
    border-radius: 10px; }
  .my-modal .modal__create {
    width: 520px;
    padding: 30px 45px; }
    .my-modal .modal__create h3 {
      font-weight: 500;
      font-size: 24px;
      color: #64D72F;
      margin-bottom: 30px; }
      .my-modal .modal__create h3 span {
        color: #18A0FB; }
  .my-modal .modal__success {
    width: 400px;
    padding: 30px 30px; }
    .my-modal .modal__success h3 {
      font-weight: 500;
      font-size: 20px;
      color: #64D72F; }
      .my-modal .modal__success h3 span {
        color: #18A0FB; }
    .my-modal .modal__success .btn-cancel {
      font-weight: 600;
      font-size: 16px;
      color: #18A0FB;
      background-color: transparent; }
      .my-modal .modal__success .btn-cancel:hover {
        color: #0B588C;
        background-color: transparent; }
    .my-modal .modal__success .btn-watchList {
      font-weight: 600;
      font-size: 16px;
      color: #FFFFFF;
      background-color: #18A0FB; }
      .my-modal .modal__success .btn-watchList:hover {
        color: #FFFFFF;
        background-color: #0B588C; }
  .my-modal .modal__create .icon-close {
    width: 33px;
    height: 33px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;
    background: rgba(196, 196, 196, 0.5); }
    .my-modal .modal__create .icon-close .material-icons {
      font-size: 20px;
      color: #717171; }
  .my-modal .modal__success .icon-close {
    width: 22px;
    height: 22px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: rgba(196, 196, 196, 0.5); }
    .my-modal .modal__success .icon-close .material-icons {
      font-size: 16px;
      color: #717171;
      line-height: 0; }
  .my-modal .mb-20 {
    margin-bottom: 20px; }
  .my-modal .bg-grey {
    background-color: #f3f3f3; }
  .my-modal .form-control {
    border: 1px solid #D8D8D8; }
  .my-modal .form-control[readonly] {
    background-color: #FFFFFF;
    opacity: 1; }
  .my-modal .form__title {
    width: 135px;
    font-weight: 400;
    font-size: 16px;
    color: #515151;
    margin-bottom: 0; }
    .my-modal .form__title span {
      color: red; }
    .my-modal .form__title + div {
      width: calc(100% - 135px);
      padding-left: 10px; }
  .my-modal .from__btn {
    font-weight: 600;
    font-size: 16px;
    margin-top: 30px; }
    .my-modal .from__btn .btn-cancel {
      background-color: transparent;
      color: #64D72F; }
      .my-modal .from__btn .btn-cancel:hover {
        background-color: transparent;
        color: #306C14; }
    .my-modal .from__btn .btn-create {
      background-color: #64D72F;
      color: #FFFFFF;
      border-radius: 5px;
      width: 140px;
      height: 35px;
      padding: 0; }
      .my-modal .from__btn .btn-create:hover {
        background-color: #306C14;
        color: #FFFFFF; }
      .my-modal .from__btn .btn-create:focus {
        box-shadow: none; }
