@import '../../../Resources/scss/common/_variables';

h1 {
    text-align:center;
    font-weight: 600;
    font-size: 36px;
    color: $green;
    span{
        color: $blue;
    }
}
.my-managementTool {
    border-bottom: 1px solid #B4B4B4;
}
.managementTool__filter {

    .btn-filter {
        background: $green;
        width: 90px;
        height: 40px;
        padding: 0px;
        font-weight: 700;
        font-size: 20px;
        color: $white;

        &:hover {
            background: $green-bold;
        }

        &:focus {
            box-shadow: none;
        }
    }

    .btn-delete-filter {
        background-color: transparent;
        padding: 7px 20px;
        font-weight: 700;
        font-size: 20px;
        color: #B4B4B4;

        &:hover {
            background-color: transparent;
            text-decoration: underline;
        }

        &:focus {
            box-shadow: none;
        }
    }
}
.managementTool__level, .managementTool__course{
    width: 200px;
}


//popup


.popup-btn {
    border: 1px solid #D8D8D8;
    border-radius: 10px;
    cursor: pointer;
    color: #b4b4b4;
    font-size: 16px;
    line-height: 30px;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
    background-color: white;

    &::placeholder {
        color: #b4b4b4;
    }

    &-icon {
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        pointer-events: none;
    }

    &:focus {
        box-shadow: none;
    }

    &.bg-grey {
        background-color: #f3f3f3;
    }
}

.my-dropdown {
    padding: 15px 22px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 0%;
    right: 0;
    transform: translateY(105%);
    background-color: #fff;
    z-index: 1;
    display: none;
    width: 200px;

    ul {
        overflow-y: scroll;
        list-style: none;
        padding: 0;
        margin: 0;
        height: 100%;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $grey-icon;
            border-radius: 20px;
        }

        li {
            color: $blue;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 10px;
            cursor: pointer;

            &:last-of-type {
                margin-bottom: 0px;
            }

            &:hover {
                color: $green;
                background-color: rgba(24, 160, 251, 0.1);
            }
        }
    }
}

.popup-btn:focus ~ .my-dropdown {
  display: block;
}
// end popup
.managementTool__create {
    .btn {
        width: 195px;
        background: $blue;
        padding: 6px 10px;
        border-radius: 5px;

        &:hover {
            background-color: $blue-bold;
        }

        &:focus {
            box-shadow: none;
        }

        &::after {
            color: $white;
        }

        .icon-add {
            font-size: 24px;
            color: $white;
        }

        span {
            font-weight: 600;
            font-size: 18px;
            color: $white;
            margin-left: 5px;
            padding-right: 5px;
        }
    }

    .dropdown-menu {
        width: 195px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 10px 12px;
        transform: translate(-1px, 47px) !important;

        li {
            padding: 0 3px;
            cursor: pointer;
        }

        li:hover {
            background: rgba(24, 160, 251, 0.1);
        }
    }
}
.managementTool__sort {
    p {
        font-weight: 400;
        font-size: 16px;
        color: black;
    }

    input, span {
        cursor: pointer;
    }

    span {
        font-weight: 400;
        font-size: 16px;
        color: #515151;
    }
    /* pretty radio */
    label > input[type="radio"] {
        display: none;
    }

    label > input[type="radio"] + *::before {
        content: "";
        display: inline-block;
        vertical-align: bottom;
        width: 1rem;
        height: 1rem;
        margin-right: 10px;
        margin-bottom: 5px;
        border-radius: 50%;
        border-style: solid;
        border-width: 0.1rem;
        border-color: #B4B4B4;
    }

    label > input[type="radio"]:checked + *::before {
        background: radial-gradient($blue 0%, $blue 40%, transparent 50%, transparent);
    }
    /* basic layout */
    fieldset {
        margin: 20px;
        max-width: 400px;
    }

    label > input[type="radio"] + * {
        display: inline-block;
        padding: 0.5rem 1rem;
    }
}


