@page "/doi-mat-khau"
@model ChangePasswordModel
@{
    ViewData["Title"] = "Đổi mật khẩu";
}
<div class="col-12">
    <h3 class="text-center change-pass-heading">@ViewData["Title"]</h3>

    <div class="row">
        <section>
            <form method="post">
                @*<div asp-validation-summary="All" class="text-danger"></div>*@

                <div class="form-group mt-4">
                    <div class="position-relative">
                        <input asp-for="Input.CurrentPassword" class="my-input" data-number="0" placeholder="Mật khẩu hiện tại" />
                        <span class="material-icons show-password-icon">
                            visibility_off
                        </span>
                        <span class="material-icons error-icon">
                            error
                        </span>
                    </div>
                    <span asp-validation-for="Input.CurrentPassword" class="text-danger d-block mt-2"></span>
                </div>
                <div class="form-group mt-4">
                    <div class="position-relative">
                        <input asp-for="Input.NewPassword" class="my-input" data-number="1" placeholder="Mật khẩu mới" />
                        <span class="material-icons show-password-icon">
                            visibility_off
                        </span>
                        <span class="material-icons error-icon">
                            error
                        </span>
                    </div>
                    <span asp-validation-for="Input.NewPassword" class="text-danger d-block mt-2"></span>
                </div>
                <div class="form-group mt-4">
                    <div class="position-relative">
                        <input asp-for="Input.ConfirmPassword" class="my-input" data-number="2" placeholder="Xác nhận mật khẩu mới" />
                        <span class="material-icons show-password-icon">
                            visibility_off
                        </span>
                        <span class="material-icons error-icon">
                            error
                        </span>
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger d-block mt-2"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary mt-4 form-change-pass-btn">Đổi mật khẩu</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Styles {
    <link href="@Url.Content("~/css/IdentityCss/ChangePassword.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        const visibilityIcons = document.querySelectorAll(".show-password-icon");
        const passwords = document.querySelectorAll("input[type='password']");
        const errorIcons = document.querySelectorAll(".error-icon");
        var marker;


        passwords.forEach((password, index) => {
            password.addEventListener('input', () => {
                if (password.value) {
                    visibilityIcons[index].style.display = 'block';
                }
                else {
                    visibilityIcons[index].style.display = 'none';
                }
                if ((index === 2) && marker === 1) {
                    visibilityIcons[2].style.display = 'none';
                }

                if ((index === 2) && passwords[2].value === passwords[1].value) {
                    visibilityIcons[2].style.display = 'block';
                }
            })
        })
        passwords.forEach((password, index) => {
            passwords[index].addEventListener('focusout', () => {
                if ((passwords[1].value) && passwords[1].value === passwords[2].value) {
                    visibilityIcons[1].style.display = 'block';
                    visibilityIcons[2].style.display = 'block';
                }
                if (passwords[2].value != passwords[1].value) {
                    visibilityIcons[2].style.display = 'none';
                }

                if (index === 2) {
                    marker = 1;
                }
            })
        })

        const nextButton = document.querySelector('.form-change-pass-btn');
        nextButton.addEventListener('click', () => {
            if (passwords[1].value == "" && passwords[2].value == "") {
                marker = 1;
            }
        })
        

        visibilityIcons.forEach((visibilityIcon, index) => {
            visibilityIcon.addEventListener('click', () => {
                if (passwords[index].getAttribute('type') === 'password') {
                    passwords[index].setAttribute('type', 'text');
                    visibilityIcon.innerHTML = 'visibility';
                }
                else {
                    passwords[index].setAttribute('type', 'password');
                    visibilityIcon.innerHTML = 'visibility_off';
                }
            })
        })
        
    </script>
}
