@page "/doi-mat-khau-thanh-cong"
@{
    ViewData["Title"] = "Change password confirmation";
}
<div class="col-12 text-center">
    <div class="confirm-heading mb-3">
        <h3 class="d-inline-block colored-green">Mật khẩu của bạn</h3>
        <h3 class="d-inline-block colored-blue">Đã được đổi thành công!</h3>
    </div>

    <a href="/dang-nhap" class="btn finish-btn">Xong</a>
</div>
@section Styles {
    <link href="@Url.Content("~/css/IdentityCss/ChangePasswordConfirmation.css")" rel="stylesheet" type="text/css" />
}