@page "/quen-mat-khau"
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="col-12">
    <div class="forgot-heading text-center mx-auto mb-3">
        <h3 class="d-inline-block colored-blue">Đặt lại</h3>
        <h3 class="d-inline-block colored-green">mật khẩu</h3>
        <p class="text-center">Vui lòng nhập email UEH để xác minh tài khoản của bạn</p>
    </div>
    <form method="post">
        <div class="form-group">
            <div class="position-relative">
                <input asp-for="Input.Email" class="my-input" placeholder="Email UEH" />
                <span class="material-icons error-icon">
                    error
                </span>
            </div>
            <span asp-validation-for="Input.Email" class="text-danger d-block mt-2"></span>
        </div>
        <div class="float-end my-btn-group">
            <a href="/dang-nhap" class="btn cancel-btn">Hủy</a>
            <button type="submit" class="btn next-btn">Tiếp theo</button>
        </div>
    </form>
</div>
@section Styles {
    <link href="@Url.Content("~/css/IdentityCss/ForgotPassword.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
