@page "/quen-mat-khau-confirm"
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    check mail
    Please check your email to reset your password.
</p>

