@page "/quen-mat-khau-confirm"
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="col-12 p-4">
    <div class="confirm-heading mb-3">
        <h3 class="d-inline-block colored-blue">Xác minh</h3>
        <h3 class="d-inline-block colored-green">tài khoản</h3>
    </div>
    <p class="d-block m-0">
        Bạn vui lòng xác minh tài khoản tại email:
    </p>
    <p class="d-block m-0">
        thanhlam.6178@gmail.com
    </p>
</div>
@section Styles {
    <link href="@Url.Content("~/css/IdentityCss/ForgotPasswordConfirmation.css")" rel="stylesheet" type="text/css" />
}