@page "/quen-mat-khau-confirm"
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="container col-12 p-4 text-center">
    <div class="confirm-heading mb-3">
        <h3 class="d-inline-block colored-blue">Xác minh <span class="d-inline-block colored-green">tài khoản</span></h3>
    </div>
    <div class="d-block m-0">
        Bạn vui lòng xác minh tài khoản tại email:
    </div>
    <div class="d-block mt-1">
        @Model.UserEmail
    </div>
    <div class="d-block mt-1">
        Bạn vui lòng kiểm tra hòm thư rác (spam) nếu không tìm thấy mail xác nhận nhé!
    </div>
</div>
@section Styles {
    <link href="@Url.Content("~/css/IdentityCss/ForgotPasswordConfirmation.css")" rel="stylesheet" type="text/css" />
}