@attribute [Route(Routes.Rating + "/{activityId:int}")]
@attribute [Authorize(Roles = "Organization")]

<div class="rating-page">
    <Title />
    <div class="header-page">
        <div class="search-box">
            <VMS.Pages.ActivitySearchPage.SearchBox SearchValueChanged="SearchValueChanged"/>
        </div>
        <FilterBar IsRatedChanged="IsRatedChanged"/>
    </div>
    <div class="body-page">
        <MemberList ActivityId=@ActivityId StarRating=@starRating SearchValue=@searchValue IsRated=@isRated />
        <FilterRatingAll @bind-StarRating=@starRating />
    </div>
</div>

@code {
}
