@import '../../../Resources/scss/common/_variables.scss';

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 101;
    background-color: rgba(196, 196, 196, 0.38);
}

.min-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(196, 196, 196, 0.38);
    display: none;
    z-index: 3;

    .report-success {
        position: absolute;
        height: 80px;
        width: 320px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
        background-color: $white;
        border-radius: 10px;
        font-size: 36px;
        font-weight: 500;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include on ('sm') {
            height: 100px;
            width: 360px;
        }

        .min-overlay--icon {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 25px;
            height: 25px;
            background-color: $grey-bg;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            @include on('sm') {
                top: 15px;
                right: 15px;
            }

            .material-icons {
                font-size: 18px;

                @include on('sm'){
                    font-size:22px;
                }
            }
        }

        .green-text {
            color: $green;
        }

        .blue-text {
            color: $blue;
        }

        .green-text, .blue-text {
            font-weight: 500;
            font-size: 16px;

            @include on('sm') {
                font-size: 20px;
            }
        }
    }
}

.container {
    position: absolute;
    width: 95%;
    max-height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $grey-text;
    background-color: $white;
    border-radius: 10px;
    overflow-y: scroll;
    padding: 0;
    padding-left: 10px;

    @media (min-width:380px) {
        width: 460px;
        padding:0 12px 0 22px;
    }

    @include on('sm') {
        width: 560px;
        padding: 0 50px 20px 60px;
    }

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $grey-icon;
        border-radius: 20px;
    }


    .icon-close-popup {
        position: absolute;
        top: 13px;
        right: 5px;
        width: 33px;
        height: 33px;
        border-radius: 50%;
        display: flex;
        background-color: $grey-bg;
        cursor: pointer;

        @include on('sm') {
            top: 20px;
            right: 20px;
        }

        .material-icons {
            margin: auto;
            font-size: 22px;
        }
    }

    .title {
        display: flex;
        font-weight: 500;
    }

    .check {
        color: red;
        margin-left: 5px;
    }
}
/*----title Báo cáo hoạt động----*/
.title-header {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    letter-spacing: 2px;

    @include on('sm') {
        font-size: 24px;
    }

    .title-header__report {
        color: $green;
        margin-right: 14px;
    }

    .title-header__activity {
        color: $blue;
    }
}
/*----end title Báo cáo hoạt động----*/

/*-----reporting reason------*/
.title-reason {
    margin-top: 8%;

    .title-discript__text {
        font-size: 16px;
    }

    .title-discript__check {
        font-size: 16px;
    }
}

.title-discript {
    margin-top: 6%;

    .title-discript__text, .title-discript__check {
        font-size: 16px;
    }
}

.title-attach {
    margin-top: 6%;

    .title-attach__text, .title-attach__check {
        font-size: 16px;
    }
}

.dropdown .my-btn {
    width: 100%;
    border: 1px solid $grey-icon;
    height: 36px;

    .my-icon-dropdown {
        float: right;
        font-size: 26px;
    }
}

.dropdown-menu {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    border: none;

    .dropdown-item {
        display: flex;
        align-items: center;
        margin: 0;
        padding-left: 5%;

        @include on('sm') {
            margin: 5px 0;
        }

        ::deep .dropdown-item--checkbox {
            margin-right: 10px;
        }

        label {
            width: 100%;
        }
    }
}

.dropdown-toggle::after {
    margin: 15px;
    float: right;
    font-size: 35px;
}
/*-----end reporting reason------*/

/*-----report description-----*/
::deep .form-control {
    border: 1px solid $grey-icon;
    font-size: 16px;
    height: 100px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 14px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $grey-icon;
        border-radius: 20px;
        border: 2px solid white;
    }
}
/*-----end report description-----*/

/*button report*/
.btn-accept {
    display: flex;
    margin: 30px 0;

    .btn {
        margin: auto;
        background-color: $green;
        color: $white;
        font-size: 16px;
        font-weight: 600;
        border-radius: 5px;

        @include on('sm') {
            padding: 5px 10px;
        }
    }

    .btn:hover {
        background-color: $green-bold;
    }
}
/*end button report*/

