@import '../../../Resources/scss/common/_variables.scss';

.search-result {
    margin-top: -2%;

    .search-result_text-1 {
        display: inline;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 36px;
        color: $blue;
    }

    .search-result_text-2 {
        display: inline;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 36px;
        color: $green;
    }

    .search-result_text-3 {
        display: inline;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 36px;
        color: $blue;
    }
}
