<div class="search-result">
    <p class="search-result_text-1">@resultText1</p>
    <p class="search-result_text-2">@ResultNumber</p>
    <p class="search-result_text-3">@resultText2</p>
</div>

@code {
    [Parameter] public long ResultNumber { get; set; } = 0;

    string resultText1 = "Có";
    string resultText2 = "tình nguyện viên ứng với kết quả tìm kiếm của bạn";
}
