<div class="member-star">
    @for (int i = 1; i < 6; i++)
    {
        int id = i;
        <button class="member-star_button">
            <span @onclick="() => { StarRating = id; star = id; StarRatingChanged.InvokeAsync(id); }"
                  @onmouseout="() => star = StarRating.Value"
                  @onmouseover="() => star = id"
                  style="@(id <= star? "color: #EDF131" : "#C4C4C4")" id="member-star_icon" class="material-icons">
                star_rate
            </span>
        </button>
    }
    <div class="member-star_tooltip">Một sao là 20% số điểm của mình đó...</div>
</div>

@code {
    double star;

    [Parameter]
    public double? StarRating { get; set; }

    [Parameter]
    public EventCallback<double?> StarRatingChanged { get; set; }

    protected override void OnParametersSet()
    {
        StarRating = (StarRating.HasValue ? StarRating : 0);
        star = StarRating.Value;
    }
}
