<div class="container">
    <div class="container-1 col-12">
        <div class="container-title">
            <p class="container-title_1">Xem </p>
            <p class="container-title_2">đánh giá</p>
        </div>
        <div class="container-radio">
            <div class="container-radio_choise">
                @if (filter.IsOrgRating.HasValue && !filter.IsOrgRating.Value)
                {
                    <input @onchange="() => OnRadioChanged(false)"
                       type="radio" name="radio" class="radio-btn" id="radio-btn_1" checked />
                }
                else
                {
                    <input @onchange="() => OnRadioChanged(false)"
                       type="radio" name="radio" class="radio-btn" id="radio-btn_1" />
                }
                &#160;<label for="radio-btn_1">Tình nguyện viên</label>
            </div>
            <div class="container-radio_choise">
                @if (filter.IsOrgRating.HasValue && filter.IsOrgRating.Value)
                {
                    <input @onchange="() => OnRadioChanged(true)"
                       type="radio" name="radio" class="radio-btn" id="radio-btn_2" checked />
                }
                else
                {
                    <input @onchange="() => OnRadioChanged(true)"
                       type="radio" name="radio" class="radio-btn" id="radio-btn_2" />
                }
                &#160;<label for="radio-btn_2">Tổ chức</label>
            </div>
        </div>
        <div class="container-divider"></div>
    </div>
    <div class="container-checkbox">
        @for (int i = 1; i <= 5; i++)
        {
            var star = i;
            <div class="container-checkbox_choise">
                @if (filter.Ranks.Exists(x => x == star))
                {
                    <input id="checkbox-btn_@star" @onclick="() => OnCheckBoxChanged(star)" type="checkbox" checked />
                }
                else
                {
                    <input id="checkbox-btn_@star" @onclick="() => OnCheckBoxChanged(star)" type="checkbox" />
                }
                <label for="checkbox-btn_@star">@star sao</label>
            </div>
        }
    </div>
    <div class="container-btn">
        <button @onclick="@UpdateFilterValueAsync" class="container-btn_filter">Lọc</button>
        <button @onclick="@ClearFilterAsync" class="container-btn_delete">Xóa lọc</button>
    </div>
</div>

@code {

}
