@import '../../../Resources/scss/common/_variables.scss';

.container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;

    &-1 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &-title {
        &_1 {
            display: inline;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 36px;
            color: $green;
        }

        &_2 {
            display: inline;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 36px;
            color: $blue;
        }
    }

    &-radio {
        display: flex;
        flex-direction: column;
    }

    &-divider {
        width: 100%;
        height: 1px;
        background-color: $grey-icon;
    }

    &-checkbox {
        width: 58%;
        display: flex;
        flex-direction: column;
        margin-top: 3%;
    }

    &-btn {
        width: 120%;
        display: flex;
        justify-content: space-around;
        margin-top: 8%;
    }
}
//---------------CSS for Radio button-------------//
.container-radio_choise {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .radio-btn {
        position: relative;
        margin-left: -12%;
        border-radius: 50%;
        width: 13px;
        height: 13px;
        background-color: $white;
        border: 2px solid $blue;
        appearance: none;
        cursor: pointer;

        &::before {
            position: absolute;
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $blue;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
        }

        &:checked::before {
            display: block;
        }

        &:checked {
            border-color: $blue;
        }
    }

    label {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 36px;
        color: $grey-text;
        cursor: pointer;
        margin-left: 3%;
    }
}
//----------------------------//


//---------------CSS for Checkbox button-------------//
.container-checkbox_choise {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;

    #checkbox-btn_1, #checkbox-btn_2, #checkbox-btn_3, #checkbox-btn_4, #checkbox-btn_5 {
        position: relative;
        border-radius: 5px;
        width: 15px;
        height: 15px;
        margin-right: 5px;
        vertical-align: top;
        background-color: $white;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: 1px solid $grey-icon;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-print-color-adjust: exact;
        cursor: pointer;

        &::before {
            content: "";
            width: 9px;
            height: 6px;
            border-left: 2px solid $blue;
            border-bottom: 2px solid $blue;
            position: absolute;
            top: 40%;
            left: 52%;
            transform: translate(-50%, -50%) rotate( -45deg );
            display: none;
        }

        &:checked::before {
            display: block;
        }
    }

    label {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 36px;
        color: #000000;
        cursor: pointer;
    }
}
//----------------------------//


//---------------CSS for Filter and Delete button-------------//
.container-btn {
    &_filter {
        text-align: center;
        padding: 5px 25px;
        border: none;
        border-radius: 5px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        color: $white;
        background-color: $green;
        transition: all 0.25s;
        cursor: pointer;

        &:hover {
            background-color: $green-bold;
        }
    }

    &_delete {
        border-radius: 5px;
        border: none;
        cursor: pointer;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        color: $border-color-normal;
        background-color: $white;

        &:hover {
            text-decoration: underline;
        }
    }
}
//----------------------------//