/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.container {
  width: 91.67%;
  margin-right: 0;
  margin-top: 5%; }
  .container_main-content {
    justify-content: space-between; }
  .container .leftraight {
    width: 70.83%;
    display: flex;
    flex-direction: column; }
    .container .leftraight .container-list-card {
      display: flex;
      flex-direction: column; }
  .container .rightraight {
    width: 20.83%; }
  .container .pagination-container {
    margin-top: 5%;
    display: flex;
    justify-content: center; }
