@import '../../../Resources/scss/common/_variables.scss';

.container {
    padding: 0;
    margin-top: 5%;

    &_divider {
        width: 100%;
        height: 1px;
        background: $grey-icon;
    }

    &_main-layout {
        justify-content: space-between;
    }

    .leftraight {
        display: flex;
        flex-direction: column;

        .container-list-card {
            display: flex;
            flex-direction: column;
        }
    }

    .pagination-container {
        margin-top: 5%;
        display: flex;
        justify-content: center;
    }
}