@attribute [Route(Routes.AdminWatchRating)]
@inject IJSRuntime JsRuntime

<div class="container">
    <Title />
    <div class="divider"></div>
    <div class="d-flex">
        <div class="leftraight">
            <SearchResult />
            <RatingList />
        </div>
        <div class="rightraight">

        </div>
    </div>
</div>

@code {

}
