@import '../../../Resources/scss/common/_variables.scss';

/*Phần đánh giá*/
.container {
    display: flex;
    background-color: fuchsia;

    ::deep .overlay {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: normal;
        justify-content: normal;
        z-index: unset;
        background-color: none;
    }
}


/*::deep .popup-comment {*/
    /*position: absolute;*/
    /*box-sizing: border-box;
    width: 50%;
    height: 78%;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $grey-icon;
    box-shadow: 10px 4px 60px 2px rgba(11, 40, 50, 0.2);
    border-radius: 0px;
    overflow-y: no-display;*/
    /*&::-webkit-scrollbar {
        width: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $blue;
        border-radius: 0px;
    }*/

    /*::deep &_icon {
        display: none;
    }
}

::deep .popup-comment_member {
    margin: 7.5%;
    border: 1px solid #D8D8D8;
    border-radius: 0px;

    ::deep .name {
        display: flex;
        align-items: center;
        margin-top: 2%;

        ::deep .popup-avatar {
            margin-left: 5%;
            margin-right: 5%;
            border-radius: 0px;
        }
    }

    ::deep .popup-member {
        ::deep .popup-member1 {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            margin-top: 5%;
            margin-bottom: 0;
        }

        ::deep .popup-member2 {
            font-style: normal;
            font-weight: normal;
        }
    }

    ::deep .material-icons {
        font-size: 24px;
    }

    ::deep .comment {
        margin-top: 5%;
        margin-left: 5%;
        box-sizing: border-box;

        ::deep &-input {
            width: 85%;
            font-size: 16px;
        }
    }
}*/

/*Kết thúc phần đánh giá*/
