<div class="card">
    <div class="card-member">
        <div class="card-member_name">
            <div class="avatar">
                <img src="./img/avatar sinh viên.png" alt="avatar">
            </div>
            <div class="name">
                <p class="name-member">Tên sinh viên</p>
                <div class="name_stars">
                    <span style="color: @Color1;" class="material-icons">star_rate</span>
                    <span style="color: @Color2;" class="material-icons">star_rate</span>
                    <span style="color: @Color3;" class="material-icons">star_rate</span>
                    <span style="color: @Color4;" class="material-icons">star_rate</span>
                    <span style="color: @Color5;" class="material-icons">star_rate</span>
                </div>
            </div>
        </div>
        <div class="card-member_comment mt-2 mb-3">
            <p class="comment-show">
                @memberComment
            </p>
        </div>
    </div>
    <div class="card-organization">
        <div class="card-organization_name">
            <div class="avatar">
                <img src="./img/avatar tổ chức.png" alt="avatar">
            </div>
            <div class="name">
                <p class="name-organization">Tên tổ chức</p>
                <div class="name_stars">
                    <span style="color: @Color1;" class="material-icons">star_rate</span>
                    <span style="color: @Color2;" class="material-icons">star_rate</span>
                    <span style="color: @Color3;" class="material-icons">star_rate</span>
                    <span style="color: @Color4;" class="material-icons">star_rate</span>
                    <span style="color: @Color5;" class="material-icons">star_rate</span>
                </div>
            </div>
        </div>
        <div class="card-organization_comment mt-2 mb-3">
            <p class="comment-show">
                @organizationComment
            </p>
        </div>
    </div>
</div>

@code {
    string Color1 = "#EDF131";
    string Color2 = "#EDF131";
    string Color3 = "#EDF131";
    string Color4 = "#EDF131";
    string Color5 = "#EDF131";
    string Color6 = "#EDF131";
    string Color7 = "#EDF131";
    string Color8 = "#EDF131";
    string Color9 = "#EDF131";
    string Color10 = "#C4C4C4";

    string memberComment = "Hoạt động gất bổ ích...............................................!! Mình gất vui khi tham gia hoạt động này .......!! Lỡ mình có nói dài thì show hết giúp mình nha !!.....................";
    string organizationComment = "TNV gất năng nổ !!";
}
