@import '../../../Resources/scss/common/_variables.scss';

.card {
    background: $white;
    border: 0.8px solid $grey-input;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 2% 3%;
    margin-bottom: 5%;
}

//.....................................................................//
//-----------------------Đánh giá của thành viên-----------------------//
.card-member {

    &_name {
        display: flex;
        align-items: center;

        .name {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 2%;

            &-member {
                margin: 0;
                margin-bottom: -5%;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 36px;
            }

            span {
                font-size: 1.5rem;
            }
        }
    }

    &_comment {
        margin: 0% 8%;
    }
}
//----------------End------------------//


//..................................................................//
//-----------------------Đánh giá của tổ chức-----------------------//
.card-organization {

    &_name {
        display: flex;
        align-items: center;

        .name {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 2%;

            &-organization {
                margin: 0;
                margin-bottom: -5%;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 36px;
            }

            span {
                font-size: 1.5rem;
            }
        }
    }

    &_comment {
        margin: 0% 8%;
    }
}
//--------------End----------------//