<div class="search-result">
    <p class="search-result_text-1">Có</p>
    <p class="search-result_text-2">@Num tình nguyện viên</p>
    <p class="search-result_text-3">ứng với kết quả tìm kiếm</p>
</div>

@code {
    [Parameter]
    public long Num { get; set; }
}
