@import '../../../Resources/scss/common/_variables.scss';

.search-result {
    margin-top: 1.8%;
    margin-bottom: 1.8%;

    .search-result_text-1 {
        display: inline;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: $blue;
    }

    .search-result_text-2 {
        display: inline;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: $green;
    }

    .search-result_text-3 {
        display: inline;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: $blue;
    }
}
