/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.title {
  text-align: center; }
  .title .title-txt-1 {
    display: inline;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    color: #64D72F; }
  .title .title-txt-2 {
    display: inline;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    color: #18A0FB;
    padding-left: 0.5%; }
  .title .title-txt-3 {
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 2%;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #0B588C; }
