/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.yellow-colored {
  color: #EDF131 !important; }

.my-container {
  border-top: 2px solid #b4b4b4; }

.result-heading {
  font-size: 26px;
  color: #18A0FB; }
  .result-heading span {
    color: #64D72F; }

.org-item {
  height: 150px;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  margin-top: 60px;
  position: relative; }
  .org-item::before {
    content: "";
    height: calc(100% + 2 * 1px);
    width: calc(150px / 2 + 1px);
    position: absolute;
    left: -1px;
    background-color: #fff;
    z-index: 1; }
  .org-item__img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    z-index: 2; }
  .org-item__name-group a {
    text-decoration: none;
    font-size: 26px;
    color: #18A0FB;
    font-weight: 500; }
  .org-item__rate-group > span {
    font-size: 40px;
    color: #64D72F;
    font-weight: 600; }
  .org-item__rate-group p {
    font-weight: 600;
    font-size: 20px;
    color: #707070; }

.org-item__rate-group-star {
  font-size: 24px;
  color: #b4b4b4;
  position: relative; }
  .org-item__rate-group-star span {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    color: #EDF131;
    overflow: hidden; }
