/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.container {
  width: 91.67%;
  padding: 0;
  margin-right: 0; }
  .container ::deep .title .sub-title {
    margin-bottom: 6%; }
    .container ::deep .title .sub-title--content {
      width: 80%; }
  .container_divider {
    width: 100%;
    height: 1px;
    background: #B4B4B4; }
  .container ::deep .search-and-button {
    grid-template-columns: none; }
    .container ::deep .search-and-button .my-search-box {
      display: none !important; }
  .container ::deep .container {
    padding: 0; }
  .container ::deep .my-container {
    justify-content: space-between; }
    .container ::deep .my-container .quantity-volunteers {
      width: 62%; }
    .container ::deep .my-container .button {
      width: 18%; }
      .container ::deep .my-container .button__text--del {
        background-color: #F14747; }
      .container ::deep .my-container .button__text--del:hover {
        background-color: #E10B0B; }
    .container ::deep .my-container .link__text--del:hover {
      color: #E10B0B; }
    .container ::deep .my-container .link__text--undo:hover {
      color: #0B588C; }
  .container ::deep .list-card .mycard__info {
    width: 70%;
    grid-template-columns: 14% 86%; }
    .container ::deep .list-card .mycard__info img {
      object-fit: cover; }
  .container ::deep .list-card .mycard__info--name-and-mssv {
    display: flex;
    justify-content: space-between; }
  .container ::deep .list-card .mycard__checkbox {
    width: 14%; }
    .container ::deep .list-card .mycard__checkbox--my-checkbox {
      width: 25px;
      height: 25px; }
    .container ::deep .list-card .mycard__checkbox--my-checkbox::before {
      width: 15px;
      height: 7px;
      border-left: 2px solid #18A0FB;
      border-bottom: 2px solid #18A0FB; }
  .container ::deep .list-card .mycard__button {
    width: 18%; }
    .container ::deep .list-card .mycard__button--registration-form {
      padding: 7px 15px; }
