@attribute [Route(Routes.AdminWatchlistVolunteer)]
@inject IJSRuntime JsRuntime

<div class="d-flex">
    <div class="col-3">
        Đây là sidebar
    </div>
    <div class="right-container col-9">
        <div class="container col-10">
            <VMS.Pages.Organization.VolunteersListPage.Title />
            <div class="container_divider"></div>
            <VMS.Pages.Organization.VolunteersListPage.NavMini />
            <VMS.Pages.Organization.VolunteersListPage.Listcard />
        </div>
    </div>
</div>

@code {

}
