<div class="alert alert-info" style="display: flex">
	<input @bind="keyword" placeholder="Tìm kiếm bằng từ khóa" class="form-control"/>
	<button @onclick="Clear" class="btn btn-light">X</button>
	<button @onclick="SearchAsync" class="btn btn-primary">➡</button>
</div>

@code {
	private string keyword;
	[Parameter]
	public EventCallback<string> KeywordEventCallBack { get; set; }

	private async Task SearchAsync()
	{
		await KeywordEventCallBack.InvokeAsync(keyword);
	}
	
	private void Clear()
	{
		keyword = string.Empty;
	}
}
