
@using VMS.Application.ViewModels;
@using VMS.Application.Interfaces;

@inject IJSRuntime JsRuntime;
@inject IAreaService AreaService;

<div class="my-category-carousel">
    <p class="mx-5 text-center">Kham pha <span class="my-special-text">hoat dong & chuong trinh</span> tinh nguyen <span class="my-special-text">phu hop voi ban</span></p>
    <div class="position-relative my-carousel-container">
        <button id="prev-btn" type='button' class='slick-prev pull-left my-prev-btn'>Prev</button>
        <div class="slick-container">
            @if (areas != null)
            {
                @for (int i = 0; i < areas.Count(); i++)
                {
                    <a href="" class="d-flex justify-content-center text-decoration-none">
                        @areas[i].Name
                    </a>
                }
            }
            else
            {
                <b>No Areas</b>
            }

        </div>
        <button id="next-btn" type='button' class='slick-next pull-right my-next-btn'>Next</button>
    </div>
</div>

@code {
    private List<AreaViewModel> areas;
    protected async override Task OnInitializedAsync()
    {
        // get all areas to show on UI
        areas = await AreaService.GetAllAreas();
    }
}