@import '../../Resources/scss/common/_variables';

.my-category-carousel {
    color: $blue;

    .my-special-text {
        color: $green;
    }

    .my-carousel-container {
        margin: 0 20px;

        .my-test-item {
            color: $green;
            font-size: 70px;
        }

        > div {
            display: flex;
            align-content: center;
            justify-content: space-around;
        }

        .my-prev-btn {
            left: -5px;

            @include on('lg') {
                display: none;
            }

            &:before {
                color: $grey-text;
                font-size: 30px;
            }
        }

        .my-next-btn {
            right: 5px;

            @include on('lg') {
                display: none;
            }

            &:before {
                color: $grey-text;
                font-size: 30px;
            }
        }
    }
}
