/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.my-category-carousel {
  color: #18A0FB; }
  .my-category-carousel .my-special-text {
    color: #64D72F; }
  .my-category-carousel .my-carousel-container {
    margin: 0 20px; }
    .my-category-carousel .my-carousel-container .my-test-item {
      color: #64D72F;
      font-size: 70px; }
    .my-category-carousel .my-carousel-container > div {
      display: flex;
      align-content: center;
      justify-content: space-around; }
    .my-category-carousel .my-carousel-container .my-prev-btn {
      left: -5px; }
      @media (min-width: 992px) {
        .my-category-carousel .my-carousel-container .my-prev-btn {
          display: none; } }
      .my-category-carousel .my-carousel-container .my-prev-btn:before {
        color: #515151;
        font-size: 30px; }
    .my-category-carousel .my-carousel-container .my-next-btn {
      right: 5px; }
      @media (min-width: 992px) {
        .my-category-carousel .my-carousel-container .my-next-btn {
          display: none; } }
      .my-category-carousel .my-carousel-container .my-next-btn:before {
        color: #515151;
        font-size: 30px; }
