@using VMS.Application.ViewModels
@using VMS.Application.Interfaces

@inject IJSRuntime JSRuntinme
@inject IAreaService AreaService

@if (areas is not null && areas.Count != 0)
{
    <section class="my-filter">
        <div class="container">
            <h1>Khám phá <span>hoạt động & chương trình tình nguyện</span> phù hợp với bạn</h1>
            <div class="owl-carousel owl-theme filter__carousel">
                <div class="item item-covid">
                    <a href="">
                        <i>
                            <svg class="icon-coivd" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M224 192a16 16 0 1 0 16 16a16 16 0 0 0-16-16zM466.5 83.68l-192-80A57.4 57.4 0 0 0 256.05 0a57.4 57.4 0 0 0-18.46 3.67l-192 80A47.93 47.93 0 0 0 16 128c0 198.5 114.5 335.72 221.5 380.32a48.09 48.09 0 0 0 36.91 0C360.09 472.61 496 349.3 496 128a48 48 0 0 0-29.5-44.32zM384 256h-12.12c-28.51 0-42.79 34.47-22.63 54.63l8.58 8.57a16 16 0 1 1-22.63 22.63l-8.57-8.58c-20.16-20.16-54.63-5.88-54.63 22.63V368a16 16 0 0 1-32 0v-12.12c0-28.51-34.47-42.79-54.63-22.63l-8.57 8.58a16 16 0 0 1-22.63-22.63l8.58-8.57c20.16-20.16 5.88-54.63-22.63-54.63H128a16 16 0 0 1 0-32h12.12c28.51 0 42.79-34.47 22.63-54.63l-8.58-8.57a16 16 0 0 1 22.63-22.63l8.57 8.58c20.16 20.16 54.63 5.88 54.63-22.63V112a16 16 0 0 1 32 0v12.12c0 28.51 34.47 42.79 54.63 22.63l8.57-8.58a16 16 0 0 1 22.63 22.63l-8.58 8.57c-20.16 20.16-5.88 54.63 22.63 54.63H384a16 16 0 0 1 0 32zm-96 0a16 16 0 1 0 16 16a16 16 0 0 0-16-16z" fill="currentColor" /></svg>
                        </i>
                        <span>COVID-19</span>
                    </a>
                </div>
                @foreach (var area in areas)
                {
                    <div class="item">
                        <a href="@Routes.ActivitySearch?area=@area.Id">
                            <i class="material-icons">
                                @area.Icon
                            </i>
                            <span>@area.Name</span>
                        </a>
                    </div>
                }
            </div>
        </div>

    </section>
}

@code {
    private List<AreaViewModel> areas;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (areas != null)
        {
            await JSRuntinme.InvokeVoidAsync("vms.FilterCarousel");
        }
    }
    protected async override Task OnInitializedAsync()
    {
        areas = await AreaService.GetAllAreasAsync();
    }
}
