@using VMS.Application.ViewModels
@using VMS.Application.Interfaces

@inject IJSRuntime JSRuntinme
@inject IAreaService AreaService

@if (areas is not null && areas.Count != 0)
{
    <section class="my-filter">
        <div class="container">
            <h1>Khám phá <span>hoạt động & chương trình tình nguyện</span> phù hợp với bạn</h1>
            <div class="owl-carousel owl-theme filter__carousel">
                @foreach (var area in areas)
                {
                    <div class="item">
                        <i class="material-icons">
                            @area.Icon
                        </i>
                        <span>@area.Name</span>
                    </div>
                }
            </div>
        </div>
    </section>
}

@code {
    private List<AreaViewModel> areas;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (areas != null)
        {
            await JSRuntinme.InvokeVoidAsync("vms.FilterCarousel");
        }
    }
    protected async override Task OnInitializedAsync()
    {
        areas = await AreaService.GetAllAreas();
    }
}
