.my-quoteBaner {
  padding: 50px 0;
  text-align: center; }
  .my-quoteBaner .quoteBaner__item {
    padding-bottom: 50px;
    color: #64D72F; }
    .my-quoteBaner .quoteBaner__item h1 {
      font-size: 96px;
      font-weight: 600; }
    .my-quoteBaner .quoteBaner__item h3 {
      font-size: 36px;
      font-weight: 400;
      color: black; }
  .my-quoteBaner .quoteBaner__item-left {
    padding-right: 150px; }
  .my-quoteBaner .quoteBaner__item-right {
    padding-left: 150px; }
