/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.my-logoBaner .container {
  padding: 0; }

.my-logoBaner .owl-carousel {
  position: relative;
  padding: 0 30px; }
  @media (min-width: 576px) {
    .my-logoBaner .owl-carousel {
      padding: 0 60px; } }
  @media (min-width: 992px) {
    .my-logoBaner .owl-carousel {
      padding: 0 80px; } }

.my-logoBaner .item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  grid-row-gap: 40px; }
  .my-logoBaner .item img {
    margin: auto;
    width: 16px; }
    @media (min-width: 576px) {
      .my-logoBaner .item img {
        width: 24px; } }
    @media (min-width: 992px) {
      .my-logoBaner .item img {
        width: 36px; } }
  @media (min-width: 576px) {
    .my-logoBaner .item {
      grid-row-gap: 30px; } }
  @media (min-width: 992px) {
    .my-logoBaner .item {
      grid-row-gap: 20px; } }

.my-logoBaner ::deep .owl-nav .owl-prev {
  position: absolute;
  top: -10px;
  left: 0; }
  .my-logoBaner ::deep .owl-nav .owl-prev span {
    font-size: 80px;
    color: #18A0FB;
    transition: all 0.3s linear; }
    .my-logoBaner ::deep .owl-nav .owl-prev span:hover {
      color: #0B588C; }
  .my-logoBaner ::deep .owl-nav .owl-prev:hover {
    background: none; }
  @media (min-width: 576px) {
    .my-logoBaner ::deep .owl-nav .owl-prev {
      top: -5px;
      left: 0; } }
  @media (min-width: 992px) {
    .my-logoBaner ::deep .owl-nav .owl-prev {
      top: 5px;
      left: 30px; } }

.my-logoBaner ::deep .owl-nav .owl-next {
  position: absolute;
  top: -10px;
  right: 0; }
  .my-logoBaner ::deep .owl-nav .owl-next span {
    font-size: 80px;
    color: #18A0FB;
    transition: all 0.3s linear; }
    .my-logoBaner ::deep .owl-nav .owl-next span:hover {
      color: #0B588C; }
  .my-logoBaner ::deep .owl-nav .owl-next:hover {
    background: none; }
  @media (min-width: 576px) {
    .my-logoBaner ::deep .owl-nav .owl-next {
      top: -5px;
      right: 0; } }
  @media (min-width: 992px) {
    .my-logoBaner ::deep .owl-nav .owl-next {
      top: 5px;
      right: 30px; } }

.my-logoBaner ::deep .owl-dots {
  display: none; }
