@inject IJSRuntime JSRuntinme;

<section class="my-logoBaner">
    <div class="container">
        <h1>Các đơn vị tham gia</h1>
        <div class="owl-carousel owl-theme logoBaner__carousel">
            <div class="item">
                <div class="content">
                    <img src="img/LogoBaner/KHOA-VIỆN-KTX/dulich.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/KHOA-VIỆN-KTX/ISB.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/KHOA-VIỆN-KTX/KET.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/KHOA-VIỆN-KTX/KHXH.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/KHOA-VIỆN-KTX/BIT.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/KHOA-VIỆN-KTX/KINH TẾ.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/KHOA-VIỆN-KTX/KTX43-45NCT.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/KHOA-VIỆN-KTX/LOGO KHOA QUẢN TRỊ.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/KHOA-VIỆN-KTX/logo ttk.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/KHOA-VIỆN-KTX/Logo-TCC.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/KHOA-VIỆN-KTX/LogoKQM.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/KHOA-VIỆN-KTX/Logo_NH.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/KHOA-VIỆN-KTX/Luat.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/KHOA-VIỆN-KTX/NN.jpeg" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/KHOA-VIỆN-KTX/QLNN.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/KHOA-VIỆN-KTX/TC_LOGO.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP TRƯỜNG/BC.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP TRƯỜNG/BELL.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP TRƯỜNG/CTN_1.png" alt="">
                </div> <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP TRƯỜNG/GDT.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP TRƯỜNG/Logo -  VT.png" alt="">
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP TRƯỜNG/Logo CFE.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP TRƯỜNG/Logo CLB Dynamic UEH.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP TRƯỜNG/Logo UEHG black  ver.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP TRƯỜNG/Logo Đội Cộng tác viên UEH.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP TRƯỜNG/Logo Đội.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP TRƯỜNG/Scoms.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP TRƯỜNG/ĐỘI VNXK.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP KHOA/ET.jpg" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP KHOA/HRS LOGO.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP KHOA/KQM_IBC.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP KHOA/KQM_Logo I.C.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP KHOA/KQM_MARGROUP.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP KHOA/KT_HuReA.jpg" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP KHOA/KT_REC.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP KHOA/KT_YoRE.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP KHOA/LLT.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP KHOA/Logo - APPLE.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP KHOA/Logo - Pháp lý.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP KHOA/Logo - TaxGroup.png" alt="">
                </div> <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP KHOA/Logo A²C.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP KHOA/LOGO SSG.png" alt="">
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP KHOA/Logo-SCUE.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP KHOA/TC_SFR.png" alt="">
                </div>
                <div class="content">
                    <img src="img/LogoBaner/CLB-Đ-N CẤP KHOA/TravelGroup.png" alt="">
                </div>
            </div>
        </div>


    </div>
</section>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntinme.InvokeVoidAsync("vms.LogoBanerCarousel");
    }
}
    