/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.my-logoBaner {
  padding-bottom: 80px; }
  .my-logoBaner h1 {
    text-align: center;
    margin: 30px 0;
    color: #18A0FB;
    font-size: 13px;
    font-weight: 500; }
    @media (min-width: 576px) {
      .my-logoBaner h1 {
        margin: 40px 0;
        font-size: 24px;
        font-weight: 600; } }
    @media (min-width: 992px) {
      .my-logoBaner h1 {
        margin: 50px 0;
        font-size: 30px;
        font-weight: 600; } }
  .my-logoBaner .container {
    padding: 0; }
  .my-logoBaner .owl-carousel {
    position: relative;
    padding: 0 30px;
    z-index: 0; }
    @media (min-width: 576px) {
      .my-logoBaner .owl-carousel {
        padding: 0 60px; } }
    @media (min-width: 992px) {
      .my-logoBaner .owl-carousel {
        padding: 0 80px; } }
  .my-logoBaner .item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    grid-row-gap: 40px; }
    .my-logoBaner .item img {
      margin: auto;
      width: 16px; }
      @media (min-width: 576px) {
        .my-logoBaner .item img {
          width: 24px; } }
      @media (min-width: 992px) {
        .my-logoBaner .item img {
          width: 50px; } }
    @media (min-width: 576px) {
      .my-logoBaner .item {
        grid-row-gap: 30px; } }
    @media (min-width: 992px) {
      .my-logoBaner .item {
        grid-row-gap: 20px; } }
  .my-logoBaner ::deep .owl-nav .owl-prev {
    position: absolute;
    top: 16px;
    left: 0; }
    .my-logoBaner ::deep .owl-nav .owl-prev span {
      font-size: 50px;
      color: #18A0FB;
      transition: all 0.3s linear; }
      @media (min-width: 768px) {
        .my-logoBaner ::deep .owl-nav .owl-prev span {
          font-size: 60px; } }
      @media (min-width: 992px) {
        .my-logoBaner ::deep .owl-nav .owl-prev span {
          font-size: 80px; } }
      .my-logoBaner ::deep .owl-nav .owl-prev span:hover {
        color: #0B588C;
        opacity: 0.73; }
    .my-logoBaner ::deep .owl-nav .owl-prev:hover {
      background: none; }
    @media (min-width: 576px) {
      .my-logoBaner ::deep .owl-nav .owl-prev {
        top: 11px; } }
    @media (min-width: 992px) {
      .my-logoBaner ::deep .owl-nav .owl-prev {
        top: 20px;
        left: 30px; } }
  .my-logoBaner ::deep .owl-nav .owl-next {
    position: absolute;
    top: 16px;
    right: 0; }
    .my-logoBaner ::deep .owl-nav .owl-next span {
      font-size: 50px;
      color: #18A0FB;
      transition: all 0.3s linear; }
      @media (min-width: 768px) {
        .my-logoBaner ::deep .owl-nav .owl-next span {
          font-size: 60px; } }
      @media (min-width: 992px) {
        .my-logoBaner ::deep .owl-nav .owl-next span {
          font-size: 80px; } }
      .my-logoBaner ::deep .owl-nav .owl-next span:hover {
        color: #0B588C;
        opacity: 0.73; }
    .my-logoBaner ::deep .owl-nav .owl-next:hover {
      background: none; }
    @media (min-width: 576px) {
      .my-logoBaner ::deep .owl-nav .owl-next {
        top: 11px; } }
    @media (min-width: 992px) {
      .my-logoBaner ::deep .owl-nav .owl-next {
        top: 20px;
        right: 30px; } }
  .my-logoBaner ::deep .owl-dots {
    display: none; }
