@import '../../Resources/scss/common/_variables.scss';
.my-quoteBaner {
    padding: 50px 0;
    text-align: center;

    .quoteBaner__item {
        padding-bottom: 15px;
        font-weight: 600;
        color: $green;

        @include on('sm') {
            padding-bottom: 30px;
        }

        @include on('lg') {
            padding-bottom: 30px;
        }

        h1 {
            margin-bottom: 30px;

            svg {
                font-size: 36px;

                @include on('sm') {
                    font-size: 54px;
                }

                @include on('lg') {
                    font-size: 64px;
                }

                @include on('xl') {
                    font-size: 80px;
                }

                @include on('xxl') {
                    font-size: 100px;
                }
            }

            span {
                margin: 0 15px;
                font-weight: 500;
                font-size: 36px;

                @include on('sm') {
                    font-size: 42px;
                }

                @include on('md') {
                    font-size: 54px;
                }

                @include on('xl') {
                    font-size: 72px;
                }
            }
        }

        h3 {
            font-size: 11px;
            font-weight: 400;
            color: black;

            @include on('sm') {
                font-size: 16px;
            }

            @include on('lg') {
                font-size: 20px;
            }

            @include on('xl') {
                font-size: 24px;
            }
        }
    }

    .quoteBaner__item-left {
        @include on('sm') {
            padding-right: 50px;
        }

        @include on('xl') {
            padding-right: 100px;
        }

        @include on('xxl') {
            padding-right: 150px;
        }
    }

    .quoteBaner__item-right {
        @include on('sm') {
            padding-left: 50px;
        }

        @include on('xl') {
            padding-left: 100px;
        }

        @include on('xxl') {
            padding-left: 150px;
        }
    }
}

