@inject IJSRuntime JSRuntinme

<section class="my-banner-1">
    <img class="w-100" src="/img/Baner 1.png" alt="">
</section>
<section class="my-quoteBaner">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 quoteBaner__item quoteBaner__item-left">
                <h1>
                    <span class="counter">5,000</span>
                    +
                </h1>
                <h3>Tình nguyện viên</h3>
            </div>
            <div class="col-sm-6 quoteBaner__item quoteBaner__item-right">
                <h1><span class="counter">100</span>+</h1>
                <h3>Tổ chức tình nguyện</h3>
            </div>
            <div class="col-sm-6 quoteBaner__item quoteBaner__item-left">
                <h1><span class="counter">2,000</span>+</h1>
                <h3>Hoạt động, chương trình tình nguyện</h3>
            </div>
            <div class="col-sm-6 quoteBaner__item quoteBaner__item-right">
                <h1><span class="counter">3,000</span>+</h1>
                <h3>Hoành thành nhiệm vụ</h3>
            </div>
        </div>
    </div>
</section>
<section class="my-banner-2">
    <img class="w-100" src="/img/Banner 2.png" alt="">
</section>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntinme.InvokeVoidAsync("vms.IncreaseNumber");
    }
}
