@import '../../Resources/scss/common/_variables.scss';

.my-rank {

    .rank__content {
        width: 100%;

        @include on('lg') {
            width: 75%;
        }

        @include on('xl') {
            width: 70%;
        }

        @include on("xxl") {
            width: 75%;
        }
    }

    .owl-carousel {
        z-index: 0;
    }

    h1 {
        color: $blue;
        font-size: 16px;
        font-weight: 500;
        text-align: center;

        @include on("sm") {
            font-size: 24px;
        }

        @include on("xl") {
            font-size: 30px;
        }

        span {
            color: $green;
        }
    }

    .rank__link {
        margin-top: 10px;
        margin-bottom: 0;
        height: 30px;

        @include on('lg') {
            margin-bottom: 40px;
            height: 50px;
        }
    }

    .rank__link-organization {
        display: inline-block;
        color: $blue;
        font-size: 12px;
        font-weight: 500;
        width: 65px;

        @include on('sm') {
            font-size: 14px;
            width: 75px;
        }

        @include on('lg') {
            font-size: 26px;
            margin-right: 100px;
            width: 130px;
        }

        &:hover {
            color: $blue-hv;
            font-size: 16px;
            cursor: pointer;

            @include on('sm') {
                font-size: 18px;
            }

            @include on('lg') {
                font-size: 30px;
            }
        }
    }

    .rank__link-students {
        color: $green;
        font-size: 12px;
        font-weight: 500;

        @include on('sm') {
            font-size: 16px;
        }

        @include on('lg') {
            font-size: 26px;
        }

        &:hover {
            color: $green-bold;
            font-size: 16px;
            cursor: pointer;

            @include on('sm') {
                font-size: 18px;
            }

            @include on('lg') {
                font-size: 30px;
            }
        }
    }

    .cssShowOrg {
        border-bottom: 1px solid $blue-hv;
        color: $blue-hv !important;
        font-size: 16px !important;
        margin-right: 10px;

        @include on('sm') {
            font-size: 18px !important;
        }

        @include on('lg') {
            font-size: 30px !important;
            margin-right: 100px;
        }
    }

    .cssShowPer {
        border-bottom: 1px solid $green-bold;
        color: $green-bold;
        font-size: 16px !important;

        @include on('sm') {
            font-size: 18px !important;
        }

        @include on('lg') {
            font-size: 30px !important;
        }
    }

    ::deep .owl-stage {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    ::deep .owl-item {
        transform: scaleY(0.9);
        transition: all 1s linear;
        background-color: rgba($color: #C4C4C4, $alpha: 0.2);
        box-shadow: 0px 4px 4px 0 rgba($color: #000000, $alpha: 0.25);
        border-radius: 10px;

        @include on('lg') {
            border-radius: 5px;
        }

        .rank__img-rank {
            width: 9%;
            position: absolute;
            top: 0;
            left: 5%;

            &.w-nmb10 {
                width: 9%;

                @include on('md') {
                    width: 10%;
                }

                @include on('lg') {
                    width: 12%;
                }
            }


            img {
                width: 80%;
                margin: 0 auto;
                transition: all 1s linear;
            }

            span {
                position: absolute;
                top: 0%;
                left: 50%;
                transform: translateX(-50%);
                font-size: 4vw;
                font-weight: 600;
                color: $white;
                transition: all 1s linear;

                @include on('lg') {
                    font-size: 3.2vw;
                }

                @include on("xxl") {
                    font-size: 45px;
                }

                &.position-top {
                    top: 8%;
                }
            }
        }
    }

    ::deep .owl-item.active {
        margin: auto 0;
        transform: scaleY(1);
        background-color: $white;
        box-shadow: 6px 6px 20px 0 rgba($color: #000000, $alpha: 0.25);

        .rank__img-rank {

            img {
                width: 100%;
            }

            span {
                font-size: 4.8vw;

                @include on('lg') {
                    font-size: 45px;
                }

                @include on("xxl") {
                    font-size: 55px;
                }
            }
        }
    }

    ::deep .owl-nav {
        display: none;

        @include on('lg') {
            display: inline-block;
        }

        .owl-prev {
            span {
                position: absolute;
                top: 15%;
                left: -10;
                font-size: 100px;
                color: $blue;
                transition: all 0.3s linear;
                display: block;

                @include on('lg') {
                    top: 25%;
                    left: 0;
                }

                &:hover {
                    color: $blue-bold;
                    opacity: 0.73;
                }
            }
        }

        .owl-next {
            span {
                position: absolute;
                top: 15%;
                right: -10;
                font-size: 100px;
                color: $blue;
                transition: all 0.3s linear;
                display: block;

                @include on('lg') {
                    top: 25%;
                    right: 0;
                }

                &:hover {
                    color: $blue-bold;
                    opacity: 0.73;
                }
            }
        }
    }


    ::deep .owl-dots {
        transform: translateY(-50%);
        display: block;
        margin-top: 5px;

        @include on('lg') {
            margin-top: 0;
        }

        span {
            background-color: #C4C4C4;
            width: 6px;
            height: 6px;
            margin: 5px 4px;

            &:hover {
                background-color: $blue;
            }
        }

        .owl-dot.active > span {
            background-color: $blue;
            width: 20px;
        }
    }

    .item {
        position: relative;
    }

    .rank__img {
        overflow: hidden;


        img {
            border-radius: 50%;
            object-fit: cover;
            width: 70px;
            height: 70px;

            @include on('md') {
                width: 90px;
                height: 90px;
            }

            @include on('lg') {
                width: 140px;
                height: 140px;
            }
        }
    }

    .rank__name {
        margin: 0;
        color: $green;
        font-weight: 600;
        font-size: 12px;

        @include on('md') {
            font-size: 16px;
        }

        @include on('lg') {
            font-size: 24px;
        }
    }

    .rank__review {
        display: inline-block;
        background-color: #FBED6E;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), inset -4px -4px 20px rgba(0, 0, 0, 0.05), inset 4px 4px 20px rgba(0, 0, 0, 0.05);
        padding: 2px 30px;
        border-radius: 5px;
        color: $grey-text;
        font-size: 10px;
        font-weight: 500;

        @include on('md') {
            font-size: 14px;
        }

        @include on('lg') {
            font-size: 20px;
        }
    }

    .rank__act, .rank__class {
        p {
            margin-bottom: 0;
            color: $blue;
            font-size: 16px;
            font-weight: 600;

            @include on('lg') {
                font-size: 34px;
            }
        }

        span {
            color: $green;
            font-size: 12px;
            font-weight: 500;

            @include on('md') {
                font-size: 14px;
            }

            @include on('lg') {
                font-size: 18px;
            }
        }
    }

    .rank__star {
        p {
            margin: 0;
            color: $blue;
            font-size: 16px;
            font-weight: 600;

            @include on('lg') {
                font-size: 34px;
            }
        }

        i {
            color: #EDF131;
            font-size: 10px;
            margin: 0 1px;

            @include on('md') {
                font-size: 16px;
            }

            @include on('lg') {
                font-size: 20px;
                margin: 0 3px;
            }
        }

        .star-noColor {
            color: $grey-icon;
        }
    }

    .rank__more {
        display: inline-block;
        position: absolute;
        bottom: 20px;
        right: 0;
        color: $green;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        z-index: 10;

        &:hover {
            color: $green-bold;
        }
    }
}