/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.my-row {
  width: 100%;
  display: flex;
  height: 168px;
  overflow-x: scroll;
  overflow-y: hidden; }
  @media (min-width: 576px) {
    .my-row {
      height: 300px;
      padding-top: 16px; } }
  @media (min-width: 768px) {
    .my-row {
      height: 423px; } }
  @media (min-width: 992px) {
    .my-row {
      width: 104%;
      height: 450px; } }
  @media (min-width: 1200px) {
    .my-row {
      width: 100%;
      overflow-x: hidden; } }
  @media (min-width: 1400px) {
    .my-row {
      height: 455px; } }

.item-wrapper {
  height: 162.28px;
  position: relative;
  width: 138px; }
  @media (min-width: 576px) {
    .item-wrapper {
      height: 280px;
      width: 200px; } }
  @media (min-width: 768px) {
    .item-wrapper {
      width: 260px; } }
  @media (min-width: 992px) {
    .item-wrapper {
      width: 283px; } }
  @media (min-width: 1200px) {
    .item-wrapper {
      height: 412px;
      width: 282px;
      margin: 0 3px; } }
  @media (min-width: 1400px) {
    .item-wrapper {
      width: 325px;
      margin: 0 4px; } }

.padding-10 {
  padding-right: 8px; }
  @media (min-width: 992px) {
    .padding-10 {
      padding-right: 12px; } }

.margin-10 {
  margin-left: 10px; }
  @media (min-width: 1200px) {
    .margin-10 {
      margin-left: 0px; } }

.margin-bt {
  margin-bottom: 30px; }
  @media (min-width: 576px) {
    .margin-bt {
      margin-bottom: 40px; } }
  @media (min-width: 1200px) {
    .margin-bt {
      margin-bottom: 50px; } }
  @media (min-width: 1400px) {
    .margin-bt {
      margin-bottom: 60px; } }

.act-header {
  display: block;
  font-weight: 500;
  font-size: 1rem;
  line-height: 19.5px;
  margin-bottom: 15px;
  margin-top: 28px;
  text-transform: capitalize;
  text-decoration: none; }
  .act-header__green {
    color: #64D72F; }
  .act-header__blue {
    color: #18A0FB; }
  @media (min-width: 576px) {
    .act-header {
      font-size: 1.5rem; } }
  @media (min-width: 768px) {
    .act-header {
      font-size: 24px; } }
  @media (min-width: 1200px) {
    .act-header {
      font-size: 30px;
      line-height: 59px;
      margin-bottom: 35px;
      margin-top: 50px; } }

.act-item {
  text-decoration: none; }
  .act-item--img {
    border-radius: 10px 10px 0 0;
    width: 100%; }
  .act-item--title {
    background-color: #F3F3F5;
    border-radius: 0 0 10px 10px;
    color: #18A0FB;
    font-size: .5rem;
    font-weight: 400;
    line-height: 9.75px;
    margin: 0;
    width: inherit;
    position: relative;
    padding: 8px; }
    @media (min-width: 576px) {
      .act-item--title {
        font-size: .875rem;
        line-height: 22.26px; } }
    @media (min-width: 768px) {
      .act-item--title {
        font-size: 1.25rem;
        line-height: 29.26px;
        padding: 18px 28px; } }
    @media (min-width: 992px) {
      .act-item--title {
        font-size: 18px; } }
    @media (min-width: 1200px) {
      .act-item--title {
        font-size: 20px; } }
  .act-item:hover > .act-item--title {
    color: #0B588c; }
  .act-item:hover > .act-item--img {
    background-color: #646464;
    opacity: .6; }

.act-more {
  color: #64D72F;
  font-size: .625rem;
  font-weight: 400;
  text-decoration: none;
  position: absolute;
  padding-right: 10px;
  right: 0; }
  @media (min-width: 576px) {
    .act-more {
      font-size: 1rem;
      top: 330px; } }
  @media (min-width: 768px) {
    .act-more {
      font-size: 16px;
      line-height: 29.26px;
      top: 448px; } }
  @media (min-width: 992px) {
    .act-more {
      top: 464px;
      right: -9px; } }
  @media (min-width: 1200px) {
    .act-more {
      font-size: 18px;
      line-height: 29.26px;
      right: 4px;
      top: 536px; } }
  @media (min-width: 1400px) {
    .act-more {
      right: 0;
      top: 574px; } }
  .act-more:hover {
    color: #306C14; }

.limited-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 3; }
  @media (min-width: 576px) {
    .limited-text {
      -webkit-line-clamp: 4; } }
