@using VMS.Application.ViewModels
@using VMS.Application.Interfaces

@inject IJSRuntime JsRuntime;
@inject IUserWithActService UserWithActService

<h3>NHỮNG HOẠT ĐỘNG GẦN NHẤT</h3>

<div class="activity">
    <div>
        @if (activities != null)
        {
            @for (int i = 0; i < 4; i++)
            {
                if (activities[i].Distance <= 5)
                {
                    <h3>@activities[i].Name - @activities[i].Distance km</h3>
                }
            }
        }
        else
        {
            <h4>No Activities</h4>
        }


    </div>
</div>
<h3>NHỮNG HOẠT ĐỘNG NỔI BẬT</h3>
<div class="activity">
    <div>

        @if (featuredActivities != null)
        {
            @for (int i = 0; i < 4; i++)
            {
                <h3>@featuredActivities[i].Name - @featuredActivities[i].MemberQuantity người tham gia</h3>
            }
        }
        else
        {
            <h4>No Activities</h4>
        }


    </div>
</div>


@code {
    private List<UserWithActivityViewModel> activities, featuredActivities;

    protected async override Task OnInitializedAsync()
    {
        activities = await UserWithActService.GetNearestActivitiesAsync();
        featuredActivities = await UserWithActService.GetFeaturedActivitiesAsync();
    }
}
