@import '../../Resources/scss/common/_variables.scss';

.my-row {
    width: 100%;
    display: flex;
    height: 168px;
    overflow-x: scroll;
    overflow-y: hidden;

    @include on('sm') {
        height: 300px;
        padding-top: 16px;
    }

    @include on('md') {
        height: 423px;
    }

    @include on('lg') {
        width: 104%;
        height: 450px;
    }

    @include on('xl') {
        width: 100%;
        overflow-x: hidden;
    }

    @include on('xxl') {
        height: 455px;
    }
}

.item-wrapper {
    height: 162.28px;
    position: relative;
    width: 138px;

    @include on('sm') {
        height: 280px;
        width: 200px;
    }

    @include on ('md') {
        width: 260px;
    }

    @include on('lg') {
        width: 283px;
    }

    @include on('xl') {
        height: 412px;
        width: 282px;
        margin: 0 3px;
    }

    @include on('xxl') {
        width: 325px;
        margin: 0 4px;
    }
}
.padding-10 {
    padding-right: 8px;

    @include on('lg') {
    padding-right: 12px;
    }
}
.margin-10 {
    margin-left: 10px;

    @include on('xl') {
        margin-left: 0px;
    }
}

.margin-bt {
    margin-bottom: 30px;

    @include on('sm') {
        margin-bottom: 40px;
    }

    @include on('xl') {
        margin-bottom: 50px;
    }

    @include on('xxl') {
        margin-bottom: 60px;
    }
}

.act {
    &-header {
        display: block;
        font-weight: 600;
        font-size: 1rem;
        line-height: 19.5px;
        margin-bottom: 15px;
        margin-top: 28px;
        text-transform: capitalize;
        text-decoration: none;

        &__green {
            color: $green;
        }

        &__blue {
            color: $blue;
        }

        @include on('sm') {
            font-size: 1.5rem;
        }

        @include on('md') {
            font-size: 2rem;
        }

        @include on('xl') {
            font-size: 3rem;
            line-height: 59px;
            margin-bottom: 35px;
            margin-top: 50px;
        }
    }

    &-item {
        text-decoration: none;

        &--img {
            border-radius: 10px 10px 0 0;
            width: 100%;
        }

        &--title {
            background-color: $grey;
            border-radius: 0 0 10px 10px;
            color: $blue;
            font-size: .5rem;
            line-height: 9.75px;
            margin: 0;
            width: inherit;
            position: relative;
            padding: 8px 8.61px 7.61px 7px;

            @include on('sm') {
                font-size: .875rem;
                line-height: 22.26px;
            }

            @include on('md') {
                font-size: 1.25rem;
                line-height: 29.26px;
                padding: 17px 10px 26px 29px;
            }
            
            @include on('lg') {
                font-size: 1.375rem;
            }
            
            @include on('xxl') {
                font-size: 1.5625rem;
            }
        }

        &:hover {
            & > .act-item--title {
                color: $blue-hv;
            }

            & > .act-item--img {
                background-color: $grey-hv;
                opacity: .6;
            }
        }
    }

    &-more {
        color: $green;
        font-size: .625rem;
        font-weight: 600;
        position: absolute;
        padding-right: 10px;
        right: 0;
        text-decoration: none;

        @include on('sm') {
            font-size: 1rem;
            top: 330px;
        }

        @include on('md') {
            font-size: 1.25rem;
            line-height: 29.26px;
            top: 448px;
        }

        @include on('lg') {
            top: 464px;
            right: -9px;
        }

        @include on('xl') {
            font-size: 1.5rem;
            line-height: 29.26px;
            right: 4px;
            top: 536px;
        }

        @include on('xxl') {
            right: 0;
            top: 574px;
        }

        &:hover {
            color: $green-bold;
        }
    }
}
.limited-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 3;

    @include on('sm') {
        -webkit-line-clamp: 4;
    }
}

.act-unchecked,
.act-checked {
    position: absolute;
    right: 5px;
    top: 139px;

    @include on('sm') {
        top: 241px;
    }

    @include on('md') {
        top: 341px;
    }

    @include on ('lg') {
        top: 354px;
    }

    @include on('xxl') {
        top: 384px;
    }
}

.material-icons-outlined {
    color: $grey-icon;
}

.material-icons {
    color: $green;
}

.material-icons,
.material-icons-outlined {
    font-size: 1.5rem;

    @include on('sm') {
        font-size: 2.5rem;
    }

    @include on('md') {
        font-size: 3.125rem;
    }

    @include on ('xl') {
        font-size: 3.625rem;
    }
} 


