@using VMS.Application.ViewModels
@using VMS.Application.Interfaces
@using Microsoft.AspNetCore.Identity

@inject IJSRuntime JsRuntime;
@inject IUserWithActService UserWithActService
@inject IIdentityService IdentityService
<h3>NHỮNG HOẠT ĐỘNG MỚI NHẤT GẦN BẠN</h3>

<div class="activity">
    <div>
        @if (newestActivities != null)
        {
            @for (int i = 0; i < newestActivities.Count(); i++)
            {
                    <h3>@newestActivities[i].Name - @newestActivities[i].ActivityId</h3>
            }
        }
        else
        {
            <h4>No Activities</h4>
        }
    </div>
</div>
<h3>NHỮNG HOẠT ĐỘNG NỔI BẬT GẦN BẠN</h3>
<div class="activity">
    <div>

        @if (featureActivities != null)
        {
            @for (int i = 0; i < featureActivities.Count(); i++)
            {
                <h3>@featureActivities[i].Name @featureActivities[i].MemberQuantity</h3>
            }
        }
        else
        {
            <h4>No Activities</h4>
        }


    </div>
</div>


@code {
        private List<UserWithActivityViewModel> newestActivities, featureActivities;
        private IdentityUser user;   
  

    protected async override Task OnInitializedAsync()
    {          
        newestActivities = await UserWithActService.GetNewestActivitiesAsync();
        featureActivities = await UserWithActService.GetFeaturedActivitiesAsync();
        user = IdentityService.GetCurrentUser();
    }

}
