# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.VMS.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Mine\VMS\.idea\.idea.VMS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
