@attribute [Route(Routes.ActivityInfo)]

<div class="container-lg px-0 layout">
    <a href="@Routes.ActivitySearch">Quay lại</a>
    <div class="layout__divider"></div>
    <div class="row layout__body">
        <div class="col-6 flex-grow-1 layout__body__main" style="height: 90px;">
            Main body
        </div>
        <div class="col-6 layout__body__rightrail">
            <Rightrail></Rightrail>
        </div>
    </div>
    <div class="layout__other-activities">
        Other activities
    </div>
</div>

@code {

}