@attribute [Route(Routes.ActivityInfo + "/{activityid}")]

<div class="container-lg px-0 layout">
    <div class="toppage">
        <div class="return">
            <a href="@Routes.ActivitySearch" class="return-text">&#60;&#60; Quay lại</a>
        </div>
        <div><hr class="line-line1"></div>
    </div>
    <div class="row layout__body">
        <div class="col-7 flex-grow-1 layout__body__main">
            <InfoPage ActivityId="@ActivityId"/>
        </div>
        <div class="col-4 layout__body__rightrail">
            <Rightrail ActivityId="@ActivityId"/>
        </div>
    </div>
    <div class="layout__other-activities my-5">
        <OtherActivities ActivityId="@ActivityId"/>
    </div>
</div>

@code {
    [Parameter]
    public string ActivityId { get; set; }
}