<div class="InfoPage">
    <div class="TopPage">
        <span class="Return">
            <a href="@Routes.ActivitySearch" class="Return-text">&#60;&#60; Quay lại</a>
        </span>
        <div><hr class="Line-line1"></div>
    </div>
    <div class="Title">
        <p class="Title__content">
            Tuyển tình nguyện viên tham gia công tác phòng, chống dịch bệnh Covid-19 tại địa phương
        </p>
        <div class="Title__name">
            <span class="material-icons"><span class="earth-icon">public</span></span>
            <p class="organization">Tên Đơn vị tổ chức</p>
        </div>
        <div class="Title__date">
            <p class="PostDate">
                Ngày đăng: 20/07/2021
            </p>
            <button @onclick="animateHeart" class="@typeButton">
                <span class="material-icons"><span class="heart-icon">@typeI</span></span>
            </button>
            <div><hr class="Line-line2"></div>
        </div>
    </div>
    <div class="Activity">
        <div class="Activity__description">
            <p class="content">
                Phường Phú Hữu thành phố Thủ Đức trân trọng kính mời y bác sĩ, cán bộ y tế nghỉ hưu có sức khoẻ,
                tinh thần hăng hái TÌNH NGUYỆN tham gia hỗ trợ chuyên môn trong công tác phòng chống dịch tại địa phương.
            </p>
        </div>
        <div class="Activity__image">
            <img src="./img/ActivityInfoPage/ActivityImage.png" alt="Activity Image">
        </div>
        <div class="Activity__mission">
            <p class="mission">Sứ mệnh:</p>
            <ul class="misson-list">
                <li>Góp phần công sức vào công cuộc chống dịch Covid-19 của cả nước</li>
                <li>Sứ mệnh: Góp phần công sức vào công cuộc chống dịch Covid-19 của cả nước Mang lại việc làm ý nghĩa để cùng nhau thể hiện tinh thần trách nhiệm, tình yêu với Tổ quốc</li>
                <li>Tình nguyện viên được hưởng 120.000 đồng/người/ngày, gồm tiền ăn là 80.000 đồng (theo mức quy định tại Khoản 5 Điều 2 Nghị quyết 16)</li>
            </ul>
        </div>
        <div class="Activity__assignment">
            <p class="assignment">Các nhiệm vụ tình nguyện viên sẽ tham gia:</p>
            <ul class="assignment-list">
                <li>Hỗ trợ nhập liệu dữ liệu trên máy tính</li>
                <li>Hỗ trợ hậu cần (thực phẩm, đồ ăn, thiết bị y tế)</li>
                <li>Hỗ trợ tuyên truyền</li>
                <li>Hỗ trợ công tác tổng hợp</li>
                <li>Tham gia hỗ trợ điều phối</li>
            </ul>
        </div>
    </div>
</div>

@code {
    private string typeButton = "heart-button1";
    private string typeI = "favorite_border";

    protected void animateHeart()
    {
        if (typeButton == "heart-button1")
        {
            typeButton = "heart-button2";
            typeI = "favorite";
        }
        else
        {
            typeButton = "heart-button1";
            typeI = "favorite_border";
        }
    }
}
