/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.infopage-title .title__content {
  width: 77%;
  display: block;
  margin-top: 3%;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #18A0FB; }

.infopage-title .title__name {
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #515151; }
  .infopage-title .title__name .material-icons {
    line-height: normal; }
  .infopage-title .title__name .earth-icon {
    font-size: 1.5rem;
    color: #64D72F; }
  .infopage-title .title__name .organization {
    display: inline;
    color: #515151; }

.infopage-title .title__date .postdate {
  display: inline;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #515151; }

.infopage-title .title__date .heart-button1 {
  margin-left: 47.5%;
  color: #F14747;
  background: transparent;
  border: none; }

.infopage-title .title__date .heart-button1:hover {
  cursor: pointer; }

.infopage-title .title__date .heart-button2 {
  margin-left: 47.5%;
  color: #F14747;
  background: transparent;
  border: none; }

.infopage-title .title__date .heart-button2:hover {
  cursor: pointer; }

.infopage-title .title__date .heart-icon {
  font-size: 2.5rem; }

.infopage-title .title__date .line-line2 {
  width: 79%;
  margin-top: 0px;
  background-color: #B4B4B4;
  border: 2px solid #B4B4B4; }

.infopage-activity {
  width: 77%; }
  .infopage-activity .content {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #515151; }
  .infopage-activity .activity__image {
    width: 100%;
    margin-top: 6%;
    border-radius: 10px; }
  .infopage-activity .activity__mission {
    margin-top: 8%;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #515151; }
    .infopage-activity .activity__mission .mission {
      margin: 0 auto;
      font-weight: 600; }
    .infopage-activity .activity__mission .misson-list {
      margin: 0 auto; }
  .infopage-activity .activity__assignment {
    margin-top: 3.5%;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #515151; }
    .infopage-activity .activity__assignment .assignment {
      margin: 0 auto;
      font-weight: 600; }
    .infopage-activity .activity__assignment .assignment-list {
      margin: 0 auto; }
