@import '../../Resources/scss/common/_variables';

.infopage-title {
    .title__content {
        display: block;
        margin-top: 3%;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: $blue;
        line-height: 25px;
        margin-bottom: 4px;

        @include on('md') {
            font-size: 20px;
        }

        @include on('lg') {
            font-size: 24px;
            line-height: 44px;
            margin-bottom: 1rem;
        }
    }

    .title__name {
        display: flex;
        font-style: normal;
        font-weight: 600;
        color: $grey-text;
        margin-top: 10px;

        @include on('lg') {
            margin-top: 0;
        }

        .material-icons {
            line-height: normal;
        }

        .earth-icon {
            font-size: 1.5rem;
            color: $green;
        }

        .organization {
            font-size: 14px;
            display: inline;
            color: $grey-text;

            @include on('lg') {
                font-size: 16px;
            }
        }
    }

    .title__date {
        border-bottom: 2px solid $border-color-normal;

        .postdate {
            display: inline;
            font-style: normal;
            font-weight: normal;
            line-height: 30px;
            color: $grey-text;
            font-size: 12px;

            @include on('lg') {
                font-size: 16px;
            }
        }

        .heart-button1 {
            color: #F14747;
            background: transparent;
            border: none;
        }

        .heart-button1:hover {
            cursor: pointer;
        }

        .heart-button2 {
            color: #F14747;
            background: transparent;
            border: none;
        }

        .heart-button2:hover {
            cursor: pointer;
        }

        .heart-icon {
            font-size: 2rem;

            @include on('lg') {
                font-size: 2.5rem;
            }
        }
    }
}

.infopage-activity {

    .content {
        font-style: normal;
        font-weight: normal;
        line-height: 30px;
        color: $grey-text;
        font-size: 12px;

        @include on('md') {
            font-size: 14px;
        }

        @include on('lg') {
            font-size: 16px;
        }
    }

    .activity__image {
        width: 100%;
        margin-top: 2%;

        @include on('lg') {
            margin-top: 6%;
        }

        img {
            border-radius: 10px;
            width: 100%;
            max-height: 350px;
            object-fit: cover;
            object-position: center;
        }
    }

    .activity__mission {
        margin-top: 16px;
        font-style: normal;
        font-weight: normal;
        line-height: 30px;
        color: $grey-text;

        @include on('lg') {
            margin-top: 8%;
        }

        .mission {
            margin: 0 auto;
            font-weight: 600;
            font-size: 12px;

            @include on('md') {
                font-size: 14px;
            }

            @include on('lg') {
                font-size: 16px;
            }
        }

        p {
            font-size: 12px;

            @include on('md') {
                font-size: 14px;
            }

            @include on('lg') {
                font-size: 16px;
            }
        }
    }

    .activity__assignment {
        font-style: normal;
        font-weight: normal;
        line-height: 30px;
        color: $grey-text;

        @include on('lg') {
            margin-top: 3.5%;
        }

        .assignment {
            margin: 0 auto;
            font-size: 12px;
            font-weight: 600;

            @include on('md') {
                font-size: 14px;
            }

            @include on('lg') {
                font-size: 16px;
            }
        }

        p {
            font-size: 12px;

            @include on('md') {
                font-size: 14px;
            }

            @include on('lg') {
                font-size: 16px;
            }
        }
    }

    .activity__detail {
        font-style: normal;
        font-weight: normal;
        line-height: 30px;
        color: $grey-text;

        .detail {
            margin: 0 auto;
            font-size: 12px;
            font-weight: 600;

            @include on('md') {
                font-size: 14px;
            }

            @include on('lg') {
                display: none;
            }
        }
    }
}

::deep {
    ul {
        margin: 0 auto;
    }
}
.managementTool__create {
    .btn {
        width: 125px;
        background: $blue;
        padding: 6px 10px;
        border-radius: 5px;

        &:hover {
            background-color: $blue-bold;
        }

        &:focus {
            box-shadow: none;
        }

        &::after {
            color: $white;
        }

        .icon-add {
            font-size: 24px;
            color: $white;
        }

        span {
            font-weight: 600;
            font-size: 16px;
            color: $white;
            margin-left: 5px;
            padding-right: 5px;
        }
    }

    .icon-dots {
        cursor: pointer;

        &::after {
            display: none;
        }
    }

    .dropdown-menu {
        width: 210px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 10px 12px;
        transform: translate(-85px, 52px) !important;

        li, a {
            padding: 0 3px;
            cursor: pointer;
            font-size: 16px;
            color: #515151;
        }

        li:hover {
            background: rgba(24, 160, 251, 0.1);
        }


    }
}