@import '../../Resources/scss/common/_variables';

.infopage-title {
    .title__content {
        display: block;
        margin-top: 3%;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 44px;
        color: $blue;
    }

    .title__name {
        display: flex;
        font-style: normal;
        font-weight: 600;
        color: $grey-text;

        .material-icons {
            line-height: normal;
        }

        .earth-icon {
            font-size: 1.5rem;
            color: $green;
        }

        .organization {
            display: inline;
            color: $grey-text;
        }
    }

    .title__date {

        border-bottom: 2px solid $border-color-normal;

        .postdate {
            display: inline;
            font-style: normal;
            font-weight: normal;
            line-height: 30px;
            color: $grey-text;
        }

        .heart-button1 {
            color: #F14747;
            background: transparent;
            border: none;
        }

        .heart-button1:hover {
            cursor: pointer;
        }

        .heart-button2 {
            margin-left: 47.5%;
            color: #F14747;
            background: transparent;
            border: none;
        }

        .heart-button2:hover {
            cursor: pointer;
        }

        .heart-icon {
            font-size: 2.5rem;
        }
    }
}

.infopage-activity {

    .content {
        font-style: normal;
        font-weight: normal;
        line-height: 30px;
        color: $grey-text;
    }

    .activity__image {
        width: 100%;
        margin-top: 6%;

        img {
            border-radius: 10px;
            width: 100%;
            max-height: 350px;
            object-fit: cover;
            object-position: center;
        }
    }

    .activity__mission {
        margin-top: 8%;
        font-style: normal;
        font-weight: normal;
        line-height: 30px;
        color: $grey-text;

        .mission {
            margin: 0 auto;
            font-weight: 600;
            font-size: 18px;
        }

        .misson-list {
            margin: 0 auto;
        }
    }

    .activity__assignment {
        margin-top: 3.5%;
        font-style: normal;
        font-weight: normal;
        line-height: 30px;
        color: $grey-text;

        .assignment {
            margin: 0 auto;
            font-size: 18px;
            font-weight: 600;
        }

        .assignment-list {
            margin: 0 auto;
        }
    }
}