@if (otherActivities is not null && otherActivities.Count != 0)
{
    <section class="other-act">
        <div class="other-act__title">
            <h3>Hoạt động khác <span>của tổ chức</span></h3>
            <hr>
        </div>
        <div class="owl-carousel owl-theme">
            @foreach (var item in otherActivities)
            {
                <a href="" class="act__container__card position-relative" id="kiemtra">
                    <div class="act__container__card__img">
                        @if (!string.IsNullOrEmpty(item.Banner))
                        {
                            <img src="@item.Banner" alt="photo" />
                        }
                    </div>
                    <div class="act__container__card__desc">
                        <p class="limited-text">@item.Name</p>
                    </div>
                    <div class="act__container__card__icon">
                        @{ 
                            bool isFav = currentUser.Favorites.Any(x => x.ActivityId == item.Id);
                        }
                        <a class="@(isFav ? "heart" : "heart-line")" @onclick="@(() => HandleFavorite(item.Id))" @onclick:preventDefault @onclick:stopPropagation>
                            <span class="material-icons">favorite</span>
                        </a>
                    </div>
                </a>
            }
        </div>
    </section>
}
