@inject IJSRuntime JSRuntinme;

@if (fakeData is not null && fakeData.Count != 0)
{
    <section class="other-act">
        <div class="other-act__title">
            <h3>Hoạt động khác <span>của tổ chức</span></h3>
            <hr>
        </div>
        <div class="owl-carousel owl-theme">
            @foreach (var data in fakeData)
            {
                <a href="" class="act__container__card position-relative" id="kiemtra">
                    <div class="act__container__card__img">
                        <img src="@data.Banner" alt="photo">
                    </div>
                    <div class="act__container__card__desc">
                        <p class="limited-text">@data.Title</p>
                    </div>
                    <div class="act__container__card__icon">
                        <div class="@(data.IsFav ? "heart" : "heart-line")" @onclick="@(() => AnimateHeart(data.Id))" @onclick:stopPropagation="true">
                            <span class="material-icons">favorite</span>
                        </div>
                    </div>
                </a>
            }
        </div>
    </section>
}

@code {

    private class FakeData
    {
        public int Id { get; set; }
        public string Title { get; set; }
        public string Banner { get; set; }
        public bool IsFav { get; set; }
    }

    private List<FakeData> fakeData = new();

    protected override async Task OnInitializedAsync()
    {
        fakeData.AddRange(Enumerable.Range(0,7).Select(x => new FakeData
        {
            Id = x,
            Title = "Tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19",
            Banner = "img/AcitivitiesInfo/ki-niem-tinh-nguyen-vien.jpg",
            IsFav = false
        }));
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntinme.InvokeVoidAsync("vms.OtherAct");
    }

    private void AnimateHeart(int id)
    {
        var item = fakeData.FirstOrDefault(x => x.Id == id);
        if (item is not null)
        {
            item.IsFav = !item.IsFav;
        }

    }
}