@if (otherActivities is not null && otherActivities.Count != 0)
{
    <section class="other-act">
        <div class="other-act__title">
            <h3>Hoạt động khác <span>của tổ chức</span></h3>
            <hr>
        </div>
        <div class="owl-carousel owl-theme">
            @foreach (var item in otherActivities)
            {
                @if (item.ActivityId != int.Parse(ActivityId))
                {
                    <div class="act__container__card" id="kiemtra">
                        <div class="act__container__card__img">
                            @if (!string.IsNullOrEmpty(item.ActivityBanner))
                            {
                                <img src="@item.ActivityBanner" alt="photo" />
                            }
                        </div>
                        <div class="act__container__card__desc">
                            <p>@item.ActivityName</p>
                        </div>
                        @if (currentUser is not null)
                        {
                            <div class="act__container__card__icon">
                                <div class="@(currentUser.Favorites.Any(f => f.ActivityId == item.ActivityId) ? "heart" : "heart-line")" @onclick="() => HandleFavorite(item.ActivityId)">
                                    <span class="material-icons">favorite</span>
                                </div>
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </section>
}
