@import "../../Resources/scss/common/_variables";

//--------------Local variables-------------//
//Default img ratio 
$img-width:400px;
$img-heigh: 247px;
$fav-icon: #fff;
//---------------Title------------------//
.other-act {
    position: relative;

    &__title {
        margin-bottom: 50px;
        font-style: normal;
        font-weight: 500;

        h3 {
            color: $blue;
            font-size: 18px;

            @include on('md') {
                font-size: 24px;
            }
        }

        span {
            color: $green;
        }

        hr {
            margin-top: 10px;
        }
    }
}

//---------------Acitivities container------------------//
.act__container {
    display: grid;
    //Make sure ratio of container, img
    $img-width-local: calc(#{$img-width} * 0.4);
    grid-template-columns: $img-width-local $img-width-local $img-width-local;
    grid-gap: 10px;
    justify-content: center;

    @include on('md') {
        $img-width-local: calc(#{$img-width} * 0.6);
        grid-template-columns: $img-width-local $img-width-local $img-width-local;
        grid-gap: 10px;
    }

    @include on('xl') {
        $img-width-local: calc(#{$img-width} * 0.8);
        grid-template-columns: $img-width-local $img-width-local $img-width-local;
        grid-gap: 15px;
    }

    @include on('xxl') {
        grid-template-columns: $img-width $img-width $img-width;
        grid-gap: 20px;
    }

    &__card {
        display: flex;
        position: relative;
        flex-direction: column;
        transition: all ease 0.2s;
        background-color: #F3F3F5;
        border-radius:10px;
        text-decoration: none;
        &:hover {
            img {
                opacity: 0.6;
            }

            p {
                color: $blue-hv;
            }
        }

        &__img {
            position: relative;
            width: 100%;
            height: calc(#{$img-heigh} * 0.4);

            @include on('md') {
                height: calc(#{$img-heigh} * 0.6);
            }

            @include on('xl') {
                height: calc(#{$img-heigh} * 0.8);
            }

            @include on('xxl') {
                height: $img-heigh;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 10px 10px 0 0;
            }
        }

        &__desc {
            padding: 10px;
            font-style: normal;
            font-weight: 600;
            font-size: 8px;
            color: $blue;
            //limit 3 line
            max-height: calc(8px * 4 + 19px);
            overflow: hidden;

            @include on('md') {
                padding: 14px;
                font-size: 14px;
                max-height: calc(14px * 4 + 19px);
            }

            @include on('xl') {
                padding: 16px;
                font-size: 18px;
                max-height: calc(18px * 4 + 19px);
            }

            @include on('xxl') {
                padding: 19px;
                font-size: 20px;
                max-height: calc(24px * 5 + 19px);
            }
        }

        &__icon {
            position: absolute;
            top: 10px;
            right: 10px;

            span {
                font-size: 16px;
                color: transparent;
                -webkit-text-stroke: 2px $fav-icon;

                @include on('md') {
                    font-size: 18px;
                }

                @include on('xl') {
                    font-size: 36px;
                }

                @include on('xxl') {
                    font-size: 36px;
                }
            }
        }
    }
}
//----------------------Favourite onlick------------------------//
.heart {
    span {
        cursor: pointer;
        color: $fav-icon !important;
    }
}
.heart-line {
    span {
        cursor: pointer;
        color: transparent !important;
    }
}

//----------------------Custom Owl Carousel---------------------//
::deep .owl-carousel {
    z-index: 0;
}

::deep .owl-nav {

    .owl-prev, .owl-next {
        position: absolute;
        top: 25%;
    }

    .owl-prev {
        left: 0;
    }

    .owl-next {
        right: 0;
    }

    .owl-prev, .owl-next:hover {
        background-color: transparent !important;
    }

    span {
        font-size: 50px;
        color: $white;
        transition: all 0.3s linear;
        border-radius: 100% !important;
        background-color: $blue !important;

        &:hover {
            filter: blur(90%);
        }
    }
}

::deep .owl-drag {
    cursor: initial !important;
}

.limited-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 3;

    @include on('sm') {
        -webkit-line-clamp: 4;
    }
}