@import '../../Resources/scss/common/_variables';

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 101;
    background-color: rgba(196, 196, 196, 0.38);

    @include on('md') {
        overflow-y: scroll;
        height: 100%;
    }

    @include on('lg') {
        overflow: hidden;
    }
}

.min-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(196, 196, 196, 0.38);
    display: none;
    z-index: 102;

    .report-success {
        position: absolute;
        padding: 15px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 103;
        background-color: white;
        border-radius: 10px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        width: 210px;

        @include on('sm') {
            font-size: 14px;
            width: 230px;
        }

        @include on('md') {
            font-size: 16px;
            width: 300px;
            padding: 30px 15px;
        }

        @include on('lg') {
            font-size: 18px;
            padding: 30px 50px;
            width: 360px;
        }

        .min-overlay--icon {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 15px;
            height: 15px;
            background-color: $grey-bg;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            @include on('md') {
                top: 10px;
                right: 10px;
                width: 25px;
                height: 25px;
            }

            @include on('lg') {
                width: 33px;
                height: 33px;
            }

            .material-icons {
                font-size: 10px;

                @include on('md') {
                    font-size: 16px;
                }

                @include on('lg') {
                    font-size: 22px;
                }
            }
        }

        .green-text {
            color: $green;
        }

        .blue-text {
            color: $blue;
        }
    }
}

.my-container {
    width: 95%;
    max-height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $grey-text;
    background-color: white;
    border-radius: 10px;
    padding: 16px;
    padding-right: 6px;
    overflow-y: scroll;

    @include on('sm') {
        width: 500px;
    }
      
    @include on ('md') {
        width: 600px;
        padding: 30px 20px 30px 30px;
    }

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $grey-icon;
        border-radius: 20px;
    }


    .icon-close-popup {
        position: absolute;
        top: 15px;
        right: 10px;
        width: 33px;
        height: 33px;
        border-radius: 50%;
        display: flex;
        background-color: $grey-bg;
        cursor: pointer;

        @include on('md') {
            top: 50px;
            right: 20px;
        }

        @include on('lg') {
            top: 20px;
            right: 20px;
        }

        .material-icons {
            margin: auto;
            font-size: 22px;
        }
    }

    .title {
        display: flex;
        font-weight: 500;

        h4 {
            font-size: 16px;
        }
    }

    .check {
        color: red;
        margin-left: 5px;
    }
}
/*----title Báo cáo hoạt động----*/
.title-header {
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .title-header__report {
        color: $green;
    }

    .title-header__activity {
        color: $blue;
    }
}
/*----end title Báo cáo hoạt động----*/

/*-----reporting reason------*/
.dropdown .my-btn {
    width: 100%;
    border: 1px solid $grey-icon;
    height: 36px;

    .my-icon-dropdown {
        float: right;
    }

    &:focus {
        border: 1px solid #86b7fe;
    }
}

.dropdown-menu {
    width: 100%;
    box-shadow: 5px 5px 10px 10px #dee2e687;
    left: 50%;
    transform: translateX(-50%);
    border: none;

    .dropdown-item {
        display: flex;
        align-items: center;
        margin: 5px 0;
        white-space: unset;

        ::deep .dropdown-item--checkbox {
            margin-right: 10px;
        }

        label {
            width: 100%;
        }
    }


    dropdown-item.active, .dropdown-item:active {
        color: $grey-text;
        text-decoration: none;
        background-color: white;
    }
}

.dropdown-toggle::after {
    margin: 15px;
    float: right;
    font-size: 35px;
}
/*-----end reporting reason------*/

/*-----report description-----*/
::deep .form-control {
    border: 1px solid $grey-icon;
    height: 100px;
    overflow-y: scroll;

    @include on('md') {
        height: 75px;
    }

    @include on('lg') {
        height: 100px;
    }

    &::-webkit-scrollbar {
        width: 14px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $grey-icon;
        border-radius: 20px;
        border: 2px solid white;
    }

    &:focus {
        border: 1px solid #86b7fe;
    }
}
/*-----end report description-----*/

/*---attached proof-----*/
.add-file {
    border-radius: 4px;
    border: 1px solid $grey-icon;
    min-height: 36px;
    padding: 0 12px;

    @include on ('sm') {
        padding: 0 15px;
    }

    @include on ('md') {
        padding:0 30px;
    }

    @include on ('lg') {
        padding: 0 50px;
    }

    .my-icon-upload {
        font-size: 30px;
        color: $grey-text;
        margin-right: 15px;
    }

    .block-icon-text {
        display: flex;
        margin-top: 10px;

        .file__text {
            font-size: 22px;
            font-weight: 300px;
        }
    }

    ::deep .inputfile {
        overflow: hidden;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        opacity: 0;
        cursor: pointer;
    }


    &::-webkit-file-upload-button {
        display: none;
    }
}
/*----end attached proof----*/


/*button report*/
.btn-accept {
    display: flex;
    margin-top: 70px;

    .btn {
        margin: auto;
        background-color: $green;
        color: #fff;
        border: none;
        font-weight: 500;
    }

    .btn:hover {
        background-color: $green-bold;
    }
}
/*end button report*/

