@charset "UTF-8";
/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: rgba(196, 196, 196, 0.38); }
  .overlay ::-webkit-scrollbar {
    display: none; }

.min-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(196, 196, 196, 0.38);
  display: none;
  z-index: 3; }
  .min-overlay .report-success {
    position: absolute;
    height: 90%;
    width: 51%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    background-color: white;
    border-radius: 10px;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .min-overlay .report-success .min-overlay--icon {
      position: absolute;
      top: 25px;
      right: 25px;
      width: 33px;
      height: 33px;
      background-color: #E5E5E5;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      .min-overlay .report-success .min-overlay--icon .material-icons {
        font-size: 22px; }
    .min-overlay .report-success .green-text {
      color: #64D72F; }
    .min-overlay .report-success .blue-text {
      color: #18A0FB; }

.container {
  position: absolute;
  width: 720px;
  height: 740px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #515151;
  background-color: white;
  border-radius: 10px;
  padding: 0 60px 60px 60px;
  font-size: 24px;
  overflow-y: scroll; }
  .container .icon-close-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: flex;
    background-color: #E5E5E5;
    cursor: pointer; }
    .container .icon-close-popup .material-icons {
      margin: auto;
      font-size: 22px; }
  .container .title {
    margin-top: 45px;
    display: flex;
    font-weight: 500; }
  .container .check {
    color: red;
    margin-left: 5px; }

/*----title Báo cáo hoạt động----*/
.title-header {
  font-size: 48px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  letter-spacing: 2px; }
  .title-header .title-header__report {
    color: #64D72F;
    margin-right: 14px; }
  .title-header .title-header__activity {
    color: #18A0FB; }

/*----end title Báo cáo hoạt động----*/
/*-----reporting reason------*/
.dropdown .my-btn {
  width: 100%;
  border: 1px solid #515151; }

.dropdown-menu {
  width: 100%;
  box-shadow: 5px 5px 10px 10px #dee2e687;
  font-size: 14px; }
  .dropdown-menu > li {
    margin: 5px 0; }

.dropdown-toggle::after {
  margin: 15px;
  float: right;
  font-size: 35px; }

/*-----end reporting reason------*/
/*-----report description-----*/
.form-control {
  border: 1px solid #515151; }

/*-----end report description-----*/
/*---attached proof-----*/
.add-file {
  border-radius: 4px;
  border: 1px solid #515151;
  height: 55px;
  display: flex; }
  .add-file .add-file__block {
    margin: auto; }
    .add-file .add-file__block .my-icon-upload {
      font-size: 2rem;
      margin-right: 10px;
      color: #515151; }
    .add-file .add-file__block .block-icon-text {
      display: flex;
      margin-top: 5px; }
    .add-file .add-file__block .inputfile {
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1; }
    .add-file .add-file__block .inputfile + label {
      font-size: 24px;
      color: #333;
      display: inline-block;
      cursor: pointer; }

/*----end attached proof----*/
/*button report*/
.btn-accept {
  display: flex;
  margin-top: 70px; }
  .btn-accept .btn {
    margin: auto;
    background-color: #64D72F;
    color: #fff;
    font-size: 24px;
    border: none;
    width: 280px;
    height: 62px;
    font-weight: 600; }
  .btn-accept .btn:hover {
    background-color: #306C14; }

/*end button report*/
