@charset "UTF-8";
/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;
  background-color: rgba(196, 196, 196, 0.38); }

.min-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(196, 196, 196, 0.38);
  display: none;
  z-index: 102; }
  .min-overlay .report-success {
    position: absolute;
    padding: 40px 75px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 103;
    background-color: white;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .min-overlay .report-success .min-overlay--icon {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 33px;
      height: 33px;
      background-color: #E5E5E5;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      .min-overlay .report-success .min-overlay--icon .material-icons {
        font-size: 22px; }
    .min-overlay .report-success .green-text {
      color: #64D72F; }
    .min-overlay .report-success .blue-text {
      color: #18A0FB; }

.my-container {
  width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #515151;
  background-color: white;
  border-radius: 10px;
  padding: 0 60px 30px;
  overflow-y: scroll; }
  .my-container::-webkit-scrollbar {
    width: 10px; }
  .my-container::-webkit-scrollbar-thumb {
    background-color: #B4B4B4;
    border-radius: 20px; }
  .my-container .icon-close-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: flex;
    background-color: #E5E5E5;
    cursor: pointer; }
    .my-container .icon-close-popup .material-icons {
      margin: auto;
      font-size: 22px; }
  .my-container .title {
    display: flex;
    font-weight: 500; }
    .my-container .title h4 {
      font-size: 16px; }
  .my-container .check {
    color: red;
    margin-left: 5px; }

/*----title Báo cáo hoạt động----*/
.title-header {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px; }
  .title-header .title-header__report {
    color: #64D72F; }
  .title-header .title-header__activity {
    color: #18A0FB; }

/*----end title Báo cáo hoạt động----*/
/*-----reporting reason------*/
.dropdown .my-btn {
  width: 100%;
  border: 1px solid #515151;
  height: 36px; }
  .dropdown .my-btn .my-icon-dropdown {
    float: right; }

.dropdown-menu {
  width: 101%;
  box-shadow: 5px 5px 10px 10px #dee2e687;
  left: 50%;
  transform: translateX(-50%);
  border: none; }
  .dropdown-menu .dropdown-item {
    display: flex;
    margin: 5px 0;
    white-space: unset; }
    .dropdown-menu .dropdown-item ::deep .dropdown-item--checkbox {
      margin-right: 10px; }
    .dropdown-menu .dropdown-item label {
      width: 100%; }

.dropdown-toggle::after {
  margin: 15px;
  float: right;
  font-size: 35px; }

/*-----end reporting reason------*/
/*-----report description-----*/
::deep .form-control {
  border: 1px solid;
  height: 100px;
  overflow-y: scroll; }
  ::deep .form-control::-webkit-scrollbar {
    width: 14px; }
  ::deep .form-control::-webkit-scrollbar-thumb {
    background-color: #B4B4B4;
    border-radius: 20px;
    border: 2px solid white; }

/*-----end report description-----*/
/*---attached proof-----*/
.add-file {
  border-radius: 4px;
  border: 1px solid #515151;
  display: flex;
  height: 36px; }
  .add-file .my-icon-upload {
    font-size: 2rem;
    margin-right: 10px;
    color: #515151; }
  .add-file .block-icon-text {
    display: flex; }
    .add-file .block-icon-text .file__text {
      font-weight: 300; }
  .add-file ::deep .inputfile {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    display: none; }
  .add-file .inputfile + label {
    color: #333;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    height: 100%; }

/*----end attached proof----*/
/*button report*/
.btn-accept {
  display: flex;
  margin-top: 70px; }
  .btn-accept .btn {
    margin: auto;
    background-color: #64D72F;
    color: #fff;
    border: none;
    font-weight: 500; }
  .btn-accept .btn:hover {
    background-color: #306C14; }

/*end button report*/
