@charset "UTF-8";
/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;
  background-color: rgba(196, 196, 196, 0.38); }
  @media (min-width: 768px) {
    .overlay {
      overflow-y: scroll;
      height: 100%; } }
  @media (min-width: 992px) {
    .overlay {
      overflow: hidden; } }

.min-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(196, 196, 196, 0.38);
  display: none;
  z-index: 102; }
  .min-overlay .report-success {
    position: absolute;
    padding: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 103;
    background-color: white;
    border-radius: 10px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 210px; }
    @media (min-width: 576px) {
      .min-overlay .report-success {
        font-size: 14px;
        width: 230px; } }
    @media (min-width: 768px) {
      .min-overlay .report-success {
        font-size: 16px;
        width: 300px;
        padding: 30px 15px; } }
    @media (min-width: 992px) {
      .min-overlay .report-success {
        font-size: 18px;
        padding: 30px 50px;
        width: 360px; } }
    .min-overlay .report-success .min-overlay--icon {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 15px;
      height: 15px;
      background-color: #E5E5E5;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      @media (min-width: 768px) {
        .min-overlay .report-success .min-overlay--icon {
          top: 10px;
          right: 10px;
          width: 25px;
          height: 25px; } }
      @media (min-width: 992px) {
        .min-overlay .report-success .min-overlay--icon {
          width: 33px;
          height: 33px; } }
      .min-overlay .report-success .min-overlay--icon .material-icons {
        font-size: 10px; }
        @media (min-width: 768px) {
          .min-overlay .report-success .min-overlay--icon .material-icons {
            font-size: 16px; } }
        @media (min-width: 992px) {
          .min-overlay .report-success .min-overlay--icon .material-icons {
            font-size: 22px; } }
    .min-overlay .report-success .green-text {
      color: #64D72F; }
    .min-overlay .report-success .blue-text {
      color: #18A0FB; }

.my-container {
  width: 95%;
  max-height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #515151;
  background-color: white;
  border-radius: 10px;
  padding: 16px;
  padding-right: 6px;
  overflow-y: scroll; }
  @media (min-width: 576px) {
    .my-container {
      width: 500px; } }
  @media (min-width: 768px) {
    .my-container {
      width: 600px;
      padding: 30px 20px 30px 30px; } }
  .my-container::-webkit-scrollbar {
    width: 10px; }
  .my-container::-webkit-scrollbar-thumb {
    background-color: #B4B4B4;
    border-radius: 20px; }
  .my-container .icon-close-popup {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: flex;
    background-color: #E5E5E5;
    cursor: pointer; }
    @media (min-width: 768px) {
      .my-container .icon-close-popup {
        top: 50px;
        right: 20px; } }
    @media (min-width: 992px) {
      .my-container .icon-close-popup {
        top: 20px;
        right: 20px; } }
    .my-container .icon-close-popup .material-icons {
      margin: auto;
      font-size: 22px; }
  .my-container .title {
    display: flex;
    font-weight: 500; }
    .my-container .title h4 {
      font-size: 16px; }
  .my-container .check {
    color: red;
    margin-left: 5px; }

/*----title Báo cáo hoạt động----*/
.title-header {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-bottom: 20px; }
  .title-header .title-header__report {
    color: #64D72F; }
  .title-header .title-header__activity {
    color: #18A0FB; }

/*----end title Báo cáo hoạt động----*/
/*-----reporting reason------*/
.dropdown .my-btn {
  width: 100%;
  border: 1px solid #B4B4B4;
  height: 36px; }
  .dropdown .my-btn .my-icon-dropdown {
    float: right; }
  .dropdown .my-btn:focus {
    border: 1px solid #86b7fe; }

.dropdown-menu {
  width: 100%;
  box-shadow: 5px 5px 10px 10px #dee2e687;
  left: 50%;
  transform: translateX(-50%);
  border: none; }
  .dropdown-menu .dropdown-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
    white-space: unset; }
    .dropdown-menu .dropdown-item ::deep .dropdown-item--checkbox {
      margin-right: 10px; }
    .dropdown-menu .dropdown-item label {
      width: 100%; }
  .dropdown-menu dropdown-item.active, .dropdown-menu .dropdown-item:active {
    color: #515151;
    text-decoration: none;
    background-color: white; }

.dropdown-toggle::after {
  margin: 15px;
  float: right;
  font-size: 35px; }

/*-----end reporting reason------*/
/*-----report description-----*/
::deep .form-control {
  border: 1px solid #B4B4B4;
  height: 100px;
  overflow-y: scroll; }
  @media (min-width: 768px) {
    ::deep .form-control {
      height: 75px; } }
  @media (min-width: 992px) {
    ::deep .form-control {
      height: 100px; } }
  ::deep .form-control::-webkit-scrollbar {
    width: 14px; }
  ::deep .form-control::-webkit-scrollbar-thumb {
    background-color: #B4B4B4;
    border-radius: 20px;
    border: 2px solid white; }
  ::deep .form-control:focus {
    border: 1px solid #86b7fe; }

/*-----end report description-----*/
/*---attached proof-----*/
.add-file {
  border-radius: 4px;
  border: 1px solid #B4B4B4;
  min-height: 36px;
  padding: 0 12px; }
  @media (min-width: 576px) {
    .add-file {
      padding: 0 15px; } }
  @media (min-width: 768px) {
    .add-file {
      padding: 0 30px; } }
  @media (min-width: 992px) {
    .add-file {
      padding: 0 50px; } }
  .add-file .my-icon-upload {
    font-size: 30px;
    color: #515151;
    margin-right: 15px; }
  .add-file .block-icon-text {
    display: flex;
    margin-top: 10px; }
    .add-file .block-icon-text .file__text {
      font-size: 22px;
      font-weight: 300px; }
  .add-file ::deep .inputfile {
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    opacity: 0;
    cursor: pointer; }
  .add-file::-webkit-file-upload-button {
    display: none; }

/*----end attached proof----*/
/*button report*/
.btn-accept {
  display: flex;
  margin-top: 70px; }
  .btn-accept .btn {
    margin: auto;
    background-color: #64D72F;
    color: #fff;
    border: none;
    font-weight: 500; }
  .btn-accept .btn:hover {
    background-color: #306C14; }

/*end button report*/
