@import '../../Resources/scss/common/_variables';
body {
}

.container {
    padding: 0;

    @include on('lg') {
        margin-top: 50px;
    }
}

.inside-the-border {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    position: relative;

    @include on('lg') {
        float: right;
    }
}
/* ------icons------- */
.icons {
    position: absolute;
    right: 0;

    @include on('lg') {
        position: relative;
        display: flex;
        justify-content: end;
        margin: 25px 25px 0 0;
    }

    .icon {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #18A0FB;
        display: flex;
        margin: 7px;

        .my-icons {
            margin: auto;
            color: white;
            font-size: 25px;
        }

        &:hover .icon-tooltip {
            display: block;
        }
    }

    .icon-tooltip {
        display: none;
        min-width: max-content;
        position: absolute;
        top: -60%;
        left: 50%;
        transform: translateX(-50%);
        padding: 2px 10px;
        font-size: 12px;
        background-color: #fff;
        border-radius: 10px;
        border-bottom-right-radius: 3px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25%);
    }
}
/* -----end icons----- */

/* -----about-infor----- */
.about-infor {
    padding: 0 15px;


    @include on('lg') {
        padding: 0 30px;
        margin-top: -70px;
    }

    .titles {
        padding: 10px 0;
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        color: $blue;
        text-indent: 0;

        @include on('md') {
            font-size: 14px;
        }

        @include on('lg') {
            font-size: 20px;
            line-height: 30px;
        }
    }

    p {
        font-size: 12px;
        text-indent: 10px;

        @include on('md') {
            font-size: 14px;
            text-indent: 12px;
        }

        @include on('lg') {
            font-size: 16px;
            text-indent: 15px;
        }
    }
}

/* ------end about-infor------- */

/* -----button sign up------ */
.btn-sign-up--cover {
    display: flex;
    justify-content: center;
    align-items: center;

    @mixin btn {
        height: 40px;
        padding: 0 20px;
        border-radius: 4px;
        margin: 0 auto 30px;
        border: none;
        display: flex;
    }

    .btn-sign-up {
        @include btn;
        margin: 0 auto 20px;

        @include on('lg') {
            margin: 0 auto 30px;
        }

        background-color: #64D72F;
    }

    .btn-already-sign-up {
        @include btn;
        background-color: $grey-close-bg;
    }

    .btn-sign-up__text {
        margin: auto;
        font-size: 14px;
        font-weight: 700;
        color: #fff;

        @include on('md') {
            font-size: 16px;
        }

        @include on('lg') {
            font-size: 20px;
        }
    }

    .btn-sign-up:hover {
        background-color: $green-bold;
        cursor: pointer;
    }
}
/* ------end button sign up------- */

/*------report------ */
.report {
    float: right;
    color: #F14747;
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    background-color: unset;
    border: none;

    @include on('md') {
        font-size: 14px;
    }

    @include on('lg') {
        font-size: 18px;
    }
}
/* ------end report-----*/
.recognize {
    i {
        color: $green;
        margin-right: 12px;
    }

    span {
        font-weight: 500;
        font-size: 16px;
        color: #515151;
    }
}