/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.container {
  margin-top: 50px;
  padding: 0; }

.inside-the-border {
  float: right;
  width: 113%;
  border-radius: 10px;
  border: 1px solid #C4C4C4; }

/* ------icons------- */
.icons {
  display: flex;
  float: right;
  margin: 25px 25px 0 0;
  position: relative; }
  .icons .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #18A0FB;
    display: flex;
    margin: 7px; }
    .icons .icon .my-icons {
      margin: auto;
      color: white;
      font-size: 25px; }
    .icons .icon:hover .icon-tooltip {
      display: block; }
  .icons .icon-tooltip {
    display: none;
    position: absolute;
    top: -37px;
    left: -8px; }
    .icons .icon-tooltip--text {
      padding: 5px 10px;
      font-size: 12px;
      background-color: #E1FFD2; }
    .icons .icon-tooltip--triangle {
      margin-left: auto;
      margin-right: auto;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 15px solid #E1FFD2; }

/* -----end icons----- */
/* -----about-infor----- */
.about-infor {
  margin: 120px 30px 0 30px; }
  .about-infor .titles {
    padding: 10px 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    color: #18A0FB; }
  .about-infor .contents {
    color: #515151;
    margin-left: 25px;
    font-size: 24px;
    font-weight: 300; }

/* ------end about-infor------- */
/* -----button sign up------ */
.btn-sign-up--cover {
  display: flex;
  justify-content: center;
  align-items: center; }
  .btn-sign-up--cover .btn-sign-up {
    width: 200px;
    height: 60px;
    border-radius: 4px;
    background-color: #64D72F;
    margin: 50px 0;
    border: none;
    display: flex; }
    .btn-sign-up--cover .btn-sign-up .btn-sign-up__text {
      margin: auto;
      font-size: 24px;
      font-weight: 700;
      color: #fff; }
  .btn-sign-up--cover .btn-sign-up:hover {
    background-color: #306C14;
    cursor: pointer; }

/* ------end button sign up------- */
/*------report------ */
.report {
  float: right;
  color: #F14747;
  font-size: 24px;
  font-weight: 400;
  margin-top: 10px;
  background-color: unset;
  border: none; }

/* ------end report-----*/
