@page "/"
@inject IJSRuntime JSRuntinme
<h1>Hello, world!</h1>

Welcome to Blazored Modal.

<button class="btn btn-primary">View Movies</button>

@code {
    [CascadingParameter] public IModalService Modal { get; set; }
}
