@import '../../Resources/scss/common/_variables';
body {
}

.container {
    margin-top:50px;
    padding:0;
}

.inside-the-border {
    float:right;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #C4C4C4
}
/* ------icons------- */
.icons {
    display: flex;
    justify-content: end;
    margin: 25px 25px 0 0;

    .icon {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #18A0FB;
        display: flex;
        margin: 7px;

        .my-icons {
            margin: auto;
            color: white;
            font-size: 25px;
        }

        &:hover .icon-tooltip {
            display: block;
        }
    }

    .icon-tooltip {
        display: none;
        min-width: max-content;
        position: absolute;
        top: -60%;
        left: 50%;
        transform: translateX(-50%);
        padding: 2px 10px;
        font-size: 12px;
        background-color: #fff;
        border-radius: 10px;
        border-bottom-right-radius: 3px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25%);
    }
}
/* -----end icons----- */

/* -----about-infor----- */
.about-infor {
    padding-left: 30px;

    .titles {
        padding:10px 0;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        color:$blue;
    }

    .contents {
        color:$grey-text;
        margin-left: 25px;
        font-weight: 300;
    }
}

/* ------end about-infor------- */

/* -----button sign up------ */
.btn-sign-up--cover {
    display:flex;
    justify-content:center;
    align-items:center;

    .btn-sign-up {
        height: 60px;
        padding: 0 20px;
        border-radius: 4px;
        background-color: #64D72F;
        margin: 0 auto 30px;
        border: none;
        display: flex;

        .btn-sign-up__text {
            margin: auto;
            font-size: 24px;
            font-weight: 700;
            color: #fff;
        }
    }

    .btn-sign-up:hover {
        background-color: $green-bold;
        cursor: pointer;
    }
}
/* ------end button sign up------- */

/*------report------ */
.report {
    float: right;
    color: #F14747;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    background-color:unset;
    border:none;    
}
/* ------end report-----*/
