/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.edit-content_name {
  font-weight: 500;
  font-size: 16px;
  color: #515151; }
  .edit-content_name span {
    color: #F14747; }
  .edit-content_name .form-input {
    margin-top: 0.8%;
    padding: 0.2% 1%;
    width: 100%;
    border: 1px solid #515151;
    border-radius: 5px; }

.edit-content_content {
  margin-top: 2%;
  font-weight: 500;
  font-size: 16px;
  color: #515151; }
  .edit-content_content span {
    color: #F14747; }
  .edit-content_content .form-input {
    padding: 0.2% 1%;
    margin-top: 0.8%;
    width: 100%;
    border: 1px solid #515151;
    border-radius: 5px; }

.edit-content_image .title {
  margin-top: 2%;
  font-weight: 500;
  font-size: 16px;
  color: #515151; }

.edit-content_image .image {
  margin-top: 0.8%;
  display: flex;
  justify-content: space-between; }
  .edit-content_image .image img {
    width: 257px;
    height: 257px;
    border-radius: 5px;
    object-fit: cover; }
