@attribute [Route(Routes.EditRequestPage)]
@attribute [Authorize(Roles = "Organization")]

<div class="container-lg px-0 layout">
    <Title />
    <EditContent />
    <div class="activity-info"><VMS.Pages.ActivityInfoPage.Index /></div>
</div>

@code {

}
