/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.activity-info {
  margin-top: 5%;
  margin-bottom: 8%; }
  .activity-info ::deep .toppage {
    display: none; }
  .activity-info ::deep .title__date .material-icons {
    display: none; }
  .activity-info ::deep .inside-the-border .btn-sign-up--cover {
    display: none; }
  .activity-info ::deep .report {
    display: none; }
