@import '../Resources/scss/common/_variables';

.header {
    margin-top: .5rem;

    &-container {
        @include on('xl') {
            position: relative;
        }

        .my-login-btn,
        .my-register-btn,
        .my-home-btn {
            background-color: $blue;
            width: 100px;
            height: 27px;
            font-size: 12px;
            border-radius: 5px;
            margin-right: 10px;

            &:hover {
                background-color: $blue-bold;
            }

            @include on('md') {
                width: 150px;
                height: 40px;
                font-size: 16px;
                margin-right: 15px;
            }

            @include on('lg') {
                width: 175px;
                height: 45px;
                font-size: 20px;
                margin-right: 0;
            }
        }

        .my-login-btn, .my-register-btn {
            @include on('lg') {
                margin-right: 20px;
            }
        }
    }

    &__brand {
        margin-left: 10px;

        @include on('md') {
            margin-left: 20px;
        }

        @include on('xl') {
            margin: 0;
        }

        &-item {
            height: 50%;
            display: block;
        }

        .brand__ueh {
            height: 16px;
            margin-bottom: 4px;

            @include on('lg') {
                height: 20px;
            }
        }

        .brand__govirlunteer {
            height: 18px;

            @include on('lg') {
                height: 20px;
            }
        }
    }
}
