@import '../Resources/scss/common/_variables';

.cursor-pointer {
    cursor: pointer;
}

.blue-text {
    color: $blue;
}

::deep {
    a {
        color: $border-color-bold;
        font-weight: 500;

        &.active {
            color: $blue;

            ~ span {
                color: $blue;
            }
        }
    }
}

.sidebar {
    box-shadow: 2px 0 5px -2px #c1b9b9;
}

.my-navbar__brand {
    margin: 10px 0;
}

.profile-container {
    margin: 30px 0 30px 0;

    .rounded-avatar {
        border-radius: 50%;
        height: 50px;
        margin: 0 10px 0 0;
        width: 50px;
    }

    .profile-info {
        font-weight: 500;
    }
}

.menu-container {
    .sub-menu-container {
        margin: 0 0 0 35px;

        ::deep .menu-item__name {
            font-size: 14px;
        }

        .sub-menu-item {
            ::deep a {
                margin: 5px 0 0;
            }
        }
    }
}

.menu-item {
    margin: 0 0 20px 0;

    &__icon {
        font-size: 1.5rem;
        margin: 0 10px 0 0;
    }
}

.divider {
    border-bottom: 1px solid #B4B4B4;
}

form {
    width: 100%;

    button {
        border: none;
        background: none;
    }
}
