@import '../Resources/scss/common/_variables';

@mixin profile-icon-mobile {
    color: $blue;
    font-size: 32px;
}

.admin-divider {
    border-top: 1px solid $border-color-normal;
}

.notification-link {
    margin: 10px 0;

    &__icon {
        @include profile-icon-mobile;
    }

    &:hover &__icon {
        color: $blue-bold;
    }
}

::deep {
    .my-search-box {
        margin: 10px 0;
    }
}

.my-navbar__brand {
    margin: 10px 0;
}