<div class="container-fluid header">
    <div class="d-flex flex-column my-navbar__brand">
        <a href="@Routes.HomePage" class="my-navbar__brand-item" Match="NavLinkMatch.All">
            <img src="img/UEH.png" alt="UEH logo" class="brand__ueh" />
        </a>
        <a href="@Routes.ActivitySearch" class="my-navbar__brand-item">
            <img src="img/GoVirlunteer.png" alt="Go Volunteer logo" class="brand__govirlunteer" />
        </a>
    </div>
    <div class="divider">

    </div>
</div>