/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.footer {
  position: relative;
  margin-top: 150px; }

/*-------mobile------------*/
.btn-back-top {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #64D72F;
  display: flex;
  text-decoration: none;
  position: absolute;
  right: 20px;
  top: -12px; }

.btn-back-top-icon {
  margin: auto; }

/*-------tablet min-width: 576px------------*/
@media (min-width: 576px) {
  .btn-back-top {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 40px;
    top: -25px; }
  .btn-back-top-icon {
    font-size: 40px; } }

/*-------tablet min-width: 992px------------*/
@media (min-width: 992px) {
  .btn-back-top {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 50px;
    top: -30px; }
  .btn-back-top-icon {
    font-size: 50px; } }

/*-------pc min width:1200px------------*/
@media (min-width: 1200px) {
  .btn-back-top {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 40px;
    top: -70px; }
  .btn-back-top-icon {
    font-size: 65px; } }

/*-------pc min width:1400px------------*/
@media (min-width: 1400px) {
  .btn-back-top {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #ffffff;
    background-color: #64D72F;
    display: flex;
    text-decoration: none;
    position: absolute;
    right: 100px;
    top: -100px; }
  .btn-back-top-icon {
    font-size: 75px; } }

/*-------mobile------------*/
.container {
  padding: 0 20px;
  display: flex;
  justify-content: space-between; }
  @media (min-width: 1200px) {
    .container {
      padding: 0; } }

/*-------mobile------------*/
.left {
  display: flex;
  flex-direction: column; }

.left__logo-govirlunteer {
  width: 94px;
  height: 13px;
  order: 1; }

.left__logo-ueh-hsv {
  display: flex;
  align-items: center;
  order: 3; }

.logo-ueh {
  width: 100px;
  height: 18px; }

.logo-hsv {
  margin-left: 10px;
  width: 25px;
  height: 25px; }

.left__text {
  margin: 10px 0 10px;
  font-size: 8px;
  color: #515151;
  font-weight: 400;
  order: 2;
  width: 180px; }

/*-------tablet min-width: 576px-----*/
@media (min-width: 576px) {
  .left .left__logo-govirlunteer {
    width: 312px;
    height: 43px;
    order: 1; }
  .left .left__logo-ueh-hsv {
    display: flex;
    align-items: center;
    margin-top: 15px;
    order: 2; }
  .left .logo-ueh {
    width: 205px;
    height: 35px; }
  .left .logo-hsv {
    margin-left: 15px;
    width: 51px;
    height: 51px; }
  .left .left__text {
    margin-top: 15px;
    font-size: 12px;
    color: #515151;
    font-weight: 400;
    order: 3;
    width: unset; }
  /*-------tablet min-width: 992px-----*/ }

@media (min-width: 576px) and (min-width: 992px) {
  .left__logo-govirlunteer {
    width: 312px;
    height: 43px;
    order: 1; }
  .left__logo-ueh-hsv {
    display: flex;
    align-items: center;
    margin-top: 15px;
    order: 2; }
  .logo-ueh {
    width: 205px;
    height: 33px; }
  .logo-hsv {
    margin-left: 15px;
    width: 51px;
    height: 51px; }
  .left__text {
    margin-top: 15px;
    font-size: 12px;
    color: #515151;
    font-weight: 400;
    order: 3;
    width: unset; } }

@media (min-width: 576px) {
  /*-------pc min width:1200px------------*/ }

@media (min-width: 576px) and (min-width: 1200px) {
  .left__logo-govirlunteer {
    width: 388px;
    height: 49px;
    order: 1; }
  .left__logo-ueh-hsv {
    display: flex;
    align-items: center;
    margin-top: 30px;
    order: 2; }
  .logo-ueh {
    width: 268px;
    height: 44px; }
  .logo-hsv {
    margin-left: 25px;
    width: 65px;
    height: 65px; }
  .left__text {
    margin-top: 30px;
    font-size: 15px;
    color: #515151;
    font-weight: 400;
    order: 3;
    width: unset; } }

@media (min-width: 576px) {
  /*-------pc min width:1400px------------*/ }

@media (min-width: 576px) and (min-width: 1400px) {
  .left__logo-govirlunteer {
    width: 530px;
    height: 73px;
    order: 1; }
  .left__logo-ueh-hsv {
    display: flex;
    align-items: center;
    margin-top: 30px;
    order: 2; }
  .logo-ueh {
    width: 310px;
    height: 55px; }
  .logo-hsv {
    margin-left: 25px;
    width: 78px;
    height: 78px; }
  .left__text {
    margin-top: 30px;
    font-size: 15px;
    color: #515151;
    font-weight: 400;
    order: 3;
    width: unset; } }

@media (min-width: 576px) {
  /*-------mobile,tablet------------*/
  .contact {
    display: none; }
  /*-------tablet min-width:992px------------*/ }

@media (min-width: 576px) and (min-width: 992px) {
  .contact {
    display: block; }
  .contact-items {
    color: #515151;
    font-size: 12px;
    line-height: 21px;
    font-weight: 400; }
  .contact__name {
    font-weight: 700; }
  .contact__contribute {
    text-decoration: none; } }

@media (min-width: 576px) {
  /*-------pc min width 1200px------------*/ }

@media (min-width: 576px) and (min-width: 1200px) {
  .contact {
    display: block; }
  .contact-items {
    color: #515151;
    font-size: 15px;
    line-height: 36px;
    font-weight: 400; }
  .contact__name {
    font-weight: 700; }
  .contact__contribute {
    text-decoration: none; } }

@media (min-width: 576px) {
  /*-------pc min width 1400px------------*/ }

@media (min-width: 576px) and (min-width: 1400px) {
  .contact {
    display: block; }
  .contact-items {
    color: #515151;
    font-size: 18px;
    line-height: 36px;
    font-weight: 400; }
  .contact__name {
    font-weight: 700; }
  .contact__contribute {
    text-decoration: none; } }

@media (min-width: 576px) {
  /*-------mobile------------*/
  .right {
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-right: 15px;
    padding-top: 8px; }
  .right a {
    color: #515151;
    margin-bottom: 5px;
    font-size: 7px;
    font-weight: 400;
    text-decoration: none; }
  /*-------tablet min-width: 576px------*/ }

@media (min-width: 576px) and (min-width: 576px) {
  .right {
    display: flex;
    flex-direction: column;
    text-align: end;
    padding-top: unset;
    padding-top: 10px; }
  .right a {
    color: #515151;
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    line-height: 20px; } }

@media (min-width: 576px) {
  /*-------tablet min-width: 992px------*/ }

@media (min-width: 576px) and (min-width: 992px) {
  .right {
    display: flex;
    flex-direction: column;
    text-align: end;
    padding-top: unset;
    padding-top: unset; }
  .right a {
    color: #515151;
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    line-height: 20px; } }

@media (min-width: 576px) {
  /*-------pc min width 1200px------------*/ }

@media (min-width: 576px) and (min-width: 1200px) {
  .right {
    display: flex;
    flex-direction: column;
    text-align: end;
    padding-top: unset; }
  .right a {
    color: #515151;
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    line-height: 40px; } }

@media (min-width: 576px) {
  /*-------pc min width 1400px------------*/ }

@media (min-width: 576px) and (min-width: 1400px) {
  .right {
    display: flex;
    flex-direction: column;
    text-align: end;
    padding-top: unset; }
  .right a {
    color: #515151;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    line-height: 40px; } }
