
<footer class="footer">

    <a href="#" class="btn-back-top">
        <span class="material-icons-outlined btn-back-top-icon">
            expand_less
        </span>
    </a>
    <div class="container">
        <div class="left">
            <img src="img/GoVirlunteer (1).png" alt="" class="left__logo-govirlunteer">
            <div class="left__logo-ueh-hsv">
                <img src="img/UEH.png" alt="" class="logo-ueh">
                <img src="img/hsv.png" alt="" class="logo-hsv">
            </div>
            <h6 class="left__text">
                Trang web được phát triển bởi Hội sinh viên Trường Đại học Kinh tế TP. HCM
            </h6>
        </div>
        <div class="contact">
            <h6 class="contact-items contact__name">Văn phòng Hội sinh viên Trường Đại học Kinh tế TP.HCM</h6>
            <h6 class="contact-items contact__address">279 Nguyễn Tri Phương, Quận 10, TP. Hồ Chí Minh</h6>
            <h6 class="contact-items contact__phone">Điện thoại:</h6>
            <h6 class="contact-items contact__email">Email:</h6>
            <a href="" class="contact-items contact__contribute">Liên hệ/Đóng góp</a>
        </div>
        <div class="right">
            <a href="" class="right__items">Chính sách bảo mật</a>
            <a href="" class="right__items">Nội quy sử dụng</a>
            <a href="" class="right__items">Trung tâm trợ giúp</a>
            <a href="" class="right__items">Hướng dẫn sử dụng</a>
        </div>
    </div>
</footer>