@inject IJSRuntime JsRuntime

@if (IsFloat)
{
    <div class="faux-divider"></div>
}

<footer class="footer">

    <a id="backToTop" @onclick="ScrollToTop" class="@(IsFloat ? "btn-float-back-top" : "btn-back-top")">
        <span class="material-icons-outlined btn-back-top-icon @(IsFloat ? "grey-icon" : "")">
            expand_less
        </span>
    </a>
    <div class="container my-container">
        <div class="row my-row">
            <div class="footer__logo col-7 col-xl-4">
                <img src="img/GoVirlunteer (1).png" alt="Logo GoVirlunteer" class="footer__logo-govirlunteer">
                <div class="footer__logo-ueh-hsv">
                    <img src="img/UEH-logo-2.png" alt="Logo UEH" class="footer__logo-ueh">
                    <img src="img/hsv.png" alt="Logo Hội sinh viên" class="footer__logo-hsv">
                </div>
                <p>
                    <a href="https://docs.google.com/document/d/1Vxw-AaBldxJ7fdoETebtKYIHueTin7JyUX2kY5UhMY4" target="_blank" style="color:#515151">Trang web được phát triển bởi Hội sinh viên UEH</a> 
                </p>
            </div>
            <div class="footer__contact d-none d-xl-block col-6">
                <div class="d-flex justify-content-center">
                    <div>
                        <h6 class="contact__name">Văn phòng Đoàn Hội sinh viên UEH</h6>
                        <h6>B2 - 603 279 Nguyễn Tri Phương, <br/> Phường 5, Quận 10, TP. Hồ Chí Minh</h6>
                        <h6>Điện thoại: (84) 28 36063090</h6>
                        <h6><a href="mailto:hoisinhvien@ueh.edu.vn" class="contact-items contact__contribute">Liên hệ/Đóng góp</a></h6>
                    </div>
                </div>
            </div>
            <div class="footer__right col-5 col-xl-2">
                <span>
                    <h6><a target="_blank" href="https://docs.google.com/document/d/1j3zHV_3PEO-sPFDKtNXG-cpUKY6gnUf0ovXLQi9infg">Chính sách bảo mật</a></h6>
                    <h6><a target="_blank" href="https://docs.google.com/document/d/1U8lQ7argOmXHWPueYnMUm1BmpCQTNkXvMYCS4YcsicQ">Nội quy sử dụng</a></h6>
                    <h6><a target="_blank" href="https://docs.google.com/document/d/1f2iJRLQhu8nkb1HN00D3ehKC-nYz_sr6HbENIqn1Rgk">Trung tâm trợ giúp</a></h6>
                    <h6><a target="_blank" href="https://docs.google.com/document/d/1KTaVtq309BP5bkD7wiLldLNgzzzOGWbuXvSKOdCyWrw">Hướng dẫn sử dụng</a></h6>
                </span>
            </div>

        </div>

        <div class="footer__contact col-10 d-xl-none m-auto text-center">
            <div>
                <h6 class="contact__name">Văn phòng Đoàn Hội sinh viên UEH</h6>
                <h6>B2 - 603 279 Nguyễn Tri Phương, <br /> Phường 5, Quận 10, TP. Hồ Chí Minh</h6>
                <h6>Điện thoại: (84) 28 36063090</h6>
                <h6><a href="mailto:hoisinhvien@ueh.edu.vn" class="contact-items contact__contribute">Liên hệ/Đóng góp</a></h6>
            </div>
        </div>
    </div>
</footer>

@code
{
    [Inject]
    private IJSRuntime JS { get; set; }

    [Parameter]
    public bool IsFloat { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await base.OnInitializedAsync();
            await JS.InvokeVoidAsync("vms.FloatBackToTop", IsFloat);
        }
    }

    private async Task ScrollToTop()
    {
        await Interop.ScrollToTop(JsRuntime);
    }
}