@inject IJSRuntime JsRuntime

<footer class="footer">

    <a @onclick="ScrollToTop" class="btn-back-top">
        <span class="material-icons-outlined btn-back-top-icon">
            expand_less
        </span>
    </a>
    <div class="container">
        <div class="row ">
            <div class="footer__logo col-6 col-xl-4">
                <img src="img/GoVirlunteer (1).png" alt="" class="footer__logo-govirlunteer">
                <div class="footer__logo-ueh-hsv">
                    <img src="img/UEH.png" alt="" class="footer__logo-ueh">
                    <img src="img/hsv.png" alt="" class="footer__logo-hsv">
                </div>
                <p>
                    Trang web được phát triển bởi Hội sinh viên <br /> Trường Đại học Kinh tế TP. HCM
                </p>
            </div>
            <div class="footer__contact d-none d-xl-block col-6">
                <div class="d-flex justify-content-center">
                    <div>
                        <h6 class="contact__name">Văn phòng Hội sinh viên Trường Đại học Kinh tế TP.HCM</h6>
                        <h6>279 Nguyễn Tri Phương, Quận 10, TP. Hồ Chí Minh</h6>
                        <h6>Điện thoại: 19001001</h6>
                        <h6>Email: hihi@gmail.com</h6>
                        <h6><a href="" class="contact-items contact__contribute">Liên hệ/Đóng góp</a></h6>
                    </div>
                </div>

            </div>
            <div class="footer__right col-6 col-xl-2">
                <h6><a href="">Chính sách bảo mật</a></h6>
                <h6><a href="">Nội quy sử dụng</a></h6>
                <h6><a href="">Trung tâm trợ giúp</a></h6>
                <h6><a href="">Hướng dẫn sử dụng</a></h6>
            </div>
            <div class="footer__contact col-6 d-xl-none m-auto text-center">
                    <div>
                        <h6 class="contact__name">Văn phòng Hội sinh viên Trường Đại học Kinh tế TP.HCM</h6>
                        <h6>279 Nguyễn Tri Phương, Quận 10, TP. Hồ Chí Minh</h6>
                        <h6>Điện thoại: 84.28.38295.99 - Email: info@ueh.edu.vn</h6>
                        <h6><a href="" class="contact-items contact__contribute">Liên hệ/Đóng góp</a></h6>
                    </div>               
            </div>

        </div>
        
    </div>
</footer>

@code
{
    private async Task ScrollToTop()
    {
        await Interop.ScrollToTop(JsRuntime);
    }
}