/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.footer {
  position: relative;
  padding-top: 20px;
  border-top: 1px solid #b4b4b4; }
  .footer .my-container {
    padding: 0 40px; }
    @media (min-width: 992px) {
      .footer .my-container {
        padding: 0 20px; } }
  .footer .my-row {
    border-bottom: 1px solid #b4b4b4; }
    @media (min-width: 992px) {
      .footer .my-row {
        border-bottom: none; } }

.btn-back-top {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0px;
  transform: translate(-100%, -50%); }
  .btn-back-top .btn-back-top-icon {
    text-align: center;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    font-size: 16px;
    color: #FFFFFF;
    background: #64D72F; }
    .btn-back-top .btn-back-top-icon:hover {
      background: #306C14; }
    @media (min-width: 576px) {
      .btn-back-top .btn-back-top-icon {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 24px; } }
    @media (min-width: 992px) {
      .btn-back-top .btn-back-top-icon {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 44px; } }
    @media (min-width: 1200px) {
      .btn-back-top .btn-back-top-icon {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 64px; } }

.footer__logo {
  padding: 0; }
  .footer__logo .footer__logo-govirlunteer {
    width: 100%; }
  .footer__logo .footer__logo-ueh-hsv {
    display: flex;
    align-items: center;
    margin: 10px 0; }
    @media (min-width: 992px) {
      .footer__logo .footer__logo-ueh-hsv {
        margin: 15px 0; } }
    @media (min-width: 1200px) {
      .footer__logo .footer__logo-ueh-hsv {
        margin: 20px 0; } }
  .footer__logo .footer__logo-ueh {
    width: 26%; }
  .footer__logo .footer__logo-hsv {
    width: 16%;
    margin-left: 10px; }
    @media (min-width: 576px) {
      .footer__logo .footer__logo-hsv {
        margin-left: 20px; } }
  .footer__logo p {
    font-size: 8px;
    font-weight: 400; }
    @media (min-width: 576px) {
      .footer__logo p {
        font-size: 12px; } }
    @media (min-width: 1200px) {
      .footer__logo p {
        font-size: 15px; } }

.footer__contact {
  padding: 0;
  padding-top: 10px; }
  .footer__contact h6 {
    margin-bottom: 10px;
    font-size: 8px;
    font-weight: 300;
    color: #515151; }
    @media (min-width: 576px) {
      .footer__contact h6 {
        font-size: 12px; } }
    @media (min-width: 1200px) {
      .footer__contact h6 {
        font-size: 16px; } }
    @media (min-width: 1400px) {
      .footer__contact h6 {
        font-size: 18px; } }
    .footer__contact h6 a {
      color: #515151;
      text-decoration: none; }
  .footer__contact .contact__name {
    font-weight: 700; }
  .footer__contact .contact__contribute {
    font-weight: 400; }

.footer__right {
  padding: 0;
  padding-top: 10px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: end; }
  .footer__right h6 {
    margin-bottom: 8px;
    font-size: 7px;
    font-weight: 400;
    color: #515151; }
    @media (min-width: 576px) {
      .footer__right h6 {
        margin-bottom: 25px;
        font-size: 12px; } }
    @media (min-width: 1200px) {
      .footer__right h6 {
        margin-bottom: 33px;
        font-size: 16px; } }
    @media (min-width: 1400px) {
      .footer__right h6 {
        margin-bottom: 35px;
        font-size: 18px; } }
    .footer__right h6 a {
      color: #515151;
      text-decoration: none; }
