@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <li class="user-section nav-item dflex flex-column align-items-center position-relative">
            <div class="d-block text-decoration-none user-section__link">
                <div class="user-avatar-wrapper position-relative" @onclick="OnAvatarClick">
                    <img src="img/hsv.png" alt="user avatar" class="user-avatar">
                </div>
                <span class="user-label mt-2 fw-bold">Trang cá nhân</span>
                <div class="dropdown">
                    <span class="material-icons-outlined user-section__dropdown-icon" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        arrow_drop_down
                    </span>
                    <ul class="dropdown-menu user-section__list list-unstyled bg-white">
                        @if (context.User.IsInRole(Role.User.ToString()))
                        {
                            <li class="user-info">
                                <a href="@Routes.User" class="d-flex px-3 pt-4 text-decoration-none align-items-center">
                                    <img src="./img/HamburgerMenu/AvaUser.png" class="user-img" />
                                    <div class="d-flex flex-column text-start ps-3">
                                        <h3 class="py-1 mb-0">Tran Minh Nhat Anh</h3>
                                        <h4 class="py-1 mb-0">Thanh vien Govirlunteer</h4>
                                    </div>
                                </a>
                            </li>
                            <hr class="mx-3 mt-4 mb-3" />
                            <li class="edit mb-3">
                                <a href="" class="d-flex justify-content-center align-items-center text-decoration-none mx-3">
                                    <h4 class="py-2 mb-0">Chinh sua thong tin ca nhan</h4>
                                </a>
                            </li>
                            <li class="pass py-2 mx-3">
                                <a href="" class="text-decoration-none mx-3">
                                    Doi mat khau
                                </a>
                            </li>
                            <li class="history py-2 mx-3">
                                <a href="" class="text-decoration-none mx-3">
                                    Lich su hoat dong
                                </a>
                            </li>
                            <hr class="mx-3 mt-3" />
                        }
                        else
                        {
                            <li class="user-info">
                                <a href="@Routes.User" class="d-flex px-3 pt-4 text-decoration-none align-items-center">
                                    <img src="./img/HamburgerMenu/AvaUser.png" class="user-img" />
                                    <div class="d-flex flex-column text-start ps-3">
                                        <h3 class="py-1 mb-0">Tran Minh Nhat Anh</h3>
                                        <h4 class="py-1 mb-0">Thanh vien Govirlunteer</h4>
                                    </div>
                                </a>
                            </li>
                            <hr class="mx-3 mb-3 mt-4" />
                            <li class="edit py-3">
                                <a href="" class="d-flex justify-content-center align-items-center text-decoration-none mx-3">
                                    <h4 class="py-2 mb-0">Chinh sua thong tin to chuc</h4>
                                </a>
                            </li>
                            <li class="manage d-flex justify-content-between py-3">
                                <a href="" class="text-decoration-none mx-3">
                                    Quan ly hoat dong
                                </a>
                                <span class="material-icons">
                                    navigate_next
                                </span>
                            </li>
                            <hr class="mx-3 mt-3" />
                        }
                        <li class="user-logout d-flex justify-content-center">
                            <form method="post" action="@Routes.LogOut" class="d-flex justify-content-center align-items-center">
                                <button type="submit" class="d-flex text-decoration-none justify-content-center align-items-center">
                                    <span class="material-icons">
                                        exit_to_app
                                    </span>
                                    <h4 class="mb-0 ps-3">Dang xuat</h4>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item ">
            <a class="btn login-btn d-flex align-items-center justify-content-center fw-bold p-0 position-relative text-white" href="@Routes.LogIn">
                Đăng nhập
            </a>
        </li>
    </NotAuthorized>
</AuthorizeView>

@code
{
    private void OnAvatarClick()
    {
        NavigationManager.NavigateTo(Routes.User);
    }
}