<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item me-0 me-sm-2">
            <a href="/dang-nhap" class="btn btn-sm btn-primary d-flex align-items-center">
                Đăng nhập <span class="material-icons ms-1">login</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/dang-ky" class="btn btn-sm btn-danger">
                Đăng ký
            </a>
        </li>
    </NotAuthorized>
</AuthorizeView>
