/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.my-notifications {
  color: #18A0FB;
  font-size: 36px;
  top: -52px; }
  @media (min-width: 992px) {
    .my-notifications {
      top: -61px; } }

.my-person {
  color: #18A0FB;
  font-size: 36px; }
  .my-person:after {
    content: attr(data-icon); }
  @media (min-width: 992px) {
    .my-person {
      font-size: 70px; } }

.login-btn {
  background-color: #18A0FB;
  width: 150px;
  height: 45px; }
  .login-btn:hover {
    background-color: #0B588C; }
  @media (min-width: 1200px) {
    .login-btn {
      width: 200px;
      height: 60px;
      font-size: 22px;
      line-height: 60px; } }
  @media (min-width: 1400px) {
    .login-btn {
      font-size: 24px; } }

.user-section {
  cursor: pointer; }
  .user-section__link .user-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin: 0 auto; }
    @media (min-width: 1200px) {
      .user-section__link .user-avatar {
        width: 65px;
        height: 65px; } }
  .user-section__link .user-label {
    display: block;
    color: #64D72F; }
    @media (min-width: 1200px) {
      .user-section__link .user-label {
        display: none; } }
  .user-section__link:hover .user-label {
    color: #306C14; }
  .user-section .dropdown {
    position: unset;
    height: 0;
    width: 0; }
  .user-section .dropdown-menu {
    top: 100%;
    left: auto;
    right: -50%;
    border: 0;
    padding: 0;
    transition: all 0.2s ease-in; }
  .user-section__dropdown-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -62%;
    color: #18A0FB;
    font-size: 40px;
    cursor: pointer;
    display: none; }
    @media (min-width: 1200px) {
      .user-section__dropdown-icon {
        display: block; } }
  .user-section__list {
    margin: 10px auto 0;
    width: 420px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25); }
  @media (min-width: 1200px) {
    .user-section {
      margin-left: 60px; } }
  .user-section hr {
    height: 1px;
    background-color: #707070; }

.user-info .user-img {
  width: 70px;
  height: 70px; }

.user-info h3 {
  color: #515151;
  font-size: 18px;
  font-weight: 500; }

.user-info h4 {
  color: #515151;
  font-size: 16px;
  font-weight: 400; }

.edit a {
  border-radius: 50px;
  border: solid 1px #18A0FB; }
  .edit a h4 {
    font-size: 16px;
    font-weight: 300;
    color: #0B588c; }

.pass a,
.history a,
.manage a {
  color: #515151;
  font-size: 16px;
  font-weight: 300; }

.pass span,
.history span,
.manage span {
  font-size: 24px;
  color: #515151; }

.user-logout {
  margin-top: 20px; }
  .user-logout span {
    font-size: 24px;
    color: #515151; }
  .user-logout h4 {
    font-size: 16px;
    font-weight: 300;
    color: #515151; }
