<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item">
            <a href="/dang-nhap" class="text-decoration-none">
                <span class="material-icons my-notifications">notifications_none</span>
            </a>
        </li>
        <li class="nav-item text-decoration-none">
            <a href="/dang-ky">
                <span class="material-icons-outlined my-person">account_circle</span>
            </a>
        </li>
    </NotAuthorized>
</AuthorizeView>
