@import '../Resources/scss/common/_variables';

@mixin profile-icon-mobile {
    color: $blue;
    font-size: 36px;
}

.my-notifications {
    @include profile-icon-mobile;
    top: -52px;

    @include on('lg') {
        top: -61px;
    }
}

.my-person {
    @include profile-icon-mobile;

    &:after {
        content: attr(data-icon);
    }

    @include on('lg') {
        font-size: 70px;
    }
}

.login-btn {
    background-color: $blue;
    width: 100px;
    height: 27px;
    font-size: 12px;

    @include on ('sm') {
        width: 137px;
        height: 40px;
        font-size: 18px;
    }

    &:hover {
        background-color: $blue-bold;
    }

    @include on('xl') {
        width: 147px;
        height: 45px;
        font-size: 20px;
        line-height: 60px;
    }
}

.user-section {
    cursor: pointer;

    &__link {
        .user-avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: block;
            margin: 0 auto;
            object-fit: cover;

            @include on('xl') {
                width: 50px;
                height: 50px;
            }
        }

        .user-label {
            display: block;
            color: $green;


            @include on('xl') {
                display: none;
            }
        }

        &:hover .user-label {
            color: $green-bold;
        }
    }

    .dropdown {
        position: unset;
        height: 0;
        width: 0;
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: auto;
        right: -50%;
        border: 0;
        padding: 0;
        transition: all 0.2s ease-in;
    }


    &__dropdown-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -55%;
        font-size: 30px;
        cursor: pointer;

        @include on('xl') {
            display: block;
        }
    }

    &__list {
        margin: 10px auto 0;
        width: 260px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);

        @include on('xl') {
            width: 420px;
        }
    }

    @include on('xl') {
        margin-left: 60px;
    }

    hr {
        height: 1px;
        background-color: $border-color-bold;
    }

    .my-20 {
        margin: 20px 0;
    }

    .my-14 {
        margin: 14px 0;
    }
}

.user-info {

    .user-img {
        width: 58px;
        height: 58px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;

        @include on('xl') {
            width: 70px;
            height: 70px;
        }
    }

    h3 {
        color: $grey-text;
        font-size: 16px;
        font-weight: 500;
    }

    h4 {
        color: $grey-text;
        font-size: 14px;
        font-weight: 400;
    }

    .user-info-link {
        flex-direction: column;

        @include on('xl') {
            flex-direction: row;
        }

        .user-info-heading {
            text-align: center;

            @include on('xl') {
                text-align: left;
            }
        }
    }
}

.edit {

    a {
        border-radius: 50px;
        border: solid 1px $blue;

        h4 {
            font-size: 14px;
            font-weight: 300;
            color: $blue;
        }
    }

    &:hover {

        & > a {
            border-color: $blue-hv;

            h4 {
                color: $blue-hv;
            }
        }
    }
}

.pass,
.history,
.manage {
    a {
        color: $grey-text;
        font-size: 16px;
        font-weight: 300;
    }

    &:hover {
        background-color: rgba(24,160,251,.1);
    }
}

form {
    width: 100%;

    &:hover {
        background-color: rgba(24,160,251,.1);
    }

    button {
        border: none;
        background: none;

        span {
            font-size: 24px;
            color: $grey-text;
        }

        h4 {
            font-size: 16px;
            font-weight: 300;
            color: $grey-text;
        }
    }
}
