@inherits LayoutComponentBase
@implements IDisposable

@inject NavigationManager NavigationManager

<NavMenu IsFixedTop="@isFixedTop" />

<main class="flex-grow-1 @(isFixedTop ? "main-layout" : "")">
    @Body
</main>

<Footer />

@code
{
    private bool isFixedTop;

    protected override async Task OnInitializedAsync()
    {
        isFixedTop = !NavigationManager.Uri.Contains(Routes.ActivitySearch);

        NavigationManager.LocationChanged += LocationChanged;
    }

    void LocationChanged(object sender, LocationChangedEventArgs args)
    {
        isFixedTop = !args.Location.Contains(Routes.ActivitySearch);
        StateHasChanged();
    }

    void IDisposable.Dispose()
    {
        NavigationManager.LocationChanged -= LocationChanged;
    }
}