@import '../Resources/scss/common/NavBar.scss';
.my-navbar {
    min-height: 85px;
    z-index: 1;

    @include on('lg') {
        min-height: 110px;
    }

    .my-navbar-container {
        @include on('xl') {
            position: relative;
        }
    }

    &__brand {
        margin-left: 10px;

        @include on('md') {
            margin-left: 20px;
        }

        @include on('xl') {
            margin: 0;
        }

        &-item {
            height: 50%;
            display: block;

                .brand__ueh {
                    height: 40px;
                    margin-bottom: -7px;
                    margin-left: -16px;

                    @include on('lg') {
                        height: 3.4rem;
                    }
                }

                .brand__govirlunteer {
                    height: 16px;

                    @include on('lg') {
                        height: 28px;
                    }
                }
        }

    }

    &__hamburger-wrapper {
        position: relative;

        @include on('xl') {
            position: unset;
        }

        &__btn {
            border: none;
            background: transparent;
            width: 50px;
            height: 50px;
            margin-right: 10px;

            /*@include on('md') {
                margin-right: 20px;
            }

            @include on('lg') {
                margin-right: -30px;
            }*/

            @include on('xl') {
                display: none;
            }

            .hamburger-icon {
                color: $blue;
                font-size: 44px;

                @include on('xl') {
                    display: none;
                }
            }
        }
    }


    .my-collapse {
        display: flex;
        flex-direction: column-reverse;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        position: absolute;
        border-radius: 5px;
        top: 90%;
        right: 15px;
        min-width: 220px;
        width: 40vw;

        @include on('xl') {
            position: unset;
            box-shadow: none;
            border-radius: 0;
            flex-direction: unset;
        }

        &__list {
            width: 100%;

            @include on('xl') {
                margin-left: 6%;
            }

            @include on('xxl') {
                margin-left: 18%;
            }

            &__link {
                font-size: 16px;
                color: $blue;
                display: block;

                @include on('xl') {
                    font-size: 24px;

                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        height: 5px;
                        top: 84px;
                        background-color: $blue-bold;
                        display: none;
                    }

                    &:hover.my-collapse__list__link::before {
                        display: block;
                    }
                }

                &:hover {
                    color: $blue-bold;
                }
            }
        }

        .my-collapse__login-area {
            flex-direction: column;

            @include on('xl') {
                flex-direction: row;
            }
        }
    }

    .collapse:not(.show) {
        display: none;
    }
}

