<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom shadow-sm">
    <div class="container">
        <div class="nav-menu d-flex align-items-center">
            <NavLink href="" class="navbar-brand" Match="NavLinkMatch.All">
                <img src="img/GOVOLUNTEER.png" alt="" height="45" />
            </NavLink>
            <ul class="navbar-nav justify-content-center">
                <li class="nav-item">
                    <NavLink href="/hoat-dong" class="nav-link">Hoạt động</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="/ngay-le" class="nav-link">Ngay le</NavLink>
                </li>
            </ul>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarToggler" class="collapse navbar-collapse mt-2 mt-sm-0 flex-sm-grow-0">
            <ul class="navbar-nav me-auto d-flex flex-row justify-content-around">
                <LoginDisplay />
            </ul>
        </div>
    </div>
</nav>