<AuthorizeView>
    <Authorized>
            <button class="text-decoration-none position-absolute notification-link" data-bs-toggle="collapse" data-bs-target="#notifycation-board" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="material-icons-outlined notification-link__icon">
                    notifications
                </span>
            </button>
            
    </Authorized>
    <NotAuthorized>
        
        
    </NotAuthorized>
</AuthorizeView>