/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.notification-link {
  top: 50%;
  transform: translateY(-50%);
  left: -40px; }
  @media (min-width: 992px) {
    .notification-link {
      left: -45px; } }
  @media (min-width: 1200px) {
    .notification-link {
      left: unset;
      right: 80px; } }
  .notification-link__icon {
    color: #18A0FB;
    font-size: 32px; }
  .notification-link:hover .notification-link__icon {
    color: #0B588C; }
