<AuthorizeView>
    <Authorized>
            <a class="text-decoration-none position-absolute notification-link d-none">
                <span class="material-icons-outlined notification-link__icon">
                    notifications
                </span>
            </a>
    </Authorized>
    <NotAuthorized>
        
        
    </NotAuthorized>
</AuthorizeView>