/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.ranking h1 {
  font-size: 18px;
  font-weight: 600;
  color: #18A0FB; }
  .ranking h1 span {
    color: #64D72F; }
  @media (min-width: 576px) {
    .ranking h1 {
      font-size: 20px; } }
  @media (min-width: 992px) {
    .ranking h1 {
      font-size: 24px;
      font-weight: 500; } }
  @media (min-width: 1200px) {
    .ranking h1 {
      font-size: 30px; } }

.ranking hr {
  display: none;
  height: 1px;
  background-color: #707070;
  opacity: 50%; }
  @media (min-width: 1200px) {
    .ranking hr {
      width: 40%;
      display: block; } }

.ranking-list {
  height: 500px;
  background-color: #F3F3F5;
  border-radius: 10px; }
  @media (min-width: 992px) {
    .ranking-list {
      height: 600px; } }

.ranking-img {
  padding-top: 20px; }
  @media (min-width: 992px) {
    .ranking-img {
      padding-top: 26px; } }

.ranking-name {
  height: 75px; }
  .ranking-name h3 {
    font-size: 20px;
    color: #18A0FB;
    padding-top: 10px; }
    @media (min-width: 992px) {
      .ranking-name h3 {
        font-size: 30px; } }
  @media (min-width: 992px) {
    .ranking-name {
      height: 90px; } }

.ranking-img__container {
  width: 70px;
  height: 70px;
  overflow: hidden; }
  .ranking-img__container img {
    object-fit: cover;
    object-position: center; }

.ranking-item h1 {
  font-size: 40px;
  color: #18A0FB;
  font-weight: 500; }
  @media (min-width: 992px) {
    .ranking-item h1 {
      font-size: 45px; } }

.ranking-item__img {
  border: solid 2px #64D72F;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  overflow: hidden; }
  @media (min-width: 992px) {
    .ranking-item__img {
      width: 56px;
      height: 56px; } }
  .ranking-item__img img {
    object-fit: cover;
    object-position: center; }

.ranking-item h2 {
  font-size: 14px;
  color: #515151;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 1; }
  @media (min-width: 992px) {
    .ranking-item h2 {
      font-size: 16px;
      -webkit-line-clamp: 2; } }

.ranking-item p {
  font-size: 18px;
  color: #707070;
  font-weight: 700; }
  @media (min-width: 992px) {
    .ranking-item p {
      font-size: 14px; } }

.ranking-item i {
  color: #EDF131;
  font-size: 14px; }
  @media (min-width: 992px) {
    .ranking-item i {
      font-size: 16px; } }

.ranking-item .star-noColor {
  color: #B4B4B4; }

.ranking ::deep .owl-nav {
  display: none; }
  @media (min-width: 992px) {
    .ranking ::deep .owl-nav {
      display: inline-block; } }
  .ranking ::deep .owl-nav .owl-prev span {
    position: absolute;
    top: 15%;
    left: -10px;
    font-size: 100px;
    color: #18A0FB;
    transition: all 0.3s linear;
    display: block; }
    @media (min-width: 992px) {
      .ranking ::deep .owl-nav .owl-prev span {
        top: 32%;
        left: 0; } }
    .ranking ::deep .owl-nav .owl-prev span:hover {
      color: #0B588C;
      opacity: 0.73; }
  .ranking ::deep .owl-nav .owl-next span {
    position: absolute;
    top: 15%;
    right: -10px;
    font-size: 100px;
    color: #18A0FB;
    transition: all 0.3s linear;
    display: block; }
    @media (min-width: 992px) {
      .ranking ::deep .owl-nav .owl-next span {
        top: 32%;
        right: 0; } }
    .ranking ::deep .owl-nav .owl-next span:hover {
      color: #0B588C;
      opacity: 0.73; }

.ranking ::deep .owl-dots {
  transform: translateY(-50%);
  margin-top: 20px; }
  @media (min-width: 992px) {
    .ranking ::deep .owl-dots {
      margin-top: 0; } }
  .ranking ::deep .owl-dots span {
    background-color: #C4C4C4;
    width: 6px;
    height: 6px;
    margin: 5px 4px; }
    .ranking ::deep .owl-dots span:hover {
      background-color: #18A0FB; }
  .ranking ::deep .owl-dots .owl-dot.active > span {
    background-color: #18A0FB;
    width: 20px; }

.ranking .bg-grey {
  background-color: #f3f3f3; }

.ranking .filter-item {
  width: 50%; }
  @media (min-width: 576px) {
    .ranking .filter-item {
      width: 30%; } }
  @media (min-width: 768px) {
    .ranking .filter-item {
      display: none; } }
  .ranking .filter-item .material-icons-outlined {
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    cursor: pointer; }

.ranking .filter-item__btn {
  border-radius: 10px;
  height: 33px;
  width: 100%;
  border: 1px solid #707070;
  cursor: pointer;
  color: #B4B4B4;
  padding-left: 20px;
  padding-right: 30px;
  font-size: 12px;
  outline: none;
  line-height: 40px; }
  .ranking .filter-item__btn--lmtext-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; }
  .ranking .filter-item__btn::placeholder {
    color: #B4B4B4; }
