@import '../../../Resources/scss/common/_variables.scss';
.error-message {
    color: $error;
    background-color: $blue-background;
    font-weight: 300;
    font-size: 10px;

    @include on ('sm') {
        font-size: 18px;
    }
}
.my-editProfile {
    ::deep .form-control:focus {
        border: 1px solid $blue;
        box-shadow: none;
    }


    .editProfile__title {
        margin-top: 50px;
        font-size: 18px;
        font-weight: 600;
        color: $blue;
        text-align: center;

        @include on ('sm') {
            font-size: 36px;
        }

        span {
            color: $green;
        }
    }

    .editProfile__logo {
        overflow: hidden;

        img {
            width: 75px;
            height: 75px;
            border-radius: 50%;
            object-fit: cover;

            @include on ('sm') {
                width: 200px;
                height: 200px;
            }
        }
    }

    ::deep .valid.modified:not([type=checkbox]) {
        outline: none;
    }

    .form-item {
        margin-bottom: 15px;

        @include on('sm') {
            margin-bottom: 40px;
        }

        .dropdown {

            .material-icons-outlined {
                position: absolute;
                top: 4px;
                right: 8px;
                pointer-events: none;

                @include on ('sm') {
                    top: 8px;
                    right: 10px;
                }
            }

            .my-form-department {
                background: #fff !important;
                cursor: pointer;
            }

            &-menu {
                height: 140px;
                overflow-y: scroll;
                width: 100%;
                padding-left: 12px;
                background: #fff;
                box-shadow: 0px 10px 20px 2px rgba(4, 20, 69, 0.1);

                @include on ('sm') {
                    height: 200px;
                }

                li {
                    cursor: pointer;
                    margin-top: 5px;
                    font-size: 14px;
                    font-weight: 300;
                    color: #515151;

                    @include on ('sm') {
                        font-size: 16px;
                        margin-top: 15px;
                    }

                    &:hover {
                        background: #F3F3F3;
                    }
                }
            }
        }

        .form-text {
            font-size: 14px;
            font-weight: 500;
            color: $border-color-bold;
            margin: auto 0;
            margin-bottom: 3px;
            padding: 0;

            @include on('sm') {
                font-size: 16px;
            }

            span {
                color: red;
            }
        }

        ::deep .form-control {
            font-size: 14px;
            font-weight: 300;
            color: $grey-text;
            border: 1px solid #D8D8D8;
            border-radius: 5px;
            height: 30px;

            @include on ('sm') {
                height: unset;
                font-size: 16px;
            }
        }

        ::deep .my-address-textbox {
            @include on('xl') {
                width: auto;
            }
        }

        ::deep .form-control-maxim {
            height: 100px;
            padding: 10px;

            @include on('sm') {
                height: unset;
            }
        }

        ::deep .form-control--disable {
            background-color: #F3F3F3 !important;
        }

        ::deep .typeahead__input-multi {
            border: none;
        }

        ::deep .my-date-picker {
            border-radius: 5px;
            height: 30px;

            @include on ('sm') {
                height: 38px;
            }

            input {
                color: $grey-text;
                font-size: 14px;

                @include on('sm') {
                    font-size: 16px;
                }
            }
        }

        .form-field {
            .w-20 {
                width: 20%;
            }

            .w-40 {
                width: 40%;
            }

            .w-60 {
                width: 60%;
            }

            .w-80 {
                width: 80%;
            }
        }

        .form-field-item {
            text-align: center;
            width: 33.33%;
            display: inline-block;

            @include on("md") {
                width: 25%;
            }

            @include on("xl") {
                width: 20%;
            }

            &:hover > i {
                font-size: 25px;

                @include on("sm") {
                    font-size: 35px;
                }

                @include on("lg") {
                    font-size: 40px;
                }

                @include on("xxl") {
                    font-size: 45px;
                }
            }

            &:hover > span {
                transform: translateY(-5px);
            }

            i {
                display: block;
                border-radius: 50%;
                color: white;
                margin: 5px auto;
                transition: all 0.3s linear;
                width: 50px;
                height: 50px;
                line-height: 50px;
                font-size: 20px;

                @include on("sm") {
                    width: 55px;
                    height: 55px;
                    line-height: 55px;
                    font-size: 25px;
                }

                @include on("lg") {
                    width: 70px;
                    height: 70px;
                    line-height: 70px;
                    font-size: 30px;
                }

                @include on("xxl") {
                    width: 85px;
                    height: 85px;
                    line-height: 85px;
                    font-size: 35px;
                }
            }

            span {
                font-weight: 500;
                display: inline-block;
                transition: all 0.3s linear;
                font-size: 14px;
                margin-top: 10px;

                @include on("lg") {
                    font-size: 18px;
                    margin-top: 20px;
                }

                @include on("xxl") {
                    font-size: 20px;
                }

                @include on("xxl") {
                    font-size: 20px;
                }
            }

            .icon-add {
                background: $grey-close-bg;
                opacity: 50%;
                color: $white;
                font-size: 35px;

                @include on("sm") {
                    font-size: 40px;
                }

                @include on("lg") {
                    font-size: 45px;
                }

                @include on("xxl") {
                    font-size: 50px;
                }

                &:hover {
                    background: $grey-close-bg;
                    opacity: 100%;
                    font-size: 40px;

                    @include on("sm") {
                        font-size: 50px;
                    }

                    @include on("lg") {
                        font-size: 55px;
                    }

                    @include on("xxl") {
                        font-size: 60px;
                    }
                }
            }

            &.item-add {
                width: 33.33%;
                cursor: pointer;

                @include on("md") {
                    width: 25%;
                }

                @include on("xl") {
                    width: 20%;
                }
            }
        }

        .countWord {
            color: $border-color-bold;
            position: absolute;
            top: 77px;
            right: 8px;
            font-size: 12px;

            @include on ('sm') {
                top: 135px;
                right: 15px;
                font-size: 16px;
            }
        }
        /* width */
        ::-webkit-scrollbar {
            width: 5px;

            @include on ('sm') {
                width: 10px;
            }
        }
        /* Track */
        ::-webkit-scrollbar-track {
        }
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #C4C4C4;
            border-radius: 10px;
            height: 50px;
        }
        /* form-item search and choose skill*/
        .typeahead__input-icon {
            height: 100%;
            width: 40px;
            display: flex;
            border-radius: 0 5px 5px 0;
            padding: .5rem;
            cursor: pointer;
            background: none;
            top: 0;
            right: 13px;

            &:focus {
                outline: none;
                box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);
            }

            .typeahead__down-arrow {
                path {
                    fill: #333333;
                }
            }
        }
    }
}

.from__btn {
    margin: 20px 0 60px;

    .btn {
        padding: 8px 33px;
        font-size: 14px;
        font-weight: 600;

        @include on('sm') {
            padding: 12px 35px;
            font-size: 16px;
        }
    }

    .from__btn-cancel {
        background: $white;
        color: $blue;

        &:hover {
            border: 1px solid $blue;
        }
    }

    .from__btn-submit {
        background: #C4C4C4;
        color: $white;
    }

    .blue-btn {
        background: $blue;

        &:hover {
            background: $blue-hv;
        }
    }

    .cursor {
        cursor: context-menu;
    }
}

