/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.bg-grey {
  background-color: #f3f3f3; }

.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 50px; }
  @media (min-width: 1400px) {
    .filter-bar {
      padding: 50px 100px; } }
  .filter-bar .item {
    position: relative;
    width: 24%; }
    .filter-bar .item .material-icons-outlined {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
      pointer-events: none; }
    .filter-bar .item input {
      width: 100%;
      padding: 6px 30px 6px 10px;
      border-radius: 10px;
      border: 1px solid #707070;
      color: #B4B4B4;
      outline: none;
      cursor: pointer; }
    .filter-bar .item .dropdown-menu {
      margin-top: 10px;
      width: 100%;
      padding: 0 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border: none; }
      .filter-bar .item .dropdown-menu li {
        margin: 8px 0;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        color: #18A0FB; }
        .filter-bar .item .dropdown-menu li:hover {
          background-color: rgba(24, 160, 251, 0.1); }

.filter-btn {
  color: #fff;
  font-weight: bold;
  background-color: #64D72F;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  height: 40px;
  padding: 0 20px; }
  .filter-btn:hover {
    background-color: #306C14;
    opacity: 78%; }

.clear-filter-btn {
  color: #fff;
  font-weight: bold;
  background-color: #64D72F;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  width: fit-content;
  color: #B4B4B4;
  background-color: #fff; }
  .clear-filter-btn:hover {
    text-decoration: underline; }
