@using VMS.Application.ViewModels
@layout AdminLayout

@attribute [Route(Routes.AdminResolveReport)]
@attribute [Authorize(Roles = "Admin")]

<div class="my-content">
    <Filter />
    <ListReport Filter="@filter" />
</div>

@code {
    private FilterReportViewModel filter = new();

    private void OnFilterChanged(FilterReportViewModel filter)
    {
        this.filter = filter;
    }
}
