@layout AdminLayout

@attribute [Route(Routes.AdminResolveReport)]
@attribute [Authorize(Roles = "Admin")]

    <div class="my-content">
        <Filter></Filter>
        <ListReport></ListReport>
    </div>



    @code {
    }
