/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.quantity-report {
  font-size: 24px;
  padding: 15px 0;
  font-weight: 400;
  color: #18A0FB;
}
.quantity-report span {
  color: #64D72F;
}

.list-card {
  margin-bottom: 50px;
  border-radius: 10px;
  border: 1px solid #B4B4B4;
}
.list-card .item:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.list-card .item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.list-card .card-item :hover {
  background-color: #F3F3F5;
}
.list-card .item {
  padding: 15px;
  border-bottom: 1px solid #D8D8D8;
}
.list-card .item--pinned {
  background-color: #F3F3F5;
}
.list-card .item .list-reason {
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list-card .item .list-reason a {
  color: #515151;
}
.list-card .item .info-item:first-child {
  width: 70%;
}
.list-card .item .info-item:nth-child(2) {
  width: 30%;
}
.list-card .item .info-item a {
  color: #515151;
}
.list-card .item .info-item p {
  margin: 0;
  font-style: oblique;
  font-weight: 300;
}
.list-card .item .info-item__who, .list-card .item .info-item__activity {
  text-decoration: none;
  color: unset;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list-card .item .info-item__time {
  float: right;
}
.list-card .item .info-item__status {
  float: right;
}
.list-card .item .info-item__status--admin {
  color: #64D72F;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list-card .item .info-item__status--pin, .list-card .item .info-item__status--complete, .list-card .item .info-item__status--closed, .list-card .item .info-item__status--processing {
  position: relative;
  margin-left: 4px;
}
.list-card .item .info-item__status--pin .material-icons, .list-card .item .info-item__status--complete .material-icons, .list-card .item .info-item__status--closed .material-icons, .list-card .item .info-item__status--processing .material-icons {
  font-size: 24px;
  cursor: pointer;
}
.list-card .item .info-item__status--pin:hover .icon-tooltip, .list-card .item .info-item__status--complete:hover .icon-tooltip, .list-card .item .info-item__status--closed:hover .icon-tooltip, .list-card .item .info-item__status--processing:hover .icon-tooltip {
  display: block;
}
.list-card .item .info-item__status--pin {
  color: #B4B4B4;
}
.list-card .item .info-item__status--complete {
  color: #64D72F;
}
.list-card .item .info-item__status--closed {
  color: #B4B4B4;
}
.list-card .item .info-item__status--processing {
  color: #18A0FB;
}
.list-card .item .info-item__status--processing svg {
  margin-bottom: 2px;
  width: 24px;
  height: 24px;
}
.list-card .item .info-item__status .icon-tooltip {
  display: none;
  min-width: max-content;
  position: absolute;
  top: -80%;
  left: 100%;
  transform: translateX(-100%);
  padding: 2px 10px;
  font-size: 12px;
  background-color: #fff;
  border-radius: 10px;
  border-bottom-right-radius: 3px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
  color: #515151;
}
