
<h3 class="quantity-report">Có <span>10 báo cáo</span> ứng với kết quả tìm kiếm</h3>

<div class="list-card">
    <div class="item">
        <div class="list-reason">Hoạt động này không có thật; Hoạt động dỡ như hạch</div>
        <div class="d-flex">
            <div style="width:60%">
                <p class="who-report">Báo cáo bởi: Bùi Minh Khaa</p>
                <p class="activity-name">Hoạt động: Tuyển tình nguyện viên tham gia công tác chống dịch vovid 19</p>
            </div>
            <div style="width:40%">
                <p class="time">20/9/2021</p>
                <div class="d-flex">
                    <p class="name-admin">Bùi Minh Kha</p>
                    <span class="material-icons-outlined"> push_pin </span>
                    <span class="material-icons">
                        check_circle
                    </span>
                </div>
                
            </div>
        </div>
    </div>
</div>

@code {

}
