@import "../../../Resources/scss/common/_variables.scss";

.quantity-report {
    font-size: 24px;
    padding: 15px 0;
    font-weight: 400;
    color: $blue;

    span {
        color: $green;
    }
}

.list-card {
    margin-bottom: 50px;
    border-radius: 10px;
    border: 1px solid $grey-icon;

    .item:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .item:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .card-item {

        :hover {
            background-color: $grey;
        }
    }

    .item {
        padding: 15px;
        border-bottom: 1px solid #D8D8D8;

        &--pinned {
            background-color: $grey;
        }

        .list-reason {
            font-size: 16px;
            font-weight: 600;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            a {
                color: $grey-text;
            }
        }

        .info-item:first-child {
            width: 70%;
        }

        .info-item:nth-child(2) {
            width: 30%;
        }

        .info-item {
            a {
                color: $grey-text;
            }

            p {
                margin: 0;
                font-style: oblique;
                font-weight: 300;
            }

            &__who, &__activity {
                text-decoration: none;
                color: unset;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            &__time {
                float: right;
            }

            &__status {
                float: right;

                &--admin {
                    color: $green;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                &--pin, &--complete, &--closed, &--processing {
                    position: relative;
                    margin-left: 4px;

                    .material-icons {
                        font-size: 24px;
                        cursor: pointer;
                    }

                    &:hover .icon-tooltip {
                        display: block;
                    }
                }

                &--pin {
                    color: $grey-icon;
                }

                &--complete {
                    color: $green;
                }

                &--closed {
                    color: $grey-icon;
                }

                &--processing {
                    color: $blue;

                    svg {
                        margin-bottom: 2px;
                        width: 24px;
                        height: 24px;
                    }
                }

                .icon-tooltip {
                    display: none;
                    min-width: max-content;
                    position: absolute;
                    top: -80%;
                    left: 100%;
                    transform: translateX(-100%);
                    padding: 2px 10px;
                    font-size: 12px;
                    background-color: #fff;
                    border-radius: 10px;
                    border-bottom-right-radius: 3px;
                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 35%);
                    color: $grey-text;
                }
            }
        }
    }
}
