
<h3 class="quantity-report">Có <span>10 báo cáo</span> ứng với kết quả tìm kiếm</h3>

<div class="list-card">
    <div class="item">
        <div class="list-reason">Hoạt động này không có thật; Hoạt động dỡ như hạch</div>
        <div class="d-flex justify-content-between">

            <div class="info-item">
                <p class="info-item__who">Báo cáo bởi: <a href="#">Bùi Minh Khaa</a></p>
                <p class="info-item__activity">Hoạt động: <a href="#">Tuyển tình nguyện viên tham gia chống dịch</a></p>
            </div>

            <div class="info-item">
                <p class="info-item__time">20/9/2021</p>
                <div class="d-flex info-item__status">

                    <p class="info-item__status--admin">Bùi Minh Kha</p>
                    <div class="info-item__status--pin">
                        <span class="material-icons"> push_pin </span>
                        <span class="icon-tooltip">Ghim báo cáo</span>
                    </div>

                    <div class="info-item__status--complete">
                        <span class="material-icons"> check_circle </span>
                        <span class="icon-tooltip">Hoàn tất xử lý</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="item">
        <div class="list-reason">Hoạt động này không có thật; Hoạt động dỡ như hạch</div>
        <div class="d-flex justify-content-between">

            <div class="info-item">
                <p class="info-item__who">Báo cáo bởi: <a href="#">Bùi Minh Khaa</a></p>
                <p class="info-item__activity">Hoạt động: <a href="#">Tuyển tình nguyện viên tham gia chống dịch</a></p>
            </div>

            <div class="info-item">
                <p class="info-item__time">20/9/2021</p>
                <div class="d-flex info-item__status">

                    <p class="info-item__status--admin">Bùi Minh Kha</p>
                    <div class="info-item__status--pin">
                        <span class="material-icons"> push_pin </span>
                        <span class="icon-tooltip">Ghim báo cáo</span>
                    </div>

                    <div class="info-item__status--complete">
                        <span class="material-icons"> check_circle </span>
                        <span class="icon-tooltip">Hoàn tất xử lý</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="item">
        <div class="list-reason">Hoạt động này không có thật; Hoạt động dỡ như hạch</div>
        <div class="d-flex justify-content-between">

            <div class="info-item">
                <p class="info-item__who">Báo cáo bởi: <a href="#">Bùi Minh Khaa</a></p>
                <p class="info-item__activity">Hoạt động: <a href="#">Tuyển tình nguyện viên tham gia chống dịch</a></p>
            </div>

            <div class="info-item">
                <p class="info-item__time">20/9/2021</p>
                <div class="d-flex info-item__status">

                    <p class="info-item__status--admin">Bùi Minh Kha</p>
                    <div class="info-item__status--pin">
                        <span class="material-icons"> push_pin </span>
                        <span class="icon-tooltip">Ghim báo cáo</span>
                    </div>

                    <div class="info-item__status--complete">
                        <span class="material-icons"> check_circle </span>
                        <span class="icon-tooltip">Hoàn tất xử lý</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@code {

}
