<div class="my-notification" >
    <div class="notification__content mx-auto">
        <div class="notification__img  mx-auto"> <img class="w-75" src="img/LogoBaner/KHOA-VIỆN-KTX/LOGO KHOA QUẢN TRỊ.png" alt=""></div>
        <div class="notification__btn text-center py-4">
            <button @onclick="CloseNotification" class="btn pr-5 btn__cancel px-4">Hủy</button>
            <button @onclick="CloseNotification" class="btn btn__save px-4 ms-5">Lưu</button>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    private BlazoredModalInstance Modal { get; set; }


    private async Task CloseNotification()
    {

        await Modal.CloseAsync();
    }
}

