<div class="d-flex align-items-center profile__rank">
    @if (IsUser)
    {
        <a href="" class="d-flex align-self-center me-3">#4</a>
    }
    else
    {
        <a class="d-flex align-self-center me-3">#4</a>
    }

    <div>
        <p class="mb-2 d-flex justify-content-evenly align-self-end">
            <span class="profile__rank-number me-1">4,5</span>
            <i class="material-icons">
                star_rate
            </i>
            <i class="material-icons">
                star_rate
            </i>
            <i class="material-icons">
                star_rate
            </i>
            <i class="material-icons">
                star_rate
            </i>
            <i class="material-icons icon-noColor">
                star_rate
            </i>
        </p>
        <span class="text-start">15N xếp hạng</span>
    </div>
</div>

@code {

    [Parameter] public bool IsUser { get; set; } = true;
    [Parameter] public int Rank { get; set; } =0;
    [Parameter] public int TotalRating { get; set; } =0;
    [Parameter] public int Stars { get; set; } =0;

}
