@import "../../Resources/scss/common/_variables";

.profile__rank {
    a {
        color: $green;
        font-size: 40px;
        font-weight: 600;
        text-decoration: none;
    }

    .profile__rank-number {
        color: $border-color-bold;
        font-size: 24px;
        font-weight: 700;
    }

    i {
        margin: auto 2px;
        color: #EDF131;
        font-size: 30px;
    }

    .icon-noColor {
        color: #D8D8D8;
    }

    span {
        display: block;
        color: $border-color-bold;
        font-size: 20px;
        font-weight: 500;
    }
}
