@if (IsUser)
{
    <div class="my-schedule my-5 pb-5">
        <div class="container">
            <div class="row schedule">
                <div class="col-6 schedule__calendar">
                    <Calendar ValueChanged="OnValueChanged" />
                </div>
                <div class="col-6 schedule__act">
                    <h3 class="text-center pb-2 mb-5">Hoạt động <span> trong ngày của bạn</span></h3>
                    <div class="schedule__act-items px-3">
                        @foreach (var item in Items)
                        {
                            <div class="schedule__act-item py-3 px-4 mb-4">
                                <a href="@Routes.ActivityInfo/@item.Id"><h6 class="lmtext-2">@item.Name </h6></a>
                                <div class="d-flex align-items-center mt-3">
                                    <div class="d-flex align-items-center me-5">
                                        <span class="material-icons schedule__act-icon me-3">
                                            public
                                        </span>
                                        <span class="schedule__act-text">@item.Organizer.FullName</span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <span class="material-icons schedule__act-icon me-3">
                                            location_on
                                        </span>
                                        <span class="schedule__act-text">@item.Province</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
}


@code {
}
