/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.schedule__act h3 {
  font-size: 30px;
  font-weight: 600;
  color: #64D72F; }
  .schedule__act h3 span {
    color: #18A0FB; }

.schedule__act-items {
  height: 420px;
  overflow-y: scroll; }
  .schedule__act-items::-webkit-scrollbar {
    width: 7px; }
  .schedule__act-items::-webkit-scrollbar-thumb {
    background-color: #B4B4B4;
    border-radius: 20px; }

.schedule__act-item {
  border: 1px solid #C4C4C4;
  border-radius: 5px; }
  .schedule__act-item:hover {
    border-color: #18A0FB; }
  .schedule__act-item h6 {
    font-size: 20px;
    font-weight: 600;
    color: #18A0FB; }

.schedule__act-item:last-child {
  margin-bottom: 0 !important; }

.schedule__act-icon {
  font-size: 24px;
  color: #64D72F; }

.schedule__act-text {
  font-size: 16px;
  font-weight: 600;
  color: #515151; }
