/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.my-profile .container .container-profile {
  flex-direction: column;
  padding-bottom: 20px !important; }
  @media (min-width: 992px) {
    .my-profile .container .container-profile {
      flex-direction: unset;
      padding-bottom: unset; } }

.my-profile .container-info {
  align-items: center;
  flex-direction: column; }
  @media (min-width: 992px) {
    .my-profile .container-info {
      flex-direction: row;
      justify-content: space-between; } }

@media (min-width: 1400px) {
  .my-profile .profile__logo {
    width: 25%; } }

.my-profile .profile__logo .profile__logo-img {
  margin-bottom: 20px; }

.my-profile .profile__logo img {
  width: 99px;
  height: 99px;
  border-radius: 50%;
  object-fit: cover; }
  @media (min-width: 992px) {
    .my-profile .profile__logo img {
      width: 200px;
      height: 200px; } }

.my-profile .profile__logo .icon-camera {
  position: absolute;
  bottom: 0;
  right: -15px;
  font-size: 20px;
  color: #B4B4B4;
  cursor: pointer; }
  .my-profile .profile__logo .icon-camera:hover {
    color: #717171; }
  @media (min-width: 992px) {
    .my-profile .profile__logo .icon-camera {
      bottom: 15px;
      right: -25px;
      font-size: 36px; } }

.my-profile .profile__logo p {
  font-size: 24px;
  font-weight: 600; }

.my-profile .profile__logo button {
  font-size: 10px; }
  @media (min-width: 576px) {
    .my-profile .profile__logo button {
      font-size: 14px; } }
  @media (min-width: 768px) {
    .my-profile .profile__logo button {
      font-size: 16px; } }
  @media (min-width: 992px) {
    .my-profile .profile__logo button {
      font-size: 20px; } }

.my-profile .profile__logo .profile__type {
  background-color: #FBED6E;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), inset -4px -4px 20px rgba(0, 0, 0, 0.05), inset 4px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 7px 16px;
  color: #515151;
  font-size: 10px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer; }
  @media (min-width: 576px) {
    .my-profile .profile__logo .profile__type {
      font-size: 12px; } }
  @media (min-width: 768px) {
    .my-profile .profile__logo .profile__type {
      font-size: 14px; } }
  @media (min-width: 1400px) {
    .my-profile .profile__logo .profile__type {
      font-size: 16px; } }
  .my-profile .profile__logo .profile__type:hover {
    background: #FCFF81; }
  .my-profile .profile__logo .profile__type:focus {
    box-shadow: none; }

.my-profile .profile__logo .profile__type-notHover:hover {
  background: linear-gradient(180deg, rgba(252, 255, 129, 0.568399) -20.51%, rgba(252, 255, 129, 0) -20.5%, rgba(252, 255, 129, 0.0290694) -20.49%, rgba(252, 255, 129, 0.0988999) -20.48%, #FCFF81 46.98%, #FCFF81 74.36%); }

.my-profile .profile__contact {
  border-top: 0.5px solid rgba(112, 112, 112, 0.5);
  padding-top: 5%;
  margin-top: 5%; }
  @media (min-width: 992px) {
    .my-profile .profile__contact {
      width: 28%;
      border-top: none;
      padding-top: 0;
      margin-top: 0; } }
  .my-profile .profile__contact hr {
    width: 100%;
    height: 1px;
    display: block;
    color: #b4b4b4; }
  .my-profile .profile__contact h3 {
    display: none; }
    @media (min-width: 992px) {
      .my-profile .profile__contact h3 {
        display: block;
        color: #18A0FB;
        font-weight: 600;
        font-size: 24px; } }
    @media (min-width: 1400px) {
      .my-profile .profile__contact h3 {
        display: block;
        font-size: 30px; } }
  .my-profile .profile__contact .profile__contact-content {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important; }
    @media (min-width: 992px) {
      .my-profile .profile__contact .profile__contact-content {
        border-bottom: 1px solid rgba(112, 112, 112, 0.5);
        margin-bottom: unset;
        padding-bottom: unset; } }
    .my-profile .profile__contact .profile__contact-content p {
      margin-bottom: 0; }
  .my-profile .profile__contact .profile__contact-icon {
    font-size: 15px;
    color: #B4B4B4; }
    @media (min-width: 992px) {
      .my-profile .profile__contact .profile__contact-icon {
        font-size: 24px; } }
  .my-profile .profile__contact .profile__contact-text {
    font-size: 14px;
    font-weight: 400;
    color: #515151;
    margin-left: -8%;
    word-wrap: break-word; }
    @media (min-width: 768px) {
      .my-profile .profile__contact .profile__contact-text {
        font-size: 16px; } }
    @media (min-width: 992px) {
      .my-profile .profile__contact .profile__contact-text {
        font-size: 18px;
        margin-left: unset; }
        .my-profile .profile__contact .profile__contact-text::-webkit-scrollbar {
          width: 0px; } }
    @media (min-width: 1400px) {
      .my-profile .profile__contact .profile__contact-text {
        font-size: 20px; } }
    .my-profile .profile__contact .profile__contact-text a {
      color: #515151; }

.my-profile .profile__contact .profile__filter-1 {
  display: none; }
  @media (min-width: 992px) {
    .my-profile .profile__contact .profile__filter-1 {
      display: block;
      text-align: center;
      margin-top: 20px; } }
  .my-profile .profile__contact .profile__filter-1 .profile__carousel, .my-profile .profile__contact .profile__filter-1 .profile__NoCarousel {
    position: relative;
    padding-right: 30px;
    z-index: 0; }
    .my-profile .profile__contact .profile__filter-1 .profile__carousel .item, .my-profile .profile__contact .profile__filter-1 .profile__NoCarousel .item {
      text-align: center; }
      .my-profile .profile__contact .profile__filter-1 .profile__carousel .item:hover > i, .my-profile .profile__contact .profile__filter-1 .profile__NoCarousel .item:hover > i {
        font-size: 40px; }
      .my-profile .profile__contact .profile__filter-1 .profile__carousel .item:hover > span, .my-profile .profile__contact .profile__filter-1 .profile__NoCarousel .item:hover > span {
        transform: translateY(-5px); }
      .my-profile .profile__contact .profile__filter-1 .profile__carousel .item i, .my-profile .profile__contact .profile__filter-1 .profile__NoCarousel .item i {
        display: block;
        border-radius: 50%;
        color: white;
        margin: 5px auto;
        transition: all 0.3s linear;
        width: 65px;
        height: 65px;
        line-height: 65px;
        font-size: 30px; }
        @media (min-width: 1400px) {
          .my-profile .profile__contact .profile__filter-1 .profile__carousel .item i, .my-profile .profile__contact .profile__filter-1 .profile__NoCarousel .item i {
            width: 70px;
            height: 70px;
            line-height: 70px;
            font-size: 32px; } }
      .my-profile .profile__contact .profile__filter-1 .profile__carousel .item span, .my-profile .profile__contact .profile__filter-1 .profile__NoCarousel .item span {
        margin-top: 10px;
        font-weight: 500;
        display: inline-block;
        transition: all 0.3s linear;
        font-size: 14px; }
        @media (min-width: 576px) {
          .my-profile .profile__contact .profile__filter-1 .profile__carousel .item span, .my-profile .profile__contact .profile__filter-1 .profile__NoCarousel .item span {
            font-size: 16px; } }
        @media (min-width: 992px) {
          .my-profile .profile__contact .profile__filter-1 .profile__carousel .item span, .my-profile .profile__contact .profile__filter-1 .profile__NoCarousel .item span {
            font-size: 18px; } }
        @media (min-width: 1400px) {
          .my-profile .profile__contact .profile__filter-1 .profile__carousel .item span, .my-profile .profile__contact .profile__filter-1 .profile__NoCarousel .item span {
            font-size: 20px; } }
    .my-profile .profile__contact .profile__filter-1 .profile__carousel ::deep .owl-nav, .my-profile .profile__contact .profile__filter-1 .profile__NoCarousel ::deep .owl-nav {
      display: block; }
      .my-profile .profile__contact .profile__filter-1 .profile__carousel ::deep .owl-nav .owl-prev, .my-profile .profile__contact .profile__filter-1 .profile__NoCarousel ::deep .owl-nav .owl-prev {
        display: none; }
      .my-profile .profile__contact .profile__filter-1 .profile__carousel ::deep .owl-nav .owl-next, .my-profile .profile__contact .profile__filter-1 .profile__NoCarousel ::deep .owl-nav .owl-next {
        position: absolute;
        top: -32px;
        right: 0; }
        @media (min-width: 1400px) {
          .my-profile .profile__contact .profile__filter-1 .profile__carousel ::deep .owl-nav .owl-next, .my-profile .profile__contact .profile__filter-1 .profile__NoCarousel ::deep .owl-nav .owl-next {
            top: -32px; } }
        .my-profile .profile__contact .profile__filter-1 .profile__carousel ::deep .owl-nav .owl-next span, .my-profile .profile__contact .profile__filter-1 .profile__NoCarousel ::deep .owl-nav .owl-next span {
          font-size: 80px;
          color: #18A0FB;
          transition: all 0.3s linear; }
          .my-profile .profile__contact .profile__filter-1 .profile__carousel ::deep .owl-nav .owl-next span:hover, .my-profile .profile__contact .profile__filter-1 .profile__NoCarousel ::deep .owl-nav .owl-next span:hover {
            color: #0B588c; }
        .my-profile .profile__contact .profile__filter-1 .profile__carousel ::deep .owl-nav .owl-next:hover, .my-profile .profile__contact .profile__filter-1 .profile__NoCarousel ::deep .owl-nav .owl-next:hover {
          background: none; }
    .my-profile .profile__contact .profile__filter-1 .profile__carousel ::deep .owl-dots, .my-profile .profile__contact .profile__filter-1 .profile__NoCarousel ::deep .owl-dots {
      display: none; }

.my-profile .profile__filter-2 {
  display: block; }
  @media (min-width: 992px) {
    .my-profile .profile__filter-2 {
      display: none; } }
  .my-profile .profile__filter-2 h3 {
    display: inline;
    width: 500px;
    color: #18A0FB;
    font-weight: 600;
    font-size: 16px; }
    @media (min-width: 576px) {
      .my-profile .profile__filter-2 h3 {
        display: block;
        font-size: 20px; } }
    @media (min-width: 992px) {
      .my-profile .profile__filter-2 h3 {
        display: block;
        font-size: 24px; } }
    @media (min-width: 1400px) {
      .my-profile .profile__filter-2 h3 {
        display: block;
        font-size: 30px; } }
  .my-profile .profile__filter-2 .profile__carousel, .my-profile .profile__filter-2 .profile__NoCarousel {
    position: relative;
    padding-right: 30px;
    z-index: 0; }
    .my-profile .profile__filter-2 .profile__carousel .item, .my-profile .profile__filter-2 .profile__NoCarousel .item {
      text-align: center; }
      .my-profile .profile__filter-2 .profile__carousel .item:hover > i, .my-profile .profile__filter-2 .profile__NoCarousel .item:hover > i {
        font-size: 40px; }
      .my-profile .profile__filter-2 .profile__carousel .item:hover > span, .my-profile .profile__filter-2 .profile__NoCarousel .item:hover > span {
        transform: translateY(-5px); }
      .my-profile .profile__filter-2 .profile__carousel .item i, .my-profile .profile__filter-2 .profile__NoCarousel .item i {
        display: block;
        border-radius: 50%;
        color: white;
        margin: 5px auto;
        transition: all 0.3s linear;
        width: 65px;
        height: 65px;
        line-height: 65px;
        font-size: 30px; }
        @media (min-width: 1400px) {
          .my-profile .profile__filter-2 .profile__carousel .item i, .my-profile .profile__filter-2 .profile__NoCarousel .item i {
            width: 70px;
            height: 70px;
            line-height: 70px;
            font-size: 32px; } }
      .my-profile .profile__filter-2 .profile__carousel .item span, .my-profile .profile__filter-2 .profile__NoCarousel .item span {
        margin-top: 10px;
        font-weight: 500;
        display: inline-block;
        transition: all 0.3s linear;
        font-size: 14px; }
        @media (min-width: 576px) {
          .my-profile .profile__filter-2 .profile__carousel .item span, .my-profile .profile__filter-2 .profile__NoCarousel .item span {
            font-size: 16px; } }
        @media (min-width: 992px) {
          .my-profile .profile__filter-2 .profile__carousel .item span, .my-profile .profile__filter-2 .profile__NoCarousel .item span {
            font-size: 18px; } }
        @media (min-width: 1400px) {
          .my-profile .profile__filter-2 .profile__carousel .item span, .my-profile .profile__filter-2 .profile__NoCarousel .item span {
            font-size: 20px; } }
    .my-profile .profile__filter-2 .profile__carousel ::deep .owl-nav, .my-profile .profile__filter-2 .profile__NoCarousel ::deep .owl-nav {
      display: block; }
      .my-profile .profile__filter-2 .profile__carousel ::deep .owl-nav .owl-prev, .my-profile .profile__filter-2 .profile__NoCarousel ::deep .owl-nav .owl-prev {
        display: none; }
      .my-profile .profile__filter-2 .profile__carousel ::deep .owl-nav .owl-next, .my-profile .profile__filter-2 .profile__NoCarousel ::deep .owl-nav .owl-next {
        position: absolute;
        top: -32px;
        right: 0; }
        @media (min-width: 1400px) {
          .my-profile .profile__filter-2 .profile__carousel ::deep .owl-nav .owl-next, .my-profile .profile__filter-2 .profile__NoCarousel ::deep .owl-nav .owl-next {
            top: -32px; } }
        .my-profile .profile__filter-2 .profile__carousel ::deep .owl-nav .owl-next span, .my-profile .profile__filter-2 .profile__NoCarousel ::deep .owl-nav .owl-next span {
          font-size: 80px;
          color: #18A0FB;
          transition: all 0.3s linear; }
          .my-profile .profile__filter-2 .profile__carousel ::deep .owl-nav .owl-next span:hover, .my-profile .profile__filter-2 .profile__NoCarousel ::deep .owl-nav .owl-next span:hover {
            color: #0B588c; }
        .my-profile .profile__filter-2 .profile__carousel ::deep .owl-nav .owl-next:hover, .my-profile .profile__filter-2 .profile__NoCarousel ::deep .owl-nav .owl-next:hover {
          background: none; }
    .my-profile .profile__filter-2 .profile__carousel ::deep .owl-dots, .my-profile .profile__filter-2 .profile__NoCarousel ::deep .owl-dots {
      display: none; }

@media (min-width: 992px) {
  .profile__skills {
    width: 32%; } }

.profile__skills .profile__skills-content {
  display: flex;
  padding-bottom: 10px !important;
  border: none; }
  @media (min-width: 992px) {
    .profile__skills .profile__skills-content {
      text-align: center;
      flex-direction: column;
      border: 1px solid rgba(112, 112, 112, 0.5);
      border-radius: 10px;
      padding-bottom: initial; } }

.profile__skills .profile__content {
  display: flex;
  white-space: nowrap;
  overflow-x: scroll; }
  .profile__skills .profile__content::-webkit-scrollbar {
    width: 0px; }
  @media (min-width: 992px) {
    .profile__skills .profile__content {
      display: block;
      width: 98%;
      height: 305px;
      overflow-y: scroll;
      overflow-x: unset;
      padding-left: 35px;
      padding-right: 35px; }
      .profile__skills .profile__content::-webkit-scrollbar {
        width: 3px;
        margin-right: 20px; }
      .profile__skills .profile__content::-webkit-scrollbar-thumb {
        background-color: #B4B4B4;
        border-radius: 20px; } }
  @media (min-width: 1400px) {
    .profile__skills .profile__content {
      height: 362px;
      overflow-y: scroll;
      padding-left: 45px;
      padding-right: 45px; } }

.profile__skills h3 {
  text-align: start !important;
  width: 500px;
  color: #18A0FB;
  display: inline;
  font-weight: 600;
  font-size: 16px; }
  @media (min-width: 576px) {
    .profile__skills h3 {
      text-align: center !important;
      width: unset;
      font-size: 20px; } }
  @media (min-width: 992px) {
    .profile__skills h3 {
      text-align: center !important;
      width: unset;
      font-size: 24px; } }
  @media (min-width: 1400px) {
    .profile__skills h3 {
      text-align: center !important;
      width: unset;
      font-size: 30px; } }

.profile__skills .profile__skill {
  display: inline;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #515151; }
  .profile__skills .profile__skill:last-child {
    border: none;
    margin-bottom: 0px;
    padding-bottom: 0px; }
  @media (min-width: 992px) {
    .profile__skills .profile__skill {
      display: block;
      font-size: 16px;
      margin-bottom: 15px;
      padding-bottom: 5px;
      border-bottom: 1px solid rgba(112, 112, 112, 0.5); } }
  @media (min-width: 1400px) {
    .profile__skills .profile__skill {
      font-size: 16px; } }

.profile__dictum {
  font-size: 14px;
  font-weight: 400;
  border-top: 1px solid rgba(112, 112, 112, 0.5);
  border-bottom: 1px solid rgba(112, 112, 112, 0.5);
  margin-bottom: 10px !important; }
  @media (min-width: 1400px) {
    .profile__dictum {
      font-size: 24px;
      margin-bottom: 20px !important; } }
