@page "/hoat-dong"

@using VMS.Application.Interfaces;
@using VMS.Application.ViewModels;

@inject IProjectService ProjectService

<h3>All projects will be shown here...</h3>

<NavLink class="nav-link" href="/them-hoat-dong">Thêm hoạt động</NavLink>

@if (_projects != null && _projects.Any())
{
    @foreach (var project in _projects)
    {
        <p>@project.Name => @project.Category => @project.Organization</p>
    }
}

@code {
    private List<ProjectViewModel> _projects;

    protected override async Task OnInitializedAsync()
    {
        _projects = await ProjectService.GetAllProjects();
    }
}