@using VMS.Application.ViewModels
@attribute [Route(Routes.VolunteerSearch)]

<div class="container-lg">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <SearchAndFilter />
            <section class="my-container mb-5">
                <h3 class="result-heading mt-4 mb-3">Có <span>0 tình nguyện viên</span> ứng với kết quả tìm kiếm của bạn</h3>
                <div class="search-result"><VMS.Pages.SearchOrganizer.SearchResult /></div>
            </section>
        </div>
    </div>
</div>

@code {

}
