@using VMS.Application.ViewModels
@attribute [Route(Routes.VolunteerSearch)]

<div class="container-lg">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <SearchAndFilter />
            <SearchResult />
        </div>
    </div>
</div>

@code {

}
