@using VMS.Application.ViewModels
@attribute [Route(Routes.VolunteerSearch)]

<div class="container-lg">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <SearchAndFilter HaveSearchBox="true" IsLongDistanceFilter="true"
                             FilterChanged="OnFilterChangedAsync" />

            <VMS.Pages.SearchOrganizer.SearchResult IsUserResult="true"
                                                    PagedResult="pagedResult"
                                                    OnPageChanged="OnPageChangedAsync" />
        </div>
    </div>
</div>

@code {

}
