@inject IJSRuntime JsRuntime
<section class="my-container mb-5">
    <h3 class="result-heading mt-4 mb-3">Có <span>0 tình nguyện viên</span> ứng với kết quả tìm kiếm của bạn</h3>
    <div class="search-result"><VMS.Pages.SearchOrganizer.SearchResult /></div>
</section>

@code {
    double rating = 4.5;
}
