/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.bg-grey {
  color: #515151 !important; }
  .bg-grey::placeholder {
    color: #515151 !important; }

h3 {
  font-weight: 600;
  font-size: 18px;
  color: #18A0FB;
  margin: 20px 0; }
  @media (min-width: 576px) {
    h3 {
      font-size: 24px; } }
  @media (min-width: 992px) {
    h3 {
      font-size: 36px;
      margin-top: 3rem;
      margin-bottom: 3rem; } }
  @media (min-width: 1200px) {
    h3 {
      font-size: 48px; } }
  h3 span {
    color: #64D72F; }

p {
  font-size: 12px;
  color: #18A0FB;
  margin-top: 12px !important; }
  @media (min-width: 576px) {
    p {
      font-size: 16px; } }
  @media (min-width: 992px) {
    p {
      font-size: 24px;
      margin-top: unset; } }
  @media (min-width: 1200px) {
    p {
      font-size: 30px; } }
  p span {
    color: #64D72F; }
    @media (min-width: 992px) {
      p span {
        color: #18A0FB; } }

.filter-bar {
  justify-content: space-between; }

.filter-bar_left {
  width: 75%;
  flex-direction: column; }
  @media (min-width: 992px) {
    .filter-bar_left {
      flex-direction: row;
      justify-content: space-between; } }

.filter-bar_row-1 {
  display: flex;
  width: 100%;
  margin-bottom: 24px;
  justify-content: space-around; }
  @media (min-width: 992px) {
    .filter-bar_row-1 {
      width: 50%; } }

.filter-bar_row-2 {
  display: flex;
  width: 100%;
  justify-content: space-around; }
  @media (min-width: 992px) {
    .filter-bar_row-2 {
      width: 50%;
      margin-bottom: 24px; } }

.filter-item {
  font-size: 10px;
  width: 45%; }
  @media (min-width: 1200px) {
    .filter-item {
      font-size: 18px; } }
  .filter-item__icon {
    font-size: 18px;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    pointer-events: none; }
    @media (min-width: 1200px) {
      .filter-item__icon {
        font-size: 24px; } }

.popup-btn {
  border-radius: 8px;
  height: 29px;
  width: 100%;
  border: 1px solid #707070;
  cursor: pointer;
  color: #b4b4b4;
  padding-left: 8px;
  padding-right: 30px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical; }
  @media (min-width: 1200px) {
    .popup-btn {
      height: 40px; } }
  .popup-btn::placeholder {
    color: #b4b4b4; }

.my-dropdown {
  padding: 5px 6px;
  border-radius: 4px;
  border: none;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  background-color: #fff;
  z-index: 10;
  display: none;
  width: 100%;
  height: 240px; }
  @media (min-width: 1200px) {
    .my-dropdown {
      padding: 15px 18px; } }
  .my-dropdown ul {
    font-size: 9px;
    font-weight: 500;
    overflow-y: scroll;
    list-style: none;
    padding: 0;
    height: 100%;
    margin: 0; }
    @media (min-width: 576px) {
      .my-dropdown ul {
        font-size: 12px; } }
    @media (min-width: 992px) {
      .my-dropdown ul {
        font-size: 14px; } }
    @media (min-width: 1400px) {
      .my-dropdown ul {
        font-size: 16px; } }
    .my-dropdown ul::-webkit-scrollbar {
      width: 5px; }
    .my-dropdown ul::-webkit-scrollbar-thumb {
      background-color: #B4B4B4;
      border-radius: 20px; }
    .my-dropdown ul li {
      color: #18A0FB;
      line-height: 24px;
      margin-bottom: 0;
      cursor: pointer; }
      @media (min-width: 1200px) {
        .my-dropdown ul li {
          margin-bottom: 12px; } }
      .my-dropdown ul li:hover {
        color: #64D72F;
        background-color: rgba(24, 160, 251, 0.1); }

.popup-btn:focus ~ .my-dropdown {
  display: block; }

.filter-bar_right {
  align-items: flex-end; }
  @media (min-width: 992px) {
    .filter-bar_right {
      align-items: baseline; } }

.filter-btn {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  width: fit-content;
  font-size: 14px;
  border-radius: 8px;
  font-weight: 400 !important;
  color: #fff;
  font-weight: bold;
  background-color: #64D72F;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 26px; }
  .filter-btn:hover {
    background-color: #306C14;
    opacity: 78%; }
  @media (min-width: 768px) {
    .filter-btn {
      font-size: 16px;
      height: 32px; } }
  @media (min-width: 1200px) {
    .filter-btn {
      height: 40px; } }

.clear-filter-btn {
  font-weight: 400 !important;
  color: #fff;
  font-weight: bold;
  background-color: #64D72F;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: fit-content;
  color: #B4B4B4;
  background-color: #fff;
  width: 70px;
  height: 26px; }
  @media (min-width: 768px) {
    .clear-filter-btn {
      font-size: 16px;
      height: 32px; } }
  @media (min-width: 1200px) {
    .clear-filter-btn {
      height: 40px; } }
  .clear-filter-btn:hover {
    text-decoration: underline; }
