<div class="pop-up">
    <div class="center-screen">
        <div class="pop-up-container border-10 @(isConfirm ? "d-block" : "d-none")">
            <div @onclick="CloseModal" class="close-btn">
                <span class="material-icons">
                    close
                </span>
            </div>
            <div class="content">
                <h3>Bạn có chắc chắn muốn</h3>
                <h3><span class="delete-text">@(!Undo? "chọn lại tình nguyện viên" : "xóa tình nguyện viên")</span> này không?</h3>
            </div>
            <div class="pop-up-btn">
                <div @onclick="CloseModal" class="btn px-0 deny">Hủy</div>
                <div @onclick="ActionSuccess" class="btn accept px-0">Xác nhận</div>
            </div>
        </div>

        <div class="pop-up-container border-10 @(isConfirm ? "d-none" : "d-block")">
            <div @onclick="CloseModal" class="close-btn-s">
                <span class="material-icons">
                    close
                </span>
            </div>
            <div class="pop-up-content">
                <h3 class="delete-act">@(!Undo? "Hoàn tác thành công!" : "Xóa thành công!")</h3>
            </div>
        </div>
    </div>
</div>

@code {

}
