@attribute [Route(Routes.VolunteersList)]

@attribute [Authorize]

<div class="container-lg px-0 layout">
    <Title num = "checkList.Count"></Title>

    <NavMini OnSearch = "OnSearch" ValueChange = "ValueChange" CheckedList = "checkList" ActId = "ActId" OnChangeList = "OnChange" PagedResult ="pagedResult" ShowDeletedList ="isDeletedList" />

    <Listcard SearchValue =@searchValue OnChangeList = "OnChecked" PagedResult ="pagedResult" IsDeleted="isDeletedList" ActId = "ActId" CheckList = "checkList"/>
</div>

@code {
   
}
