@attribute [Route(Routes.VolunteersList + "/{ActId}")]

@attribute [Authorize(Roles = "Organization")]

<div class="container-lg px-0 layout">
    <Title Name =@actName></Title>
    <Listcard  ActId =@actId/>
</div>

@code {
   
}
