/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.search-and-button .dropdown button {
  float: right;
  color: #18A0FB;
  background: #FFFFFF;
  border: 1px solid #18A0FB;
  font-size: 16px;
  min-width: 158px;
  cursor: pointer; }
  .search-and-button .dropdown button:hover {
    color: #FFFFFF;
    background: #18A0FB; }
  .search-and-button .dropdown button:focus, .search-and-button .dropdown button:active {
    outline: none !important;
    box-shadow: none !important; }

.search-and-button .dropdown .dropdown-menu {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: none; }
  .search-and-button .dropdown .dropdown-menu .dropdown-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    position: relative; }
    .search-and-button .dropdown .dropdown-menu .dropdown-item__download {
      color: #64D72F; }
    .search-and-button .dropdown .dropdown-menu .dropdown-item__upload {
      color: #18A0FB; }
    .search-and-button .dropdown .dropdown-menu .dropdown-item .material-icons-outlined {
      position: absolute;
      right: 20px; }

.my-container {
  padding: 0;
  display: flex;
  align-items: center;
  margin: 15px 0 20px; }
  .my-container .quantity-volunteers {
    font-size: 14px;
    color: #18A0FB;
    margin-bottom: 0; }
    @media (min-width: 576px) {
      .my-container .quantity-volunteers {
        font-size: 18px;
        margin-bottom: 12px; } }
    .my-container .quantity-volunteers span {
      color: #64D72F; }
  .my-container .button__text {
    font-size: 14px;
    color: #FFFFFF;
    padding: 4px 10px;
    border: none;
    border-radius: 5px; }
    @media (min-width: 576px) {
      .my-container .button__text {
        font-size: 16px;
        padding: 8px 25px;
        margin-right: 7px; } }
  .my-container .button__text--undo {
    background-color: #18A0FB; }
    .my-container .button__text--undo:hover {
      background-color: #0B588c; }
  .my-container .button__text--del {
    background-color: #C4C4C4; }
    .my-container .button__text--del:hover {
      background-color: #F14747; }
  .my-container .link__text {
    font-size: 14px;
    float: right;
    margin: auto;
    cursor: pointer; }
    @media (min-width: 576px) {
      .my-container .link__text {
        font-size: 18px; } }
  .my-container .link__text--del {
    color: #F14747; }
  .my-container .link__text--undo {
    color: #18A0FB; }
