@import '../../../Resources/scss/common/_variables.scss';

.search-and-button {
    display: grid;
    grid-template-columns: 55% 45%;

    .dropdown {

        button {
            float: right;
            color: $blue;
            background: $white;
            border: 1px solid $blue;
            font-size: 16px;
            min-width: 158px;
            cursor: pointer;
            margin-right: 12px;

            &:hover {
                color: $white;
                background: $blue;
            }
        }

        .dropdown-menu {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            border: none;

            .dropdown-item {
                display: flex;
                align-items: center;
                cursor: pointer;
                font-size: 16px;
                font-weight: 500;
                position: relative;

                &__download {
                    color: $green;
                }

                &__upload {
                    color: $blue;
                }

                .material-icons-outlined {
                    position: absolute;
                    right: 20px;
                }
            }
        }
    }
}

.my-container {
    padding: 0;
    display: flex;
    align-items: center;
    margin: 15px 0 20px;

    .quantity-volunteers {
        width: 50%;
        font-size: 18px;
        color: $blue;

        span {
            color: $green;
        }
    }

    .button {
        width: 30%;

        &__text {
            float: right;
            font-size: 16px;
            color: $white;
            padding: 8px 25px;
            border: none;
            border-radius: 5px;
            margin-right: 7px;
        }

        &__text--undo {
            background-color: $blue;

            &:hover {
                background-color: $blue-hv;
            }
        }

        &__text--del {
            background-color:$grey-close-bg;

            &:hover {
                background-color: $red;
            }
        }
    }

    .link {
        width: 20%;

        &__text {
            float: right;
            font-size: 20px;
            margin: auto;
            cursor: pointer;
        }

        &__text--del {
            color: #F14747;
        }

        &__text--undo {
            color: $blue;
        }
    }
}