
<div class="title">
    <div class="main-title">
        @if (isDeletedList)
        {
            <div style="color: red">Danh sách xóa <span>tình nguyện viên</span></div>
        }
        else
        {
            <div>Danh sách <span>tình nguyện viên</span></div>
        }
    </div>
    <div class="sub-title">
        <div class="sub-title--content">@Name</div>
    </div>
</div>

@code {
    private bool isDeletedList = false; // true thì show danh sách xóa, false thì show danh sách đăng ký
}