<div class="my-modal">
    <div class="modal__content">
        <div class="modal__failed">
            <div @onclick="CloseModalAsync" class="icon-close">
                <span class="material-icons">
                    close
                </span>
            </div>
            @if (IsSuccess)
            {
                <h3 class="text-center mb-0">
                    Cập nhật <span>danh sách TNV</span> thành công
                </h3>
            }
            else
            {
                <h3 class="text-center mb-0">
                    Cập nhật <span>không thành công</span>
                </h3>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool IsSuccess { get; set; } = true;

    [CascadingParameter]
    public BlazoredModalInstance Modal { get; set; }

    private async Task CloseModalAsync()
    {
        await Modal.CloseAsync();
    }
}
