@import '../../../Resources/scss/common/_variables';

.my-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(196, 196, 196, 0.38);
    z-index: 120;

    .modal__content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal__addVideo {
        width: 450px;
        padding: 30px 30px;
        background-color: $white;
        position: relative;
        box-shadow: 0px 4px 100px rgba(0, 0, 0,.25);
        border-radius: 10px;

        h3 {
            font-weight: 500;
            font-size: 20px;
            color: $green;
            margin-bottom: 30px;

            span {
                color: $blue;
            }
        }

        p {
            font-weight: 400;
            font-size: 16px;
            color: #515151;
            margin-bottom: 20px;
        }
    }

    .modal__addVideo .icon-close {
        width: 33px;
        height: 33px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10px;
        right: 12px;
        cursor: pointer;
        background: rgba(196, 196, 196, .5);

        .material-icons {
            font-size: 20px;
            color: $grey-close-btn;
        }
    }

    .modal__success .icon-close {
        width: 22px;
        height: 22px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        background: rgba(196, 196, 196, .5);

        .material-icons {
            font-size: 16px;
            color: $grey-close-btn;
            line-height: 0;
        }
    }
}
