/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.cursor-pointer {
  cursor: pointer; }

.lm-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 1; }

.div-checkbox-skillGr {
  width: 15px;
  height: 15px; }

.div-checkbox-skill {
  width: 10px;
  height: 10px; }

.check-box-skillGr {
  width: 15px;
  height: 15px;
  border-radius: 5px;
  margin-right: 5px; }
  .check-box-skillGr::before {
    width: 9px;
    height: 5px; }

.check-box-skill {
  width: 10px;
  height: 10px;
  border-radius: 3px;
  margin-right: 3px; }
  .check-box-skill::before {
    width: 7px;
    height: 3px; }

.check-box {
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid #B4B4B4;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  position: relative;
  cursor: pointer; }
  .check-box::before {
    content: "";
    /*width: 9px;
        height: 5px;*/
    border-left: 2px solid #18A0FB;
    border-bottom: 2px solid #18A0FB;
    position: absolute;
    top: 40%;
    left: 52%;
    transform: translate(-50%, -50%) rotate(-45deg);
    display: none; }
  .check-box:checked::before {
    display: block; }

.skill-group {
  font-weight: 400;
  font-size: 20px;
  font-weight: normal; }

.skill {
  font-weight: 500;
  font-size: 16px;
  color: #64D72F; }

.see-more {
  cursor: pointer; }

.see-more:not(.collapsed) {
  transform: rotate(0deg); }

.see-more[aria-expanded="true"] {
  transform: rotate(90deg); }
