@import '../../../Resources/scss/common/_variables';

.my-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(196, 196, 196, 0.38);
    z-index: 120;

    .modal__content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal__options, .modal__success {
        background-color: $white;
        position: relative;
        box-shadow: 0px 4px 100px rgba(0, 0, 0,.25);
        border-radius: 10px;
    }

    .modal__options {
        width: 525px;
        padding: 30px 45px;

        h3 {
            font-weight: 500;
            font-size: 24px;
            color: $green;
            margin-bottom: 30px;

            span {
                color: $blue;
            }
        }
    }

    .modal__success {
        width: 400px;
        padding: 30px 30px;

        h3 {
            font-weight: 500;
            font-size: 20px;
            color: $green;

            span {
                color: $blue;
            }
        }

        p {
            font-weight: 500;
            font-size: 20px;
            color: $green;
        }
    }

    .modal__options .icon-close {
        width: 33px;
        height: 33px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10px;
        right: 12px;
        cursor: pointer;
        background: rgba(196, 196, 196, .5);

        .material-icons {
            font-size: 20px;
            color: $grey-close-btn;
        }
    }

    .modal__success .icon-close {
        width: 22px;
        height: 22px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        background: rgba(196, 196, 196, .5);

        .material-icons {
            font-size: 16px;
            color: $grey-close-btn;
            line-height: 0;
        }
    }
    //Edit form

    .mb-20 {
        margin-bottom: 20px;
    }

    .mb-30 {
        margin-bottom: 30px;
    }

    .bg-grey {
        background-color: #f3f3f3;
    }

    .form-control {
        border: 1px solid #D8D8D8;
    }

    .form-control[readonly] {
        background-color: $white;
        opacity: 1;
    }

    .form__title {
        width: 135px;
        font-weight: 400;
        font-size: 16px;
        color: #515151;
        margin-bottom: 0px;

        span {
            color: red;
        }

        & + div {
            width: calc(100% - 135px);
            padding-left: 10px;
        }
    }

    .form__note {
        position: absolute;
        bottom: -20px;
        left: 10px;
        font-weight: 400;
        font-size: 11px;
    }

    .from__btn {
        font-weight: 600;
        font-size: 16px;
        margin-top: 30px;

        .btn-add {
            background-color: $blue;
            color: $white;
            border-radius: 5px;
            width: 140px;
            height: 35px;
            padding: 0;

            &:hover {
                background-color: $blue-bold;
                color: $white;
            }

            &:focus {
                box-shadow: none;
            }
        }
    }

    .form__prioritize, .modal__areaPrioritize {
        font-weight: 600;
        font-size: 14px;
        color: #B4B4B4;

        .check-box {
            border-radius: 5px;
            width: 15px;
            height: 15px;
            margin-right: 5px;
            vertical-align: top;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            border: 1px solid $grey-icon;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            -webkit-print-color-adjust: exact;
            position: relative;
            cursor: pointer;

            &::before {
                content: "";
                width: 9px;
                height: 5px;
                border-left: 2px solid #18A0FB;
                border-bottom: 2px solid #18A0FB;
                position: absolute;
                top: 40%;
                left: 52%;
                transform: translate(-50%, -50%) rotate( -45deg );
                display: none;
            }

            &:checked::before {
                display: block;
            }
        }
    }

    .form__prioritize {
        label {
            cursor: pointer;
            font-weight: 500;
            font-size: 16px;
            color: $blue;
        }
    }

    .modal__areaPrioritize {
        hr {
            background: #B4B4B4;
            margin: 30px 0;
        }

        .item:nth-of-type(1), .item:nth-of-type(2) {
            margin-bottom: 16px;
        }

        p {
            text-align: center;
            font-weight: 500;
            font-size: 14px;
            color: rgba(81, 81, 81, 0.5);
            padding: 0 70px;
        }

        i {
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50px;
            background-color: $red;
            text-align: center;
            color: white;
            font-size: 24px;
        }

        span {
            font-weight: 400;
            font-size: 16px;
            color: $red;
        }
    }

    .icon-color, {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
    }

    ::deep .input-color {
        position: absolute;
        right: 0;
        bottom: 15px;
        width: 1px;
        height: 1px;
        visibility: hidden;
    }
}
