@using VMS.Application.ViewModels;

<div class="my-modal">
    <div class="modal__content">
        <div class="modal__confirm @(isSuccess ? "d-none" : "d-block")">
            <div @onclick="CloseModalAsync" class="icon-close">
                <span class="material-icons">
                    close
                </span>
            </div>
            <div>
                <h3 class="text-center mb-3">Bạn có chắc chắn muốn <span>xóa @(IsArea ? "lĩnh vực" : "kỹ năng")</span> này không?</h3>
                <div class="text-end">
                    <button @onclick="CloseModalAsync" class="btn btn-cancel">Hủy</button>
                    <button @onclick="ShowEditSuccess" class="btn btn-confirm">Chắc chắn</button>
                </div>
            </div>
        </div>
        <div class="modal__success @(isSuccess ? "d-block" : "d-none")">
            <div @onclick="CloseModalAsync" class="icon-close">
                <span class="material-icons">
                    close
                </span>
            </div>
            <h3 class="text-center mb-0">Bạn đã <span>xóa @(IsArea ? "lĩnh vực" : "kỹ năng")</span> thành công </h3>
        </div>
    </div>
</div>

@code {
    private bool isSuccess = false;

    [CascadingParameter]
    public BlazoredModalInstance Modal { get; set; }

    [Parameter] public bool IsArea { get; set; }

    private async Task CloseModalAsync()
    {
        await Modal.CloseAsync(ModalResult.Ok<bool>(isSuccess));
    }

    private void ShowEditSuccess()
    {
        isSuccess = !isSuccess;
    }
}
