/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
::deep .my-uploadImg {
  padding: 0 !important;
  margin-bottom: 32px; }

.up-banner h3 {
  font-size: 18px;
  font-weight: 500;
  color: #515151; }

.up-banner h6 {
  font-size: 16px;
  font-weight: 500;
  color: #18A0FB; }
