<div class="up-banner w-75">
    <h3 class="mb-4">Banner</h3>
    <div class="ps-3">
        <h6 class="mb-4">Header banner</h6>
        <VMS.Shared.Components.UploadImg />
        <VMS.Shared.Components.UploadImg />
        <h6 class="mb-4">Body banner</h6>
        <VMS.Shared.Components.UploadImg />
        <h6 class="mb-4">Footer banner</h6>
        <VMS.Shared.Components.UploadImg />
    </div>
   
</div>


@code {

}
