<div class="org-filter">
    <div class="org-filter__title">
        Lọc <span>hoạt động</span>
    </div>
    <div class="org-filter__act">
        <div class="org-filter__act__child">
            <input type="checkbox" id="hd1">
            <label for="hd1">Đang diễn ra</label>
        </div>
        <div class="org-filter__act__child">
            <input type="checkbox" id="hd2">
            <label for="hd2">Đã diễn ra</label>
        </div>
    </div>
    <hr>
    <div class="org-filter__act">
        <div class="org-filter__act__child">
            <input type="checkbox" id="md1">
            <label for="md1">Virtual</label><br>
        </div>
        <div class="org-filter__act__child">
            <input type="checkbox" id="md2">
            <label for="md2">Actual</label><br>
        </div>
    </div>
    <div class="org-filter__btn">
        <div class="btn">Lọc</div>
    </div>
</div>
@code {

}
