@import "../../Resources/scss/common/_variables";

//---------------------------TITLE---------------------------------//
.org-title {
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    color: $green;

    span {
        color: $blue-less;
    }
}


