/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.org-search {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 5px 20px;
  border-bottom: 2px solid #707070;
  margin-bottom: 50px;
  align-items: center; }
  .org-search__input {
    flex: 19;
    border: none;
    text-align: center; }
  .org-search__btn {
    flex: 1;
    border-left: 2px solid #707070;
    border-radius: 0;
    color: #18A0FB;
    justify-self: center; }
