@import '../../Resources/scss/common/_variables';

/*------SearchBox--------*/
.my-search-box {
    &__input {
        width: 100%;
        outline: none;
        border: none;
        border-bottom: 1px solid $border-color-normal;
        font-size: 18px;
        color: $blue;
        font-weight: 500;

        &::placeholder {
            color: $green;
        }
    }

    &__icon-wrapper {
        margin-left: -56px;

        span {
            color: $green;
            font-size: 26px;
            line-height: 24px;
        }

        #clear-search {
            background-color: none;
        }

        .search-btn {
            background-color: transparent;
            border: none;
            padding: 0;

            span {
                background-color: #e5e5e58c;
                padding: 2px;
                margin-bottom: 3px;
                border-radius: 3px;
            }
        }

        .clear-search-btn {
            margin-top: -4px;
            visibility: hidden;
            cursor: pointer;
        }
    }

    &__input:not(:placeholder-shown) ~ &__icon-wrapper .clear-search-btn {
        visibility: visible;
    }
}
/*------EndSearchBox-------*/

