
<div class="search-box-cover">
    <form action="/" method="post" class="my-search-box d-flex mb-4">
        <input type="text" value=@mySearchValue @oninput="UpdateInstanceValue" class="my-search-box__input" placeholder="Tìm kiếm bằng từ khóa" />
        <div class="my-search-box__icon-wrapper d-flex align-items-center">
            <span @onclick="ClearSearchBox" class="material-icons-outlined clear-search-btn">
                close
            </span>
            <button type="submit" class="search-btn d-flex align-items-center" @onclick="SearchAct">
                <span class="material-icons-outlined">
                    search
                </span>
            </button>
        </div>
    </form>
    <div class="text-result mb-5" style="display:@(ShowResult?"initial":"none")">Có <span>@SumResult</span> hoạt động tương ứng với kết quả tìm kiếm của bạn.</div>
</div>

@code {
    private bool ShowResult = false;
    private int SumResult = -1;
    private string mySearchValue = "";
    private async Task ClearSearchBox()
    {
        mySearchValue = "";
        ShowResult = false;
    }
    private async Task UpdateInstanceValue(ChangeEventArgs e)
    {
        mySearchValue = e.Value.ToString();
    }
    private async Task SearchAct()
    {
        ShowResult = true;
        SumResult = 0;
    }
}
