
<div class="search-box-cover">
    <form action="/" method="post" class="my-search-box d-flex mb-3">
        <input type="text" value=@SearchValue @onchange="UpdateSearchValueAsync"  @onkeyup="SearchAsync" class="my-search-box__input" placeholder="Tìm kiếm bằng từ khóa" />
        <div class="my-search-box__icon-wrapper d-flex align-items-center">
            <span @onclick="ClearSearchBox" class="material-icons-outlined clear-search-btn">
                close
            </span>
            <button type="submit" class="search-btn d-flex align-items-center">
                <span class="material-icons-outlined">
                    search
                </span>
            </button>
        </div>
    </form>
</div>

@code {
}
