<div class="org-search">
    <input class="org-search__input" type="text" value="Nhập từ khóa tìm kiếm">
    <div class="org-search__btn btn">
        <span class="material-icons-outlined">
            search
        </span>
    </div>
</div>

@code {

}
