@import '../../Resources/scss/common/_variables.scss';
.colored-red {
    color: #f14747;
}

.colored-green {
    color: $green;
}

.modal-backdrop {
    background-color: rgba(196, 196, 196, 0.38);
}

.my-custom-popup {
    width: 280px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 999;

    @include on('sm') {
        width: 500px;
    }

    @include on('md') {
        width: 570px;
    }

    @include on('lg') {
        width: 620px;
    }

    h3 {
        font-weight: 500;
        font-size: 22px;
        color: $green;

        @include on('lg') {
            font-size: 24px;
        }
    }

    .close-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 20px;
        height: 20px;
        background-color: $grey-bg;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        cursor: pointer;

        @include on('md') {
            width: 30px;
            height: 30px;
            font-size: 20px;
            top: 18px;
            right: 29px;
        }

        @include on('xl') {
            width: 40px;
            height: 40px;
            font-size: 24px;
        }
    }

    .areas-modal-content {
        /*padding-left: 45px;

        @include on('xl') {
            padding-left: 80px;
        }*/

        &__container {
            height: 315px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 3px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $grey-icon;
                border-radius: 20px;
            }

            @include on('sm') {
                height: 100%;
            }

            @include on('xl') {
                height: 100%;
                grid-template-columns: auto auto;
            }
        }
    }


    .area-item-wrapper {
        cursor: pointer;
        margin-bottom: 13px;

        @include on('md') {
            margin-bottom: 18px;
        }

        @include on('xl') {
            margin-bottom: 22px;
        }

        div {
            width: 40px;
            height: 40px;
            background-color: #B4B4B4;
            border-radius: 50%;
            color: #fff;
            transition: all 0.3s linear;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            transition: all 0.3s linear;
        }

        &:hover > div {
            font-size: 24px;
        }

        &:hover > .area-item-title {
            transform: translateY(-5px);
        }

        &:hover > .area-item-icon {
            font-size: 30px;
        }
    }

    .save-btn {
        @include green-btn;
        font-size: 20px;
        width: 74px;
        height: 33px;

        @include on('md') {
            width: 82px;
            height: 36px;
        }

        @include on('xl') {
            width: 90px;
            height: 40px;
        }

        &:hover {
            background-color: $green-bold;
        }
    }

    .covid-item {
        p {
        }

        span:hover ~ p,
        p:hover {
            color: #f14747 !important;
        }
    }
}


    
