<div class="modal-backdrop modal-dialog-centered justify-content-center">
    <div class="my-custom-popup position-relative">
            <span @onclick="CloseModal" class="material-icons-outlined close-btn">
                close
            </span>
    
        <h3 class="text-center mt-5 mb-4">Lĩnh Vực</h3>
        <div class="col-10 mx-auto">
            <div class="row justify-content-evenly">
                @*các items sắp xếp theo chiều từ trên xuống dưới, từ trái qua phải*@
                <div class="col-3">
                    <div class="area-item-wrapper d-flex align-items-center mb-4">
                        <span class="material-icons-outlined d-flex align-items-center justify-content-center">
                            people
                        </span>
                        <p class="mb-0 ms-2">Cộng đồng</p>
                    </div>
                    <div class="area-item-wrapper d-flex align-items-center mb-4">
                        <span class="material-icons-outlined d-flex align-items-center justify-content-center">
                            people
                        </span>
                        <p class="mb-0 ms-2">Giáo dục</p>
                    </div>
                    <div class="area-item-wrapper d-flex align-items-center mb-4">
                        <span class="material-icons-outlined d-flex align-items-center justify-content-center">
                            people
                        </span>
                        <p class="mb-0 ms-2">Sức khỏe</p>
                    </div>
                    <div class="area-item-wrapper d-flex align-items-center mb-4">
                        <span class="material-icons-outlined d-flex align-items-center justify-content-center">
                            people
                        </span>
                        <p class="mb-0 ms-2">Môi trường</p>
                    </div>
                </div>

                <div class="col-3">
                    <div class="area-item-wrapper d-flex align-items-center mb-4">
                        <span class="material-icons-outlined d-flex align-items-center justify-content-center">
                            people
                        </span>
                        <p class="mb-0 ms-2">Sự kiện</p>
                    </div>
                    <div class="area-item-wrapper d-flex align-items-center mb-4">
                        <span class="material-icons-outlined d-flex align-items-center justify-content-center">
                            people
                        </span>
                        <p class="mb-0 ms-2">Khẩn cấp</p>
                    </div>
                    <div class="area-item-wrapper d-flex align-items-center mb-4">
                        <span class="material-icons-outlined d-flex align-items-center justify-content-center">
                            people
                        </span>
                        <p class="mb-0 ms-2">Công nghệ</p>
                    </div>
                    <div class="area-item-wrapper d-flex align-items-center mb-4">
                        <span class="material-icons-outlined d-flex align-items-center justify-content-center">
                            people
                        </span>
                        <p class="mb-0 ms-2">Chuyển nhà</p>
                    </div>
                </div>

                <div class="col-3">
                    <div class="area-item-wrapper d-flex align-items-center mb-4">
                        <span class="material-icons-outlined d-flex align-items-center justify-content-center">
                            people
                        </span>
                        <p class="mb-0 ms-2">Hỗ trợ</p>
                    </div>
                    <div class="area-item-wrapper d-flex align-items-center mb-4">
                        <span class="material-icons-outlined d-flex align-items-center justify-content-center">
                            people
                        </span>
                        <p class="mb-0 ms-2">Kỹ thuật</p>
                    </div>
                    <div class="area-item-wrapper d-flex align-items-center mb-4">
                        <span class="material-icons-outlined d-flex align-items-center justify-content-center">
                            people
                        </span>
                        <p class="mb-0 ms-2">Phương tiện </p>
                    </div>
                    <div class="area-item-wrapper d-flex align-items-center mb-4">
                        <span class="material-icons-outlined d-flex align-items-center justify-content-center">
                            people
                        </span>
                        <p class="mb-0 ms-2">Thể thao</p>
                    </div>
                </div>


            </div>
        </div>
        <div @onclick="SaveModal" class="save-btn d-flex justify-content-center align-items-center">Lưu</div>

    </div>
</div>

@code {

    [CascadingParameter]
    private BlazoredModalInstance AreasModal { get; set; }
    void CloseModal()
    {
        AreasModal.CloseAsync(ModalResult.Ok(""));
    }

    void SaveModal()
    {
        AreasModal.CloseAsync(ModalResult.Ok("bg-grey"));
    }
}
