<div class="modal-backdrop modal-dialog-centered justify-content-center">
    <div class="my-custom-popup position-relative d-flex flex-column justify-content-between align-items-center">
        <span @onclick="CloseModalAsync" class="material-icons-outlined close-btn">
            close
        </span>

        <h3 class="text-center mt-4 mb-4">Lĩnh vực</h3>
        <div class="col-10 areas-modal-content">
            <div class="areas-modal-content__container">
                <div class="area-item-wrapper d-flex align-items-center mb-2 covid-item">
                    <div class="d-flex align-items-center justify-content-center" style="background-color: #f14747" ;>
                        <span class="material-icons-outlined">
                            coronavirus
                        </span>
                    </div>

                            <p @onclick=" () => ChangeCovid()" class="mb-0 ms-3 @(isCovidChoosen ? "colored-red" : "")">COVID-19</p>
                        </div>
                @if (areas is not null)
                {
                    @foreach (var area in areas)
                    {
                        <div class="area-item-wrapper d-flex align-items-center mb-2">
                            <div @onclick="() => ChangeState(area)" class="material-icons d-flex align-items-center justify-content-center">
                                @area.Icon
                            </div>
                            <p @onclick="() => ChangeState(area)" class="mb-0 ms-3 @(choosenAreas.Exists(a => a.Id == area.Id) ? "colored-green" : "")">@area.Name</p>
                        </div>
                    }
                }
            </div>
        </div>
        <div @onclick="SaveModalAsync" class="save-btn d-flex justify-content-center align-items-center">Lưu</div>

    </div>
</div>

@code {
    bool isCovidChoosen = false;
    void ChangeCovid()
    {
        isCovidChoosen = !isCovidChoosen;
    }
}
