<div class="my-featuredAct">
    @if (FeaturedActivities is not null)
    {
        @foreach (var activity in FeaturedActivities)
        {
            <div class="featuredAct__card ">
                <img class="w-100" src="/img/@activity.Banner" alt="">
                <div class="featuredAct__title">
                    <a href="@Routes.ActivityInfo/@activity.Id" class="lmtext-5">@activity.Name</a>
                    <div class="featuredAct__overplay"></div>
                </div>
            </div>
        }
    }
</div>

@code {
}
