<div class="my-featuredAct">
    @if (FeaturedActivities is not null)
    {
        @foreach (var activity in FeaturedActivities)
        {
            <div class="act-container item position-relative">
                <div class="img-container position-relative">
                    <img src="@activity.Banner" alt="" class="act-img">
                </div>
                <div class="act-content ">
                    <a href="@Routes.ActivityInfo/@activity.Id " class="content-nm ">
                        <h3 class="act-title mb-0 lm-text title-nm">@activity.Name</h3>
                    </a>
                </div>  
            </div>
        }
    }
</div>

@code {
}
