<div class="my-featuredAct">
    @if (FeaturedActivities is not null)
    {
        @foreach (var activity in FeaturedActivities)
        {
            <div class="featuredAct__card ">
                <img class="w-100" src="@activity.Banner" alt="">
                <div class="featuredAct__title">
                    <a class="lmtext-5" href="@Routes.ActivityInfo/@activity.Id">@activity.Name</a>
                </div>
                <div class="featuredAct__overplay"></div>
            </div>
        }
    }
</div>

@code {
}
