<div class="my-featuredAct mx-auto">
        <div class="featuredAct__card ">
            <img class="w-100" src="img/act1.png" alt="">
            <div class="featuredAct__title">
                <h3 class="lmtext-5">Tuyển tình nguyện viên tham gia công tác phòng, chống dịch bệnh Covid-19 tại địa phương</h3>
                <div class="featuredAct__overplay"></div>
            </div>
        </div>
        <div class="featuredAct__card">
            <img class="w-100" src="img/act1.png" alt="">
            <div class="featuredAct__title">
                <h3 class="lmtext-5">Tuyển tình nguyện viên tham gia công tác phòng, chống dịch bệnh Covid-19 tại địa phương</h3>
                <div class="featuredAct__overplay"></div>
            </div>

        </div>
</div>

@code {

}
