@attribute [Route(Routes.ActivitySearch)]

<div class="container-lg px-0 layout">
    <div class="layout__filterbar" style="height: 90px;">
        Search box and filter bar
    </div>
    <div class="layout__divider"></div>
    <div class="row layout__body">
        <div class="col-8 ">
            <PageAct></PageAct>
        </div>
        <div class="col-3 ms-auto">
            <FeaturedAct></FeaturedAct>
        </div>
      
    </div>
</div>

@code {
    
}