@attribute [Route(Routes.ActivitySearch)]

<div class="container-lg px-0 layout">
    <div class="layout__filterbar mb-2">
        <SearchBoxAndFilterBar @bind-Filter="filter" @bind-SearchValue="searchValue"/>
        @searchValue
    </div>
    <div class="layout__divider"></div>
    <div class="layout__body">
        <PageAct Filter=@filter SearchValue=@searchValue></PageAct>
    </div>
</div>

@code {
    
}