@import "../../Resources/scss/common/_variables.scss";
.my-container {
    padding: 0 20px;
    @include on('xl') {
        padding: 0 0;
    }
}
.heading-container {

    .page-heading {
        font-size: 24px;

        @include on('xl') {
            font-size: 60px;
        }

        color: $blue;
        font-weight: 500;

        span {
            color: $green;
        }
    }
}
