@attribute [Route(Routes.ActivitySearch)]

<div class="container-lg px-0 layout">
    <div class="layout__filterbar mb-2">
        <VMS.Pages.ActivitySearchPage.SearchBoxAndFilterBar />
    </div>
    <div class="layout__divider"></div>
    <div class="row layout__body">
        <div class="col-8 flex-grow-1 layout__body__main" style="height: 90px;">
            Main body
        </div>
        <div class="col-3 layout__body__featured-cards">
            Featured cards
        </div>
    </div>
</div>

@code {
    
}