@import "../../Resources/scss/common/_variables";

// my-act
.my-act {
    .act {
        h3 {
            margin-top: 10px;
            font-size: 24px;
            font-weight: 400;
            color: #18A0FB;

            span {
                color: #64D72F;
            }
        }

        .act__item {
            background-color: $grey;
            padding: 30px 10px;
            border-radius: 10px;
        }
    }

    .act__content {
        padding: 0 20px;
        position: relative;

        h5 {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 600;

            i {
                color: $green;
                margin-right: 5px;
            }
        }

        p {
            font-size: 18px;
            font-weight: 400;
        }

        span {
            font-size: 14px;
            font-weight: 400;
        }
    }

    .act__signUp {
        position: absolute;
        bottom: -10%;
        right: 5%;
        display: flex;

        i {
            font-size: 36px;
            color: #F14747;
        }

        button {
            background-color: $green;
            padding: 0px 20px;
            margin-left: 20px;
            font-size: 20px;
            font-weight: 600;
            color: $white;

            &:hover {
                background-color: $green-bold;
                color: $white;
            }
        }
    }


}


.pagination {
    width:50%;
    margin-left:auto;
    margin-top: 20px;
    //display: flex;
    //justify-content: center;


    li {
        display: inline-block;
        list-style: none;
        margin: 0 3px;
        font-size: 18px;
    }

    .btn-prev span, .btn-next span {
        background-color: $blue;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        text-align: center;
        color: white;
        font-weight: 700;
        transition: all 0.3s linear;
    }

    .btn-prev span:hover, .btn-next span:hover {
        background: $blue-hv;
    }

    .numb {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        text-align: center;
        transition: all 0.3s linear;
    }

    .numb.active, .numb:hover {
        background: $blue;
        color: white;
    }
}

.lmtext-2, .lmtext-3,{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.lmtext-2 {
    -webkit-line-clamp: 2;
}

.lmtext-3 {
    -webkit-line-clamp: 3;
}

