@import "../../Resources/scss/common/_variables";

.bg-grey {
    background-color: $grey-icon !important;
    &:hover {
        background-color: $grey-icon !important;
        cursor: default !important;
    }
}

// my-act
.act {
    border-top: 2px solid $border-color-normal;

    h3 {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 400;
        color: #18A0FB;

        @include on('xl') {
            font-size: 24px;
        }

        span {
            color: #64D72F;
        }
    }

    .act__item {
        background-color: $grey;
        padding: 10px 0px;
        border-radius: 10px;
        margin-top: 30px;
        height: 180px;

        @include on('xl') {
            height: 310px;
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }
}

.act__content {
    position: relative;

    a {
        font-weight: 400;
        color: #18A0FB;
        text-decoration: none;
        cursor: pointer;
        word-spacing: -2px;

        &:hover {
            color: $blue-hv;
        }
    }

    a:first-of-type {
        font-size: 14px;

        @include on('xl') {
            font-size: 24px;
        }
    }

    a:nth-of-type(2) {
        font-size: 12px;

        @include on('xl') {
            font-size: 24px;
        }
    }

    h5 {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        margin: 5px 0;

        @include on('xl') {
            margin: 10px 0;
        }

        i {
            color: $green;
            margin-right: 5px;
            font-size: 18px;

            @include on('xl') {
                font-size: 24px;
            }
        }
    }

    p {
        font-size: 16px;
        font-weight: 400;
    }

    span {
        font-size: 10px;

        @include on('xl') {
            font-size: 14px;
        }

        font-weight: 400;
        color: $blue-bold;
    }

    ::deep &-description > * {
        margin: 0;
    }

    .icon-tooltip {
        display: none;
        color: #000;
        min-width: max-content;
        position: absolute;
        transform: translate(-80%,-95%);
        padding: 2px 10px;
        font-size: 12px;
        background-color: $white;
        border-radius: 10px;
        border-bottom-right-radius: 3px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25%);
    }

    .my-icon {
        cursor: default;

        &:hover + .icon-tooltip {
            display: block;
        }
    }

    .material-icons-outlined {
        font-size: 20px;
    }
}

.act__signUp {
    display: flex;

    i {
        font-size: 24px;
        color: #F14747;
        cursor: pointer;
        margin-left: auto;

        @include on('xl') {
            font-size: 36px;
        }
    }

    button {
        background-color: $green;
        padding: 0px 20px;
        margin-left: 10px;
        font-size: 14px;
        font-weight: 600;
        color: $white;
        padding: 2px 10px;
        border-radius: 5px;

        @include on('xl') {
            font-size: 20px;
            padding: 5px 15px;
            margin-left: 20px;
        }

        &:hover {
            background-color: $green-bold;
            color: $white;
        }
    }
}

.lmtext-2, .lmtext-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.lmtext-2 {
    -webkit-line-clamp: 2;
}

.lmtext-3 {
    -webkit-line-clamp: 3;
}

.act__content-description {
    display: none;

    @include on('xl') {
        display: -webkit-box;
    }
}

.div-volunteer {
    .icon-check {
        font-size: 14px;
        color: $red;
    }

    span {
        font-weight: 500;
        font-size: 14px;
        color: $red;
    }
}