/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.my-act .act h3 {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 400;
  color: #18A0FB; }
  .my-act .act h3 span {
    color: #64D72F; }

.my-act .act .act__item {
  background-color: #F3F3F5;
  padding: 30px 10px;
  border-radius: 10px; }

.my-act .act__content {
  padding: 0 20px;
  position: relative; }
  .my-act .act__content h5 {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600; }
    .my-act .act__content h5 i {
      color: #64D72F;
      margin-right: 5px; }
  .my-act .act__content p {
    font-size: 18px;
    font-weight: 400; }
  .my-act .act__content span {
    font-size: 14px;
    font-weight: 400; }

.my-act .act__signUp {
  position: absolute;
  bottom: -10%;
  right: 5%;
  display: flex; }
  .my-act .act__signUp i {
    font-size: 36px;
    color: #F14747; }
  .my-act .act__signUp button {
    background-color: #64D72F;
    padding: 0px 20px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF; }
    .my-act .act__signUp button:hover {
      background-color: #306C14;
      color: #FFFFFF; }

.pagination {
  width: 50%;
  margin-left: auto;
  margin-top: 20px; }
  .pagination li {
    display: inline-block;
    list-style: none;
    margin: 0 3px;
    font-size: 18px; }
  .pagination .btn-prev span, .pagination .btn-next span {
    background-color: #18A0FB;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: 700;
    transition: all 0.3s linear; }
  .pagination .btn-prev span:hover, .pagination .btn-next span:hover {
    background: #0B588c; }
  .pagination .numb {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    transition: all 0.3s linear; }
  .pagination .numb.active, .pagination .numb:hover {
    background: #18A0FB;
    color: white; }

.lmtext-2, .lmtext-3, .lmtext-5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; }

.lmtext-2 {
  -webkit-line-clamp: 2; }

.lmtext-3 {
  -webkit-line-clamp: 3; }

.lmtext-5 {
  -webkit-line-clamp: 5; }
