/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.bg-grey {
  background-color: #B4B4B4 !important; }
  .bg-grey:hover {
    background-color: #B4B4B4 !important;
    cursor: default !important; }

.act {
  border-top: 2px solid #b4b4b4; }
  .act h3 {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #18A0FB; }
    @media (min-width: 1200px) {
      .act h3 {
        font-size: 24px; } }
    .act h3 span {
      color: #64D72F; }
  .act .act__item {
    background-color: #F3F3F5;
    padding: 10px 0px;
    border-radius: 10px;
    margin-top: 30px;
    min-height: 135px; }
    @media (min-width: 1200px) {
      .act .act__item {
        min-height: 285px; } }
    .act .act__item img {
      height: 100%;
      object-fit: cover; }

.act__content {
  position: relative; }
  .act__content a {
    font-weight: 400;
    color: #18A0FB;
    text-decoration: none;
    cursor: pointer;
    word-spacing: -2px; }
    .act__content a:hover {
      color: #0B588c; }
  .act__content a:first-of-type {
    font-size: 14px; }
    @media (min-width: 1200px) {
      .act__content a:first-of-type {
        font-size: 24px; } }
  .act__content a:nth-of-type(2) {
    font-size: 12px; }
    @media (min-width: 1200px) {
      .act__content a:nth-of-type(2) {
        font-size: 24px; } }
  .act__content h5 {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    margin: 5px 0; }
    @media (min-width: 1200px) {
      .act__content h5 {
        margin: 10px 0; } }
    .act__content h5 i {
      color: #64D72F;
      margin-right: 5px;
      font-size: 18px; }
      @media (min-width: 1200px) {
        .act__content h5 i {
          font-size: 24px; } }
  .act__content p {
    font-size: 16px;
    font-weight: 400; }
  .act__content span {
    font-size: 10px;
    font-weight: 400;
    color: #0B588C; }
    @media (min-width: 1200px) {
      .act__content span {
        font-size: 14px; } }
  ::deep .act__content-description > * {
    margin: 0; }
  .act__content .icon-tooltip {
    display: none;
    color: #000;
    min-width: max-content;
    position: absolute;
    transform: translate(-80%, -95%);
    padding: 2px 10px;
    font-size: 12px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); }
  .act__content .my-icon {
    cursor: default; }
    .act__content .my-icon:hover + .icon-tooltip {
      display: block; }
  .act__content .material-icons-outlined {
    font-size: 20px; }

.act__signUp {
  display: flex; }
  .act__signUp i {
    font-size: 24px;
    color: #F14747;
    cursor: pointer;
    margin-left: auto; }
    @media (min-width: 1200px) {
      .act__signUp i {
        font-size: 36px; } }
  .act__signUp button {
    background-color: #64D72F;
    padding: 0px 20px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 2px 10px;
    border-radius: 5px; }
    @media (min-width: 1200px) {
      .act__signUp button {
        font-size: 20px;
        padding: 5px 15px;
        margin-left: 20px; } }
    .act__signUp button:hover {
      background-color: #306C14;
      color: #FFFFFF; }

.lmtext-2, .lmtext-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; }

.lmtext-2 {
  -webkit-line-clamp: 2; }

.lmtext-3 {
  -webkit-line-clamp: 3; }
