/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.bg-grey {
  background-color: #B4B4B4 !important; }
  .bg-grey:hover {
    background-color: #B4B4B4 !important;
    cursor: default !important; }

.act {
  border-top: 2px solid #bbb; }
  .act h3 {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 400;
    color: #18A0FB; }
    .act h3 span {
      color: #64D72F; }
  .act .act__item {
    background-color: #F3F3F5;
    padding: 20px 10px;
    border-radius: 10px;
    margin-top: 30px; }
    .act .act__item img {
      max-height: 260px;
      min-height: 200px;
      object-fit: cover; }

.act__content {
  padding: 0 20px;
  position: relative; }
  .act__content a {
    font-size: 24px;
    font-weight: 400;
    color: #18A0FB;
    text-decoration: none;
    cursor: pointer; }
    .act__content a:hover {
      color: #0B588c; }
  .act__content h5 {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0; }
    .act__content h5 i {
      color: #64D72F;
      margin-right: 5px;
      font-size: 24px; }
  .act__content p {
    font-size: 16px;
    font-weight: 400; }
  .act__content span {
    font-size: 14px;
    font-weight: 400; }
  ::deep .act__content-description > * {
    margin: 0; }

.act__signUp {
  display: flex; }
  .act__signUp i {
    font-size: 36px;
    color: #F14747;
    cursor: pointer;
    margin-left: auto; }
  .act__signUp button {
    background-color: #64D72F;
    padding: 0px 20px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 5px; }
    .act__signUp button:hover {
      background-color: #306C14;
      color: #FFFFFF; }

.lmtext-2, .lmtext-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; }

.lmtext-2 {
  -webkit-line-clamp: 2; }

.lmtext-3 {
  -webkit-line-clamp: 3; }
