@import '../../Resources/scss/common/_variables.scss';

.cursor-pointer {
    cursor: pointer;
}

.bg-grey {
    background-color: #f3f3f3;
}

.page-heading {
    font-size: 64px;
    color: $blue;
    font-weight: 500;
    span {
        color: $green;
    }
}

//Search box
.my-search-box {
    &__input {
        width: 40%;
        outline: none;
        border: none;
        border-bottom: 1px solid $border-color-normal;
        font-size: 18px;
        color: $blue;

        &::placeholder {
            color: $green;
        }
    }

    &__icon-wrapper {
        margin-left: -60px;

        span {
            color: $green;
            font-size: 24px;
            line-height: 24px;
        }

        .search-btn {
            background-color: transparent;
            border: none;
        }

        .clear-search-btn {
            margin-top: -4px;
            visibility: hidden;
            cursor: pointer;
        }
    }

    &__input:not(:placeholder-shown) ~ &__icon-wrapper .clear-search-btn {
        visibility: visible;
    }
}
//End searchbox

//Check box Vir/actual
.my-check-box {
    border-radius: 50px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 2px solid $grey-icon;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    position: relative;

    &::before {
        content: "";
        width: 11px;
        height: 11px;
        border-radius: 50px;
        background-color: #18A0FB;
        position: absolute;
        top: 49%;
        left: 53%;
        transform: translate(-50%, -50%);
        display: none;
    }

    &:checked::before {
        display: block;
    }

    &:checked {
        border-color: $blue;
    }
}

.my-check-box-label {
    font-size: 24px;
    color: $grey-text;
}
//End check box Vir/actual

//filter bar
.filter-item {
    width: 200px;
    &__select-city {

    }

    &__icon {
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        pointer-events: none;
    }
}


::deep .select2-container--default {
    .select2-selection--single {
        border-radius: 8px;
        height: 40px;
        background-color: transparent;
        border-color: $border-color-bold;

        .select2-selection__rendered {
            line-height: 40px;
            font-size: 18px;
            color: #b4b4b4;
        }

        .select2-selection__arrow {
            display: none;
        }

        .select2-selection__placeholder {
            font-size: 18px;
        }

        .select2-selection__clear {
            display: none;
        }

        &.select2-selection--clearable {
            background-color: #f3f3f3;
        }
    }

    &.select2-container--open.select2-container--below .select2-selection--single {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    & .select2-search--dropdown .select2-search__field {
        border: 1px solid $blue;
    }

    .my-dropdown {
        padding: 15px 25px;
        border-radius: 4px;
        border: none;
        margin-top: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        .select2-search {
            display: none;
        }


        .select2-results__options {
            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $grey-icon;
                border-radius: 20px;
            }
        }

        li {
            color: $blue;
            font-size: 22px;
        }
    }

    .select2-results__option--highlighted {
        background-color: unset;
        color: $blue;
    }

    .select2-results__option--selected {
        background-color: unset;
    }
}

.popup-btn {
    border-radius: 8px;
    height: 40px;
    width: 200px;
    border: 1px solid $border-color-bold;
    cursor: pointer;
    padding-left: 8px;
    font-size: 18px;
    color: #b4b4b4;
    line-height: 40px;
}

.filter-btn {
    @include green-btn;
    font-size: 20px;
    width: 90px;
    height: 40px;

    &:hover {
        background-color: #306C14;
        opacity: 78%;
    }
}

.clear-filter-btn {
    @include green-btn;
    font-size: 20px;
    width: 90px;
    color: $grey-icon;
    background-color: #fff;
    &:hover {
        text-decoration: underline;
    }
}
//End filter bar

//Arrange bar
.arrange-bar {
    label {
        font-size: 18px;
        color: $grey-text;
    }

    .my-radio-box {
        border-radius: 5px;
        width: 15px;
        height: 15px;
        margin-right: 5px;
        vertical-align: top;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: 2px solid $grey-icon;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-print-color-adjust: exact;
        position: relative;

        &::before {
            content: "";
            width: 9px;
            height: 5px;
            border-left: 2px solid #18A0FB;
            border-bottom: 2px solid #18A0FB;
            position: absolute;
            top: 40%;
            left: 52%;
            transform: translate(-50%, -50%) rotate( -45deg );
            display: none;
        }

        &:checked::before {
            display: block;
        }
    }
}
//End arrange bar
