@inject IJSRuntime JSRuntime

<h3 class="mt-5 mb-4 text-uppercase page-heading">We do it <span>together!</span></h3>
<form action="/" method="post" class="my-search-box d-flex mb-5">
    <input type="text" value="" class="my-search-box__input" placeholder="Tìm kiếm bằng từ khóa" />
    <div class="my-search-box__icon-wrapper d-flex align-items-center">
        <span class="material-icons-outlined close-btn">
            close
        </span>
        <button type="submit" class="search-btn d-flex align-items-center">
            <span class="material-icons-outlined">
                search
            </span>
        </button>
    </div>
</form>

<div class="d-flex align-items-center">
    <div class="form-check form-check-inline d-flex align-items-center ps-0 pe-5">
        <input class="my-check-box cursor-pointer" type="checkbox" id="virtual" value="virtual">
        <label class="my-check-box-label cursor-pointer" for="virtual">Virtual</label>
    </div>
    <div class="form-check form-check-inline d-flex align-items-center">
        <input class="my-check-box cursor-pointer" type="checkbox" id="actual" value="actual">
        <label class="my-check-box-label cursor-pointer" for="actual">Actual</label>
    </div>
</div>

<div class="filter-bar">
    <div class="filter-item position-relative">
        <select name="abc" class="filter-item__select js-states form-control">
            <option value=""></option>
            <option value="1">một</option>
            <option value="2">hai</option>
            <option value="3">ba</option>
            <option value="4">bốn</option>
            <option value="5">năm</option>
            <option value="6">sáu</option>
            <option value="7">bảy</option>
            <option value="8">tám</option>
            <option value="9">chín</option>
        </select>
        <span class="material-icons-outlined position-absolute filter-item__icon">
            expand_more
        </span>
    </div>
</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("vms.FilterBox", ".filter-item__select", "Tỉnh/Thành phố");
    }
}
