<div class="my-search-box d-flex mb-4 justify-content-between">
    <input type="text" value=@SearchValue @onchange="UpdateSearchValueAsync" @onkeyup="SearchAsync" class="my-search-box__input" placeholder="Tìm kiếm bằng từ khóa" />
    <div class="my-search-box__icon-wrapper d-flex align-items-center">
        <span @onclick="ClearSearchBox" class="material-icons-outlined clear-search-btn">
            close
        </span>
        <button @onclick="() => SearchAsync()" class="search-btn d-flex align-items-center">
            <span class="material-icons-outlined">
                search
            </span>
        </button>
    </div>
</div>

@code {
}