@inject IJSRuntime JSRuntime

<h3 class="mt-5 mb-4 text-uppercase page-heading">We do it <span>together!</span></h3>


<form action="/" method="post" class="my-search-box d-flex mb-5">
    <input type="text" value=@myInputValue @oninput="UpdateInstanceValue" class="my-search-box__input" placeholder="Tìm kiếm bằng từ khóa" />
    <div class="my-search-box__icon-wrapper d-flex align-items-center">
        <span @onclick="ClearSearchBox" class="material-icons-outlined clear-search-btn" >
            close
        </span>
        <button type="submit" class="search-btn d-flex align-items-center">
            <span class="material-icons-outlined">
                search
            </span>
        </button>
    </div>
</form>

<div class="d-flex align-items-center mb-3">
    <div class="form-check form-check-inline d-flex align-items-center ps-0 pe-5">
        <input class="my-check-box cursor-pointer" type="checkbox" id="virtual" value="virtual">
        <label class="my-check-box-label cursor-pointer" for="virtual">Virtual</label>
    </div>
    <div class="form-check form-check-inline d-flex align-items-center p-0">
        <input class="my-check-box cursor-pointer" type="checkbox" id="actual" value="actual">
        <label class="my-check-box-label cursor-pointer" for="actual">Actual</label>
    </div>
</div>

<form class="filter-bar d-flex mb-5">
    <div class="filter-item filter-item-city position-relative me-4">
        <select name="abc" class="filter-item__select-city js-states form-control">
            <option value=""></option>
            <option value="hochiminh">Hồ Chí Minh</option>
            <option value="longan">Long An</option>
            <option value="lamdong">Lâm Đồng</option>
            <option value="quangtri">Quảng Trị</option>
            <option value="binhdinh">Bình Định</option>
            <option value="hanoi">Hà Nội</option>
            <option value="danang">Đà Nẵng</option>
            <option value="cantho">Cần Thơ</option>
        </select>
        <span class="material-icons-outlined position-absolute filter-item__icon">
            expand_more
        </span>
    </div>

    <div class="filter-item filter-item-district position-relative me-4">
        <select name="abc" class="filter-item__select-district js-states form-control">
            <option value=""></option>
            <option value="hochiminh-quan1">Quận 1</option>
            <option value="hochiminh-quanthuduc">Quận Thủ Đức</option>
            <option value="hochiminh-quan10">Quận 10</option>
            <option value="longan-benluc">Bến Lức</option>
            <option value="longan-tanan">Tân An</option>
            <option value="longan-thuthua">Thủ Thừa</option>
            <option value="quangtri1">Quảng Trị 1</option>
            <option value="quangtri2">Quảng Trị 2</option>
            <option value="quangtri3">Quảng Trị 3</option>
            <option value="binhdinh1">Bình Định 1</option>
            <option value="binhdinh2">Bình Định 2</option>
            <option value="hanoi1">Hà Nội 1</option>
            <option value="hanoi2">Hà Nội 2</option>
            <option value="danang1">Đà Nẵng 1</option>
            <option value="danang2">Đà Nẵng 2</option>
            <option value="cantho1">Cần Thơ 1</option>
            <option value="cantho2">Cần Thơ 2</option>
        </select>
        <span class="material-icons-outlined position-absolute filter-item__icon">
            expand_more
        </span>
    </div>

    <div class="filter-item filter-item-organization position-relative me-4">
        <select name="abc" class="filter-item__select-organization js-states form-control">
            <option value=""></option>
            <option value="hochiminh">Hồ Chí Minh</option>
            <option value="longan">Long An</option>
            <option value="lamdong">Lâm Đồng</option>
            <option value="quangtri">Quảng Trị</option>
            <option value="binhdinh">Bình Định</option>
            <option value="hanoi">Hà Nội</option>
            <option value="danang">Đà Nẵng</option>
            <option value="cantho">Cần Thơ</option>
        </select>
        <span class="material-icons-outlined position-absolute filter-item__icon">
            expand_more
        </span>
    </div>

    <div class="filter-item position-relative me-4 @bgColorAreas">
        <div @onclick="ShowAreasPopup" class="popup-btn">Lĩnh vực</div>
        <span class="material-icons-outlined position-absolute filter-item__icon">
            expand_more
        </span>
    </div>

    <div class="filter-item position-relative me-4 @bgColorSkills">
        <div @onclick="ShowSkillsPopup" class="popup-btn">Kỹ năng</div>
        <span class="material-icons-outlined position-absolute filter-item__icon">
            expand_more
        </span>
    </div>

    <button type="submit" class="filter-btn me-4">Lọc</button>
    <button type="button" class="clear-filter-btn">Xóa lọc</button>
</form>


<div class="arrange-bar d-flex align-items-center">
    <label class="d-inline-block m-0 me-5">Sắp xếp theo</label>
    <div class="d-flex align-items-center ps-0 pe-5">
        <input class="my-radio-box cursor-pointer" type="checkbox" id="newest" value="newest">
        <label class="my-radio-box-label cursor-pointer" for="newest">Mới nhất</label>
    </div>
    <div class="d-flex align-items-center ps-0 pe-5">
        <input class="my-radio-box cursor-pointer" type="checkbox" id="nearest" value="nearest">
        <label class="my-radio-box-label cursor-pointer" for="nearest">Gần bạn nhất</label>
    </div>
    <div class="d-flex align-items-center ps-0 pe-5">
        <input class="my-radio-box cursor-pointer" type="checkbox" id="common" value="common">
        <label class="my-radio-box-label cursor-pointer" for="common">Nổi bật nhất</label>
    </div>
</div>


@code {
    string myInputValue = "";

    void UpdateInstanceValue(ChangeEventArgs e)
    {
        myInputValue = e.Value.ToString();
    }
    void ClearSearchBox()
    {
        myInputValue = "";
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("vms.FilterBox", ".filter-item__select-city", "Tỉnh/Thành phố", ".filter-item-city");
        await JSRuntime.InvokeVoidAsync("vms.FilterBox", ".filter-item__select-district", "Quận/Huyện", ".filter-item-district");
        await JSRuntime.InvokeVoidAsync("vms.FilterBox", ".filter-item__select-organization", "Tổ chức", ".filter-item-organization");
    }

    string bgColorAreas = "";
    [CascadingParameter] public IModalService Modal { get; set; }
    async Task ShowAreasPopup()
    {
        var options = new ModalOptions()
        {
            HideCloseButton = true,
            DisableBackgroundCancel = true,
            UseCustomLayout = true
        };
        var AreasModal = Modal.Show<AreasPopup>("", options);
        var IsClickSave = await AreasModal.Result;
        if (bgColorAreas == "")
        {
            bgColorAreas = IsClickSave.Data.ToString();
        }
    }


    string bgColorSkills = "";
    async Task ShowSkillsPopup()
    {
        var options = new ModalOptions()
        {
            HideCloseButton = true,
            DisableBackgroundCancel = true,
            UseCustomLayout = true
        };
        var AreasModal = Modal.Show<SkillsPopup>("", options);
        var IsClickSave = await AreasModal.Result;
        if (bgColorSkills == "")
        {
            bgColorSkills = IsClickSave.Data.ToString();
        }
    }
}
