/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.my-signUp {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(196, 196, 196, 0.38);
  z-index: 3; }
  .my-signUp .signUp__content {
    position: relative;
    width: 50%;
    height: 100%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    background: #FFFFFF;
    overflow-y: scroll; }
    .my-signUp .signUp__content::-webkit-scrollbar {
      width: 10px; }
    .my-signUp .signUp__content::-webkit-scrollbar-thumb {
      background-color: #B4B4B4;
      border-radius: 20px; }
    .my-signUp .signUp__content .signUp__exit {
      position: absolute;
      top: 25px;
      right: 25px;
      height: 46px;
      width: 46px;
      line-height: 46px;
      border-radius: 50%;
      text-align: center;
      background-color: rgba(196, 196, 196, 0.5);
      cursor: pointer; }
  .my-signUp .signUp__form {
    padding: 50px 100px 0 100px; }
    .my-signUp .signUp__form h1 {
      text-align: center;
      margin-bottom: 30px;
      font-size: 48px;
      font-weight: 500;
      color: #18A0FB; }
      .my-signUp .signUp__form h1 span {
        color: #64D72F; }
    .my-signUp .signUp__form .form-text {
      margin-bottom: 7px;
      font-size: 24px;
      font-weight: 500;
      color: #515151; }
      .my-signUp .signUp__form .form-text span {
        color: #F14747; }
    .my-signUp .signUp__form textarea, .my-signUp .signUp__form input {
      border: 1.5px solid #707070; }
    .my-signUp .signUp__form .form-control {
      padding: 15px 0;
      margin-bottom: 25px;
      font-size: 24px;
      padding-left: 20px; }
    .my-signUp .signUp__form .input-radio {
      width: 16px;
      height: 16px;
      line-height: 16px;
      margin-right: 15px; }
    .my-signUp .signUp__form .input-radio ~ span {
      font-size: 24px;
      font-weight: 300; }
    .my-signUp .signUp__form button {
      display: block;
      width: 100%;
      padding: 20px 0;
      transform: translateY(45px);
      background: #18A0FB;
      font-size: 24px;
      font-weight: 700;
      color: #FFFFFF; }
      .my-signUp .signUp__form button:hover {
        background: #0B588c;
        color: #FFFFFF; }
  .my-signUp .signUp__report {
    height: 100%;
    width: 100%;
    display: none;
    z-index: 5;
    background-color: rgba(196, 196, 196, 0.38); }
    .my-signUp .signUp__report i {
      position: absolute;
      top: 25px;
      right: 25px;
      height: 30px;
      width: 30px;
      line-height: 30px;
      border-radius: 50%;
      text-align: center;
      background-color: rgba(196, 196, 196, 0.5);
      cursor: pointer; }
    .my-signUp .signUp__report .signUp__report-content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 6;
      background: #FFFFFF;
      width: 45%;
      padding: 30px 50px;
      border-radius: 10px;
      text-align: center; }
      .my-signUp .signUp__report .signUp__report-content h3 {
        font-size: 36px;
        font-weight: 500;
        color: #64D72F; }
        .my-signUp .signUp__report .signUp__report-content h3 span {
          color: #18A0FB; }
