<div class="my-signUp">
    <div class="signUp__report  @(isShowReport ? "d-block" : "d-none") ">
        <div class="signUp__report-content ">
            <div>
                <i @onclick="ShowReportSuccessAsync" class="material-icons-outlined">
                    close
                </i>
            </div>
            <div class="report-success-content">
                <h3>Chúc mừng</h3>
                <h3>Bạn đã <span>đăng kí thành công</span></h3>
            </div>
        </div>

    </div>

    <div class="signUp__content">
        <i @onclick="ExitModalAsync" class="material-icons-outlined signUp__exit">
            close
        </i>
        <div class="signUp__form">
            <EditForm Model=@information OnValidSubmit=ShowReportSuccessAsync>
                <DataAnnotationsValidator/>
                <h1>Đăng kí <span>tham gia</span></h1>
                <p class="form-text">Họ tên</p>
                <input type="text" class="form-control" value=@CurrentUser.FullName>
                <p class="form-text">Email nhận thông báo</p>
                <input type="email" class="form-control" value=@CurrentUser.Email>
                <p class="form-text">Số điện thoại <span>(*)</span></p>
                <InputText class="form-control" @bind-Value="information.PhoneNumber" />
                <p class="form-text">Bạn mong muốn gì khi tham gia hoạt động này? (Vị trí bạn muốn tham gia, số ngày tham gia mong muốn,...) <span>(*)</span></p>
                <InputTextArea name="" id="" cols="30" rows="3" class="form-control" @bind-Value="information.Desire" />
                <p class="form-text">Bạn có cam kết đồng hành xuyên suốt chương trình hay không? <span>(*)</span></p>
                <InputRadioGroup Name="RadioOptions" @bind-Value="choosenRadio">
                    <div class="d-flex align-items-center mb-2">
                        <InputRadio Name="RadioOptions" Value="RadioOptions.Commit" class="input-radio" />
                        <span>Chắc chắn</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <InputRadio Name="RadioOptions" Value="RadioOptions.TakeTime" class="input-radio" />
                        <span>Cần xem xét lại thời gian cụ thể</span>
                    </div>
                </InputRadioGroup>
                <input type="submit" class="btn" value="Đăng ký" />
            </EditForm>

        </div>
        <img class="w-100" src="img/formSignUp.png" alt="">
    </div>
</div>

@code {
}