@inject IJSRuntime JSRuntinme

<div class="my-signUp">
    <div class="signUp__report @(isShowReport ? "d-block" :"d-none") ">
        <div class="signUp__report-content ">
                <div>
                    <i @onclick="ShowReportSuccess" class="material-icons-outlined">
                        close
                    </i>
                </div>
                <div class="report-success-content">
                    <h3>Chúc mừng</h3>
                    <h3>Bạn đã <span>đăng kí thành công</span></h3>
                </div>
        </div>
       
    </div>

    <div class="signUp__content">
        <i @onclick="ExitModal" class="material-icons-outlined signUp__exit">
            close
        </i>
        <div class="signUp__form">
            <form action="">
                <h1>Đăng kí <span>tham gia</span></h1>
                <p class="form-text">Họ tên</p>
                <input type="text" class="form-control">
                <p class="form-text">Email nhận thông báo</p>
                <input type="email" class="form-control">
                <p class="form-text">Số điện thoại <span>(*)</span></p>
                <input type="text" class="form-control">
                <p class="form-text">Bạn mong muốn gì khi tham gia hoạt động này? (Vị trí bạn muốn tham gia, số ngày tham gia mong muốn,...) <span>(*)</span></p>
                <textarea name="" id="" cols="30" rows="3" class="form-control"></textarea>
                <p class="form-text">Bạn có cam kết đồng hành xuyên suốt chương trình hay không? <span>(*)</span></p>
                <div class="d-flex align-items-center mb-2">
                    <input class="input-radio" type="radio" name="radioSignUp">
                    <span>Chắc chắn</span>
                </div>
                <div class="d-flex align-items-center">
                    <input class="input-radio" type="radio" name="radioSignUp">
                    <span>Cần xem xét lại thời gian cụ thể</span>
                </div>
                <h4 @onclick="ShowReportSuccess" class="my-3 text-center text-danger">Đăng ký</h4>
                <button @onclick="ShowReportSuccess" class="btn">Đăng ký</button>
            </form>
        </div>
        <img class="w-100" src="img/formSignUp.png" alt="">
    </div>


</div>






@code {
    [CascadingParameter]
    private BlazoredModalInstance Modal { get; set; }
    void ExitModal()
    {
        Modal.CloseAsync();
    }

    bool isShowReport = false;
    void ShowReportSuccess()
    {
        isShowReport = !isShowReport;
    }


}

