/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.my-signUp {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(196, 196, 196, 0.38);
  z-index: 101; }
  .my-signUp .signUp__content {
    position: relative;
    width: 950px;
    border-radius: 10px;
    background: #FFFFFF; }
    .my-signUp .signUp__content::-webkit-scrollbar {
      width: 10px; }
    .my-signUp .signUp__content::-webkit-scrollbar-thumb {
      background-color: #B4B4B4;
      border-radius: 20px; }
    .my-signUp .signUp__content .signUp__exit {
      position: absolute;
      top: 25px;
      right: 25px;
      height: 40px;
      width: 40px;
      line-height: 46px;
      border-radius: 50%;
      background-color: rgba(196, 196, 196, 0.5);
      cursor: pointer; }
  .my-signUp .signUp__form {
    padding: 25px 50px; }
    .my-signUp .signUp__form h1 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 500;
      color: #18A0FB; }
      .my-signUp .signUp__form h1 span {
        color: #64D72F; }
    .my-signUp .signUp__form .form-text {
      margin-bottom: 7px;
      font-weight: 500;
      color: #515151;
      font-size: 16px; }
      .my-signUp .signUp__form .form-text span {
        color: #F14747; }
    .my-signUp .signUp__form textarea, .my-signUp .signUp__form input {
      border: 1.5px solid #707070; }
    .my-signUp .signUp__form ::deep textarea {
      overflow-y: scroll;
      height: 85px; }
      .my-signUp .signUp__form ::deep textarea::-webkit-scrollbar {
        width: 14px; }
      .my-signUp .signUp__form ::deep textarea::-webkit-scrollbar-thumb {
        background-color: #B4B4B4;
        border-radius: 20px;
        border: 2px solid white; }
    .my-signUp .signUp__form ::deep input {
      padding: 15px 0;
      height: 36px;
      padding-left: 20px; }
    .my-signUp .signUp__form ::deep input:disabled {
      background-color: rgba(196, 196, 196, 0.5); }
    .my-signUp .signUp__form ::deep textarea:disabled {
      background-color: rgba(196, 196, 196, 0.5); }
    .my-signUp .signUp__form ::deep .input-radio {
      width: 16px;
      height: 16px;
      line-height: 16px;
      margin-right: 15px; }
    .my-signUp .signUp__form ::deep .valid.modified:not([type=checkbox]) {
      outline: none; }
    .my-signUp .signUp__form ::deep .input-radio ~ label {
      font-weight: 300; }
    .my-signUp .signUp__form button {
      display: block;
      padding: 5px 20px;
      margin: 20px auto 0;
      background: #18A0FB;
      font-weight: 700;
      color: #FFFFFF; }
      .my-signUp .signUp__form button:hover {
        background: #0B588c;
        color: #FFFFFF; }
    .my-signUp .signUp__form .img-signup {
      display: none; }
      @media (min-width: 1200px) {
        .my-signUp .signUp__form .img-signup {
          display: block; } }
  .my-signUp .signUp__report {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 102;
    background-color: rgba(196, 196, 196, 0.38); }
    .my-signUp .signUp__report i {
      position: absolute;
      top: 20px;
      right: 20px;
      height: 30px;
      width: 30px;
      line-height: 30px;
      border-radius: 50%;
      text-align: center;
      background-color: rgba(196, 196, 196, 0.5);
      cursor: pointer; }
    .my-signUp .signUp__report .signUp__report-content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 6;
      background: #FFFFFF;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 30px 0px;
      width: 330px; }
      @media (min-width: 1200px) {
        .my-signUp .signUp__report .signUp__report-content {
          padding: 40px 75px;
          width: unset; } }
      .my-signUp .signUp__report .signUp__report-content h3 {
        font-size: 18px;
        font-weight: 500;
        color: #64D72F; }
        .my-signUp .signUp__report .signUp__report-content h3 span {
          color: #18A0FB; }
