@import '../../Resources/scss/common/_variables.scss';

.colored-green {
    color: $green;
}

.underlined {
    text-decoration: underline;
}

.modal-backdrop {
    background-color: rgba(196, 196, 196, 0.38);
}

.my-custom-popup {
    width: 90%;

    @include on('xl') {
        width: 50%;
    }

    background-color: #fff;
    border-radius: 10px;
    z-index: 999;

    h3 {
        font-size: 24px;
        font-weight: 500;
        color: $green;
    }

    .close-btn {
        position: absolute;
        top: 25px;
        right: 25px;
        width: 40px;
        height: 40px;
        background-color: $grey-bg;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        cursor: pointer;
    }

    .skill-modal-content {
        /*height: 70%;*/

        &__container {
            height: 100%;
            font-size: 14px;

            @include on('xl') {
                display: grid;
                grid-template-columns: auto auto;
            }
        }
    }

    .skill-item-wrapper {
        cursor: pointer;
        margin-bottom: 15px;

        & > p {
            font-size: 14px;
            font-weight: 400;

            @include on('xl') {
                font-size: 16px;
            }
        }

        & > p:hover {
            color: $green;
        }
        /*
        &:nth-child(3n-1) {
            width: 41.6667%;
        }*/
    }

    .save-btn {
        @include green-btn;
        font-size: 16px;
        width: 90px;
        height: 40px;
        margin-bottom: 10px;

        &:hover {
            background-color: $green-bold;
        }
    }

    .my-custom-sub-popup {
        top: -60px;
        left: 85px;
        background-color: white;
        box-shadow: 0 4px 60px 2px rgba(4, 20, 69, 0.25);
        padding: 15px 25px 0;
        border-radius: 5px;
        min-width: 210px;
        font-size: 14px;

        @include on('xl') {
            min-width: 250px;
            left: 100%;
        }

        font-size: 14px;
        z-index: 999;
        display: none;

        .sub-popup-item {
            color: $green;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

//handle hover to make subpopup appear
.skill-item-wrapper {
    & > p:hover {
        position: relative;
        .my-custom-sub-popup {
            display: block;
        }
    }
}