@layout AdminLayout
@using VMS.Application.ViewModels

@attribute [Route(Routes.AdminActivityInfo)]
@attribute [Authorize(Roles = "Admin")]

<div class="my-container col-12 d-flex justify-content-center align-items-center">
    <div class="col-10 my-5 my-act d-flex align-items-center flex-column">
        <div class="col-9 pb-4">
            <VMS.Pages.ActivityInfoPage.InfoPage Activity="@activity"/>
            <div class="mb-3">
                <VMS.Pages.ActivityInfoPage.Rightrail Activity="@activity"/>
            </div>
        </div>
        <div class="act-footer__btn d-flex align-items-center mb-4">
            <a href="" class="btn">Chỉnh sửa hoạt động</a>
            <button @onclick="() => ShowEditModal()" class="btn act-footer__btn--blue">Yêu cầu chỉnh sửa</button>
        </div>
    </div>
</div>

@code {
    [CascadingParameter] public IModalService Modal { get; set; }

    private async Task ShowEditModal()
    {
        var options = new ModalOptions()
        {
            HideCloseButton = true,
            DisableBackgroundCancel = true,
            UseCustomLayout = true,
        };

        Modal.Show<VMS.Pages.Admin.ActivityManagement.EditRequirement>("", options);
    }

    ViewActivityViewModel activity = new()
    {
        Name = "Tim kiem CEO tai nang",
        Mission = "Tim duoc moot CEO tai nang cho cty"
    };
}
