/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.my-container {
  background-color: #f6f6f6; }
  .my-container .my-act, .my-container .accroval {
    background-color: #FFFFFF;
    border-radius: 10px; }

::deep .report {
  display: none; }

::deep .btn-sign-up--cover {
  display: none; }

::deep .heart-button1 {
  display: none; }

::deep .inside-the-border {
  display: flex;
  justify-content: space-between; }
  ::deep .inside-the-border .icons {
    order: 2; }
  ::deep .inside-the-border .about-infor {
    order: 1; }

::deep .title__content {
  margin-bottom: 0; }

::deep .title__name {
  margin: 6px 0; }

.act-footer__btn button {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  padding: 5px 15px;
  border-radius: 5px; }
  .act-footer__btn button:hover {
    color: #FFFFFF; }

.act-footer__btn a {
  font-size: 16px;
  font-weight: 600;
  color: #18A0FB;
  padding: 5px 15px; }
  .act-footer__btn a:hover {
    color: #0B588c; }

.act-footer__btn--blue {
  background-color: #18A0FB; }
  .act-footer__btn--blue:hover {
    background-color: #0B588C; }

.div-checkbox .check-box {
  border-radius: 5px;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid #B4B4B4;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  position: relative;
  cursor: pointer; }
  .div-checkbox .check-box::before {
    content: "";
    width: 9px;
    height: 5px;
    border-left: 2px solid #18A0FB;
    border-bottom: 2px solid #18A0FB;
    position: absolute;
    top: 40%;
    left: 52%;
    transform: translate(-50%, -50%) rotate(-45deg);
    display: none; }
  .div-checkbox .check-box:checked::before {
    display: block; }

.div-checkbox label {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  color: #515151; }

.div-checkbox .input-number {
  width: 55px;
  margin-left: 7px;
  padding-right: 5px;
  padding-left: 5px; }

.btn-deny {
  background: #D8D8D8;
  border-radius: 5px;
  color: #707070;
  font-weight: 600; }
  .btn-deny:hover {
    color: #707070; }

.btn-approvie {
  color: #FFFFFF;
  background-color: #18A0FB; }
  .btn-approvie:hover {
    color: #FFFFFF;
    background-color: #0B588C; }

.regulation {
  font-weight: 400;
  font-size: 14px;
  text-decoration-line: underline;
  color: #18A0FB;
  cursor: pointer; }

.toppage {
  margin-top: 0.5%; }
  .toppage .return-text {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: #64D72F;
    display: none; }
    @media (min-width: 992px) {
      .toppage .return-text {
        display: block; } }
  .toppage .return-text:hover {
    color: #306C14; }
