@import '../../../Resources/scss/common/_variables';
::deep .pagination {
    display: flex;
    justify-content: center;
}

.arrange-bar {
    display: flex;
    .labels {
        margin-right: 60px;
        span {
            display: block;
            font-weight: 500;
        }
    }
}

.boxes-group {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: 30px;
    grid-column-gap: 20px;
}

/* pretty radio */
label > input[type="radio"] {
    display: none;
}

label > input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 14px;
    height: 14px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: $blue;
}

.boxes-group {
    label > input[type="radio"]:checked + *::before {
        background: radial-gradient($blue 0%, $blue 40%, transparent 50%, transparent);
    }
    /* basic layout */
    fieldset {
        margin: 20px;
        max-width: 400px;
    }

    label > input[type="radio"] + * {
        display: inline-block;
        /* padding: 0.5rem 1rem;*/
    }

    label >spam{
        font-size: 14px;
    }
}
