/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.act h1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #515151;
  margin: 50px 0; }
  .act h1 span {
    color: #64D72F; }

.act .owl-carousel {
  z-index: 0; }

.act .bottom-line {
  background-color: rgba(70, 70, 70, 0.5);
  height: 1px;
  margin-top: 50px; }

.overlay {
  background-color: rgba(100, 100, 100, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px 10px 0 0; }

.act-container ul {
  position: absolute;
  top: 20px;
  right: 7px;
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.25);
  width: 190.5px; }
  .act-container ul li, .act-container ul a {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    display: block; }
    .act-container ul li:hover, .act-container ul a:hover {
      background: rgba(24, 160, 251, 0.1); }
  .act-container ul .edit {
    color: #515151;
    cursor: pointer; }
  .act-container ul .delete {
    color: #F14747;
    cursor: pointer; }
  .act-container ul .close {
    color: #64D72F;
    cursor: pointer; }

.act-container .material-icons {
  color: #FFFFFF;
  font-size: 24px;
  right: 5px;
  top: 0; }
  .act-container .material-icons:hover {
    cursor: pointer; }

.act-container .icon-favorite {
  color: #BE2222;
  font-size: 30px;
  right: 10px;
  top: 10px; }
  .act-container .icon-favorite:hover {
    cursor: pointer; }

.act-content {
  background-color: #F3F3F5;
  border-radius: 0 0 10px 10px;
  min-height: 162px; }
  .act-content a {
    min-height: 162px; }
  .act-content .content-cl {
    background-color: rgba(100, 100, 100, 0.2); }
  .act-content .content-nm,
  .act-content .content-cl {
    padding: 17px 17px 17px 28px;
    text-decoration: none;
    display: block;
    border-radius: 0 0 10px 10px; }
    .act-content .content-nm .act-title,
    .act-content .content-cl .act-title {
      font-size: 20px;
      font-weight: 600;
      line-height: 30px; }
    .act-content .content-nm .title-nm,
    .act-content .content-cl .title-nm {
      color: #18A0FB; }
    .act-content .content-nm .title-cl,
    .act-content .content-cl .title-cl {
      color: #515151; }
  .act-content .lm-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 4; }

.act-container:hover > .img-container {
  opacity: .6; }

.act-container:hover > .act-content .title-nm {
  color: #0B588C; }

.act-container:hover > .act-content .title-cl {
  color: #0B588C; }

.act-content-overrides {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 28, 28, 0.4);
  border-radius: 10px 10px 0px 0px;
  display: flex;
  align-items: end;
  opacity: 0; }
  .act-content-overrides:hover {
    opacity: 1; }
    .act-content-overrides:hover .act-title {
      color: #FFFFFF !important; }
  .act-content-overrides .content-nm .act-title, .act-content-overrides .content-cl .act-title {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    height: 162px;
    width: 100%; }

.img-container .act-img {
  width: 100%;
  max-height: 269px;
  min-height: 269px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 10px 0 0; }

::deep .owl-carousel .owl-nav {
  display: block; }

::deep .owl-carousel .owl-item {
  padding: 0 7px; }

::deep .owl-nav button.owl-next,
::deep .owl-nav button.owl-prev {
  background: #18A0FB;
  opacity: .85;
  position: absolute;
  border-radius: 100%;
  top: 26%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }
  ::deep .owl-nav button.owl-next span,
  ::deep .owl-nav button.owl-prev span {
    font-size: 40px;
    margin-bottom: 5px;
    line-height: 0;
    color: #FFFFFF; }
  ::deep .owl-nav button.owl-next:hover,
  ::deep .owl-nav button.owl-prev:hover {
    background: #18A0FB; }

::deep .owl-nav button.owl-prev {
  left: 20px; }

::deep .owl-nav button.owl-next {
  right: 20px; }

::deep .owl-dots {
  display: none; }

.act__linkAll {
  margin-top: 50px; }
  .act__linkAll a {
    font-weight: 600;
    font-size: 24px;
    color: #64D72F; }
    .act__linkAll a:hover {
      color: #306C14;
      cursor: pointer; }

.favorite {
  right: 10px;
  top: 10px; }
  .favorite .material-icons {
    font-size: 30px; }
  .favorite .isfav {
    color: #BE2222; }
  .favorite .nonefav {
    color: #FFFFFF; }
