<div class="container">
    <div class="row act">
        <h1>Hoạt động <span>đã diễn ra</span></h1>
        <div class="row pb-5">
            @if (actEnded != null)
            {
                @foreach (var item in actEnded)
                {
                    <div class="col-6 act-container position-relative pb-5">
                        <div class="img-container position-absolute">
                            <img src="./img/OrganizationProfile/ActTookPlace.png" alt="" class="act-img">
                        </div>
                        <div class="act-content col-10 ms-auto my-1">
                            <div class="act-ctn col-9 ms-auto ps-4 pe-3 mt-3 mb-2">
                                <a href="" class="act-title">@item?.Name</a>
                                <div class="act-ranking pt-2">
                                    <span class="material-icons-outlined" style="color:@(item.Rating >= 0 ? "#EDF131" : "#B4B4B4")">
                                        star@(HaftStar(item.Rating, 0) ? "_half" : "")
                                    </span>
                                    <span class="material-icons-outlined" style="color:@(item.Rating >= 1 ? "#EDF131" : "#B4B4B4")">
                                        star@(HaftStar(item.Rating, 1) ? "_half" : "")
                                    </span>
                                    <span class="material-icons-outlined" style="color:@(item.Rating >= 2 ? "#EDF131" : "#B4B4B4")">
                                        star@(HaftStar(item.Rating, 2) ? "_half" : "")
                                    </span>
                                    <span class="material-icons-outlined" style="color:@(item.Rating >= 3 ? "#EDF131" : "#B4B4B4")">
                                        star@(HaftStar(item.Rating, 3) ? "_half" : "")
                                    </span>
                                    <span class="material-icons-outlined" style="color:@(item.Rating >= 4 ? "#EDF131" : "#B4B4B4")">
                                        star@(HaftStar(item.Rating, 4) ? "_half" : "")
                                    </span>
                                </div>
                                <div class="act-footer">
                                    <h5 class="act-participant">
                                        <i class="material-icons">person</i> @item?.MemberQuantity
                                    </h5>
                                    <h5 class="act-location">
                                        <i class="material-icons">location_on</i> @item?.ActivityAddresses
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

@code {
}
