@import '../../../Resources/scss/common/_variables.scss';

.act {
    h1 {
        font-weight: 600;
        font-size: 14px;
        line-height: 36px;
        color: $grey-text;
        padding-bottom: 5px;

        span {
            color: $green;
        }

        @include on("sm") {
            font-size: 20px;
        }

        @include on("lg") {
            font-size: 24px;
        }

        @include on("xl") {
            font-size: 30px;
        }
    }

    hr {
        width: 30%;
        height: 1px;
        background-color: #707070;
        opacity: 50%;

        @include on("sm") {
            width: 40%;
        }

        @include on("lg") {
            width: 50%;
        }

        @include on("xxl") {
            width: 60%;
        }
    }

    &-container {
        display: flex;
    }
}

.act-content {
    border: solid 1px $grey-icon;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.act-title {
    font-size: 10px;
    font-weight: 600;
    line-height: 16px;
    min-height: 30px;
    color: $blue;
    text-decoration: none;
    cursor: pointer;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;

    @include on("sm") {
        min-height: 45px;
        font-size: 12px;
        -webkit-line-clamp: 3;
    }

    @include on("md") {
        min-height: 60px;
        font-size: 14px;
        line-height: 20px;
    }

    @include on("lg") {
        font-size: 16px;
        min-height: 57px;
        line-height: 30px;
        -webkit-line-clamp: 2;
    }

    @include on("xl") {
        font-size: 20px;
        min-height: 88.8px;
        -webkit-line-clamp: 3;
    }
}

::deep .act-ranking {
    .material-icons-outlined {
        color: $yellow-star;
        font-size: 12px;

        @include on("sm") {
            font-size: 14px;
        }

        @include on("lg") {
            font-size: 16px;
        }

        @include on("xxl") {
            font-size: 20px;
        }
    }
}

.act-footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    @include on("sm") {
        margin-top: 16px;
    }

    .act-participant,
    .act-location {
        display: flex;
        align-items: center;
        color: $grey-text;
        font-size: 12px;

        .material-icons {
            color: $green;
        }

        @include on("sm") {
            font-size: 14px;
        }

        @include on("lg") {
            font-size: 16px;
        }

    }
}

.img-container {
    overflow: hidden;
    border-radius: 100%;
    width: 100px;
    height: 100px;

    @include on("sm") {
        width: 140px;
        height: 140px;
    }

    @include on("md") {
        width: 160px;
        height: 160px;
    }

    @include on("xl") {
        width: 190px;
        height: 190px;
    }

    @include on("xxl") {
        width: 210px;
        height: 210px;
    }
}

.act-img {
    height:100%;
    width: 100%;
    transition: all .5s ease;
    object-fit: cover;
    object-position: center;
}

.act-container:hover {
    cursor: pointer;

    & > .img-container {
        .act-img {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }
    }

    & > .act-content {
        .act-title {
            color: $blue-bold;
        }
    }
}

