@using VMS.Application.Interfaces;
@using VMS.Application.ViewModels;

<div class="pop-up">
    <div class="center-screen">
        <div class="pop-up-container border-10 @(isConfirmDelete ? "d-block" : "d-none")">
            <div @onclick="CloseModal" class="close-btn">
                <span class="material-icons">
                    close
                </span>
            </div>
            <div class="content">
                <h3>bạn có chắc chắn muốn</h3>
                <h3><span class="delete-text">xóa hoạt động</span> này không?</h3>
            </div>
            <div class="pop-up-btn">
                <div @onclick="CloseModal" class="deny">hủy</div>
                <div @onclick="DeleteSuccess" class="accept">xác nhận</div>
            </div>
        </div>

        <div class="pop-up-container border-10 @(isConfirmDelete ? "d-none" : "d-block")">
            <div @onclick="CloseModal" class="close-btn-s">
                <span class="material-icons">
                    close
                </span>
            </div>
            <div class="pop-up-content">
                <h3 class="delete-act">Xoá thành công!</h3>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public BlazoredModalInstance Modal { get; set; }
    [Parameter] public int id { get; set; }

    bool isConfirmDelete = true;
    [Inject]
    private IActivityService ActivityService { get; set; }

    private async Task CloseModal()
    {
        await Modal.CloseAsync();
    }

    private async Task DeleteSuccess()
    {
        await ActivityService.UpdateStatusActAsync(id, "deleted");
        isConfirmDelete = !isConfirmDelete;
    }

}
