/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.my-editProfile {
  /* width */
  /* Track */
  /* Handle */ }
  .my-editProfile .editProfile__title {
    font-size: 36px;
    font-weight: 600;
    color: #18A0FB;
    text-align: center; }
    .my-editProfile .editProfile__title span {
      color: #64D72F; }
  .my-editProfile .editProfile__logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #707070; }
  .my-editProfile ::deep .valid.modified:not([type=checkbox]) {
    border: 1px solid #18A0FB;
    outline: none; }
  .my-editProfile .form-item {
    margin-bottom: 20px; }
  .my-editProfile .form-text {
    font-size: 16px;
    font-weight: 500;
    color: #707070;
    margin: auto 0; }
  .my-editProfile ::deep .form-input {
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    color: #515151;
    border: 1px solid #707070;
    border-radius: 5px; }
  .my-editProfile .form-field-item {
    width: 20%;
    text-align: center; }
    .my-editProfile .form-field-item:hover > i {
      font-size: 50px; }
    .my-editProfile .form-field-item:hover > span {
      transform: translateY(-5px); }
    .my-editProfile .form-field-item i {
      display: block;
      background-color: #18A0FB;
      border-radius: 50%;
      color: white;
      margin: 5px auto;
      transition: all 0.3s linear;
      width: 83px;
      height: 83px;
      line-height: 88px;
      font-size: 40px; }
    .my-editProfile .form-field-item span {
      color: #64D72F;
      font-weight: 500;
      display: inline-block;
      transition: all 0.3s linear;
      font-size: 20px;
      margin-top: 20px; }
    .my-editProfile .form-field-item .icon-add {
      background: #C4C4C4;
      opacity: 50%;
      color: #FFFFFF;
      font-size: 70px; }
      .my-editProfile .form-field-item .icon-add:hover {
        background: #C4C4C4;
        opacity: 100%;
        font-size: 80px; }
  .my-editProfile .countWord {
    color: #707070;
    position: absolute;
    top: 135px;
    right: 15px; }
  .my-editProfile .from__btn {
    margin: 60px 0; }
    .my-editProfile .from__btn .btn {
      padding: 12px 35px;
      font-size: 16px;
      font-weight: 600; }
    .my-editProfile .from__btn .from__btn-cancel {
      background: #FFFFFF;
      color: #18A0FB; }
    .my-editProfile .from__btn .from__btn-submit {
      background: #18A0FB;
      color: #FFFFFF; }
      .my-editProfile .from__btn .from__btn-submit:hover {
        background: #0B588c; }
  .my-editProfile ::-webkit-scrollbar {
    width: 10px; }
  .my-editProfile ::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    border-radius: 10px;
    height: 50px; }
