<div class="pop-up">
    <div class="center-screen ">
        <div class="pop-up-container border-10">
            <div @onclick="CloseModal" class="close-btn">
                <span class="material-icons">
                    close
                </span>
            </div>
            <div class="content">
                <h3>Bạn có chắc muốn</h3>
                <h3><span class="edit-text">lưu thông tin</span> này không</h3>
            </div>
            <div class="pop-up-btn">
                <div @onclick="CloseModal" class="btn deny">Hủy</div>
                <button type="submit" @onclick="EditSuccess" class="btn accept px-0">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public BlazoredModalInstance Modal { get; set; }

    private async Task CloseModal()
    {
        await Modal.CancelAsync();
    }

    async Task EditSuccess()
    {
        await Modal.CloseAsync(ModalResult.Ok<bool>(true));
    }
}
