@import "../../../Resources/scss/common/_variables";

.my-editProfile {

    .editProfile__title {
        font-size: 36px;
        font-weight: 600;
        color: $blue;
        text-align: center;

        span {
            color: $green;
        }
    }

    .editProfile__logo {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $border-color-bold;
    }

    ::deep .valid.modified:not([type=checkbox]) {
        border: 1px solid $blue;
        outline: none;
    }



    .form-item {
        margin-bottom: 20px;
    }

    .form-text {
        font-size: 16px;
        font-weight: 500;
        color: $border-color-bold;
        margin: auto 0;
    }

    ::deep .form-input {
        padding: 10px;
        font-size: 16px;
        font-weight: 300;
        color: $grey-text;
        border: 1px solid $border-color-bold;
    }

    .form-field-item {
        width: 20%;
        text-align: center;

        &:hover > i {
            font-size: 50px;
        }

        &:hover > span {
            transform: translateY(-5px);
        }

        i {
            display: block;
            background-color: $blue;
            border-radius: 50%;
            color: white;
            margin: 5px auto;
            transition: all 0.3s linear;
            width: 83px;
            height: 83px;
            line-height: 88px;
            font-size: 40px;
        }

        span {
            color: $green;
            font-weight: 500;
            display: inline-block;
            transition: all 0.3s linear;
            font-size: 20px;
            margin-top: 20px;
        }

        .icon-add {
            background: $grey-close-bg;
            opacity: 50%;
            color: $white;
            font-size: 70px;

            &:hover {
                background: $grey-close-bg;
                opacity: 100%;
                font-size: 80px;
            }
        }
    }

    .countWord {
        color: $border-color-bold;
        position: absolute;
        top: 135px;
        right: 15px;
    }

    .from__btn {
        margin: 60px 0;

        .btn {
            padding: 12px 35px;
            font-size: 16px;
            font-weight: 600;
        }

        .from__btn-cancel {
            background: $white;
            color: $blue;
        }

        .from__btn-submit {
            background: $blue;
            color: $white;

            &:hover {
                background: $blue-hv;
            }
        }
    }
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #C4C4C4;
        border-radius: 10px;
        height: 50px;
    }
}


