/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.pop-up {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(196, 196, 196, 0.38);
  z-index: 120; }
  .pop-up .border-10 {
    border-radius: 10px; }
  .pop-up .border-5 {
    border-radius: 5px; }
  .pop-up .center-screen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .pop-up .pop-up-container {
    width: 80%;
    max-width: 330px;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.25); }
  .pop-up .close-btn {
    width: 33px;
    height: 33px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;
    background: rgba(196, 196, 196, 0.5); }
    .pop-up .close-btn .material-icons {
      font-size: 20px;
      color: #717171; }
  .pop-up .close-btn-s {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background: rgba(196, 196, 196, 0.5); }
    .pop-up .close-btn-s .material-icons {
      font-size: 14px;
      color: #717171;
      line-height: 0; }
  .pop-up .pop-up-content {
    padding: 13px 55px; }
    .pop-up .pop-up-content .edit-success {
      font-size: 18px;
      line-height: 36px;
      font-weight: 500;
      margin-bottom: 0;
      color: #18A0FB; }
  .pop-up .content {
    padding: 30px 35px 18px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 992px) {
      .pop-up .content {
        padding: 30px 70px 18px; } }
    .pop-up .content h3 {
      font-size: 16px;
      line-height: 25px;
      font-weight: 500;
      margin-bottom: 0;
      color: #64D72F; }
    @media (min-width: 576px) {
      .pop-up .content {
        font-size: 18px; } }
    @media (min-width: 768px) {
      .pop-up .content {
        font-size: 20px; } }
    .pop-up .content .edit-text {
      color: #18A0FB; }
  .pop-up .pop-up-btn {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px 20px 0;
    font-weight: 600; }
    @media (min-width: 576px) {
      .pop-up .pop-up-btn {
        padding: 0 30px 27px 0; } }
    .pop-up .pop-up-btn .deny, .pop-up .pop-up-btn .accept {
      cursor: pointer;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 104px;
      height: 32px;
      font-weight: 600;
      font-size: 14px; }
      @media (min-width: 576px) {
        .pop-up .pop-up-btn .deny, .pop-up .pop-up-btn .accept {
          font-size: 16px; } }
      @media (min-width: 992px) {
        .pop-up .pop-up-btn .deny, .pop-up .pop-up-btn .accept {
          font-size: 18px; } }
    .pop-up .pop-up-btn .deny {
      background-color: #FFFFFF;
      color: #18A0FB; }
    .pop-up .pop-up-btn .accept {
      background-color: #18A0FB;
      color: #FFFFFF; }
