/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.my-information {
  padding: 50px 0; }
  .my-information .col-left {
    width: 55%; }
  .my-information .col-right {
    width: 45%; }
  .my-information .information__logo .information__logo-img {
    margin-bottom: 20px; }
  .my-information .information__logo img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover; }
  .my-information .information__logo .icon-camera {
    position: absolute;
    bottom: 15px;
    right: -25px;
    font-size: 36px;
    color: #B4B4B4;
    cursor: pointer; }
    .my-information .information__logo .icon-camera:hover {
      color: #717171; }
  .my-information .information__logo p {
    font-size: 28px;
    font-weight: 600; }
  .my-information .information__logo .information__tilte {
    display: inline-block;
    background: linear-gradient(to top, rgba(237, 241, 49, 0.45) 43.23%, rgba(255, 255, 255, 0.45) 100%);
    border-radius: 10px;
    padding: 10px 20px;
    color: #515151;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer; }
    .my-information .information__logo .information__tilte:hover {
      background: linear-gradient(to top, rgba(237, 241, 49, 0.35) 43.23%, rgba(255, 255, 255, 0.45) 100%); }
  .my-information .information__logo .information__logo-button {
    width: 85%;
    background: rgba(100, 215, 47, 0.8);
    color: #FFFFFF;
    text-decoration: none;
    padding: 3px 20px;
    border-radius: 50px;
    text-align: center;
    transition: all 0.2s linear;
    cursor: pointer; }
    .my-information .information__logo .information__logo-button:hover {
      background: #64d72f; }
    .my-information .information__logo .information__logo-button i {
      font-size: 32px;
      font-weight: 600; }
    .my-information .information__logo .information__logo-button span {
      color: #FFFFFF;
      font-size: 20px;
      font-weight: 700; }
  .my-information .information__line {
    background: rgba(112, 112, 112, 0.5);
    height: 1px;
    width: 90%;
    margin: 40px auto; }
  .my-information .information__rank a {
    color: #64D72F;
    font-size: 40px;
    font-weight: 600;
    text-decoration: none; }
  .my-information .information__rank .information__rank-number {
    color: #707070;
    font-size: 24px;
    font-weight: 700;
    margin-right: 20px; }
  .my-information .information__rank i {
    margin: auto 2px;
    color: #64D72F;
    font-size: 30px; }
  .my-information .information__rank span {
    color: #707070;
    font-size: 20px;
    font-weight: 500; }
  .my-information .information__contact i {
    font-size: 24px;
    margin: auto 20px;
    color: #707070; }
  .my-information .information__contact a {
    color: #515151;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none; }
  .my-information .information__fields h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin: 0; }
    .my-information .information__fields h3 span {
      color: #18A0FB; }
  .my-information .line {
    height: 120px;
    width: 1px;
    margin: auto 0;
    background-color: rgba(112, 112, 112, 0.5); }
  .my-information .information__carousel, .my-information .information__NoCarousel {
    position: relative;
    padding-right: 60px;
    padding-left: 30px;
    z-index: 0; }
    .my-information .information__carousel .item, .my-information .information__NoCarousel .item {
      text-align: center; }
      .my-information .information__carousel .item:hover > i, .my-information .information__NoCarousel .item:hover > i {
        font-size: 45px; }
      .my-information .information__carousel .item:hover > span, .my-information .information__NoCarousel .item:hover > span {
        transform: translateY(-5px); }
      .my-information .information__carousel .item i, .my-information .information__NoCarousel .item i {
        display: block;
        background-color: #18A0FB;
        border-radius: 50%;
        color: white;
        margin: 5px auto;
        transition: all 0.3s linear;
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 30px; }
        @media (min-width: 1400px) {
          .my-information .information__carousel .item i, .my-information .information__NoCarousel .item i {
            width: 75px;
            height: 75px;
            line-height: 75px; } }
      .my-information .information__carousel .item span, .my-information .information__NoCarousel .item span {
        margin-top: 10px;
        color: #64D72F;
        font-weight: 500;
        display: inline-block;
        transition: all 0.3s linear;
        font-size: 16px; }
        @media (min-width: 1400px) {
          .my-information .information__carousel .item span, .my-information .information__NoCarousel .item span {
            font-size: 18px; } }
    .my-information .information__carousel ::deep .owl-nav, .my-information .information__NoCarousel ::deep .owl-nav {
      display: block; }
      .my-information .information__carousel ::deep .owl-nav .owl-prev, .my-information .information__NoCarousel ::deep .owl-nav .owl-prev {
        display: none; }
      .my-information .information__carousel ::deep .owl-nav .owl-next, .my-information .information__NoCarousel ::deep .owl-nav .owl-next {
        position: absolute;
        top: -32px;
        right: 30px; }
        .my-information .information__carousel ::deep .owl-nav .owl-next span, .my-information .information__NoCarousel ::deep .owl-nav .owl-next span {
          font-size: 80px;
          color: #18A0FB;
          transition: all 0.3s linear; }
          .my-information .information__carousel ::deep .owl-nav .owl-next span:hover, .my-information .information__NoCarousel ::deep .owl-nav .owl-next span:hover {
            color: #0B588c; }
        .my-information .information__carousel ::deep .owl-nav .owl-next:hover, .my-information .information__NoCarousel ::deep .owl-nav .owl-next:hover {
          background: none; }
    .my-information .information__carousel ::deep .owl-dots, .my-information .information__NoCarousel ::deep .owl-dots {
      display: none; }
  .my-information .information__act h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin: 0; }
    .my-information .information__act h3 span {
      color: #18A0FB; }
  .my-information .information__act .information__act-number {
    width: 115px;
    height: 115px;
    line-height: 115px;
    border: 1px solid #707070;
    border-radius: 50%;
    text-align: center;
    color: #18A0FB;
    font-size: 50px;
    font-weight: 700; }
