<div class="mission d-flex flex-column align-items-center justify-content-center">
    <hr class="my-5" />
    <h3 class="text-center mb-0">Tầm nhìn và sứ mệnh</h3>
        <p class="text-center w-75 my-5">@Org?.Mission</p>  
    <hr class=" mt-0" />
</div>

@code {
}
