@import '../../../Resources/scss/common/_variables.scss';

.mission {
    hr {
        width: 70%;
        background-color: $border-color-bold;
        opacity: 50%;
        margin-top: 50px;
    }

    h3 {
        color: $grey-text;
        font-weight: 600;
        font-size: 60px;
    }

    p {
        color: $grey-text;
        font-weight: 400;
        font-size: 30px;
    }
}