<div class="mission d-flex flex-column align-items-center justify-content-center">
    <hr class="my-5" />
    <h3 class="mb-5 text-center">Tầm nhìn và sứ mệnh</h3>
        <p class="text-center w-75">@org?.Mission</p>  
    <hr class="mt-5" />
</div>

@code {
   
}
