@import "../../../Resources/scss/common/_variables";

.my-notification {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(196, 196, 196, 0.38);
    z-index: 120;

    .notification__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: $white;
        border-radius: 10px;
        width: 325px;
        box-shadow: 0px 4px 100px rgba(0, 0, 0,.25);

        @include on("sm") {
            width: 400px;
        }

        @include on("md") {
            width: 450px;
        }

        @include on("lg") {
            width: 515px;
        }

        @include on("xl") {
            width: 575px;
        }
    }

    .notification__img {
        overflow: hidden;
        border-bottom: 1px solid $border-color-bold;

        img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;

            @include on("sm") {
                width: 150px;
                height: 150px;
            }

            @include on("md") {
                width: 190px;
                height: 190px;
            }

            @include on("lg") {
                width: 220px;
                height: 220px;
            }

            @include on("xl") {
                width: 250px;
                height: 250px;
            }
        }
    }

    .btn {
        font-size: 14px;

        @include on("md") {
            font-size: 16px;
        }
    }

    .btn__cancel {
        color: $border-color-bold;
        border-color: $border-color-bold;
        font-weight: 700;
    }

    .btn__save {
        background-color: $blue;
        color: $white;
        font-weight: 700;
        transition: all 0.3s linear;

        &:hover {
            background-color: $blue-hv;
        }
    }
}
