/*
.uploadImg {

    .uploadImg__input {
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid $border-color-bold;
        padding: 15px;
        font-size: 24px;
        padding-left: 25%;
    }

    label {
        padding: 18px;
        color: $border-color-bold;

        i {
            color: $grey-text;
            font-size: 36px;
            margin: 0 30px
        }

        span {
            color: $border-color-bold;
            font-size: 24px;
            font-weight: 300;
        }
    }

    .borderColor {
        border: 1px solid $blue;
    }
}
.uploadImg__input::-webkit-file-upload-button {
    display: none;
}


*/
/*::deep .uploadImg__input {
    color: transparent;
    text-align: center;
}
::deep .uploadImg__input::-webkit-file-upload-button {
    display: none;
}*/

@import "../../../Resources/scss/common/_variables";
.my-uploadImg {
    color: transparent;
    border: 1px solid $border-color-bold;
    padding: 10px 15px;
}
.changeFileCss {
    color: $border-color-bold;
    border: 1px solid $blue;
}

::deep .uploadImg__input {
    position: absolute;
    top: 0;
    left: 0;
    padding: 13px 15px;
    padding-left: 25%;
    font-size: 20px;
    
}
::deep .uploadImg__input::-webkit-file-upload-button {
    display: none;
}
i {
    color: $border-color-bold;
    font-size: 36px;
    font-weight:600;
    margin: 0 10%;

}
span {
    color: $border-color-bold;
    font-size: 20px;
}


