<div class="vision d-flex justify-content-center position-relative">
    <img class="w-100" src="./img/OrganizationProfile/Vision.png" alt="" />
        <h3 class="position-absolute text-center">@org?.FullName</h3>
        <p class="position-absolute w-75 text-center">@org?.Introduction</p>
</div>

@code {
}
