<div class="vision d-flex justify-content-center position-relative">
    @if(@Org.Banner == null){
    <img class="w-100 act-img" src="./img/OrganizationProfile/Vision.png" alt="" />
    }
    else{<img class="w-100 act-img" src="@Org?.Banner" alt="" />}
</div>

@code {
}
