/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.vision .act-img {
  max-height: 640px;
  object-fit: cover;
  object-position: center; }
