@attribute [Route(Routes.VolunteersPage)]

<div class="container-lg px-0 layout">
    <Title></Title>

    <SearchboxAndButton></SearchboxAndButton>

    <p class="quantity-volunteers">Có <span>@quantity</span> tình nguyện viên ứng với kết quả tìm kiếm của bạn</p>
    
    <ListCard></ListCard>
</div>

@code {
    private int quantity = 255;
}
