/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.quantity-volunteers {
  font-size: 16px;
  color: #18A0FB; }
  .quantity-volunteers span {
    color: #64D72F; }
