@attribute [Route(Routes.VolunteersPage)]

@attribute [Authorize]

<div class="container-lg px-0 layout">
    <Title></Title>

    <NavMini OnToggleListType="OnToggleListType" />
    
    <ListCard ShowDeletedList="isDeletedList" />
</div>

@code {
    bool isDeletedList = false;

    async Task OnToggleListType()
    {
        isDeletedList = !isDeletedList;
        StateHasChanged();
    }
}
