@import '../../Resources/scss/common/_variables.scss';

.list-card {

    .mycard {
        display: flex;
        align-items: center;
        margin: 10px 0;

        &__info {
            width: 75%;
            font-size: 20px;
            display: grid;
            grid-template-columns: 10% 90%;
            padding: 7px;
            border-radius: 5px;

            &--avatar {
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }

            &--name-and-mssv {
                border-bottom: 1px solid $grey-icon;
                display: grid;
                grid-template-columns: 60% 40%;
                margin-bottom:-6px;
                
                .info-name, .info-mssv {
                    color: $grey-text;
                    display: flex;
                    align-items: center;
                    text-decoration:none;
                }
            }
        }

        &__checkbox {
            width: 5%;
            display: flex;
            justify-content: center;

            &--my-checkbox {
                cursor: pointer;
                border-radius: 5px;
                width: 35px;
                height: 35px;
                margin-right: 5px;
                vertical-align: top;
                background-color: #fff;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                border: 2px solid $grey-icon;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                -webkit-print-color-adjust: exact;
                position: relative;

                &::before {
                    content: "";
                    width: 22px;
                    height: 9px;
                    border-left: 3px solid $green;
                    border-bottom: 3px solid $green;
                    position: absolute;
                    top: 40%;
                    left: 52%;
                    transform: translate(-50%, -50%) rotate( -45deg );
                    display: none;
                }

                &:checked::before {
                    display: block;
                }
            }
        }

        &__button {
            width: 20%;

            &--registration-form {
                float: right;
                padding: 9px 29px;
                border: none;
                border-radius: 5px;
                color: white;
                background-color: $green;

                &:hover {
                    background-color: $green-bold;
                }
            }
        }
    }
}
