<div class="container-fluid">
    <h4 class="quantity-volunteers">Có <span>@quantity</span> tình nguyện viên ứng với kết quả tìm kiếm của bạn</h4>
    <div class="button">
        <button class="button__text">Xóa nhiều</button>
    </div>
    <div class="link">
        <h4 class="link__text">Xem danh sách xóa</h4>
    </div>
     
</div>

@code {
    private int quantity = 255;
}
