@import '../../../Resources/scss/common/_variables';

.error-message {
    background-color: #E8F5FF;
    color: #E10B0B;
    font-size: 18px;
    padding: 5px;
}

.title {
    color: $blue;
    font-size: 36px;
    font-weight: 600px;

    span {
        color: $green;
    }
}

.required-asterick {
    color: red;
}

.my-activity-type-group {
    .col-3 {
        width: 35%;

        @include on('lg') {
            width: 25%;
        }
    }

    .col-9 {
        width: 65%;

        @include on('lg') {
            width: 75%;
        }
    }
}

.my-form-group {
    display: flex;
    flex-direction: column;

    @include on('lg') {
        flex-direction: row;
    }

    .col-3 {
        margin-bottom: .5rem;
        width: 100%;

        @include on('lg') {
            margin-bottom: 0;
            width: 25%;
        }
    }

    .col-9 {
        width: 100%;

        @include on('lg') {
            width: 75%;
        }
    }
}

.item {
    text-align: center;

    &:hover > i {
        font-size: 32px
    }

    &:hover > span {
        transform: translateY(-5px);
    }

    i {
        display: block;
        background-color: $blue;
        border-radius: 50%;
        color: white;
        margin: 5px auto;
        transition: all 0.3s linear;
        width: 73px;
        height: 73px;
        line-height: 73px;
        font-size: 35px;

        &.add-icon {
            background-color: $grey-close-bg;
            font-size: 70px;
            opacity: .5;

            &:hover {
                background-color: $grey-icon;
                cursor: pointer;
            }
        }
    }

    span {
        color: $green;
        font-weight: 500;
        transition: all 0.3s linear;
    }
}

.btn-save {
    background-color: $green;
    color: $white;
    font-weight: 600;
    padding: .75rem 1.25rem;

    &:hover {
        background-color: $green-bold;
    }
}

.btn-cancel {
    color: $green;
    font-weight: 600;
    padding: .75rem 1.25rem;

    &:hover {
        color: $green-bold;
    }
}

::deep {
    .tox {
        border-radius: 5px;
        z-index: 0;
    }
    // As the typeahead is lazy-loaded, its styles will override our styles.
    // To prevent it, we'll have to put !important somewhere.
    .typeahead {
        &__results {
            right: 0;
            width: 100% !important;

            @include on('md') {
                width: 30% !important;
            }
        }
    }

    input {
        color: $grey-text;
        font-size: 1rem;

        &::placeholder {
            color: $border-color-normal;
        }
    }

    .my-address-textbox {
        @include on('xl') {
            width: auto;
        }
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .my-radio-box {
        border-radius: 5px;
        width: 15px;
        height: 15px;
        vertical-align: baseline;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: 2px solid $grey-icon;
        appearance: none;
        -webkit-print-color-adjust: exact;
        position: relative;

        &::before {
            content: "";
            width: 9px;
            height: 5px;
            border-left: 2px solid $green;
            border-bottom: 2px solid $green;
            position: absolute;
            top: 40%;
            left: 52%;
            transform: translate(-50%, -50%) rotate( -45deg );
            display: none;
        }

        &:checked::before {
            display: block;
        }

        &:hover {
            background: $grey;
        }
    }

    .my-date-picker {
        border-radius: 5px;
        height: 38px;
    }
}
