<div class="modal-backdrop modal-dialog-centered justify-content-center">
    <div class="my-custom-popup position-relative d-flex flex-column justify-content-between align-items-center">
        <span @onclick="CloseModal" class="material-icons-outlined close-btn">
            close
        </span>
        @Title
        <div class="row mt-3 my-btn">
            <button class="col-6 btn my-btn__cancel" @onclick="CloseModal">@CancelText</button>
            <a href="@CTALink" class="col-6 btn my-btn__view-activity">@CTAText</a>
        </div>
    </div>
</div>

@code
{
    [CascadingParameter]
    public BlazoredModalInstance Modal { get; set; }

    [Parameter]
    public RenderFragment Title { get; set; }

    [Parameter]
    public string CTAText { get; set; }

    [Parameter]
    public string CTALink { get; set; }

    [Parameter]
    public string CancelText { get; set; }

    private async Task CloseModal()
    {
        await Modal.CloseAsync();
    }
}