/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.modal-backdrop {
  background-color: rgba(196, 196, 196, 0.38); }

.my-custom-popup {
  width: 75%;
  background-color: #FFFFFF;
  padding: 30px 40px;
  border-radius: 10px;
  text-align: center; }
  @media (min-width: 576px) {
    .my-custom-popup {
      width: 65%; } }
  @media (min-width: 768px) {
    .my-custom-popup {
      width: 430px; } }
  .my-custom-popup .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 33px;
    height: 33px;
    background-color: #E5E5E5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer; }
  .my-custom-popup .my-btn {
    width: 100%; }
    .my-custom-popup .my-btn__cancel {
      color: #18A0FB;
      font-size: 18px;
      font-weight: 500; }
      .my-custom-popup .my-btn__cancel:hover {
        color: #0B588C; }
    .my-custom-popup .my-btn__view-activity {
      background-color: #18A0FB;
      color: #FFFFFF;
      font-size: 18px;
      font-weight: 500; }
      .my-custom-popup .my-btn__view-activity:hover {
        background-color: #0B588C; }

::deep h3 {
  font-size: 16px;
  color: #64D72F;
  margin: 0; }
  @media (min-width: 576px) {
    ::deep h3 {
      font-size: 18px; } }
  @media (min-width: 992px) {
    ::deep h3 {
      font-size: 20px; } }
  ::deep h3 span {
    color: #18A0FB; }
