/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.my-uploadImg {
  color: transparent;
  border: 1px solid #707070;
  padding: 10px 15px; }

.changeFileCss {
  color: #707070;
  border: 1px solid #18A0FB; }

::deep .uploadImg__input {
  position: absolute;
  top: 0;
  left: 0;
  padding: 13px 15px;
  padding-left: 25%;
  font-size: 20px; }

::deep .uploadImg__input::-webkit-file-upload-button {
  display: none; }

i {
  color: #707070;
  font-size: 36px;
  font-weight: 600;
  margin: 0 5% 0 0; }

span {
  color: #707070;
  font-size: 20px; }
