/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.act {
  border-top: 1px solid #b4b4b4; }
  .act h3 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #18A0FB; }
    .act h3 span {
      color: #64D72F; }
  .act .act__item {
    background-color: #F3F3F5;
    padding: 10px 0px;
    border-radius: 10px;
    margin-top: 30px;
    height: 285px; }
    .act .act__item img {
      height: 100%;
      object-fit: cover; }

.act__content {
  position: relative; }
  .act__content .material-icons {
    font-size: 24px; }
  .act__content__icon {
    transform: rotate(90deg);
    top: 10px;
    right: 10px;
    cursor: pointer; }
  .act__content ul {
    top: 40px;
    right: 15px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.25); }
    .act__content ul li, .act__content ul a {
      list-style: none;
      font-size: 16px;
      font-weight: 500;
      padding: 10px 20px;
      display: block;
      cursor: pointer; }
      .act__content ul li:hover, .act__content ul a:hover {
        background: rgba(24, 160, 251, 0.1); }
    .act__content ul .edit {
      color: #515151; }
    .act__content ul a {
      color: #18A0FB; }
      .act__content ul a:hover {
        color: #18A0FB; }
    .act__content ul .delete {
      color: #F14747;
      width: 210.54px; }
  .act__content a {
    font-size: 24px;
    font-weight: 400;
    color: #18A0FB;
    cursor: pointer;
    word-spacing: -2px; }
    .act__content a:hover {
      color: #0B588c; }
  .act__content .star .material-icons {
    color: #EDF131; }
  .act__content h5 {
    font-size: 14px;
    font-weight: 600; }
    .act__content h5 i {
      color: #64D72F;
      margin-right: 5px; }
    .act__content h5 .material-icons-outlined {
      color: #E10B0B; }
  .act__content p {
    font-size: 16px;
    font-weight: 400; }
  .act__content span {
    font-size: 14px;
    font-weight: 400;
    color: #0B588c; }
  ::deep .act__content-description > * {
    margin: 0; }
  .act__content .icon-tooltip {
    display: none;
    color: #000;
    min-width: max-content;
    position: absolute;
    transform: translate(-80%, -95%);
    padding: 2px 10px;
    font-size: 12px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); }
  .act__content .material-icons-outlined {
    font-size: 20px; }
  .act__content .my-icon {
    cursor: default; }
    .act__content .my-icon :hover + .icon-tooltip {
      display: block; }
  .act__content .lmtext-2, .act__content .lmtext-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; }
  .act__content .lmtext-2 {
    -webkit-line-clamp: 2; }
  .act__content .lmtext-3 {
    -webkit-line-clamp: 3; }
  .act__content .act-footer__warn {
    color: #E10B0B; }
  .act__content .act-footer__btn button, .act__content .act-footer__btn a {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 5px; }
  .act__content .act-footer__btn--approval {
    color: #18A0FB;
    border: solid 2px #18A0FB; }
    .act__content .act-footer__btn--approval:hover {
      color: #0B588C;
      border-color: #0B588C; }
  .act__content .act-footer__btn--green {
    color: #FFFFFF;
    background-color: #64D72F; }
    .act__content .act-footer__btn--green:hover {
      color: #FFFFFF;
      background-color: #306C14; }
  .act__content .act-footer__btn--blue {
    color: #FFFFFF;
    background-color: #18A0FB; }
    .act__content .act-footer__btn--blue:hover {
      color: #FFFFFF;
      background-color: #0B588C; }
