/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.pop-up {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(196, 196, 196, 0.38);
  z-index: 120; }
  .pop-up .border-10 {
    border-radius: 10px; }
  .pop-up .center-screen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .pop-up .pop-up-container {
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.25); }
  .pop-up .close-btn {
    width: 33px;
    height: 33px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;
    background: rgba(196, 196, 196, 0.5); }
    .pop-up .close-btn .material-icons {
      font-size: 20px;
      color: #717171; }
  .pop-up .close-btn-s {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background: rgba(196, 196, 196, 0.5); }
    .pop-up .close-btn-s .material-icons {
      font-size: 14px;
      color: #717171;
      line-height: 0; }
  .pop-up .pop-up-content {
    padding: 30px 55px 20px 55px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .pop-up .pop-up-content h3 {
      font-size: 20px;
      line-height: 25px;
      font-weight: 500;
      margin-bottom: 0;
      color: #18A0FB; }
    .pop-up .pop-up-content span {
      color: #64D72F; }
  .pop-up .content {
    padding: 34px 64px 18px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .pop-up .content h3 {
      color: #64D72F;
      font-weight: 500;
      font-size: 20px; }
    .pop-up .content span {
      color: #18A0FB; }
  .pop-up .pop-up-btn {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 30px;
    font-weight: 600; }
    .pop-up .pop-up-btn .deny {
      background-color: #FFFFFF;
      color: #18A0FB;
      cursor: pointer;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 104px;
      height: 32px;
      font-weight: 600; }
    .pop-up .pop-up-btn .accept {
      background-color: #18A0FB;
      color: #FFFFFF;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 104px;
      height: 32px;
      cursor: pointer;
      font-size: 18px;
      font-weight: 600; }

.div-checkbox .check-box {
  border-radius: 5px;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid #B4B4B4;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  position: relative;
  cursor: pointer; }
  .div-checkbox .check-box::before {
    content: "";
    width: 9px;
    height: 5px;
    border-left: 2px solid #18A0FB;
    border-bottom: 2px solid #18A0FB;
    position: absolute;
    top: 40%;
    left: 52%;
    transform: translate(-50%, -50%) rotate(-45deg);
    display: none; }
  .div-checkbox .check-box:checked::before {
    display: block; }

.div-checkbox label {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  color: #515151; }

.div-checkbox .input-number {
  width: 55px;
  margin-left: 7px;
  padding-right: 5px;
  padding-left: 5px; }
