<div class="pop-up">
    <div class="d-flex justify-content-center align-items-center w-100 h-100">
        <div class="pop-up-container position-relative border-10 w-50">
            <div @onclick="CloseModalAsync" class="close-btn position-absolute d-flex justify-content-center align-items-center">
                <span class="material-icons">
                    close
                </span>
            </div>
            <div class="pop-up__title text-center py-4">
                <h3 class="fw-medium">Yêu cầu<span> chỉnh sửa</span></h3>
            </div>
            <EditForm Model="editRequest" OnValidSubmit="@AddEditRequirementAsync">
                <div class="pop-up__form mb-3">
                    <div class="fw-medium align-self-center mb-2">Mục cần yêu cầu chỉnh sửa <span class="required-asterick">(*)</span></div>
                    <div>
                        <Typeahead SearchMethod="SearchTargetsAsync"
                                   @bind-Values="chosenTargets"
                                   EnableDropDown="true"
                                   class="w-100">
                            <SelectedTemplate  Context="target">
                                @target
                            </SelectedTemplate>
                            <ResultTemplate Context="target">
                                @target
                            </ResultTemplate>
                        </Typeahead>
                    </div>
                </div>

                <div class="pop-up__form mb-3">
                    <div class="fw-medium align-self-center mb-2">Nội dung yêu cầu chỉnh sửa <span class="required-asterick">(*)</span></div>
                    <div>
                        <InputTextArea @bind-Value="editRequest.DesReport" rows="4" class="w-100 form-control form-input"></InputTextArea>
                    </div>
                </div>

                <div class="pop-up__form mb-3">
                    <div class="fw-medium align-self-center mb-2">Hình ảnh đính kèm <span class="required-asterick">(*)</span></div>
                    <div>
                        <UploadMultipleImg Image="Image" ImageChange = "ImageChange"/>
                    </div>
                </div>


                <div class="d-flex align-items-center text-center justify-content-center my-4">
                    <button type="submit" @onclick="CloseModalAsync" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal1">Yêu cầu chỉnh sửa</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
   
}
