@layout AdminLayout

@attribute [Route(Routes.AdminActivityManagement)]
@attribute [Authorize(Roles = "Admin")]
<div class="mt-4">
    <ActivityFilter Filter="filter"
                               FilterChanged="FilterChanged" />
    <ActList Filter=@filter />
</div>
