@using VMS.Domain.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a href="" class="text-decoration-none">
                <span class="material-icons my-notifications" data-icon="notifications_none"></span>
            </a>
        </li>
        <li class="nav-item text-decoration-none">
            <a href="">
                <span class="material-icons-outlined my-person" data-icon="account_circle"></span>
            </a>
        </li>
    }
    else
    {
        @if (Url.RouteUrl(ViewContext.RouteData.Values).Contains("/dang-nhap"))
        {
            <li class="nav-item">
                <a href="@Routes.Register" class="btn btn-danger">Đăng ký</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a href="@Routes.LogIn" class="btn btn-danger">Đăng nhập</a>
            </li>
        }
    }
</ul>