/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.act h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  color: #515151;
  margin-bottom: 42px;
  margin-top: 70px; }
  .act h1 span {
    color: #64D72F; }

.act-container {
  text-decoration: none; }

.content h3 {
  padding-top: 20px;
  color: #515151;
  line-height: 36px;
  font-size: 20px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2; }

.content h4 {
  color: #18A0FB;
  line-height: 36px;
  font-size: 20px;
  font-weight: 600; }

.content h5 {
  color: #000;
  font-weight: 400;
  line-height: 36px;
  font-size: 20px; }

.img-container {
  overflow: hidden;
  border-radius: 10px;
  width: 100%; }

.act-img {
  width: 100%;
  transition: all .5s ease; }

.act-container:hover {
  cursor: pointer; }
  .act-container:hover > .img-container .act-img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    background-color: #F2F2F2;
    opacity: .6; }
  .act-container:hover > .act-content {
    background-color: #F2F2F2;
    border-radius: 0 0 10px 10px; }
    .act-container:hover > .act-content .change-color {
      color: #0B588C; }
