@import '../../Resources/scss/common/_variables.scss';

.act {
    h1 {
        font-weight: 600;
        font-size: 36px;
        line-height: 36px;
        color: #515151;
        margin-bottom: 42px;
        margin-top: 70px;

        span {
            color: #64D72F;
        }
    }

    .owl-carousel {
        z-index: 0;
    }

    .bottom-line {
        background-color: #515151;
        height: 1px;
        margin-top: 50px;
        margin-left: 12px;
    }
}

.overlay {
    background-color: #F2F2F2;
    opacity: .2;
}

.act-container {
    text-decoration: none;

    ul {
        position: absolute;
        top: 20px;
        right: 15px;
        background-color: #FFF;
        border-radius: 10px;
        padding-left: 10px;

        li {
            list-style: none;
            font-size: 16px;
            font-weight: 500;
            padding: 10px 20px;

            &:hover {
                background-color: #F2F2F2;
            }
        }

        .edit {
            color: #515151;
        }

        .delete {
            color: #F14747;
        }

        .close {
            color: #64D72F;
        }
    }
}

.act-content {
    background-color: #F3F3F5;
    border-radius: 0 0 10px 10px;

    .content {
        padding: 17px 10px 26px 29px;

        .act-title {
            font-size: 24px;
            font-weight: 600;
            line-height: 30px;
            color: #18A0FB;
        }
    }
}

.lm-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 4;
}

.img-container {

    .material-icons {
        color: #FFF;
        font-size: 24px;
        right: 5px;

        &:hover {
            cursor: pointer;
        }
    }

    .act-img {
        width: 100%;
    }
}

.act-container:hover {

    & > .img-container {
        background-color: #646464;
        opacity: .6;
        border-radius: 10px 10px 0 0;
    }

    & > .act-content .act-title {
        color: #0B588C;
    }
}

::deep .owl-item {
    padding: 0 7px;
}

::deep .owl-carousel {
    .owl-nav {
        display: block;

        button.owl-next,
        button.owl-prev {
            background: $blue;
            opacity: .85;
            position: absolute;
            border-radius: 100%;
            top: 23%;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                font-size: 40px;
                margin-bottom: 5px;
                line-height: 0;
                color: $white;
            }
        }

        .owl-prev {
            left: 20px;
        }

        .owl-next {
            right: 20px;
        }
    }
}

::deep .owl-dots {
    display: none;
}

.pop-up {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(196, 196, 196, 0.38);
    z-index: 3;

    .border-10 {
        border-radius: 10px;
    }

    .border-5 {
        border-radius: 5px;
    }

    .center-screen {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pop-up-container {
        background-color: #FFF;
        position: relative;
        box-shadow: 0px 4px 100px rgba(0, 0, 0,.25);
    }

    .close-btn {
        background-color: #C4C4C4;
        opacity: .5;
        width: 33px;
        height: 33px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10px;
        right: 12px;
        cursor: pointer;

        .material-icons {
            font-size: 20px;
            color: #717171;
        }
    }

    .pop-up-content {
        font-size: 36px;
        line-height: 36px;
        font-weight: 500;
        padding: 38px 84px;

        .delete-act {
            color: #64D72F;
        }

        .close-act {
            color: #18A0FB;
        }
    }

    .content {
        font-size: 36px;
        line-height: 36px;
        font-weight: 500;
        padding: 38px 84px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #64D72F;


        .color {
            color: #18A0FB;
        }
    }

    .pop-up-btn {
        display: flex;
        justify-content: flex-end;
        padding: 0 30px 20px 0;
        font-weight: 600;
        font-size: 20px;

        .deny {
            background-color: #FFF;
            color: #18A0FB;
            padding: 0 33px;
            line-height: 36px;
            cursor: pointer;
        }

        .accept {
            background-color: #18A0FB;
            color: #FFF;
            border-radius: 5px;
            padding: 0 15px;
            line-height: 36px;
            cursor: pointer;
        }
    }
}
