/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.act h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  color: #515151;
  margin-bottom: 42px;
  margin-top: 70px; }
  .act h1 span {
    color: #64D72F; }

.act .owl-carousel {
  z-index: 0; }

.act-container {
  text-decoration: none; }

.act-content {
  background-color: #F3F3F5;
  border-radius: 0 0 10px 10px; }
  .act-content .content {
    padding: 17px 10px 26px 29px; }
    .act-content .content .act-title {
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      color: #18A0FB; }

.lm-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 4; }

.img-container .material-icons {
  color: #FFF;
  font-size: 24px;
  right: 5px; }
  .img-container .material-icons:hover {
    cursor: pointer; }

.img-container .act-img {
  width: 100%; }

.act-container:hover > .img-container {
  background-color: #646464;
  opacity: .6;
  border-radius: 10px 10px 0 0; }

.act-container:hover > .act-content .act-title {
  color: #0B588C; }

::deep .owl-item {
  padding: 0 7px; }

::deep .owl-carousel .owl-nav button.owl-next,
::deep .owl-carousel .owl-nav button.owl-prev {
  background: #18A0FB;
  opacity: .85;
  position: absolute;
  border-radius: 100%;
  top: 23%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }
  ::deep .owl-carousel .owl-nav button.owl-next span,
  ::deep .owl-carousel .owl-nav button.owl-prev span {
    font-size: 40px;
    margin-bottom: 5px;
    line-height: 0;
    color: #FFFFFF; }

::deep .owl-carousel .owl-nav .owl-prev {
  left: 20px; }

::deep .owl-carousel .owl-nav .owl-next {
  right: 20px; }

::deep .owl-dots {
  display: none; }
