/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.act h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  color: #515151;
  margin-bottom: 42px;
  margin-top: 70px; }
  .act h1 span {
    color: #64D72F; }

.act-container {
  text-decoration: none; }

.act-content {
  background-color: #F3F3F5;
  border-radius: 0 0 10px 10px; }
  .act-content .content {
    padding: 17px 10px 26px 29px; }
    .act-content .content .act-title {
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      color: #18A0FB; }

.lm-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 4; }

.img-container .material-icons {
  color: #FFF;
  font-size: 24px;
  right: 5px; }
  .img-container .material-icons:hover {
    cursor: pointer; }

.img-container .act-img {
  width: 100%; }

.act-container:hover > .img-container {
  background-color: #646464;
  opacity: .6;
  border-radius: 10px 10px 0 0; }

.act-container:hover > .act-content .act-title {
  color: #0B588C; }
