@inject IJSRuntime JSRuntinme;

<div class="container">
    <div class="row act">
        <h1>Hoạt động <span>đang diễn ra</span></h1>
        <div class="owl-carousel owl-theme organize__carousel">
            <a class="act-container item">
                <div class="img-container position-relative">
                    <i class="material-icons position-absolute">
                        more_horiz
                    </i>
                    <img src="./img/OrganizationProfile/ActOrganize.png" alt="" class="act-img">
                </div>
                <div class="act-content">
                    <div class="content">
                        <h3 class="act-title lm-text">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</h3>
                    </div>
                </div>
            </a>
            <a class="act-container item">
                <div class="img-container position-relative">
                    <i class="material-icons position-absolute">
                        more_horiz
                    </i>
                    <img src="./img/OrganizationProfile/ActOrganize.png" alt="" class="act-img">
                </div>
                <div class="act-content">
                    <div class="content">
                        <h3 class="act-title lm-text">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</h3>
                    </div>
                </div>
            </a>
            <a class="act-container item">
                <div class="img-container position-relative">
                    <i class="material-icons position-absolute">
                        more_horiz
                    </i>
                    <img src="./img/OrganizationProfile/ActOrganize.png" alt="" class="act-img">
                </div>
                <div class="act-content">
                    <div class="content">
                        <h3 class="act-title lm-text">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</h3>
                    </div>
                </div>
            </a>
            <a class="act-container item">
                <div class="img-container position-relative">
                    <i class="material-icons position-absolute">
                        more_horiz
                    </i>
                    <img src="./img/OrganizationProfile/ActOrganize.png" alt="" class="act-img">
                </div>
                <div class="act-content">
                    <div class="content">
                        <h3 class="act-title lm-text">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</h3>
                    </div>
                </div>
            </a>
            <a class="act-container item">
                <div class="img-container position-relative">
                    <i class="material-icons position-absolute">
                        more_horiz
                    </i>
                    <img src="./img/OrganizationProfile/ActOrganize.png" alt="" class="act-img">
                </div>
                <div class="act-content">
                    <div class="content">
                        <h3 class="act-title lm-text">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</h3>
                    </div>
                </div>
            </a>
            <a class="act-container item">
                <div class="img-container position-relative">
                    <i class="material-icons position-absolute">
                        more_horiz
                    </i>
                    <img src="./img/OrganizationProfile/ActOrganize.png" alt="" class="act-img">
                </div>
                <div class="act-content">
                    <div class="content">
                        <h3 class="act-title lm-text">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</h3>
                    </div>
                </div>
            </a>
            <a class="act-container item">
                <div class="img-container position-relative">
                    <i class="material-icons position-absolute">
                        more_horiz
                    </i>
                    <img src="./img/OrganizationProfile/ActOrganize.png" alt="" class="act-img">
                </div>
                <div class="act-content">
                    <div class="content">
                        <h3 class="act-title lm-text">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</h3>
                    </div>
                </div>
            </a>
            <a class="act-container item">
                <div class="img-container position-relative">
                    <i class="material-icons position-absolute">
                        more_horiz
                    </i>
                    <img src="./img/OrganizationProfile/ActOrganize.png" alt="" class="act-img">
                </div>
                <div class="act-content">
                    <div class="content">
                        <h3 class="act-title lm-text">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntinme.InvokeVoidAsync("vms.OrganizeCarousel");
    }
}
