<div class="pop-up">
    <div class="pop-up-container border-5">
        <div class="close-btn">
            <span class="material-icons">
                close
            </span>
        </div>
        <div class="pop-up-content">
            <h3 class="delete-act">Xoá thành công!</h3>
        </div>
    </div>
</div>

<div class="pop-up">
    <div class="pop-up-container border-5">
        <div class="close-btn">
            <span class="material-icons">
                close
            </span>
        </div>
        <div class="pop-up-content">
            <h3 class="close-act">Đóng hoạt động thành công!</h3>
        </div>
    </div>
</div>

<div class="pop-up">
    <div class="pop-up-container border-10">
        <div class="content">
            <h3>Bạn có chắc chắn muốn</h3>
            <h3><span class="color">xóa hoạt động</span> này không?</h3>
        </div>
        <div class="pop-up-btn">
            <div class="deny">Hủy</div>
            <div class="accept">Xác nhận</div>
        </div>
    </div>
</div>

<div class="pop-up">
    <div class="pop-up-container border-10">
        <div class="content">
            <h3>Bạn có chắc chắn muốn</h3>
            <h3><span class="color">đóng hoạt động</span> này không?</h3>
        </div>
        <div class="pop-up-btn">
            <div class="deny">Hủy</div>
            <div class="accept">Xác nhận</div>
        </div>
    </div>
</div>

@code {

}
