<div class="container">
    <div class="row act">
        <h1>Hoạt động <span>đã diễn ra</span></h1>
        <div class="row pb-5">
            <div class="col-6 act-container position-relative pe-4">
                <div class="row">
                    <div class="act-content col-10 ms-auto">
                        <div class="row">
                            <div class="act-ctn col-9 ms-auto ps-4">
                                <a class="act-title">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</a>
                                <div class="act-raking">
                                    <i class="material-icons act-rate">
                                        star_rate
                                    </i>
                                    <i class="material-icons act-rate">
                                        star_rate
                                    </i>
                                    <i class="material-icons act-rate">
                                        star_rate
                                    </i>
                                    <i class="material-icons act-rate">
                                        star_rate
                                    </i>
                                    <i class="material-icons act-rate">
                                        star_rate
                                    </i>
                                </div>
                                <div class="act-footer">
                                    <h5 class="act-participant">
                                        <i class="material-icons">person</i> 250
                                    </h5>
                                    <h5 class="act-location">
                                        <i class="material-icons">location_on</i> TP. Hồ Chí Minh
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="img-container position-absolute">
                    <img src="./img/OrganizationProfile/ActTookPlace.png" alt="" class="act-img">
                </div>
            </div>
            <div class="col-6 act-container position-relative ps-4">
                <div class="row">
                    <div class="act-content col-10 ms-auto">
                        <div class="row">
                            <div class="act-ctn col-9 ms-auto ps-4">
                                <a class="act-title">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</a>
                                <div class="act-raking">
                                    <i class="material-icons act-rate">
                                        star_rate
                                    </i>
                                    <i class="material-icons act-rate">
                                        star_rate
                                    </i>
                                    <i class="material-icons act-rate">
                                        star_rate
                                    </i>
                                    <i class="material-icons act-rate">
                                        star_rate
                                    </i>
                                    <i class="material-icons act-rate">
                                        star_rate
                                    </i>
                                </div>
                                <div class="act-footer">
                                    <h5 class="act-participant">
                                        <i class="material-icons">person</i> 250
                                    </h5>
                                    <h5 class="act-location">
                                        <i class="material-icons">location_on</i> TP. Hồ Chí Minh
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="img-container position-absolute">
                    <img src="./img/OrganizationProfile/ActTookPlace.png" alt="" class="act-img">
                </div>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-6 act-container position-relative pe-4">
                <div class="row">
                    <div class="act-content col-10 ms-auto">
                        <div class="row">
                            <div class="act-ctn col-9 ms-auto ps-4">
                                <a class="act-title">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</a>
                                <div class="act-raking">
                                    <i class="material-icons act-rate">
                                        star_rate
                                    </i>
                                    <i class="material-icons act-rate">
                                        star_rate
                                    </i>
                                    <i class="material-icons act-rate">
                                        star_rate
                                    </i>
                                    <i class="material-icons act-rate">
                                        star_rate
                                    </i>
                                    <i class="material-icons act-rate">
                                        star_rate
                                    </i>
                                </div>
                                <div class="act-footer">
                                    <h5 class="act-participant">
                                        <i class="material-icons">person</i> 250
                                    </h5>
                                    <h5 class="act-location">
                                        <i class="material-icons">location_on</i> TP. Hồ Chí Minh
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="img-container position-absolute">
                    <img src="./img/OrganizationProfile/ActTookPlace.png" alt="" class="act-img">
                </div>
            </div>
            <div class="col-6 act-container position-relative ps-4">
                <div class="row">
                    <div class="act-content col-10 ms-auto">
                        <div class="row">
                            <div class="act-ctn col-9 ms-auto ps-4">
                                <a class="act-title">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</a>
                                <div class="act-raking">
                                    <i class="material-icons act-rate">
                                        star_rate
                                    </i>
                                    <i class="material-icons act-rate">
                                        star_rate
                                    </i>
                                    <i class="material-icons act-rate">
                                        star_rate
                                    </i>
                                    <i class="material-icons act-rate">
                                        star_rate
                                    </i>
                                    <i class="material-icons act-rate">
                                        star_rate
                                    </i>
                                </div>
                                <div class="act-footer">
                                    <h5 class="act-participant">
                                        <i class="material-icons">person</i> 250
                                    </h5>
                                    <h5 class="act-location">
                                        <i class="material-icons">location_on</i> TP. Hồ Chí Minh
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="img-container position-absolute">
                    <img src="./img/OrganizationProfile/ActTookPlace.png" alt="" class="act-img">
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
