@inject IJSRuntime JsRuntime

<div class="pop-up">
    <div class="center-screen">
        <div class="pop-up-container border-10">
            <div @onclick="CloseModalAsync" class="close-btn-s">
                <span class="material-icons"> close </span>
            </div>
            <div class="pop-up-content">
                <h3 class="delete-act">
                    Bạn @(State.Equals(ReportState.Processing) ? "đang " : "đã ")
                    @switch (State)
                    {
                        case ReportState.Pinned: <span>ghim báo cáo</span>; break;
                        case ReportState.Processing:<span>xử lý báo cáo</span>; break;
                        case ReportState.Done:<span>hoàn tất xử lý</span>; break;
                    }
                </h3>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public BlazoredModalInstance Modal { get; set; }

    [Parameter]
    public ReportState State { get; set; }

    private async Task CloseModalAsync()
    {
        await Modal.CloseAsync();
        await Interop.ScrollToTop(JsRuntime);
    }
}
