@layout AdminLayout

@attribute [Route(Routes.AdminOrganizationProfile)]
@attribute [Authorize(Roles = "Admin")]
<div class="row mt-4">
    <div class="col-lg-12 mx-auto px-0">
        <div class="position-relative head-section">
            <h1 class="text-center m-0">Hồ sơ <span>tổ chức</span></h1>
            <a href="@Routes.AdminEditOrganizationProfile" class="position-absolute">Chỉnh sửa</a>
        </div>
        <VMS.Pages.Organization.Profile.Index IsUsedForAdmin="true" UserId="3b49a591-10ec-42e4-8045-83cc070b76c2"/>
    </div>
</div>
@code {

}
