@keyframes Swipe{
    0%{
        transform: translate(-50%,100px);
        opacity: 0;
    }
    100%{
        transform: translateY(-50%,0);
        opacity: 1;
    }
}

@keyframes Hidden {
    0% {
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}