/*#region colors */

$blue: #18A0FB;
$blue-bold: #0B588C;
$blue-background: #E8F5FF;
$white: #FFFFFF;
$green: #64D72F;
$green-bold: #306C14;
$grey-bg: #E5E5E5;
$grey-text: #515151;
$grey-icon: #B4B4B4;
$grey: #F3F3F5;
$blue-hv: #0B588c;
$grey-hv: #646464;
$border-color-bold: #707070;
$border-color-normal: #b4b4b4;
$yellow-star: #EDF131;
$white-overlay: #F2F2F2;
$red: #F14747;
$error: #E10B0B;
$grey-close-bg: #C4C4C4;
$grey-close-btn: #717171;
$grey-input: #D8D8D8;
$blue-less: #489ED7;
$red-warning: #E10B0B;
/*#endregion */
/*#region breakpoints */
$breakpoints: ( 'sm': ( min-width: 576px ), 'md': ( min-width: 768px ), 'lg': ( min-width: 992px ), 'xl': ( min-width: 1200px ), 'xxl': ( min-width: 1400px ), ) !default;

/*#endregion */


/*#region mixins */

@mixin on($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        // If the key exists in the map
        // prints a media query based on the value
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    }
    @else {
        // If the key doesn't exist in the map
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

@mixin green-btn {
    color: #fff;
    font-weight: bold;
    background-color: $green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/*#endregion */