@import '_variables';
.my-navbar {
    min-height: 75px;
    z-index: 100;

    @include on('lg') {
        min-height: 90px;
    }

    &-container {
        @include on('xl') {
            position: relative;
        }

        .my-login-btn,
        .my-register-btn,
        .my-home-btn {
            background-color: $blue;
            width: 100px;
            height: 27px;
            font-size: 12px;
            border-radius: 5px;
            margin-right: 10px;

            &:hover {
                background-color: $blue-bold;
            }

            @include on('md') {
                width: 150px;
                height: 40px;
                font-size: 16px;
                margin-right: 15px;
            }

            @include on('lg') {
                width: 200px;
                height: 60px;
                font-size: 20px;
                margin-right: 0;
            }

        }

        .my-login-btn, .my-register-btn {
            @include on('lg') {
                margin-right: 20px;
            }
        }
    }

    &__brand {
        margin-left: 10px;

        @include on('md') {
            margin-left: 20px;
        }

        @include on('xl') {
            margin: 0;
        }

        &-item {
            height: 50%;
            display: block;
        }

        .brand__ueh {
            height: 20px;
            margin-bottom: 4px;

            @include on('lg') {
              height: 26px;
            }
        }

        .brand__govirlunteer {
            height: 16px;

            @include on('lg') {
                height: 22px;
            }
        }
    }

    &__hamburger-wrapper {
        position: relative;

        @include on('xl') {
            position: unset;
        }

        &__btn {
            border: none;
            background: transparent;
            width: 50px;
            height: 50px;
            margin-right: 10px;


            @include on('xl') {
                display: none;
            }
        }

        .hamburger-icon {
            color: $blue;
            font-size: 44px;

            @include on('xl') {
                display: none;
            }
        }
    }

    .collapse:not(.show) {
        display: none;
    }
}

.my-collapse {
    display: flex;
    flex-direction: column-reverse;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    border-radius: 5px;
    top: 90%;
    right: 15px;
    min-width: 220px;
    width: 40vw;


    @include on('xl') {
        position: unset;
        box-shadow: none;
        border-radius: 0;
        flex-direction: unset;
        justify-content: flex-end;
    }

    &__list {
        width: auto;
        /*@include on('xl') {
            margin-left: 6%;
        }

        @include on('xxl') {
            margin-left: 15%;
        }*/
    }

    &__list__link {
        font-size: 16px;
        color: $blue;
        display: block;
        font-weight: 500;

        @include on('xl') {
            font-size: 18px;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                height: 5px;
                top: 84px;
                background-color: $blue-bold;
                display: none;
            }

            &:hover.my-collapse__list__link::before {
                display: block;
            }
        }

        @include on('xxl') {
            font-size: 20px;
        }

        &:hover {
            color: $blue-bold;
        }
    }

    .my-collapse__login-area {
        flex-direction: column;

        @include on('xl') {
            flex-direction: row;
            margin-left: 20px;
        }
    }
}