/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.filter {
  margin-top: 4%;
  text-align: center; }
  .filter .filter-txt {
    text-align: end;
    font-weight: 500;
    font-size: 20px; }
    .filter .filter-txt .txt1 {
      display: inline;
      color: #18A0FB; }
    .filter .filter-txt .txt2 {
      display: inline;
      color: #64D72F; }
  .filter .filter-line {
    margin-top: 3%; }
    .filter .filter-line .line {
      background-color: #707070;
      border: 1px solid #707070;
      margin: 0;
      width: 120%;
      margin-left: -20%; }
  .filter ::deep .filter-checkbox {
    display: flex;
    flex-direction: column; }
    .filter ::deep .filter-checkbox_container {
      display: flex;
      flex-direction: row;
      width: 68%;
      align-items: center;
      justify-content: space-between;
      margin-top: 18.5%; }
    .filter ::deep .filter-checkbox_check {
      position: relative;
      margin-left: -12%;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: #FFFFFF;
      border: 2px solid #18A0FB;
      appearance: none;
      cursor: pointer; }
      .filter ::deep .filter-checkbox_check::before {
        position: absolute;
        content: "";
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: #18A0FB;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none; }
      .filter ::deep .filter-checkbox_check:checked::before {
        display: block; }
      .filter ::deep .filter-checkbox_check:checked {
        border-color: #18A0FB; }
    .filter ::deep .filter-checkbox_txt {
      font-size: 20px;
      line-height: 36px;
      cursor: pointer; }
  .filter .filter-submit {
    width: 75%;
    color: #FFFFFF;
    background-color: #64D72F;
    font-weight: 500;
    font-size: 18px;
    padding: 4% 0;
    border: none;
    border-radius: 10px;
    margin-top: 22%;
    margin-left: -58px; }
    .filter .filter-submit:hover {
      background-color: #306C14;
      opacity: 78%; }
