@using VMS.Application.ViewModels

<EditForm Model="@rating" OnValidSubmit="@Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="filter">
        <div class="filter-txt">
            <p class="txt1">
                Đánh giá
            </p>
            <p class="txt2">
                tất cả
            </p>
        </div>
        <div class="filter-line">
            <hr class="line">
        </div>
        <div class="filter-checkbox">

            @for (int i = 1; i < 6; i++)
            {
                int star = i;
                <span class="filter-checkbox_container">
                    <input type="radio" @onchange="() => StarRating = star" id="filter-checkbox_1" class="filter-checkbox_check" name="starrating" />
                    <label for="filter-checkbox_1" class="filter-checkbox_txt">@star sao</label>
                </span>
            }
        </div>
        <button @onclick="() => SubmitRating()" class="filter-submit">Đánh giá</button>
    </div>

</EditForm>

@code {
    [Parameter]
    public int StarRating { get; set; }
    [Parameter]
    public EventCallback<int> StarRatingChanged { get; set; }

    Rating rating;
    protected override void OnInitialized()
    {
        rating = new Rating();
    }

    [Parameter]
    public Func<Task> OnToggleColor1 { get; set; }

    public void Submit()
    {
        if (rating.Select1 == true)
        {
            OnToggleColor1.Invoke();
        }
        if (rating.Select2 == true)
        {

        }
        if (rating.Select3 == true)
        {

        }
        if (rating.Select4 == true)
        {

        }
        if (rating.Select5 == true)
        {

        }

    }

    void Change1()
    {
        rating.Select1 = true;
        rating.Select2 = false;
        rating.Select3 = false;
        rating.Select4 = false;
        rating.Select5 = false;
    }

    void Change2()
    {
        rating.Select2 = true;
        rating.Select1 = false;
        rating.Select3 = false;
        rating.Select4 = false;
        rating.Select5 = false;
    }

    void Change3()
    {
        rating.Select3 = true;
        rating.Select1 = false;
        rating.Select2 = false;
        rating.Select4 = false;
        rating.Select5 = false;
    }

    void Change4()
    {
        rating.Select4 = true;
        rating.Select1 = false;
        rating.Select2 = false;
        rating.Select3 = false;
        rating.Select5 = false;
    }

    void Change5()
    {
        rating.Select5 = true;
        rating.Select1 = false;
        rating.Select2 = false;
        rating.Select3 = false;
        rating.Select4 = false;
    }

    private void SubmitRating()
    {
        StarRatingChanged.InvokeAsync(StarRating);
    }
}
