<div class="select-form d-flex align-items-start">
    <div class="select-form-box-1 select-form-box-1-inline d-flex align-items-center">
        <input type="radio" class="checkbox-1" id="rated" name="option" @onclick="() => SubmitRating1()" />
        <label class="label-1" for="rated">Đã đánh giá</label>
    </div>
    <div class="select-form-box-2 select-form-box-2-inline d-flex align-items-center">
        <input type="radio" class="checkbox-2" id="none-rated" name="option" @onclick="() => SubmitRating2()" />
        <label class="label-2" for="none-rated">Chưa đánh giá</label>
    </div>
</div>

@code {
    [Parameter]
    public int ShowRating { get; set; }
    [Parameter]
    public EventCallback<int> ShowRatingChanged { get; set; }

    private void SubmitRating1()
    {
        ShowRating = 1;
        ShowRatingChanged.InvokeAsync(ShowRating);
    }

    private void SubmitRating2()
    {
        ShowRating = 0;
        ShowRatingChanged.InvokeAsync(ShowRating);
    }

}
