@attribute [Route(Routes.RatingPage)]
@inject IJSRuntime JsRuntime

<div class="rating-page">
    <Title />
    <div class="header-page">
        <div class="search-box">
            <VMS.Pages.ActivitySearchPage.SearchBox />
            <SearchResult />
        </div>
        <FilterBar />
    </div>
    <div class="body-page">
        <MemberList StarRating="starRating" />
        <FilterRatingAll @bind-StarRating="starRating" />
    </div>
</div>

@code {
    int starRating;
}
