@attribute [Route(Routes.RatingPage)]
@inject IJSRuntime JsRuntime

<div class="rating-page">
    <Title />
    <div class="header-page">
        <SearchBar />
        <FilterBar OnToggleListType1="OnToggleListType1" OnToggleListType2="OnToggleListType2" />
    </div>
    <div class="body-page">
        <MemberList ShowRatedList="isRatedList1" />
        <FilterRatingAll OnToggleColor1="OnToggleColor1"/>
    </div>
</div>

@code {
    bool isRatedList1 = false;

    async Task OnToggleListType1()
    {
        isRatedList1 = true;
        StateHasChanged();
    }

    async Task OnToggleListType2()
    {
        isRatedList1 = false;
        StateHasChanged();
    }

    async Task OnToggleColor1()
    {
        
    }
}
