@attribute [Route(Routes.RatingPage)]
@inject IJSRuntime JsRuntime

<div class="rating-page">
    <Title />
    <div class="header-page">
        @*<SearchBar />*@
        <div class="search-box"><VMS.Pages.ActivitySearchPage.SearchBox /></div>
        <FilterBar @bind-ShowRating="showRating" />
    </div>
    <div class="body-page">
        <MemberList StarRating="starRating" ShowRating="showRating"/>
        <FilterRatingAll @bind-StarRating="starRating" />
    </div>
</div>

@code {
    int showRating;
    int starRating;
}
