@import '../../Resources/scss/common/_variables';

.rating-page {
    margin-top: 2%;
    margin-left: 72px;
    margin-right: 72px;
    z-index: 0;
}

.header-page {
    display: flex;
    justify-content: space-between;

}


.body-page {
    display: flex;
    justify-content: space-between;
}
