/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.container-member {
  display: flex;
  flex-direction: column;
  width: 71%;
  margin-top: 4%; }
  .container-member .container {
    display: flex;
    flex-direction: row;
    margin-bottom: 4%;
    padding: 0; }
  .container-member .pagination-container {
    margin-left: 42%;
    margin-bottom: 5%;
    margin-top: 2%; }

.member {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-left: -3%;
  border-top: 0.8px solid #D8D8D8;
  border-right: 0.8px solid #D8D8D8;
  border-bottom: 0.8px solid #D8D8D8; }
  .member .member-name {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-left: 2%; }
    .member .member-name1 {
      margin: 0;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 36px; }
    .member .member-name2 {
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 36px; }
  .member .member-comment {
    position: relative;
    margin-left: -4%; }
    .member .member-comment #popup-comment_icon {
      border: none;
      background-color: #FFFFFF;
      padding: 0; }
      .member .member-comment #popup-comment_icon #member-comment_icon {
        font-size: 150%;
        color: #18A0FB;
        cursor: pointer; }
    .member .member-comment_tooltip {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      width: 1200%;
      text-align: center;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      letter-spacing: -0.015em;
      top: -140%;
      left: -485%;
      padding: 16%;
      background: #FFFFFF;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px; }
  .member .member-comment:hover .member-comment_tooltip {
    visibility: visible;
    opacity: 1; }
  .member .member-report {
    position: relative;
    margin-left: -5%; }
    .member .member-report #popup-report_icon {
      border: none;
      background-color: #FFFFFF; }
    .member .member-report #member-report_icon {
      font-size: 150%;
      color: #F14747; }
    .member .member-report_tooltip {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      width: 650%;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      letter-spacing: -0.015em;
      text-align: center;
      top: 125%;
      left: -190%;
      padding-top: 18%;
      padding-bottom: 18%;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      box-sizing: border-box;
      background-color: #FFFFFF; }
  .member .member-report:hover .member-report_tooltip {
    visibility: visible;
    opacity: 1; }
