@charset "UTF-8";
/*#region colors */
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region mixins */
/*#endregion */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: rgba(196, 196, 196, 0.38); }

.min-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(196, 196, 196, 0.38);
  display: none;
  z-index: 3; }
  .min-overlay .report-success {
    position: absolute;
    height: 160px;
    width: 675px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    background-color: #FFFFFF;
    border-radius: 10px;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .min-overlay .report-success .min-overlay--icon {
      position: absolute;
      top: 25px;
      right: 25px;
      width: 33px;
      height: 33px;
      background-color: #E5E5E5;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      .min-overlay .report-success .min-overlay--icon .material-icons {
        font-size: 22px; }
    .min-overlay .report-success .green-text {
      color: #64D72F; }
    .min-overlay .report-success .blue-text {
      color: #18A0FB; }

.container {
  position: absolute;
  width: 41.67%;
  height: 80%;
  left: 50%;
  top: 57%;
  transform: translate(-50%, -50%);
  color: #515151;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 0 70px 40px 70px;
  overflow-y: scroll; }
  .container::-webkit-scrollbar {
    width: 10px; }
  .container::-webkit-scrollbar-thumb {
    background-color: #B4B4B4;
    border-radius: 20px; }
  .container .icon-close-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: flex;
    background-color: #E5E5E5;
    cursor: pointer; }
    .container .icon-close-popup .material-icons {
      margin: auto;
      font-size: 22px; }
  .container .title {
    display: flex;
    font-weight: 500; }
  .container .check {
    color: red;
    margin-left: 5px; }

/*----title Báo cáo hoạt động----*/
.title-header {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  letter-spacing: 2px; }
  .title-header .title-header__report {
    color: #64D72F;
    margin-right: 14px; }
  .title-header .title-header__activity {
    color: #18A0FB; }

/*----end title Báo cáo hoạt động----*/
/*-----reporting reason------*/
.title-reason {
  margin-top: 8%; }
  .title-reason .title-discript__text {
    font-size: 16px; }
  .title-reason .title-discript__check {
    font-size: 16px; }

.title-discript {
  margin-top: 6%; }
  .title-discript .title-discript__text {
    font-size: 16px; }
  .title-discript .title-discript__check {
    font-size: 16px; }

.title-attach {
  margin-top: 6%; }
  .title-attach .title-attach__text {
    font-size: 16px; }
  .title-attach .title-attach__check {
    font-size: 16px; }

.dropdown .my-btn {
  width: 100%;
  border: 1px solid #515151;
  height: 36px; }
  .dropdown .my-btn .my-icon-dropdown {
    float: right;
    font-size: 26px; }

.dropdown-menu {
  width: 100%;
  box-shadow: 5px 5px 10px 10px #dee2e687;
  font-size: 14px;
  border-radius: 10px; }
  .dropdown-menu .dropdown-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding-left: 5%; }
    .dropdown-menu .dropdown-item ::deep .dropdown-item--checkbox {
      margin-right: 10px; }
    .dropdown-menu .dropdown-item label {
      width: 100%; }

.dropdown-toggle::after {
  margin: 15px;
  float: right;
  font-size: 35px; }

/*-----end reporting reason------*/
/*-----report description-----*/
::deep .form-control {
  border: 1px solid;
  font-size: 16px;
  height: 150px;
  overflow-y: scroll; }
  ::deep .form-control::-webkit-scrollbar {
    width: 14px; }
  ::deep .form-control::-webkit-scrollbar-thumb {
    background-color: #B4B4B4;
    border-radius: 20px;
    border: 2px solid white; }

/*-----end report description-----*/
/*---attached proof-----*/
.add-file {
  border-radius: 4px;
  border: 1px solid #515151;
  padding: 9px 0;
  display: flex; }
  .add-file .add-file__block {
    display: flex;
    margin: auto; }
    .add-file .add-file__block .my-icon-upload {
      font-size: 1.5rem;
      margin-right: 10px;
      color: #515151; }
    .add-file .add-file__block .block-icon-text {
      display: flex; }
      .add-file .add-file__block .block-icon-text .file__text {
        font-size: 16px;
        font-weight: 300px; }
    .add-file .add-file__block ::deep .inputfile {
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
      display: none; }
    .add-file .add-file__block .inputfile + label {
      color: #333;
      display: inline-block;
      cursor: pointer; }

/*----end attached proof----*/
/*button report*/
.btn-accept {
  display: flex;
  margin-top: 10%; }
  .btn-accept .btn {
    margin: auto;
    background-color: #64D72F;
    color: #FFFFFF;
    font-size: 16px;
    width: 46%;
    height: 54px;
    font-weight: 600;
    border-radius: 5px; }
  .btn-accept .btn:hover {
    background-color: #306C14; }

/*end button report*/
