@import '../../Resources/scss/common/_variables';

.rating-page {
    margin-top: 2%;
    margin-left: 72px;
    margin-right: 72px;
    z-index: 0;
}

.title {
    text-align: center;

    .title-txt-1 {
        display: inline;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 36px;
        color: $green;
    }

    .title-txt-2 {
        display: inline;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 36px;
        color: $blue;
    }

    .title-txt-3 {
        margin: 0 auto;
        margin-bottom: 5%;
        margin-top: 2%;
        width: 52%;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 45px;
        color: $blue-bold;
    }
}

.header-page {
    display: flex;
    justify-content: space-between;

}


.body-page {
    display: flex;
    justify-content: space-between;

    .container-member {
        display: flex;
        flex-direction: column;
        width: 71%;
        margin-top: 4%;

        .container {
            display: flex;
            flex-direction: row;
            margin-bottom: 4%;
            padding: 0;
        }
    }
}

.container-avatar {
    display: flex;
    width: 10%;
    border-right: none;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.member {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-left: -4%;
    border-top: 0.8px solid #D8D8D8;
    border-right: 0.8px solid #D8D8D8;
    border-bottom: 0.8px solid #D8D8D8;

    .member-name {
        display: flex;
        flex-direction: column;
        align-content: space-around;

        &1 {
            margin: 0;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 36px;
        }

        &2 {
            margin: 0;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 36px;
        }
    }

    .member-comment {
        position: relative;
        margin-left: -5%;

        #popup-comment_icon {
            border: none;
            background-color: $white;

            #member-comment_icon {
                font-size: 240%;
                color: $blue;
                cursor: pointer;
            }
        }

        &_tooltip {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            width: 575%;
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            letter-spacing: -0.015em;
            top: -92%;
            right: -290%;
            padding: 16%;
            background: $white;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
        }
    }

    .member-comment:hover {
        .member-comment_tooltip {
            visibility: visible;
            opacity: 1;
        }
    }

    ::deep .member-star {
        position: relative;
        margin-left: 5%;

        &1, &2, &3, &4, &5 {
            background-color: $white;
            border: none;
        }

        #member-star1,
        #member-star2,
        #member-star3,
        #member-star4,
        #member-star5 {
            font-size: 165%;
            cursor: pointer;
        }

        &_tooltip {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            width: 120%;
            text-align: center;
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 10px;
            letter-spacing: -0.015em;
            top: -112%;
            right: 80%;
            padding: 5%;
            background: $white;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
        }
    }

    ::deep .member-star:hover {
        .member-star_tooltip {
            visibility: visible;
            opacity: 1;
        }
    }

    .member-report {
        position: relative;
        margin-left: -5%;

        #popup-report_icon {
            border: none;
            background-color: $white;
        }

        #member-report_icon {
            font-size: 200%;
            color: #F14747;
        }

        &_tooltip {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            width: 525%;
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            letter-spacing: -0.015em;
            text-align: center;
            top: 122%;
            left: -190%;
            padding-top: 30%;
            padding-bottom: 30%;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            box-sizing: border-box;
            background-color: $white;
        }
    }

    .member-report:hover {
        .member-report_tooltip {
            visibility: visible;
            opacity: 1;
        }
    }
}

.filter {
    width: 15%;
    margin-top: 2%;
    text-align: center;

    .filter-txt {
        text-align: end;
        font-weight: 500;
        font-size: 20px;

        .txt1 {
            display: inline;
            color: $blue;
            margin-bottom: 0px;
            margin-top: 30%;
        }

        .txt2 {
            display: inline;
            color: $green;
            margin-bottom: 0px;
            margin-top: 30%;
        }
    }

    .filter-line {
        margin-top: 3%;

        .line {
            background-color: $border-color-bold;
            border: 1px solid $border-color-bold;
            margin: 0;
        }
    }

    .filter-checkbox {
        display: flex;
        align-items: center;
        flex-direction: column;

        &_container {
            display: flex;
            flex-direction: row;
            width: 65%;
            align-items: center;
            justify-content: space-between;
            margin-top: 18.5%;
        }

        ::deep &_check {
            position: relative;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            background-color: $white;
            border: 2px solid $blue;
            appearance: none;
            cursor: pointer;

            &::before {
                position: absolute;
                content: "";
                width: 11px;
                height: 11px;
                border-radius: 50%;
                background-color: $blue;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: none;
            }

            &:checked::before {
                display: block;
            }

            &:checked {
                border-color: $blue;
            }
        }

        &_txt {
            font-size: 20px;
            line-height: 36px;
            cursor: pointer;
        }
    }

    .filter-submit {
        width: 75%;
        color: $white;
        background-color: $green;
        font-weight: 500;
        font-size: 18px;
        padding: 4% 0;
        border: none;
        border-radius: 10px;
        margin-top: 22%;
    }
}

.pagination-container {
    display: flex;
    justify-content:center;
    margin-bottom: 3%;
}