<div class="search-result">
    <p class="search-result_text-1">@resultText1</p>
    <p class="search-result_text-2">@resultNumber</p>
    <p class="search-result_text-3">@resultText2</p>
</div>

@code {
    string resultText1 = "Có";
    int resultNumber = 20;
    string resultText2 = "tình nguyện viên ứng với kết quả tìm kiếm của bạn";
}
