<div class="title">
    <p class="title-txt-1">@title1</p>
    <p class="title-txt-2">@title2</p>
    <p class="title-txt-3">@title3</p>
</div>

@code {
    string title1 = "Đánh giá";
    string title2 = "tình nguyện viên";
    string title3 = "Tuyển tình nguyện viên tham gia công tác phòng chống dịch Covid19";
}
