<div class="title">
    <p class="title-txt-1">
        Đánh giá
    </p>
    <p class="title-txt-2">
        tình nguyện viên
    </p>
    <p class="title-txt-3">
        Tuyển tình nguyện viên tham gia công tác
        phòng chống dịch Covid19
    </p>
</div>

@code {

}
